openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/lockdown Plans API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/lockdownPlans
paths:
  /orgs/{orgId}/lockdownPlans:
    get:
      summary: List all lockdown plans
      operationId: listLockdownPlans
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-account:r,o{params.orgId}-account:w,o{params.orgId}-admin:r,o{params.orgId}-admin:w,o{params.orgId}-advancedOxygenReports:r,o{params.orgId}-advancedOxygenReports:w,o{params.orgId}-alarmActions:w,o{params.orgId}-alarmConfigurations:r,o{params.orgId}-alarmConfigurations:w,o{params.orgId}-alertSettings:r,o{params.orgId}-alertSettings:w,o{params.orgId}-badgePrinting:r,o{params.orgId}-badgePrinting:w,o{params.orgId}-building:r,o{params.orgId}-building:w,o{params.orgId}-cert:r,o{params.orgId}-cert:w,o{params.orgId}-cert{params.authCertId}:r,o{params.orgId}-cert{params.authCertId}:w,o{params.orgId}-cleanupMsiAware:w,o{params.orgId}-cobalt:r,o{params.orgId}-cobalt:w,o{params.orgId}-configurations:r,o{params.orgId}-configurations:w,o{params.orgId}-credential:r,o{params.orgId}-credential:w,o{params.orgId}-dash:r,o{params.orgId}-dash:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashAlarm:r,o{params.orgId}-dashAlarm:w,o{params.orgId}-dashCust:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashEntry:r,o{params.orgId}-dashEntry:w,o{params.orgId}-entryAccessAudit:r,o{params.orgId}-entryAccessAudit:w,o{params.orgId}-entryState:r,o{params.orgId}-entryState:w,o{params.orgId}-erpParentCenter:w,o{params.orgId}-erpParentStore:w,o{params.orgId}-eventsMsiAware:w,o{params.orgId}-exportClips:w,o{params.orgId}-haloAdmin:w,o{params.orgId}-haloUser:w,o{params.orgId}-haloViewer:r,o{params.orgId}-hw:r,o{params.orgId}-hw:w,o{params.orgId}-idp-scim:r,o{params.orgId}-idp-scim:w,o{params.orgId}-integrations:r,o{params.orgId}-integrations:w,o{params.orgId}-ipRestriction:r,o{params.orgId}-ipRestriction:w,o{params.orgId}-ldp:r,o{params.orgId}-ldp:w,o{params.orgId}-map:r,o{params.orgId}-map:w,o{params.orgId}-mobileAppSettings:r,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-musterReport:r,o{params.orgId}-musterReport:w,o{params.orgId}-occupancyReport:r,o{params.orgId}-occupancyReport:w,o{params.orgId}-opvideoDevice:r,o{params.orgId}-opvideoDevice:w,o{params.orgId}-opvideoIntercom:r,o{params.orgId}-opvideoIntercom:w,o{params.orgId}-outboundWebhooks:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o{params.orgId}-portalAudit:r,o{params.orgId}-portalAudit:w,o{params.orgId}-policy:r,o{params.orgId}-policy:w,o{params.orgId}-policySection:r,o{params.orgId}-policySection:w,o{params.orgId}-presence:r,o{params.orgId}-presence:w,o{params.orgId}-quickStart:r,o{params.orgId}-quickStart:w,o{params.orgId}-realUserGroup:r,o{params.orgId}-realUserGroup:w,o{params.orgId}-restriction:r,o{params.orgId}-restriction:w,o{params.orgId}-role:r,o{params.orgId}-role:w,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-rptAlarm:r,o{params.orgId}-rptAlarm:w,o{params.orgId}-rptDownload:r,o{params.orgId}-rptGeneral:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-serviceCancellation:w,o{params.orgId}-site:r,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-sos:w,o{params.orgId}-timeRestriction:r,o{params.orgId}-timeRestriction:w,o{params.orgId}-user:r,o{params.orgId}-user:w,o{params.orgId}-videoAdmin:w,o{params.orgId}-videoProviderLive:w,o{params.orgId}-videoProviderPlayback:w,o:w,o:r,s-o:w,s-o:r,o{params.orgId}-sos:w


        __Endpoint name__: listLockdownPlans'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: ordinal
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
      tags:
      - orgs/lockdownPlans
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        opal:
                          type: string
                        name:
                          type: string
                        ordinal:
                          type: integer
                        autoRevertAfterSeconds:
                          type:
                          - integer
                          - 'null'
                        isStandard:
                          type: boolean
                        isActive:
                          type: boolean
                        activeUntil:
                          type:
                          - string
                          - 'null'
                          format: date
                        stateChangedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        stateChangedRequestId:
                          type:
                          - string
                          - 'null'
                        org:
                          type: object
                          properties:
                            id:
                              type: integer
                            opal:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        zoneStates:
                          type: array
                          items:
                            type: object
                            properties:
                              zone:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                required:
                                - id
                              entryState:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                required:
                                - id
                        triggerUsers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              identity:
                                type: object
                                properties:
                                  firstName:
                                    type:
                                    - string
                                    - 'null'
                                  middleName:
                                    type:
                                    - string
                                    - 'null'
                                  lastName:
                                    type:
                                    - string
                                    - 'null'
                                  fullName:
                                    type:
                                    - string
                                    - 'null'
                                  initials:
                                    type:
                                    - string
                                    - 'null'
                                  email:
                                    type: string
                                  namespace:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      nickname:
                                        type:
                                        - string
                                        - 'null'
                                      namespaceType:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          modelName:
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - id
                                    required:
                                    - id
                              sites:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                            required:
                            - id
                        triggerGroups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              sites:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                            required:
                            - id
                        revertUsers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              identity:
                                type: object
                                properties:
                                  firstName:
                                    type:
                                    - string
                                    - 'null'
                                  middleName:
                                    type:
                                    - string
                                    - 'null'
                                  lastName:
                                    type:
                                    - string
                                    - 'null'
                                  fullName:
                                    type:
                                    - string
                                    - 'null'
                                  initials:
                                    type:
                                    - string
                                    - 'null'
                                  email:
                                    type: string
                                  namespace:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      nickname:
                                        type:
                                        - string
                                        - 'null'
                                      namespaceType:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          modelName:
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - id
                                    required:
                                    - id
                              sites:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                            required:
                            - id
                        revertGroups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              sites:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-account:r
      - o{params.orgId}-account:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-advancedOxygenReports:r
      - o{params.orgId}-advancedOxygenReports:w
      - o{params.orgId}-alarmActions:w
      - o{params.orgId}-alarmConfigurations:r
      - o{params.orgId}-alarmConfigurations:w
      - o{params.orgId}-alertSettings:r
      - o{params.orgId}-alertSettings:w
      - o{params.orgId}-badgePrinting:r
      - o{params.orgId}-badgePrinting:w
      - o{params.orgId}-building:r
      - o{params.orgId}-building:w
      - o{params.orgId}-cert:r
      - o{params.orgId}-cert:w
      - o{params.orgId}-cert{params.authCertId}:r
      - o{params.orgId}-cert{params.authCertId}:w
      - o{params.orgId}-cleanupMsiAware:w
      - o{params.orgId}-cobalt:r
      - o{params.orgId}-cobalt:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-configurations:w
      - o{params.orgId}-credential:r
      - o{params.orgId}-credential:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashAlarm:r
      - o{params.orgId}-dashAlarm:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashEntry:r
      - o{params.orgId}-dashEntry:w
      - o{params.orgId}-entryAccessAudit:r
      - o{params.orgId}-entryAccessAudit:w
      - o{params.orgId}-entryState:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-erpParentCenter:w
      - o{params.orgId}-erpParentStore:w
      - o{params.orgId}-eventsMsiAware:w
      - o{params.orgId}-exportClips:w
      - o{params.orgId}-haloAdmin:w
      - o{params.orgId}-haloUser:w
      - o{params.orgId}-haloViewer:r
      - o{params.orgId}-hw:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-idp-scim:r
      - o{params.orgId}-idp-scim:w
      - o{params.orgId}-integrations:r
      - o{params.orgId}-integrations:w
      - o{params.orgId}-ipRestriction:r
      - o{params.orgId}-ipRestriction:w
      - o{params.orgId}-ldp:r
      - o{params.orgId}-ldp:w
      - o{params.orgId}-map:r
      - o{params.orgId}-map:w
      - o{params.orgId}-mobileAppSettings:r
      - o{params.orgId}-mobileAppSettings:w
      - o{params.orgId}-musterReport:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-occupancyReport:r
      - o{params.orgId}-occupancyReport:w
      - o{params.orgId}-opvideoDevice:r
      - o{params.orgId}-opvideoDevice:w
      - o{params.orgId}-opvideoIntercom:r
      - o{params.orgId}-opvideoIntercom:w
      - o{params.orgId}-outboundWebhooks:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o{params.orgId}-portalAudit:r
      - o{params.orgId}-portalAudit:w
      - o{params.orgId}-policy:r
      - o{params.orgId}-policy:w
      - o{params.orgId}-policySection:r
      - o{params.orgId}-policySection:w
      - o{params.orgId}-presence:r
      - o{params.orgId}-presence:w
      - o{params.orgId}-quickStart:r
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-realUserGroup:r
      - o{params.orgId}-realUserGroup:w
      - o{params.orgId}-restriction:r
      - o{params.orgId}-restriction:w
      - o{params.orgId}-role:r
      - o{params.orgId}-role:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rptAlarm:r
      - o{params.orgId}-rptAlarm:w
      - o{params.orgId}-rptDownload:r
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-serviceCancellation:w
      - o{params.orgId}-site:r
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-sos:w
      - o{params.orgId}-timeRestriction:r
      - o{params.orgId}-timeRestriction:w
      - o{params.orgId}-user:r
      - o{params.orgId}-user:w
      - o{params.orgId}-videoAdmin:w
      - o{params.orgId}-videoProviderLive:w
      - o{params.orgId}-videoProviderPlayback:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o{params.orgId}-sos:w
    post:
      summary: Create a lockdown plan
      operationId: createLockdownPlan
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-ldp:w,o:w,s-o:w


        __Endpoint name__: createLockdownPlan'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/lockdownPlans
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      opal:
                        type: string
                      name:
                        type: string
                      ordinal:
                        type: integer
                      autoRevertAfterSeconds:
                        type:
                        - integer
                        - 'null'
                      isStandard:
                        type: boolean
                      isActive:
                        type: boolean
                      activeUntil:
                        type:
                        - string
                        - 'null'
                        format: date
                      stateChangedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      stateChangedRequestId:
                        type:
                        - string
                        - 'null'
                      org:
                        type: object
                        properties:
                          id:
                            type: integer
                          opal:
                            type: string
                          name:
                            type: string
                        required:
                        - id
                      zoneStates:
                        type: array
                        items:
                          type: object
                          properties:
                            zone:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                            entryState:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                      triggerUsers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            identity:
                              type: object
                              properties:
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                middleName:
                                  type:
                                  - string
                                  - 'null'
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                initials:
                                  type:
                                  - string
                                  - 'null'
                                email:
                                  type: string
                                namespace:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    nickname:
                                      type:
                                      - string
                                      - 'null'
                                    namespaceType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                        modelName:
                                          type:
                                          - string
                                          - 'null'
                                      required:
                                      - id
                                  required:
                                  - id
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                      triggerGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                      revertUsers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            identity:
                              type: object
                              properties:
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                middleName:
                                  type:
                                  - string
                                  - 'null'
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                initials:
                                  type:
                                  - string
                                  - 'null'
                                email:
                                  type: string
                                namespace:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    nickname:
                                      type:
                                      - string
                                      - 'null'
                                    namespaceType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                        modelName:
                                          type:
                                          - string
                                          - 'null'
                                      required:
                                      - id
                                  required:
                                  - id
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                      revertGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-ldp:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                ordinal:
                  type: integer
                autoRevertAfterSeconds:
                  type:
                  - integer
                  - 'null'
                  default: null
                isStandard:
                  type: boolean
                  default: false
              required:
              - name
              - ordinal
  /orgs/{orgId}/lockdownPlans/{lockdownPlanId}:
    get:
      summary: Describe a lockdown plan
      operationId: describeLockdownPlan
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-ldp:w,o{params.orgId}-ldp:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeLockdownPlan'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: lockdownPlanId
        in: path
        required: true
        schema:
          type: integer
      - name: options
        in: query
        schema:
          type: string
          default: ''
      tags:
      - orgs/lockdownPlans
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      opal:
                        type: string
                      name:
                        type: string
                      ordinal:
                        type: integer
                      autoRevertAfterSeconds:
                        type:
                        - integer
                        - 'null'
                      isStandard:
                        type: boolean
                      isActive:
                        type: boolean
                      activeUntil:
                        type:
                        - string
                        - 'null'
                        format: date
                      stateChangedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      stateChangedRequestId:
                        type:
                        - string
                        - 'null'
                      org:
                        type: object
                        properties:
                          id:
                            type: integer
                          opal:
                            type: string
                          name:
                            type: string
                        required:
                        - id
                      zoneStates:
                        type: array
                        items:
                          type: object
                          properties:
                            zone:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                            entryState:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                      triggerUsers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            identity:
                              type: object
                              properties:
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                middleName:
                                  type:
                                  - string
                                  - 'null'
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                initials:
                                  type:
                                  - string
                                  - 'null'
                                email:
                                  type: string
                                namespace:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    nickname:
                                      type:
                                      - string
                                      - 'null'
                                    namespaceType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                        modelName:
                                          type:
                                          - string
                                          - 'null'
                                      required:
                                      - id
                                  required:
                                  - id
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                      triggerGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                      revertUsers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            identity:
                              type: object
                              properties:
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                middleName:
                                  type:
                                  - string
                                  - 'null'
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                initials:
                                  type:
                                  - string
                                  - 'null'
                                email:
                                  type: string
                                namespace:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    nickname:
                                      type:
                                      - string
                                      - 'null'
                                    namespaceType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                        modelName:
                                          type:
                                          - string
                                          - 'null'
                                      required:
                                      - id
                                  required:
                                  - id
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                      revertGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-ldp:w
      - o{params.orgId}-ldp:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a lockdown plan
      operationId: deleteLockdownPlan
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-ldp:w,o:w,s-o:w


        __Endpoint name__: deleteLockdownPlan'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: lockdownPlanId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/lockdownPlans
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-ldp:w
      - o:w
      - s-o:w
    patch:
      summary: Update a lockdown plan
      operationId: updateLockdownPlan
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-ldp:w,o:w,s-o:w


        __Endpoint name__: updateLockdownPlan'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: lockdownPlanId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/lockdownPlans
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-ldp:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                ordinal:
                  type: integer
                autoRevertAfterSeconds:
                  type:
                  - integer
                  - 'null'
  /orgs/{orgId}/lockdownPlans/{lockdownPlanId}/permissions:
    put:
      summary: Set a lockdown plan's user and group permissions
      operationId: setLockdownPlanPermissions
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-ldp:w,o:w,s-o:w


        __Endpoint name__: setLockdownPlanPermissions'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: lockdownPlanId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/lockdownPlans
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-ldp:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                triggerUserIds:
                  type: array
                  items:
                    type: integer
                triggerGroupIds:
                  type: array
                  items:
                    type: integer
                revertUserIds:
                  type: array
                  items:
                    type: integer
                revertGroupIds:
                  type: array
                  items:
                    type: integer
              required:
              - triggerUserIds
              - triggerGroupIds
              - revertUserIds
              - revertGroupIds
  /orgs/{orgId}/lockdownPlans/{lockdownPlanId}/zoneStates:
    put:
      summary: Set a lockdown plan's zone states
      operationId: setLockdownPlanZoneStates
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-ldp:w,o:w,s-o:w


        __Endpoint name__: setLockdownPlanZoneStates'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: lockdownPlanId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/lockdownPlans
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-ldp:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  zoneId:
                    type: integer
                  entryStateId:
                    type: integer
                required:
                - zoneId
                - entryStateId
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
