openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/ios API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/ios
paths:
  /orgs/{orgId}/ios:
    get:
      summary: List all I/Os
      operationId: listIos
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listIos'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/ios
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        modelName:
                          type: string
                        isEntryIo:
                          type: boolean
                        isShadow:
                          type: boolean
                        primaryIoId:
                          type:
                          - integer
                          - 'null'
                        ordinal:
                          type: integer
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/ios/{ioId}:
    get:
      summary: Describe an I/O
      operationId: describeIo
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeIo'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: ioId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/ios
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      modelName:
                        type: string
                      isEntryIo:
                        type: boolean
                      isShadow:
                        type: boolean
                      primaryIoId:
                        type:
                        - integer
                        - 'null'
                      ordinal:
                        type: integer
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
