swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/acus API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/acus
  description: ACUs
paths:
  /orgs/{orgId}/acus:
    get:
      summary: List all owned or assigned ACUs
      operationId: listAcus
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-outboundWebhooks:r,o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-quickStart:r,o{params.orgId}-quickStart:w,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listAcus'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        pattern: ^[a-zA-Z0-9,~_-]+$
        name: cursor
        in: query
      - type: string
        pattern: ^[a-zA-Z0-9,~_-]+$
        name: ccursor
        in: query
      - type: string
        default: name
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      - type: string
        default: ''
        name: options
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/acus
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    opal:
                      type: string
                    hostname:
                      type: string
                    thingName:
                      type: string
                    serialNumber:
                      type: string
                      x-nullable: true
                    serialNumberBrief:
                      type: string
                      x-nullable: true
                    softwareVersionNumber:
                      type: string
                      x-nullable: true
                    org:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                      - id
                    ownedByOrg:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                      - id
                    acuModel:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        isBaseModel:
                          type: boolean
                        acuModelVendor:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            code:
                              type: string
                          required:
                          - id
                      required:
                      - id
                    expansionBoards:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          number:
                            type: number
                          acuModel:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              isBaseModel:
                                type: boolean
                              acuModelVendor:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                  code:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                          mercuryScp:
                            type: object
                            properties:
                              id:
                                type: integer
                              ipAddress:
                                type: string
                                x-format:
                                  ip:
                                    cidr: forbidden
                                    version:
                                    - ipv4
                                    - ipv6
                              ipPort:
                                type: integer
                                minimum: 1
                                maximum: 65535
                              isEnabled:
                                type: boolean
                              isTlsEnabled:
                                type: boolean
                              mercuryScpPorts:
                                type: array
                                items:
                                  x-alternatives:
                                  - type: object
                                    properties:
                                      id:
                                        type: integer
                                        minimum: 1
                                      type:
                                        type: string
                                        enum:
                                        - internal
                                        - rs-485
                                        - ethernet
                                      number:
                                        type: integer
                                        minimum: 0
                                      baudRate:
                                        type: number
                                        enum:
                                        - 0
                                        - 9600
                                        - 19200
                                        - 38400
                                        - 115200
                                      replyTimeoutMilliseconds:
                                        type: integer
                                        enum:
                                        - 50
                                        - 51
                                        - 52
                                        - 53
                                        - 54
                                        - 55
                                        - 56
                                        - 57
                                        - 58
                                        - 59
                                        - 60
                                        - 61
                                        - 62
                                        - 63
                                        - 64
                                        - 65
                                        - 66
                                        - 67
                                        - 68
                                        - 69
                                        - 70
                                        - 71
                                        - 72
                                        - 73
                                        - 74
                                        - 75
                                        - 76
                                        - 77
                                        - 78
                                        - 79
                                        - 80
                                        - 81
                                        - 82
                                        - 83
                                        - 84
                                        - 85
                                        - 86
                                        - 87
                                        - 88
                                        - 89
                                        - 90
                                        - 91
                                        - 92
                                        - 93
                                        - 94
                                        - 95
                                        - 96
                                        - 97
                                        - 98
                                        - 99
                                        - 100
                                        - 101
                                        - 102
                                        - 103
                                        - 104
                                        - 105
                                        - 106
                                        - 107
                                        - 108
                                        - 109
                                        - 110
                                        - 111
                                        - 112
                                        - 113
                                        - 114
                                        - 115
                                        - 116
                                        - 117
                                        - 118
                                        - 119
                                        - 120
                                        - 121
                                        - 122
                                        - 123
                                        - 124
                                        - 125
                                        - 126
                                        - 127
                                        - 128
                                        - 129
                                        - 130
                                        - 131
                                        - 132
                                        - 133
                                        - 134
                                        - 135
                                        - 136
                                        - 137
                                        - 138
                                        - 139
                                        - 140
                                        - 141
                                        - 142
                                        - 143
                                        - 144
                                        - 145
                                        - 146
                                        - 147
                                        - 148
                                        - 149
                                        - 150
                                        - 500
                                        - 510
                                        - 520
                                        - 530
                                        - 540
                                        - 550
                                        - 560
                                        - 570
                                        - 580
                                        - 590
                                        - 600
                                        - 610
                                        - 620
                                        - 630
                                        - 640
                                        - 650
                                        - 660
                                        - 670
                                        - 680
                                        - 690
                                        - 700
                                        - 710
                                        - 720
                                        - 730
                                        - 740
                                        - 750
                                        - 760
                                        - 770
                                        - 780
                                        - 790
                                        - 800
                                        - 810
                                        - 820
                                        - 830
                                        - 840
                                        - 850
                                        - 860
                                        - 870
                                        - 880
                                        - 890
                                        - 900
                                        - 910
                                        - 920
                                        - 930
                                        - 940
                                        - 950
                                        - 960
                                        - 970
                                        - 980
                                        - 990
                                        - 1000
                                        - 1010
                                        - 1020
                                        - 1030
                                        - 1040
                                        - 1050
                                        - 1060
                                        - 1070
                                        - 1080
                                        - 1090
                                        - 1100
                                        - 1110
                                        - 1120
                                        - 1130
                                        - 1140
                                        - 1150
                                        - 1160
                                        - 1170
                                        - 1180
                                        - 1190
                                        - 1200
                                        - 1210
                                        - 1220
                                        - 1230
                                        - 1240
                                        - 1250
                                        - 1260
                                        - 1270
                                        - 1280
                                        - 1290
                                        - 1300
                                        - 1310
                                        - 1320
                                        - 1330
                                        - 1340
                                        - 1350
                                        - 1360
                                        - 1370
                                        - 1380
                                        - 1390
                                        - 1400
                                        - 1410
                                        - 1420
                                        - 1430
                                        - 1440
                                        - 1450
                                        - 1460
                                        - 1470
                                        - 1480
                                        - 1490
                                        - 1500
                                      protocol:
                                        type: integer
                                        minimum: 0
                                      dialect:
                                        type: integer
                                        minimum: 0
                                    required:
                                    - id
                                    - type
                                    - number
                                    - baudRate
                                    - replyTimeoutMilliseconds
                                    - protocol
                                    - dialect
                                  - type: object
                                    properties:
                                      id:
                                        type: integer
                                        minimum: 1
                                      type:
                                        type: string
                                        enum:
                                        - internal
                                      number:
                                        type: integer
                                        minimum: 0
                                      baudRate:
                                        type: number
                                        enum:
                                        - 0
                                      replyTimeoutMilliseconds:
                                        type: integer
                                        enum:
                                        - 0
                                      protocol:
                                        type: integer
                                        minimum: 0
                                      dialect:
                                        type: integer
                                        minimum: 0
                                    required:
                                    - id
                                    - type
                                    - number
                                    - baudRate
                                    - replyTimeoutMilliseconds
                                    - protocol
                                    - dialect
                                  - type: object
                                    properties:
                                      id:
                                        type: integer
                                        minimum: 1
                                      type:
                                        type: string
                                        enum:
                                        - rs-485
                                      number:
                                        type: integer
                                        minimum: 0
                                      baudRate:
                                        type: number
                                        enum:
                                        - 9600
                                        - 19200
                                        - 38400
                                        - 115200
                                      replyTimeoutMilliseconds:
                                        type: integer
                                        enum:
                                        - 50
                                        - 51
                                        - 52
                                        - 53
                                        - 54
                                        - 55
                                        - 56
                                        - 57
                                        - 58
                                        - 59
                                        - 60
                                        - 61
                                        - 62
                                        - 63
                                        - 64
                                        - 65
                                        - 66
                                        - 67
                                        - 68
                                        - 69
                                        - 70
                                        - 71
                                        - 72
                                        - 73
                                        - 74
                                        - 75
                                        - 76
                                        - 77
                                        - 78
                                        - 79
                                        - 80
                                        - 81
                                        - 82
                                        - 83
                                        - 84
                                        - 85
                                        - 86
                                        - 87
                                        - 88
                                        - 89
                                        - 90
                                        - 91
                                        - 92
                                        - 93
                                        - 94
                                        - 95
                                        - 96
                                        - 97
                                        - 98
                                        - 99
                                        - 100
                                        - 101
                                        - 102
                                        - 103
                                        - 104
                                        - 105
                                        - 106
                                        - 107
                                        - 108
                                        - 109
                                        - 110
                                        - 111
                                        - 112
                                        - 113
                                        - 114
                                        - 115
                                        - 116
                                        - 117
                                        - 118
                                        - 119
                                        - 120
                                        - 121
                                        - 122
                                        - 123
                                        - 124
                                        - 125
                                        - 126
                                        - 127
                                        - 128
                                        - 129
                                        - 130
                                        - 131
                                        - 132
                                        - 133
                                        - 134
                                        - 135
                                        - 136
                                        - 137
                                        - 138
                                        - 139
                                        - 140
                                        - 141
                                        - 142
                                        - 143
                                        - 144
                                        - 145
                                        - 146
                                        - 147
                                        - 148
                                        - 149
                                        - 150
                                      protocol:
                                        type: integer
                                        minimum: 0
                                      dialect:
                                        type: integer
                                        minimum: 0
                                    required:
                                    - id
                                    - type
                                    - number
                                    - baudRate
                                    - replyTimeoutMilliseconds
                                    - protocol
                                    - dialect
                                  - type: object
                                    properties:
                                      id:
                                        type: integer
                                        minimum: 1
                                      type:
                                        type: string
                                        enum:
                                        - ethernet
                                      number:
                                        type: integer
                                        minimum: 0
                                      baudRate:
                                        type: number
                                        enum:
                                        - 0
                                      replyTimeoutMilliseconds:
                                        type: integer
                                        enum:
                                        - 500
                                        - 510
                                        - 520
                                        - 530
                                        - 540
                                        - 550
                                        - 560
                                        - 570
                                        - 580
                                        - 590
                                        - 600
                                        - 610
                                        - 620
                                        - 630
                                        - 640
                                        - 650
                                        - 660
                                        - 670
                                        - 680
                                        - 690
                                        - 700
                                        - 710
                                        - 720
                                        - 730
                                        - 740
                                        - 750
                                        - 760
                                        - 770
                                        - 780
                                        - 790
                                        - 800
                                        - 810
                                        - 820
                                        - 830
                                        - 840
                                        - 850
                                        - 860
                                        - 870
                                        - 880
                                        - 890
                                        - 900
                                        - 910
                                        - 920
                                        - 930
                                        - 940
                                        - 950
                                        - 960
                                        - 970
                                        - 980
                                        - 990
                                        - 1000
                                        - 1010
                                        - 1020
                                        - 1030
                                        - 1040
                                        - 1050
                                        - 1060
                                        - 1070
                                        - 1080
                                        - 1090
                                        - 1100
                                        - 1110
                                        - 1120
                                        - 1130
                                        - 1140
                                        - 1150
                                        - 1160
                                        - 1170
                                        - 1180
                                        - 1190
                                        - 1200
                                        - 1210
                                        - 1220
                                        - 1230
                                        - 1240
                                        - 1250
                                        - 1260
                                        - 1270
                                        - 1280
                                        - 1290
                                        - 1300
                                        - 1310
                                        - 1320
                                        - 1330
                                        - 1340
                                        - 1350
                                        - 1360
                                        - 1370
                                        - 1380
                                        - 1390
                                        - 1400
                                        - 1410
                                        - 1420
                                        - 1430
                                        - 1440
                                        - 1450
                                        - 1460
                                        - 1470
                                        - 1480
                                        - 1490
                                        - 1500
                                      protocol:
                                        type: integer
                                        minimum: 0
                                      dialect:
                                        type: integer
                                        minimum: 0
                                    required:
                                    - id
                                    - type
                                    - number
                                    - baudRate
                                    - replyTimeoutMilliseconds
                                    - protocol
                                    - dialect
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    type:
                                      type: string
                                      enum:
                                      - internal
                                      - rs-485
                                      - ethernet
                                    number:
                                      type: integer
                                      minimum: 0
                                    baudRate:
                                      type: number
                                      enum:
                                      - 0
                                      - 9600
                                      - 19200
                                      - 38400
                                      - 115200
                                    replyTimeoutMilliseconds:
                                      type: integer
                                      enum:
                                      - 50
                                      - 51
                                      - 52
                                      - 53
                                      - 54
                                      - 55
                                      - 56
                                      - 57
                                      - 58
                                      - 59
                                      - 60
                                      - 61
                                      - 62
                                      - 63
                                      - 64
                                      - 65
                                      - 66
                                      - 67
                                      - 68
                                      - 69
                                      - 70
                                      - 71
                                      - 72
                                      - 73
                                      - 74
                                      - 75
                                      - 76
                                      - 77
                                      - 78
                                      - 79
                                      - 80
                                      - 81
                                      - 82
                                      - 83
                                      - 84
                                      - 85
                                      - 86
                                      - 87
                                      - 88
                                      - 89
                                      - 90
                                      - 91
                                      - 92
                                      - 93
                                      - 94
                                      - 95
                                      - 96
                                      - 97
                                      - 98
                                      - 99
                                      - 100
                                      - 101
                                      - 102
                                      - 103
                                      - 104
                                      - 105
                                      - 106
                                      - 107
                                      - 108
                                      - 109
                                      - 110
                                      - 111
                                      - 112
                                      - 113
                                      - 114
                                      - 115
                                      - 116
                                      - 117
                                      - 118
                                      - 119
                                      - 120
                                      - 121
                                      - 122
                                      - 123
                                      - 124
                                      - 125
                                      - 126
                                      - 127
                                      - 128
                                      - 129
                                      - 130
                                      - 131
                                      - 132
                                      - 133
                                      - 134
                                      - 135
                                      - 136
                                      - 137
                                      - 138
                                      - 139
                                      - 140
                                      - 141
                                      - 142
                                      - 143
                                      - 144
                                      - 145
                                      - 146
                                      - 147
                                      - 148
                                      - 149
                                      - 150
                                      - 500
                                      - 510
                                      - 520
                                      - 530
                                      - 540
                                      - 550
                                      - 560
                                      - 570
                                      - 580
                                      - 590
                                      - 600
                                      - 610
                                      - 620
                                      - 630
                                      - 640
                                      - 650
                                      - 660
                                      - 670
                                      - 680
                                      - 690
                                      - 700
                                      - 710
                                      - 720
                                      - 730
                                      - 740
                                      - 750
                                      - 760
                                      - 770
                                      - 780
                                      - 790
                                      - 800
                                      - 810
                                      - 820
                                      - 830
                                      - 840
                                      - 850
                                      - 860
                                      - 870
                                      - 880
                                      - 890
                                      - 900
                                      - 910
                                      - 920
                                      - 930
                                      - 940
                                      - 950
                                      - 960
                                      - 970
                                      - 980
                                      - 990
                                      - 1000
                                      - 1010
                                      - 1020
                                      - 1030
                                      - 1040
                                      - 1050
                                      - 1060
                                      - 1070
                                      - 1080
                                      - 1090
                                      - 1100
                                      - 1110
                                      - 1120
                                      - 1130
                                      - 1140
                                      - 1150
                                      - 1160
                                      - 1170
                                      - 1180
                                      - 1190
                                      - 1200
                                      - 1210
                                      - 1220
                                      - 1230
                                      - 1240
                                      - 1250
                                      - 1260
                                      - 1270
                                      - 1280
                                      - 1290
                                      - 1300
                                      - 1310
                                      - 1320
                                      - 1330
                                      - 1340
                                      - 1350
                                      - 1360
                                      - 1370
                                      - 1380
                                      - 1390
                                      - 1400
                                      - 1410
                                      - 1420
                                      - 1430
                                      - 1440
                                      - 1450
                                      - 1460
                                      - 1470
                                      - 1480
                                      - 1490
                                      - 1500
                                    protocol:
                                      type: integer
                                      minimum: 0
                                    dialect:
                                      type: integer
                                      minimum: 0
                                  required:
                                  - id
                                  - type
                                  - number
                                  - baudRate
                                  - replyTimeoutMilliseconds
                                  - protocol
                                  - dialect
                              mercurySio:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  portNumber:
                                    type: integer
                                  address:
                                    type: integer
                                  scpExpansionBoardId:
                                    type: integer
                                required:
                                - id
                                - scpExpansionBoardId
                            required:
                            - id
                            - mercuryScpPorts
                          mercurySio:
                            type: object
                            properties:
                              id:
                                type: integer
                              portNumber:
                                type: integer
                              address:
                                type: integer
                              scpExpansionBoardId:
                                type: integer
                            required:
                            - id
                            - scpExpansionBoardId
                        required:
                        - id
                    certOpal:
                      type: string
                      x-nullable: true
                    iotCertOpal:
                      type: string
                      x-nullable: true
                    awsIotCertArn:
                      type: string
                      x-nullable: true
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                    isVirtual:
                      type: boolean
                      x-nullable: true
                    isGatewayMode:
                      type: boolean
                      x-nullable: true
                    status:
                      type: string
                    statusAt:
                      type: string
                      format: date
                      x-nullable: true
                    statusMessage:
                      type: string
                      x-nullable: true
                    entryCount:
                      type: integer
                    shadow:
                      type: object
                      properties:
                        error:
                          type: string
                        state:
                          type: object
                        metadata:
                          type: object
                        version:
                          type: integer
                        timestamp:
                          type: integer
                    enterpriseVpnConfig:
                      x-nullable: true
                      type: object
                      properties:
                        isEnterpriseVpnEnabled:
                          type: boolean
                        region:
                          type: string
                    meson:
                      type: object
                      properties:
                        task:
                          type: object
                          properties:
                            maintenance:
                              type: object
                    notes:
                      type: string
                      x-nullable: true
                    acuPorts:
                      type: array
                      items:
                        type: object
                        properties:
                          acuPortTypeId:
                            type: integer
                          opvideoDevice:
                            x-nullable: true
                            type: object
                            properties:
                              id:
                                type: integer
                            required:
                            - id
                    acuShadowState:
                      x-nullable: true
                      type: object
                      properties:
                        gluonFirmwareVersion:
                          type: string
                          x-nullable: true
                        ionVersion:
                          type: string
                          x-nullable: true
                        mesonVersion:
                          type: string
                          x-nullable: true
                        mesonAcuVersion:
                          type: string
                          x-nullable: true
                        mesonQuicklimeVersion:
                          type: string
                          x-nullable: true
                        neutronFirmwareVersion:
                          type: string
                          x-nullable: true
                        nucleonVersion:
                          type: string
                          x-nullable: true
                        opSerialNumber:
                          type: string
                          x-nullable: true
                        photonVersion:
                          type: string
                          x-nullable: true
                        protonVersion:
                          type: string
                          x-nullable: true
                        quarkVersion:
                          type: string
                          x-nullable: true
                        videoFirmwareVersion:
                          type: string
                          x-nullable: true
                        videoFirmwareVendor:
                          type: string
                          x-nullable: true
                        phosphorusVersion:
                          type: string
                          x-nullable: true
                        cydoniaVersion:
                          type: string
                          x-nullable: true
                        distroVersion:
                          type: string
                          x-nullable: true
                        videoEmmcWearPercent:
                          type: number
                          x-nullable: true
                        lastPublishedAt:
                          type: string
                          format: date
                          x-nullable: true
                        lastUnlockAttemptAt:
                          type: string
                          format: date
                          x-nullable: true
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-outboundWebhooks:r
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-quickStart:r
      - o{params.orgId}-quickStart:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create an ACU
      operationId: createAcu
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-quickStart:w,o{params.orgId}-admin:w,o:w,s-o:w<br/><br/>__Endpoint name__: createAcu'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              x-convert:
                trim: true
            acuModelId:
              type: integer
            serialNumber:
              type: string
              x-nullable: true
            softwareVersionNumber:
              type: string
              x-nullable: true
            isVirtual:
              type: boolean
              x-nullable: true
            notes:
              type: string
              x-nullable: true
            isGatewayMode:
              type: boolean
              x-nullable: true
          required:
          - name
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/acus
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  opal:
                    type: string
                  hostname:
                    type: string
                  thingName:
                    type: string
                  serialNumber:
                    type: string
                    x-nullable: true
                  serialNumberBrief:
                    type: string
                    x-nullable: true
                  softwareVersionNumber:
                    type: string
                    x-nullable: true
                  org:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                  ownedByOrg:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                  acuModel:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      isBaseModel:
                        type: boolean
                      acuModelVendor:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          code:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  expansionBoards:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        number:
                          type: number
                        acuModel:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            isBaseModel:
                              type: boolean
                            acuModelVendor:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                code:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                        mercuryScp:
                          type: object
                          properties:
                            id:
                              type: integer
                            ipAddress:
                              type: string
                              x-format:
                                ip:
                                  cidr: forbidden
                                  version:
                                  - ipv4
                                  - ipv6
                            ipPort:
                              type: integer
                              minimum: 1
                              maximum: 65535
                            isEnabled:
                              type: boolean
                            isTlsEnabled:
                              type: boolean
                            mercuryScpPorts:
                              type: array
                              items:
                                x-alternatives:
                                - type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    type:
                                      type: string
                                      enum:
                                      - internal
                                      - rs-485
                                      - ethernet
                                    number:
                                      type: integer
                                      minimum: 0
                                    baudRate:
                                      type: number
                                      enum:
                                      - 0
                                      - 9600
                                      - 19200
                                      - 38400
                                      - 115200
                                    replyTimeoutMilliseconds:
                                      type: integer
                                      enum:
                                      - 50
                                      - 51
                                      - 52
                                      - 53
                                      - 54
                                      - 55
                                      - 56
                                      - 57
                                      - 58
                                      - 59
                                      - 60
                                      - 61
                                      - 62
                                      - 63
                                      - 64
                                      - 65
                                      - 66
                                      - 67
                                      - 68
                                      - 69
                                      - 70
                                      - 71
                                      - 72
                                      - 73
                                      - 74
                                      - 75
                                      - 76
                                      - 77
                                      - 78
                                      - 79
                                      - 80
                                      - 81
                                      - 82
                                      - 83
                                      - 84
                                      - 85
                                      - 86
                                      - 87
                                      - 88
                                      - 89
                                      - 90
                                      - 91
                                      - 92
                                      - 93
                                      - 94
                                      - 95
                                      - 96
                                      - 97
                                      - 98
                                      - 99
                                      - 100
                                      - 101
                                      - 102
                                      - 103
                                      - 104
                                      - 105
                                      - 106
                                      - 107
                                      - 108
                                      - 109
                                      - 110
                                      - 111
                                      - 112
                                      - 113
                                      - 114
                                      - 115
                                      - 116
                                      - 117
                                      - 118
                                      - 119
                                      - 120
                                      - 121
                                      - 122
                                      - 123
                                      - 124
                                      - 125
                                      - 126
                                      - 127
                                      - 128
                                      - 129
                                      - 130
                                      - 131
                                      - 132
                                      - 133
                                      - 134
                                      - 135
                                      - 136
                                      - 137
                                      - 138
                                      - 139
                                      - 140
                                      - 141
                                      - 142
                                      - 143
                                      - 144
                                      - 145
                                      - 146
                                      - 147
                                      - 148
                                      - 149
                                      - 150
                                      - 500
                                      - 510
                                      - 520
                                      - 530
                                      - 540
                                      - 550
                                      - 560
                                      - 570
                                      - 580
                                      - 590
                                      - 600
                                      - 610
                                      - 620
                                      - 630
                                      - 640
                                      - 650
                                      - 660
                                      - 670
                                      - 680
                                      - 690
                                      - 700
                                      - 710
                                      - 720
                                      - 730
                                      - 740
                                      - 750
                                      - 760
                                      - 770
                                      - 780
                                      - 790
                                      - 800
                                      - 810
                                      - 820
                                      - 830
                                      - 840
                                      - 850
                                      - 860
                                      - 870
                                      - 880
                                      - 890
                                      - 900
                                      - 910
                                      - 920
                                      - 930
                                      - 940
                                      - 950
                                      - 960
                                      - 970
                                      - 980
                                      - 990
                                      - 1000
                                      - 1010
                                      - 1020
                                      - 1030
                                      - 1040
                                      - 1050
                                      - 1060
                                      - 1070
                                      - 1080
                                      - 1090
                                      - 1100
                                      - 1110
                                      - 1120
                                      - 1130
                                      - 1140
                                      - 1150
                                      - 1160
                                      - 1170
                                      - 1180
                                      - 1190
                                      - 1200
                                      - 1210
                                      - 1220
                                      - 1230
                                      - 1240
                                      - 1250
                                      - 1260
                                      - 1270
                                      - 1280
                                      - 1290
                                      - 1300
                                      - 1310
                                      - 1320
                                      - 1330
                                      - 1340
                                      - 1350
                                      - 1360
                                      - 1370
                                      - 1380
                                      - 1390
                                      - 1400
                                      - 1410
                                      - 1420
                                      - 1430
                                      - 1440
                                      - 1450
                                      - 1460
                                      - 1470
                                      - 1480
                                      - 1490
                                      - 1500
                                    protocol:
                                      type: integer
                                      minimum: 0
                                    dialect:
                                      type: integer
                                      minimum: 0
                                  required:
                                  - id
                                  - type
                                  - number
                                  - baudRate
                                  - replyTimeoutMilliseconds
                                  - protocol
                                  - dialect
                                - type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    type:
                                      type: string
                                      enum:
                                      - internal
                                    number:
                                      type: integer
                                      minimum: 0
                                    baudRate:
                                      type: number
                                      enum:
                                      - 0
                                    replyTimeoutMilliseconds:
                                      type: integer
                                      enum:
                                      - 0
                                    protocol:
                                      type: integer
                                      minimum: 0
                                    dialect:
                                      type: integer
                                      minimum: 0
                                  required:
                                  - id
                                  - type
                                  - number
                                  - baudRate
                                  - replyTimeoutMilliseconds
                                  - protocol
                                  - dialect
                                - type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    type:
                                      type: string
                                      enum:
                                      - rs-485
                                    number:
                                      type: integer
                                      minimum: 0
                                    baudRate:
                                      type: number
                                      enum:
                                      - 9600
                                      - 19200
                                      - 38400
                                      - 115200
                                    replyTimeoutMilliseconds:
                                      type: integer
                                      enum:
                                      - 50
                                      - 51
                                      - 52
                                      - 53
                                      - 54
                                      - 55
                                      - 56
                                      - 57
                                      - 58
                                      - 59
                                      - 60
                                      - 61
                                      - 62
                                      - 63
                                      - 64
                                      - 65
                                      - 66
                                      - 67
                                      - 68
                                      - 69
                                      - 70
                                      - 71
                                      - 72
                                      - 73
                                      - 74
                                      - 75
                                      - 76
                                      - 77
                                      - 78
                                      - 79
                                      - 80
                                      - 81
                                      - 82
                                      - 83
                                      - 84
                                      - 85
                                      - 86
                                      - 87
                                      - 88
                                      - 89
                                      - 90
                                      - 91
                                      - 92
                                      - 93
                                      - 94
                                      - 95
                                      - 96
                                      - 97
                                      - 98
                                      - 99
                                      - 100
                                      - 101
                                      - 102
                                      - 103
                                      - 104
                                      - 105
                                      - 106
                                      - 107
                                      - 108
                                      - 109
                                      - 110
                                      - 111
                                      - 112
                                      - 113
                                      - 114
                                      - 115
                                      - 116
                                      - 117
                                      - 118
                                      - 119
                                      - 120
                                      - 121
                                      - 122
                                      - 123
                                      - 124
                                      - 125
                                      - 126
                                      - 127
                                      - 128
                                      - 129
                                      - 130
                                      - 131
                                      - 132
                                      - 133
                                      - 134
                                      - 135
                                      - 136
                                      - 137
                                      - 138
                                      - 139
                                      - 140
                                      - 141
                                      - 142
                                      - 143
                                      - 144
                                      - 145
                                      - 146
                                      - 147
                                      - 148
                                      - 149
                                      - 150
                                    protocol:
                                      type: integer
                                      minimum: 0
                                    dialect:
                                      type: integer
                                      minimum: 0
                                  required:
                                  - id
                                  - type
                                  - number
                                  - baudRate
                                  - replyTimeoutMilliseconds
                                  - protocol
                                  - dialect
                                - type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    type:
                                      type: string
                                      enum:
                                      - ethernet
                                    number:
                                      type: integer
                                      minimum: 0
                                    baudRate:
                                      type: number
                                      enum:
                                      - 0
                                    replyTimeoutMilliseconds:
                                      type: integer
                                      enum:
                                      - 500
                                      - 510
                                      - 520
                                      - 530
                                      - 540
                                      - 550
                                      - 560
                                      - 570
                                      - 580
                                      - 590
                                      - 600
                                      - 610
                                      - 620
                                      - 630
                                      - 640
                                      - 650
                                      - 660
                                      - 670
                                      - 680
                                      - 690
                                      - 700
                                      - 710
                                      - 720
                                      - 730
                                      - 740
                                      - 750
                                      - 760
                                      - 770
                                      - 780
                                      - 790
                                      - 800
                                      - 810
                                      - 820
                                      - 830
                                      - 840
                                      - 850
                                      - 860
                                      - 870
                                      - 880
                                      - 890
                                      - 900
                                      - 910
                                      - 920
                                      - 930
                                      - 940
                                      - 950
                                      - 960
                                      - 970
                                      - 980
                                      - 990
                                      - 1000
                                      - 1010
                                      - 1020
                                      - 1030
                                      - 1040
                                      - 1050
                                      - 1060
                                      - 1070
                                      - 1080
                                      - 1090
                                      - 1100
                                      - 1110
                                      - 1120
                                      - 1130
                                      - 1140
                                      - 1150
                                      - 1160
                                      - 1170
                                      - 1180
                                      - 1190
                                      - 1200
                                      - 1210
                                      - 1220
                                      - 1230
                                      - 1240
                                      - 1250
                                      - 1260
                                      - 1270
                                      - 1280
                                      - 1290
                                      - 1300
                                      - 1310
                                      - 1320
                                      - 1330
                                      - 1340
                                      - 1350
                                      - 1360
                                      - 1370
                                      - 1380
                                      - 1390
                                      - 1400
                                      - 1410
                                      - 1420
                                      - 1430
                                      - 1440
                                      - 1450
                                      - 1460
                                      - 1470
                                      - 1480
                                      - 1490
                                      - 1500
                                    protocol:
                                      type: integer
                                      minimum: 0
                                    dialect:
                                      type: integer
                                      minimum: 0
                                  required:
                                  - id
                                  - type
                                  - number
                                  - baudRate
                                  - replyTimeoutMilliseconds
                                  - protocol
                                  - dialect
                                type: object
                                properties:
                                  id:
                                    type: integer
                                    minimum: 1
                                  type:
                                    type: string
                                    enum:
                                    - internal
                                    - rs-485
                                    - ethernet
                                  number:
                                    type: integer
                                    minimum: 0
                                  baudRate:
                                    type: number
                                    enum:
                                    - 0
                                    - 9600
                                    - 19200
                                    - 38400
                                    - 115200
                                  replyTimeoutMilliseconds:
                                    type: integer
                                    enum:
                                    - 50
                                    - 51
                                    - 52
                                    - 53
                                    - 54
                                    - 55
                                    - 56
                                    - 57
                                    - 58
                                    - 59
                                    - 60
                                    - 61
                                    - 62
                                    - 63
                                    - 64
                                    - 65
                                    - 66
                                    - 67
                                    - 68
                                    - 69
                                    - 70
                                    - 71
                                    - 72
                                    - 73
                                    - 74
                                    - 75
                                    - 76
                                    - 77
                                    - 78
                                    - 79
                                    - 80
                                    - 81
                                    - 82
                                    - 83
                                    - 84
                                    - 85
                                    - 86
                                    - 87
                                    - 88
                                    - 89
                                    - 90
                                    - 91
                                    - 92
                                    - 93
                                    - 94
                                    - 95
                                    - 96
                                    - 97
                                    - 98
                                    - 99
                                    - 100
                                    - 101
                                    - 102
                                    - 103
                                    - 104
                                    - 105
                                    - 106
                                    - 107
                                    - 108
                                    - 109
                                    - 110
                                    - 111
                                    - 112
                                    - 113
                                    - 114
                                    - 115
                                    - 116
                                    - 117
                                    - 118
                                    - 119
                                    - 120
                                    - 121
                                    - 122
                                    - 123
                                    - 124
                                    - 125
                                    - 126
                                    - 127
                                    - 128
                                    - 129
                                    - 130
                                    - 131
                                    - 132
                                    - 133
                                    - 134
                                    - 135
                                    - 136
                                    - 137
                                    - 138
                                    - 139
                                    - 140
                                    - 141
                                    - 142
                                    - 143
                                    - 144
                                    - 145
                                    - 146
                                    - 147
                                    - 148
                                    - 149
                                    - 150
                                    - 500
                                    - 510
                                    - 520
                                    - 530
                                    - 540
                                    - 550
                                    - 560
                                    - 570
                                    - 580
                                    - 590
                                    - 600
                                    - 610
                                    - 620
                                    - 630
                                    - 640
                                    - 650
                                    - 660
                                    - 670
                                    - 680
                                    - 690
                                    - 700
                                    - 710
                                    - 720
                                    - 730
                                    - 740
                                    - 750
                                    - 760
                                    - 770
                                    - 780
                                    - 790
                                    - 800
                                    - 810
                                    - 820
                                    - 830
                                    - 840
                                    - 850
                                    - 860
                                    - 870
                                    - 880
                                    - 890
                                    - 900
                                    - 910
                                    - 920
                                    - 930
                                    - 940
                                    - 950
                                    - 960
                                    - 970
                                    - 980
                                    - 990
                                    - 1000
                                    - 1010
                                    - 1020
                                    - 1030
                                    - 1040
                                    - 1050
                                    - 1060
                                    - 1070
                                    - 1080
                                    - 1090
                                    - 1100
                                    - 1110
                                    - 1120
                                    - 1130
                                    - 1140
                                    - 1150
                                    - 1160
                                    - 1170
                                    - 1180
                                    - 1190
                                    - 1200
                                    - 1210
                                    - 1220
                                    - 1230
                                    - 1240
                                    - 1250
                                    - 1260
                                    - 1270
                                    - 1280
                                    - 1290
                                    - 1300
                                    - 1310
                                    - 1320
                                    - 1330
                                    - 1340
                                    - 1350
                                    - 1360
                                    - 1370
                                    - 1380
                                    - 1390
                                    - 1400
                                    - 1410
                                    - 1420
                                    - 1430
                                    - 1440
                                    - 1450
                                    - 1460
                                    - 1470
                                    - 1480
                                    - 1490
                                    - 1500
                                  protocol:
                                    type: integer
                                    minimum: 0
                                  dialect:
                                    type: integer
                                    minimum: 0
                                required:
                                - id
                                - type
                                - number
                                - baudRate
                                - replyTimeoutMilliseconds
                                - protocol
                                - dialect
                            mercurySio:
                              type: object
                              properties:
                                id:
                                  type: integer
                                portNumber:
                                  type: integer
                                address:
                                  type: integer
                                scpExpansionBoardId:
                                  type: integer
                              required:
                              - id
                              - scpExpansionBoardId
                          required:
                          - id
                          - mercuryScpPorts
                        mercurySio:
                          type: object
                          properties:
                            id:
                              type: integer
                            portNumber:
                              type: integer
                            address:
                              type: integer
                            scpExpansionBoardId:
                              type: integer
                          required:
                          - id
                          - scpExpansionBoardId
                      required:
                      - id
                  certOpal:
                    type: string
                    x-nullable: true
                  iotCertOpal:
                    type: string
                    x-nullable: true
                  awsIotCertArn:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                  isVirtual:
                    type: boolean
                    x-nullable: true
                  isGatewayMode:
                    type: boolean
                    x-nullable: true
                  status:
                    type: string
                  statusAt:
                    type: string
                    format: date
                    x-nullable: true
                  statusMessage:
                    type: string
                    x-nullable: true
                  entryCount:
                    type: integer
                  shadow:
                    type: object
                    properties:
                      error:
                        type: string
                      state:
                        type: object
                      metadata:
                        type: object
                      version:
                        type: integer
                      timestamp:
                        type: integer
                  enterpriseVpnConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnterpriseVpnEnabled:
                        type: boolean
                      region:
                        type: string
                  meson:
                    type: object
                    properties:
                      task:
                        type: object
                        properties:
                          maintenance:
                            type: object
                  notes:
                    type: string
                    x-nullable: true
                  acuPorts:
                    type: array
                    items:
                      type: object
                      properties:
                        acuPortTypeId:
                          type: integer
                        opvideoDevice:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: integer
                          required:
                          - id
                  acuShadowState:
                    x-nullable: true
                    type: object
                    properties:
                      gluonFirmwareVersion:
                        type: string
                        x-nullable: true
                      ionVersion:
                        type: string
                        x-nullable: true
                      mesonVersion:
                        type: string
                        x-nullable: true
                      mesonAcuVersion:
                        type: string
                        x-nullable: true
                      mesonQuicklimeVersion:
                        type: string
                        x-nullable: true
                      neutronFirmwareVersion:
                        type: string
                        x-nullable: true
                      nucleonVersion:
                        type: string
                        x-nullable: true
                      opSerialNumber:
                        type: string
                        x-nullable: true
                      photonVersion:
                        type: string
                        x-nullable: true
                      protonVersion:
                        type: string
                        x-nullable: true
                      quarkVersion:
                        type: string
                        x-nullable: true
                      videoFirmwareVersion:
                        type: string
                        x-nullable: true
                      videoFirmwareVendor:
                        type: string
                        x-nullable: true
                      phosphorusVersion:
                        type: string
                        x-nullable: true
                      cydoniaVersion:
                        type: string
                        x-nullable: true
                      distroVersion:
                        type: string
                        x-nullable: true
                      videoEmmcWearPercent:
                        type: number
                        x-nullable: true
                      lastPublishedAt:
                        type: string
                        format: date
                        x-nullable: true
                      lastUnlockAttemptAt:
                        type: string
                        format: date
                        x-nullable: true
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
[...]
