swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/opvideo-devices API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/opvideo-devices
paths:
  /orgs/{orgId}/opvideo-devices/{opvideoDeviceId}/facade/background-image:
    post:
      summary: Set/update the background image for an opvideo device facade
      operationId: setOpVideoDeviceFacadeBackgroundImage
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:r,o-basic:r,s-o:r,o{params.orgId}-opvideoDevice:r<br/><br/>__Endpoint name__: setOpVideoDeviceFacadeBackgroundImage'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: opvideoDeviceId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            picture:
              type: object
              properties:
                base64:
                  type: string
              required:
              - base64
          required:
          - picture
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/opvideo-devices
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  contentType:
                    type: string
                    x-nullable: true
                  fileName:
                    type: string
                    x-nullable: true
                  opvideoDeviceFacadeId:
                    type: number
                  pictureUrl:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                required:
                - id
                - opvideoDeviceFacadeId
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o:r
      - o-basic:r
      - s-o:r
      - o{params.orgId}-opvideoDevice:r
  /orgs/{orgId}/opvideo-devices/{opvideoDeviceId}/facade/background-images/{bgImageId}:
    delete:
      summary: Delete a background image for an opvideo device facade
      operationId: deleteOpVideoDeviceFacadeBackgroundImage
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,o-basic:w,s-o:w,o{params.orgId}-opvideoDevice:w<br/><br/>__Endpoint name__: deleteOpVideoDeviceFacadeBackgroundImage'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: opvideoDeviceId
        in: path
        required: true
      - type: integer
        name: bgImageId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/opvideo-devices
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  deleted:
                    type: boolean
                  id:
                    type: integer
                required:
                - deleted
                - id
              meta:
                type: object
            required:
            - data
            - meta
          description: Successful
      x-op-scopes:
      - o:w
      - o-basic:w
      - s-o:w
      - o{params.orgId}-opvideoDevice:w
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
