swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/entries API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/entries
  description: Entries and Entry Hardware
paths:
  /orgs/{orgId}/entries:
    get:
      summary: List all entries
      operationId: listEntries
      description: 'Possible comma separated values for the options parameter include: withEffectiveLocationRestriction. The withEffectiveLocationRestriction option causes current effective location restriction to be included in the response. Only entries with an effective location restriction include this object.<br/><br/>__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-entryAccessAudit:w,o{params.orgId}-entryAccessAudit:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-account:w,o{params.orgId}-account:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-outboundWebhooks:r,o{params.orgId}-musterReport:w,o{params.orgId}-musterReport:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listEntries'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: name
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      - type: string
        pattern: ^((withEffectiveLocationRestriction)(,|$))*$
        name: options
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/entries
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              cursors:
                type: object
                properties:
                  nextCursor:
                    type: integer
                    x-nullable: true
                    x-alternatives:
                    - type: integer
                      x-nullable: true
                    - type: string
                      pattern: ^[a-zA-Z0-9,@._~-]+$
                      x-nullable: true
                  hasNextPage:
                    type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    opal:
                      type: string
                    name:
                      type: string
                    isPincodeEnabled:
                      type: boolean
                    pincode:
                      type: string
                      x-nullable: true
                    acu:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        isGatewayMode:
                          type: boolean
                          x-nullable: true
                      required:
                      - id
                    wirelessLock:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        manufacturer:
                          type: string
                        model:
                          type: string
                        serialNumber:
                          type: string
                          x-nullable: true
                        idExt:
                          type: string
                          x-nullable: true
                        lastConnectedAt:
                          type: string
                          format: date
                          x-nullable: true
                        linkId:
                          type: string
                          x-nullable: true
                        config:
                          x-nullable: true
                          type: object
                          properties:
                            battV:
                              type: object
                              properties:
                                main:
                                  type: string
                                li:
                                  type: string
                            fwVer:
                              type: object
                              properties:
                                lock:
                                  type: string
                                main:
                                  type: string
                                mainBl:
                                  type: string
                                credRdr:
                                  type: string
                                credRdrBl:
                                  type: string
                                ble:
                                  type: string
                                wifi:
                                  type: string
                                macAdr:
                                  type: string
                                recoveryFwVer:
                                  type: string
                            lockPrmtrs:
                              type: object
                              properties:
                                name:
                                  type: string
                                  minLength: 1
                                  maxLength: 52
                                type:
                                  type: string
                                  enum:
                                  - strm
                                  - office
                                  - apt
                                  - prvcy
                                relock:
                                  type: integer
                                  minimum: 0
                                  maximum: 30
                                lockId:
                                  type: integer
                                doorProp:
                                  type: integer
                                  minimum: 1
                                  maximum: 255
                                ada:
                                  type: integer
                                  minimum: 1
                                  maximum: 255
                                firstManIn:
                                  type: integer
                                  enum:
                                  - 0
                                  - 1
                                battFail:
                                  type: string
                                  enum:
                                  - asIs
                                  - safe
                                  - sec
                                blinkIntLed:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                rapidBlink:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                dstEnable:
                                  type: integer
                                  enum:
                                  - 0
                                  - 1
                                dstStart:
                                  type: string
                                  x-constraint:
                                    length: 4
                                  x-convert:
                                    case: lower
                                dstEnd:
                                  type: string
                                  x-constraint:
                                    length: 4
                                  x-convert:
                                    case: lower
                                rtcTime:
                                  type: string
                                  x-constraint:
                                    length: 14
                                wifiAlertEn:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                wifiAlertSel:
                                  type: array
                                  items:
                                    type: string
                                    x-constraint:
                                      length: 6
                                fwUrl:
                                  type: string
                                  maxLength: 64
                                fwDwnldTm:
                                  type: string
                                  x-constraint:
                                    length: 14
                                fwImplTm:
                                  type: string
                                  x-constraint:
                                    length: 14
                                dpsEn:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                bleCredEn:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                bleCredRng:
                                  type: string
                                  enum:
                                  - short
                                  - long
                                blePerf:
                                  type: string
                                  enum:
                                  - norm
                                  - max
                                invCrdAudEn:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                wifiDwnldRtyTmIntv:
                                  type: integer
                                  minimum: 5
                                  maximum: 1440
                                wifiDwnldRtyCnt:
                                  type: integer
                                  minimum: 1
                                  maximum: 250
                                auditIDEn:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                blkCnstr:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                mdl:
                                  type: string
                                lckMode:
                                  type: string
                                lckSn:
                                  type: string
                                mainSn:
                                  type: string
                                hwVer:
                                  type: string
                                daysInUse:
                                  type: integer
                                mfgDt:
                                  type: string
                                dbDwnldTm:
                                  type: string
                                fwImpTm:
                                  type: string
                                nxtDbVerTS:
                                  type: string
                                hwCfg:
                                  type: string
                                dbUpdateStatus:
                                  type: integer
                                wtyAct:
                                  type: string
                                  x-constraint:
                                    length: 14
                                  x-alternatives:
                                  - type: string
                                    x-constraint:
                                      length: 14
                                  - type: string
                                    enum:
                                    - unknown
                                numCycles:
                                  type: integer
                            rdrPrmtrs:
                              type: object
                              properties:
                                bprEn:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                rdrSense:
                                  type: string
                                  enum:
                                  - norm
                                  - high
                                  - max
                                proxConfHID:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                proxConfGECASI:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                proxConfGE4001:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                proxConfGE4002:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                proxConfAWID:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                uid14443:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                mi14443:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                mip14443:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                noc14443:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                uid15693:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                iClsUID40b:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                iClsFrmt:
                                  type: string
                                  enum:
                                  - disbld
                                  - 64bCSN
                                daysInUse:
                                  type: integer
                                sn:
                                  type: string
                                hwVer:
                                  type: string
                                mfgDt:
                                  type: string
                                configCrdPrsntd:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                customKeyPrsntd:
                                  type: string
                                  enum:
                                  - T
                                  - F
                            dvcProfile:
                              type: object
                              properties:
                                baseType:
                                  type: string
                                ext:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      key:
                                        type: string
                                      value:
                                        type: integer
                                        enum:
                                        - 1
                                        - 0
                        status:
                          x-nullable: true
                          type: object
                          properties:
                            lockStatus:
                              type: object
                              properties:
                                currentLockState:
                                  type: string
                            sensorStatus:
                              type: object
                              properties:
                                locked:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                auxPosition:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                alarmPosition:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                lockClutched:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                primaryBatteryStatus:
                                  type: string
                                rtcBatteryStatus:
                                  type: string
                                rtccStatus:
                                  type: string
                                doorOpen:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                ipbActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                rexActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                renActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                relActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                deadBoltExtended:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                keyOverrideActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                fdrActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                tamperOpen:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                magTamperDetected:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                rdrTamperDetected:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                ttl1Active:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                ttl2Active:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                bprActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                                ledActive:
                                  type: string
                                  enum:
                                  - T
                                  - F
                        commStatus:
                          type: string
                          x-nullable: true
                        batteryLevel:
                          type: number
                          x-nullable: true
                        updatedAt:
                          type: string
                          format: date
                        wirelessLockGatewayId:
                          type: integer
                          x-nullable: true
                        wirelessGatewayId:
                          type: integer
                          x-nullable: true
                        thirdPartyDevice:
                          type: object
                          properties:
                            id:
                              type: integer
                            assignedOrg:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                            serialNumber:
                              type: string
                            isOpSourced:
                              type: boolean
                            orderName:
                              type: string
                              x-nullable: true
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            thirdPartyDeviceType:
                              type: object
                              properties:
                                id:
                                  type: number
                                manufacturerName:
                                  type: string
                                hardwareModel:
                                  type: string
                                description:
                                  type: string
                                dbModelName:
                                  type: string
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                              required:
                              - id
                          required:
                          - id
                          x-nullable: true
                        allegionWirelessLock:
                          x-nullable: true
                          type: object
                          properties:
                            auditsLastSyncedAt:
                              type: string
                              format: date
                              x-nullable: true
                            batteryLevel:
                              type: number
                              x-nullable: true
                            commStatus:
                              type: string
                              x-nullable: true
                            config:
                              x-nullable: true
                              type: object
                              properties:
                                battV:
                                  type: object
                                  properties:
                                    main:
                                      type: string
                                    li:
                                      type: string
                                fwVer:
                                  type: object
                                  properties:
                                    lock:
                                      type: string
                                    main:
                                      type: string
                                    mainBl:
                                      type: string
                                    credRdr:
                                      type: string
                                    credRdrBl:
                                      type: string
                                    ble:
                                      type: string
                                    wifi:
                                      type: string
                                    macAdr:
                                      type: string
                                    recoveryFwVer:
                                      type: string
                                lockPrmtrs:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      minLength: 1
                                      maxLength: 52
                                    type:
                                      type: string
                                      enum:
                                      - strm
                                      - office
                                      - apt
                                      - prvcy
                                    relock:
                                      type: integer
                                      minimum: 0
                                      maximum: 30
                                    lockId:
                                      type: integer
                                    doorProp:
                                      type: integer
                                      minimum: 1
                                      maximum: 255
                                    ada:
                                      type: integer
                                      minimum: 1
                                      maximum: 255
                                    firstManIn:
                                      type: integer
                                      enum:
                                      - 0
                                      - 1
                                    battFail:
                                      type: string
                                      enum:
                                      - asIs
                                      - safe
                                      - sec
                                    blinkIntLed:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rapidBlink:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    dstEnable:
                                      type: integer
                                      enum:
                                      - 0
                                      - 1
                                    dstStart:
                                      type: string
                                      x-constraint:
                                        length: 4
                                      x-convert:
                                        case: lower
                                    dstEnd:
                                      type: string
                                      x-constraint:
                                        length: 4
                                      x-convert:
                                        case: lower
                                    rtcTime:
                                      type: string
                                      x-constraint:
                                        length: 14
                                    wifiAlertEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    wifiAlertSel:
                                      type: array
                                      items:
                                        type: string
                                        x-constraint:
                                          length: 6
                                    fwUrl:
                                      type: string
                                      maxLength: 64
                                    fwDwnldTm:
                                      type: string
                                      x-constraint:
                                        length: 14
                                    fwImplTm:
                                      type: string
                                      x-constraint:
                                        length: 14
                                    dpsEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    bleCredEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    bleCredRng:
                                      type: string
                                      enum:
                                      - short
                                      - long
                                    blePerf:
                                      type: string
                                      enum:
                                      - norm
                                      - max
                                    invCrdAudEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    wifiDwnldRtyTmIntv:
                                      type: integer
                                      minimum: 5
                                      maximum: 1440
                                    wifiDwnldRtyCnt:
                                      type: integer
                                      minimum: 1
                                      maximum: 250
                                    auditIDEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    blkCnstr:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    mdl:
                                      type: string
                                    lckMode:
                                      type: string
                                    lckSn:
                                      type: string
                                    mainSn:
                                      type: string
                                    hwVer:
                                      type: string
                                    daysInUse:
                                      type: integer
                                    mfgDt:
                                      type: string
                                    dbDwnldTm:
                                      type: string
                                    fwImpTm:
                                      type: string
                                    nxtDbVerTS:
                                      type: string
                                    hwCfg:
                                      type: string
                                    dbUpdateStatus:
                                      type: integer
                                    wtyAct:
                                      type: string
                                      x-constraint:
                                        length: 14
                                      x-alternatives:
                                      - type: string
                                        x-constraint:
                                          length: 14
                                      - type: string
                                        enum:
                                        - unknown
                                    numCycles:
                                      type: integer
                                rdrPrmtrs:
                                  type: object
                                  properties:
                                    bprEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rdrSense:
                                      type: string
                                      enum:
                                      - norm
                                      - high
                                      - max
                                    proxConfHID:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfGECASI:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfGE4001:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfGE4002:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfAWID:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    uid14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    mi14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    mip14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    noc14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    uid15693:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    iClsUID40b:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    iClsFrmt:
                                      type: string
                                      enum:
                                      - disbld
                                      - 64bCSN
                                    daysInUse:
                                      type: integer
                                    sn:
                                      type: string
                                    hwVer:
                                      type: string
                                    mfgDt:
                                      type: string
                                    configCrdPrsntd:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    customKeyPrsntd:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                dvcProfile:
                                  type: object
                                  properties:
                                    baseType:
                                      type: string
                                    ext:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                          value:
                                            type: integer
                                            enum:
                                            - 1
                                            - 0
                            doorFileLastSyncedAt:
                              type: string
                              format: date
                              x-nullable: true
                            id:
                              type: number
                            idExt:
                              type: string
                              x-nullable: true
                            linkId:
                              type: string
                              x-nullable: true
                            noTourLockId:
                              type: number
                              x-nullable: true
                            status:
                              x-nullable: true
                              type: object
                              properties:
                                lockStatus:
                                  type: object
                                  properties:
                                    currentLockState:
                                      type: string
                                sensorStatus:
                                  type: object
                                  properties:
                                    locked:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    auxPosition:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    alarmPosition:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    lockClutched:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    primaryBatteryStatus:
                                      type: string
                                    rtcBatteryStatus:
                                      type: string
                                    rtccStatus:
                                      type: string
                                    doorOpen:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ipbActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rexActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    renActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    relActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    deadBoltExtended:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    keyOverrideActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    fdrActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    tamperOpen:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    magTamperDetected:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rdrTamperDetected:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ttl1Active:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ttl2Active:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    bprActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ledActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                          required:
                          - id
                        avigilonWirelessLock:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: number
                            formFactor:
                              type: string
                              x-nullable: true
                            keypadTimeout:
                              type: integer
                              x-nullable: true
                            keypadBrightness:
                              type: integer
                              x-nullable: true
                            timeOffset:
                              type: integer
                              x-nullable: true
                            dstEnabled:
                              type: boolean
                              default: false
                            networkConfig:
                              x-nullable: true
                              type: object
                            firmwareVersions:
                              x-nullable: true
                              type: object
                            serialNumber:
                              type: string
                              x-nullable: true
                          required:
                          - id
                          - dstEnabled
                        assaAbloyWirelessLock:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: number
                            deviceGroupId:
                              type: string
                              x-nullable: true
                            wirelessLockId:
                              type: integer
                            config:
                              x-nullable: true
                              type: object
                              properties:
                                lockPrmtrs:
                                  x-nullable: true
                                  type: object
                                rdrPrmtrs:
                                  x-nullable: true
                                  type: object
                                isAjarEnabled:
                                  type: boolean
                                  x-nullable: true
                                isForcedOpenEnabled:
                                  type: boolean
                                  x-nullable: true
                          required:
                          - id
                          - wirelessLockId
                      required:
                      - id
                    entryState:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                      - id
                    zone:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        site:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      required:
                      - id
                    schedule:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                      - id
                    color:
                      type: string
                    effectiveLocationRestriction:
                      type: object
                      properties:
                        id:
                          type: integer
                        locationMeasurement:
                          type: object
                          properties:
                            longitude:
                              type: number
                            latitude:
                              type: number
                            timeZoneId:
                              type: string
                              x-nullable: true
                        allowedDistanceMeters:
                          type: number
                        scaleFactor:
                          type: number
                      required:
                      - id
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                    cameras:
                      type: array
                      items:
                        x-nullable: true
                        type: object
                        properties:
                          videoProviderId:
                            type: integer
                          videoProvider:
                            type: object
                            properties:
                              id:
                                type: integer
                              videoProviderTypeId:
                                type: integer
                            required:
                            - id
                          id:
                            type: integer
                          idExt:
                            type: string
                            x-nullable: true
                          name:
                            type: string
                            x-nullable: true
                          nameExt:
                            type: string
                            x-nullable: true
                          supportsSnapshot:
                            type: boolean
                            x-nullable: true
                          supportsDeeplink:
                            type: boolean
                            x-nullable: true
                          supportsMotionSnapshot:
                            type: boolean
                            x-nullable: true
                          supportsFaceCrop:
                            type: boolean
                            x-nullable: true
                          supportsFaceDetection:
                            type: boolean
                            x-nullable: true
                          supportsPeopleDetection:
                            type: boolean
                            x-nullable: true
                          supportsMotionRecap:
                            type: boolean
                            x-nullable: true
                          supportsLivestream:
                            type: boolean
                            x-nullable: true
                        required:
                        - id
                    org:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                      - id
                    notes:
                      type: string
                      x-nullable: true
                    isMusterPoint:
                      type: boolean
                      x-nullable: true
                    externalUuid:
                      type: string
                      x-nullable: true
                    isReaderless:
                      type: boolean
                    isIntercomEntry:
                      type: boolean
                    shadow:
                      type: object
                      properties:
                        error:
                          type: string
                        state:
                          type: object
                          properties:
                            reported:
                              type: object
                              properties:
                                entries:
                                  type: object
                                  properties:
                                    string:
                                      type: object
                                      properties:
                                        schedule:
                                          type: object
                                          properties:
                                            current_state:
                                              type: string
                                            waiting_first_unlock:
                                              type: boolean
                                        publishedTimestamp:
                                          type: number
                                        currentEntryState:
                                          type: string
                                        relay:
                                          type: object
                                          properties:
                                            string:
                                              type: object
                                              properties:
                                                relay_perm_state:
                                                  type: integer
                                                relay_temp_state:
                                                  type: integer
                                                relay_temp_time_ms:
                                                  type: integer
                                                cached:
                                                  type: boolean
                                      required:
                                      - schedule
                        version:
                          type: integer
                        timestamp:
                          type: integer
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-entryAccessAudit:w
      - o{params.orgId}-entryAccessAudit:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-account:w
      - o{params.orgId}-account:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-outboundWebhooks:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-musterReport:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create an entry
      operationId: createEntry
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: createEntry'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              x-convert:
                trim: true
            zoneId:
              type: integer
            acuId:
              type: integer
              default: null
              x-nullable: true
            wirelessLockId:
              type: integer
              default: null
              x-nullable: true
            isPincodeEnabled:
              type: boolean
            pincode:
              type: string
              x-nullable: true
            entryStateId:
              type: integer
              default: 6
            scheduleId:
              type: integer
              x-nullable: true
            color:
              type: string
            notes:
              type: string
              maxLength: 1000
              x-nullable: true
            isMusterPoint:
              type: boolean
              default: false
            isReaderless:
              type: boolean
              default: false
            isIntercomEntry:
              type: boolean
              default: false
          required:
          - name
          - zoneId
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/entries
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  opal:
                    type: string
                  name:
                    type: string
                  isPincodeEnabled:
                    type: boolean
                  pincode:
                    type: string
                    x-nullable: true
                  acu:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      isGatewayMode:
                        type: boolean
                        x-nullable: true
                    required:
                    - id
                  wirelessLock:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      manufacturer:
                        type: string
                      model:
                        type: string
                      serialNumber:
                        type: string
                        x-nullable: true
                      idExt:
                        type: string
                        x-nullable: true
                      lastConnectedAt:
                        type: string
                        format: date
                        x-nullable: true
                      linkId:
                        type: string
                        x-nullable: true
                      config:
                        x-nullable: true
                        type: object
                        properties:
                          battV:
                            type: object
                            properties:
                              main:
                                type: string
                              li:
                                type: string
                          fwVer:
                            type: object
                            properties:
                              lock:
                                type: string
                              main:
                                type: string
                              mainBl:
                                type: string
                              credRdr:
                                type: string
                              credRdrBl:
                                type: string
                              ble:
                                type: string
                              wifi:
                                type: string
                              macAdr:
                                type: string
                              recoveryFwVer:
                                type: string
                          lockPrmtrs:
                            type: object
                            properties:
                              name:
                                type: string
                                minLength: 1
                                maxLength: 52
                              type:
                                type: string
                                enum:
                                - strm
                                - office
                                - apt
                                - prvcy
                              relock:
                                type: integer
                                minimum: 0
                                maximum: 30
                              lockId:
                                type: integer
                              doorProp:
                                type: integer
                                minimum: 1
                                maximum: 255
                              ada:
                                type: integer
                                minimum: 1
                                maximum: 255
                              firstManIn:
                                type: integer
                                enum:
                                - 0
                                - 1
                              battFail:
                                type: string
                                enum:
                                - asIs
                                - safe
                                - sec
                              blinkIntLed:
                                type: string
                                enum:
                                - T
                                - F
                              rapidBlink:
                                type: string
                                enum:
                                - T
                                - F
                              dstEnable:
                                type: integer
                                enum:
                                - 0
                                - 1
                              dstStart:
                                type: string
                                x-constraint:
                                  length: 4
                                x-convert:
                                  case: lower
                              dstEnd:
                                type: string
                                x-constraint:
                                  length: 4
                                x-convert:
                                  case: lower
                              rtcTime:
                                type: string
                                x-constraint:
                                  length: 14
                              wifiAlertEn:
                                type: string
                                enum:
                                - T
                                - F
                              wifiAlertSel:
                                type: array
                                items:
                                  type: string
                                  x-constraint:
                                    length: 6
                              fwUrl:
                                type: string
                                maxLength: 64
                              fwDwnldTm:
                                type: string
                                x-constraint:
                                  length: 14
                              fwImplTm:
                                type: string
                                x-constraint:
                                  length: 14
                              dpsEn:
                                type: string
                                enum:
                                - T
                                - F
                              bleCredEn:
                                type: string
                                enum:
                                - T
                                - F
                              bleCredRng:
                                type: string
                                enum:
                                - short
                                - long
                              blePerf:
                                type: string
                                enum:
                                - norm
                                - max
                              invCrdAudEn:
                                type: string
                                enum:
                                - T
                                - F
                              wifiDwnldRtyTmIntv:
                                type: integer
                                minimum: 5
                                maximum: 1440
                              wifiDwnldRtyCnt:
                                type: integer
                                minimum: 1
                                maximum: 250
                              auditIDEn:
                                type: string
                                enum:
                                - T
                                - F
                              blkCnstr:
                                type: string
                                enum:
                                - T
                                - F
                              mdl:
                                type: string
                              lckMode:
                                type: string
                              lckSn:
                                type: string
                              mainSn:
                                type: string
                              hwVer:
                                type: string
                              daysInUse:
                                type: integer
                              mfgDt:
                                type: string
                              dbDwnldTm:
                                type: string
                              fwImpTm:
                                type: string
                              nxtDbVerTS:
                                type: string
                              hwCfg:
                                type: string
                              dbUpdateStatus:
                                type: integer
                              wtyAct:
                                type: string
                                x-constraint:
                                  length: 14
                                x-alternatives:
                                - type: string
                                  x-constraint:
                                    length: 14
                                - type: string
                                  enum:
                                  - unknown
                              numCycles:
                                type: integer
                          rdrPrmtrs:
                            type: object
                            properties:
                              bprEn:
                                type: string
                                enum:
                                - T
                                - F
                              rdrSense:
                                type: string
                                enum:
                                - norm
                                - high
                                - max
                              proxConfHID:
                                type: string
                                enum:
                                - T
                                - F
                              proxConfGECASI:
                                type: string
                                enum:
                                - T
                                - F
                              proxConfGE4001:
                                type: string
                                enum:
                                - T
                                - F
                              proxConfGE4002:
                                type: string
                                enum:
                                - T
                                - F
                              proxConfAWID:
                                type: string
                                enum:
                                - T
                                - F
                              uid14443:
                                type: string
                                enum:
                                - T
                                - F
                              mi14443:
                                type: string
                                enum:
                                - T
                                - F
                              mip14443:
                                type: string
                                enum:
                                - T
                                - F
                              noc14443:
                                type: string
                                enum:
                                - T
                                - F
                              uid15693:
                                type: string
                                enum:
                                - T
                                - F
                              iClsUID40b:
                                type: string
                                enum:
                                - T
                                - F
                              iClsFrmt:
                                type: string
                                enum:
                                - disbld
                                - 64bCSN
                              daysInUse:
                                type: integer
                              sn:
                                type: string
                              hwVer:
                                type: string
                              mfgDt:
                                type: string
                              configCrdPrsntd:
                                type: string
                                enum:
                                - T
                                - F
                              customKeyPrsntd:
                                type: string
                                enum:
                                - T
                                - F
                          dvcProfile:
                            type: object
                            properties:
                              baseType:
                                type: string
                              ext:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                    value:
                                      type: integer
                                      enum:
                                      - 1
                                      - 0
                      status:
                        x-nullable: true
                        type: object
                        properties:
                          lockStatus:
                            type: object
                            properties:
                              currentLockState:
                                type: string
                          sensorStatus:
                            type: object
                            properties:
                              locked:
                                type: string
                                enum:
                                - T
                                - F
                              auxPosition:
                                type: string
                                enum:
                                - T
                                - F
                              alarmPosition:
                                type: string
                                enum:
                                - T
                                - F
                              lockClutched:
                                type: string
                                enum:
                                - T
                                - F
                              primaryBatteryStatus:
                                type: string
                              rtcBatteryStatus:
                                type: string
                              rtccStatus:
                                type: string
                              doorOpen:
                                type: string
                                enum:
                                - T
                                - F
                              ipbActive:
                                type: string
                                enum:
                                - T
                                - F
                              rexActive:
                                type: string
                                enum:
                                - T
                                - F
                              renActive:
                                type: string
                                enum:
                                - T
                                - F
                              relActive:
                                type: string
                                enum:
                                - T
                                - F
                              deadBoltExtended:
                                type: string
                                enum:
                                - T
                                - F
                              keyOverrideActive:
                                type: string
                                enum:
                                - T
                                - F
                              fdrActive:
                                type: string
                                enum:
                                - T
                                - F
                              tamperOpen:
                                type: string
                                enum:
                                - T
                                - F
                              magTamperDetected:
                                type: string
                                enum:
                                - T
                                - F
                              rdrTamperDetected:
                                type: string
                                enum:
                                - T
                                - F
                              ttl1Active:
                                type: string
                                enum:
                                - T
                                - F
                              ttl2Active:
                                type: string
                                enum:
                                - T
                                - F
                              bprActive:
                                type: string
                                enum:
                                - T
                                - F
                              ledActive:
                                type: string
                                enum:
                                - T
                                - F
                      commStatus:
                        type: string
                        x-nullable: true
                      batteryLevel:
                        type: number
                        x-nullable: true
                      updatedAt:
                        type: string
                        format: date
                      wirelessLockGatewayId:
                        type: integer
                        x-nullable: true
                      wirelessGatewayId:
                        type: integer
                        x-nullable: true
                      thirdPartyDevice:
                        type: object
                        properties:
                          id:
                            type: integer
                          assignedOrg:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          serialNumber:
                            type: string
                          isOpSourced:
                            type: boolean
                          orderName:
                            type: string
                            x-nullable: true
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          thirdPartyDeviceType:
                            type: object
                            properties:
                              id:
                                type: number
                              manufacturerName:
                                type: string
                              hardwareModel:
                                type: string
                              description:
                                type: string
                              dbModelName:
                                type: string
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        required:
                        - id
                        x-nullable: true
                      allegionWirelessLock:
                        x-nullable: true
                        type: object
                        properties:
                          auditsLastSyncedAt:
                            type: string
                            format: date
                            x-nullable: true
                          batteryLevel:
                            type: number
                            x-nullable: true
                          commStatus:
                            type: string
                            x-nullable: true
                          config:
                            x-nullable: true
                            type: object
                            properties:
                              battV:
                                type: object
                                properties:
                                  main:
                                    type: string
                                  li:
                                    type: string
                              fwVer:
                                type: object
                                properties:
                                  lock:
                                    type: string
                                  main:
                                    type: string
                                  mainBl:
                                    type: string
                                  credRdr:
                                    type: string
                                  credRdrBl:
                                    type: string
                                  ble:
                                    type: string
                                  wifi:
                                    type: string
                                  macAdr:
                                    type: string
                                  recoveryFwVer:
                                    type: string
                              lockPrmtrs:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    maxLength: 52
                                  type:
                                    type: string
                                    enum:
                                    - strm
                                    - office
                                    - apt
                                    - prvcy
                                  relock:
                                    type: integer
                                    minimum: 0
                                    maximum: 30
                                  lockId:
                                    type: integer
                                  doorProp:
                                    type: integer
                                    minimum: 1
                                    maximum: 255
                                  ada:
                                    type: integer
                                    minimum: 1
                                    maximum: 255
                                  firstManIn:
                                    type: integer
                                    enum:
                                    - 0
                                    - 1
                                  battFail:
                                    type: string
                                    enum:
                                    - asIs
                                    - safe
                                    - sec
                                  blinkIntLed:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  rapidBlink:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  dstEnable:
                                    type: integer
                                    enum:
                                    - 0
                                    - 1
                                  dstStart:
                                    type: string
                                    x-constraint:
                                      length: 4
                                    x-convert:
                                      case: lower
                                  dstEnd:
                                    type: string
                                    x-constraint:
                                      length: 4
                                    x-convert:
                                      case: lower
                                  rtcTime:
                                    type: string
                                    x-constraint:
                                      length: 14
                                  wifiAlertEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  wifiAlertSel:
                                    type: array
                                    items:
                                      type: string
                                      x-constraint:
                                        length: 6
                                  fwUrl:
                                    type: string
                                    maxLength: 64
                                  fwDwnldTm:
                                    type: string
                                    x-constraint:
                                      length: 14
                                  fwImplTm:
                                    type: string
                                    x-constraint:
                                      length: 14
                                  dpsEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  bleCredEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  bleCredRng:
                                    type: string
                                    enum:
                                    - short
                                    - long
                                  blePerf:
                                    type: string
                                    enum:
                                    - norm
                                    - max
                                  invCrdAudEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  wifiDwnldRtyTmIntv:
                                    type: integer
                                    minimum: 5
                                    maximum: 1440
                                  wifiDwnldRtyCnt:
                                    type: integer
                                    minimum: 1
                                    maximum: 250
                                  auditIDEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  blkCnstr:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  mdl:
                                    type: string
                                  lckMode:
                                    type: string
                                  lckSn:
                                    type: string
                                  mainSn:
                                    type: string
                                  hwVer:
                                    type: string
                                  daysInUse:
                                    type: integer
                                  mfgDt:
                                    type: string
                                  dbDwnldTm:
                                    type: string
                                  fwImpTm:
                                    type: string
                                  nxtDbVerTS:
                                    type: string
                                  hwCfg:
                                    type: string
                                  dbUpdateStatus:
                                    type: integer
                                  wtyAct:
                                    type: string
                                    x-constraint:
                                      length: 14
                                    x-alternatives:
                                    - type: string
                                      x-constraint:
                                        length: 14
                                    - type: string
                                      enum:
                                      - unknown
                                  numCycles:
                                    type: integer
                              rdrPrmtrs:
                                type: object
                                properties:
                                  bprEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  rdrSense:
                                    type: string
                                    enum:
                                    - norm
                                    - high
                                    - max
                                  proxConfHID:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfGECASI:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfGE4001:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfGE4002:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfAWID:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  uid14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  mi14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  mip14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  noc14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  uid15693:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  iClsUID40b:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  iClsFrmt:
                                    type: string
                                    enum:
                                    - disbld
                                    - 64bCSN
                                  daysInUse:
                                    type: integer
                                  sn:
                                    type: string
                                  hwVer:
                                    type: string
                                  mfgDt:
                                    type: string
                                  configCrdPrsntd:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  customKeyPrsntd:
                                    type: string
                                    enum:
                                    - T
                                    - F
                              dvcProfile:
                                type: object
                                properties:
                                  baseType:
                                    type: string
                                  ext:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                        value:
                                          type: integer
                                          enum:
                                          - 1
                                          - 0
                          doorFileLastSyncedAt:
                            type: string
                            format: date
                            x-nullable: true
                          id:
                            type: number
                          idExt:
                            type: string
                            x-nullable: true
                          linkId:
                            type: string
                            x-nullable: true
                          noTourLockId:
                            type: number
                            x-nullable: true
                          status:
                            x-nullable: true
                            type: object
                            properties:
                              lockStatus:
                                type: object
                                properties:
                                  currentLockState:
                                    type: string
                              sensorStatus:
                                type: object
                                properties:
                                  locked:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  auxPosition:
[...]
