openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/acu Ports API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/acuPorts
paths:
  /orgs/{orgId}/acuPorts:
    get:
      summary: List all ACU ports
      operationId: listAllAcuPorts
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-outboundWebhooks:r,o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-quickStart:w,o{params.orgId}-quickStart:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listAllAcuPorts'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: acu.id, expansionBoard.number, id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc, asc, asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/acuPorts
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        acuPortTypePortNumber:
                          type: number
                        virtualPortNumber:
                          type:
                          - number
                          - 'null'
                        portNumber:
                          type:
                          - number
                          - 'null'
                        parentChainedAcuPort:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                          required:
                          - id
                        childChainedAcuPorts:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                            required:
                            - id
                        acu:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        expansionBoard:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            number:
                              type: number
                            acuModel:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                isBaseModel:
                                  type: boolean
                              required:
                              - id
                          required:
                          - id
                        acuPortType:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            ios:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  modelName:
                                    type: string
                                  isShadow:
                                    type: boolean
                                  primaryIoId:
                                    type:
                                    - integer
                                    - 'null'
                                  isEntryIo:
                                    type: boolean
                                required:
                                - id
                          required:
                          - id
                        io:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            modelName:
                              type: string
                            isShadow:
                              type: boolean
                            primaryIoId:
                              type:
                              - integer
                              - 'null'
                            isEntryIo:
                              type: boolean
                          required:
                          - id
                        modelId:
                          type:
                          - number
                          - 'null'
                        modelName:
                          type: string
                        label:
                          type: string
                        reader:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            serialNumber:
                              type:
                              - string
                              - 'null'
                            serialNumberBrief:
                              type:
                              - string
                              - 'null'
                            firmwareVersion:
                              type:
                              - string
                              - 'null'
                            softwareVersionNumber:
                              type:
                              - string
                              - 'null'
                            isExit:
                              type: boolean
                            advTxPower:
                              type: number
                              enum:
                              - 4
                              - 3
                              - 0
                              - -4
                              - -8
                              - -12
                              - -16
                              - -20
                              - -40
                            beaconTxPower:
                              type: number
                              enum:
                              - 4
                              - 3
                              - 0
                              - -4
                              - -8
                              - -12
                              - -16
                              - -20
                              - -40
                            capTouchEnabled:
                              type: boolean
                            capTouchRssi:
                              type: integer
                              minimum: -95
                              maximum: -20
                            capTouchThreshold:
                              type:
                              - integer
                              - 'null'
                            nfcEnabled:
                              type: boolean
                            autoUnlockEnabled:
                              type: boolean
                            autoUnlockRssi:
                              type: integer
                              minimum: -95
                              maximum: -30
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                acuPortTypePortNumber:
                                  type: number
                                virtualPortNumber:
                                  type:
                                  - number
                                  - 'null'
                                portNumber:
                                  type:
                                  - number
                                  - 'null'
                                label:
                                  type: string
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    number:
                                      type: integer
                                    acuModelId:
                                      type: integer
                                  required:
                                  - id
                                eol:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    eolSupervision:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                              required:
                              - id
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            org:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            ownedByOrg:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            effectiveLocationRestriction:
                              type: object
                              properties:
                                id:
                                  type: integer
                                locationMeasurement:
                                  type: object
                                  properties:
                                    longitude:
                                      type: number
                                    latitude:
                                      type: number
                                    timeZoneId:
                                      type:
                                      - string
                                      - 'null'
                                allowedDistanceMeters:
                                  type: number
                                scaleFactor:
                                  type: number
                              required:
                              - id
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            notes:
                              type:
                              - string
                              - 'null'
                            isAudibleFeedbackEnabled:
                              type: boolean
                            isLedFeedbackEnabled:
                              type: boolean
                            pinTimeoutSeconds:
                              type: integer
                            isAppleWalletTraEnabled:
                              type: boolean
                          required:
                          - id
                        relay:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            openDurationSeconds:
                              type:
                              - number
                              - 'null'
                            invertOutput:
                              type: boolean
                            relayHardwareType:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                acuPortTypePortNumber:
                                  type: number
                                virtualPortNumber:
                                  type:
                                  - number
                                  - 'null'
                                portNumber:
                                  type:
                                  - number
                                  - 'null'
                                label:
                                  type: string
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    number:
                                      type: integer
                                  required:
                                  - id
                                eol:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    eolSupervision:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                              required:
                              - id
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        contactSensor:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            isAjarEnabled:
                              type: boolean
                            ajarDurationSeconds:
                              type:
                              - number
                              - 'null'
                            isForcedOpenEnabled:
                              type: boolean
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                acuPortTypePortNumber:
                                  type: number
                                virtualPortNumber:
                                  type:
                                  - number
                                  - 'null'
                                portNumber:
                                  type:
                                  - number
                                  - 'null'
                                label:
                                  type: string
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    number:
                                      type: integer
                                  required:
                                  - id
                                eol:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    eolSupervision:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                              required:
                              - id
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        rex:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            mode:
                              type: string
                              enum:
                              - 'NO'
                              - NC
                            isTriggerRelayEnabled:
                              type: boolean
                            bypassDurationSeconds:
                              type:
                              - integer
                              - 'null'
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                acuPortTypePortNumber:
                                  type: number
                                virtualPortNumber:
                                  type:
                                  - number
                                  - 'null'
                                portNumber:
                                  type:
                                  - number
                                  - 'null'
                                label:
                                  type: string
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    number:
                                      type: integer
                                  required:
                                  - id
                                eol:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    eolSupervision:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                              required:
                              - id
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        wiegand:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            isExit:
                              type: boolean
                            mode:
                              type: string
                              enum:
                              - input
                              - output
                            isPassThroughEnabled:
                              type: boolean
                            defaultCardNumber:
                              type:
                              - string
                              - 'null'
                            defaultCardNumBits:
                              type:
                              - integer
                              - 'null'
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                acuPortTypePortNumber:
                                  type: number
                                virtualPortNumber:
                                  type:
                                  - number
                                  - 'null'
                                portNumber:
                                  type:
                                  - number
                                  - 'null'
                                label:
                                  type: string
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    number:
                                      type: integer
                                  required:
                                  - id
                                eol:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    eolSupervision:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                              required:
                              - id
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        readerShadow:
                          type: object
                          properties:
                            id:
                              type: number
                            readerId:
                              type: number
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                acuPortTypePortNumber:
                                  type: number
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    number:
                                      type: integer
                                  required:
                                  - id
                              required:
                              - id
                          required:
                          - id
                        wiegandShadow:
                          type: object
                          properties:
                            id:
                              type: number
                            wiegandId:
                              type: number
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                acuPortTypePortNumber:
                                  type: number
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    number:
                                      type: integer
                                  required:
                                  - id
                              required:
                              - id
                          required:
                          - id
                        thirdPartyReader:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            osdpAddress:
                              type: number
                            osdpBaudRate:
                              type: number
                              enum:
                              - 9600
                              - 19200
                              - 38400
                              - 57600
                              - 115200
                              - 230400
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                acuPortTypePortNumber:
                                  type: number
                                virtualPortNumber:
                                  type:
                                  - number
                                  - 'null'
                                portNumber:
                                  type:
                                  - number
                                  - 'null'
                                parentChainedAcuPort:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: integer
                                  required:
                                  - id
                                childChainedAcuPorts:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                    required:
                                    - id
                                label:
                                  type: string
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    number:
                                      type: integer
                                  required:
                                  - id
                                eol:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    eolSupervision:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        name:
                                          type: string
                                      required:
                                      - id
                              required:
                              - id
                              - parentChainedAcuPort
                              - childChainedAcuPorts
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        thirdPartyReaderShadow:
                          type: object
                          properties:
                            id:
                              type: integer
                            thirdPartyReaderId:
                              type: integer
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                acuPortTypePortNumber:
                                  type: number
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    number:
                                      type: integer
                                  required:
                                  - id
                              required:
                              - id
                          required:
                          - id
                          - thirdPartyReaderId
                        thirdPartyWiegand:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                acuPortTypePortNumber:
                                  type: number
                                virtualPortNumber:
                                  type:
                                  - number
                                  - 'null'
                                portNumber:
                                  type:
                                  - number
                                  - 'null'
                                label:
                                  type: string
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    number:
                                      type: integer
                                  required:
                                  - id
                                eol:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    eolSupervision:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        name:
                                          type: string
                                      required:
                                      - id
                              required:
                              - id
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        thirdPartyWiegandShadow:
                          type: object
                          properties:
                            id:
                              type: integer
                            thirdPartyWiegandId:
                              type: integer
                            acuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                acuPortTypePortNumber:
                                  type: number
                                acu:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                  required:
                                  - id
                                expansionBoard:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    number:
                                      type: integer
                                  required:
                                  - id
                              required:
                              - id
                          required:
                          - id
                          - thirdPartyWiegandId
                        genericInput:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            description:
                              type:
                              - string
                              - 'null'
                          required:
                          - id
                        unusedInput:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        eol:
                          type:
                          - object
                          - 'null'
                          properties:
                            eolSupervision:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                        acuPortShadowLinks:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              modelName:
                                type: string
                              shadowAcuPortId:
                                type: number
                        acuPortChainedLinks:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              modelName:
                                type: string
                              chainedModelName:
                                type: string
                              chainedAcuPortId:
                                type: integer
                            required:
                            - modelName
                            - chainedModelName
                            - chainedAcuPortId
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-outboundWebhooks:r
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-quickStart:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
