openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/email Alerts API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/emailAlerts
paths:
  /orgs/{orgId}/emailAlerts:
    get:
      summary: Get email alerts
      operationId: listEmailAlerts
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-alertSettings:w,o{params.orgId}-alertSettings:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listEmailAlerts'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/emailAlerts
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        emailAddresses:
                          type:
                          - string
                          - 'null'
                        recipients:
                          type:
                          - array
                          - 'null'
                          items:
                            type: string
                        isEnabled:
                          type: boolean
                        includeCameraLink:
                          type:
                          - boolean
                          - 'null'
                        emailAlertType:
                          type: object
                          properties:
                            id:
                              type: integer
                            ordinal:
                              type: integer
                            name:
                              type: string
                            code:
                              type: string
                            description:
                              type: string
                            requiredFeature:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                code:
                                  type: string
                              required:
                              - id
                            canHaveSnapshots:
                              type: boolean
                          required:
                          - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-alertSettings:w
      - o{params.orgId}-alertSettings:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
