openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/badge Configs API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/badgeConfigs
paths:
  /orgs/{orgId}/badgeConfigs:
    get:
      summary: List all badge configs
      operationId: listBadgeConfigs
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-badgePrinting:r,o{params.orgId}-badgePrinting:w,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-mobileAppSettings:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listBadgeConfigs'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/badgeConfigs
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        nameConfig:
                          type:
                          - object
                          - 'null'
                          properties:
                            isEnabled:
                              type:
                              - boolean
                              - 'null'
                            color:
                              type:
                              - string
                              - 'null'
                            fontFamily:
                              type:
                              - string
                              - 'null'
                            fontSize:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            lineHeight:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            fontWeight:
                              type:
                              - number
                              - 'null'
                            fontStyle:
                              type:
                              - string
                              - 'null'
                              enum:
                              - italic
                              - oblique
                              - none
                            textAlign:
                              type:
                              - string
                              - 'null'
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            centerY:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            width:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            height:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            layout:
                              type:
                              - string
                              - 'null'
                              enum:
                              - threeLines
                              - twoLines
                              - oneLine
                            textTransform:
                              type:
                              - string
                              - 'null'
                              enum:
                              - none
                              - uppercase
                              - lowercase
                              - capitalize
                        customField1Config:
                          type:
                          - object
                          - 'null'
                          properties:
                            isEnabled:
                              type:
                              - boolean
                              - 'null'
                            color:
                              type:
                              - string
                              - 'null'
                            fontFamily:
                              type:
                              - string
                              - 'null'
                            fontSize:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            lineHeight:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            fontWeight:
                              type:
                              - number
                              - 'null'
                            textAlign:
                              type:
                              - string
                              - 'null'
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            centerY:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            width:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            height:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                        customField2Config:
                          type:
                          - object
                          - 'null'
                          properties:
                            isEnabled:
                              type:
                              - boolean
                              - 'null'
                            color:
                              type:
                              - string
                              - 'null'
                            fontFamily:
                              type:
                              - string
                              - 'null'
                            fontSize:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            lineHeight:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            fontWeight:
                              type:
                              - number
                              - 'null'
                            textAlign:
                              type:
                              - string
                              - 'null'
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            centerY:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            width:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            height:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                        backgroundConfig:
                          type:
                          - object
                          - 'null'
                          properties:
                            isEnabled:
                              type:
                              - boolean
                              - 'null'
                            backgroundColor:
                              type:
                              - string
                              - 'null'
                            centerX:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            centerY:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            width:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            height:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                        photoConfig:
                          type:
                          - object
                          - 'null'
                          properties:
                            isEnabled:
                              type:
                              - boolean
                              - 'null'
                            backgroundColor:
                              type:
                              - string
                              - 'null'
                            centerX:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            centerY:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            width:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            height:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            borderRadius:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            borderColor:
                              type:
                              - string
                              - 'null'
                        logoConfig:
                          type:
                          - object
                          - 'null'
                          properties:
                            isEnabled:
                              type:
                              - boolean
                              - 'null'
                            backgroundColor:
                              type:
                              - string
                              - 'null'
                            backgroundPosition:
                              type:
                              - string
                              - 'null'
                            label:
                              type:
                              - string
                              - 'null'
                            color:
                              type:
                              - string
                              - 'null'
                            fontFamily:
                              type:
                              - string
                              - 'null'
                            fontSize:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            lineHeight:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            fontWeight:
                              type:
                              - number
                              - 'null'
                            textAlign:
                              type:
                              - string
                              - 'null'
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            centerY:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            width:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            height:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                        externalIdConfig:
                          type:
                          - object
                          - 'null'
                          properties:
                            isEnabled:
                              type:
                              - boolean
                              - 'null'
                            color:
                              type:
                              - string
                              - 'null'
                            fontFamily:
                              type:
                              - string
                              - 'null'
                            fontSize:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            lineHeight:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            fontWeight:
                              type:
                              - number
                              - 'null'
                            textAlign:
                              type:
                              - string
                              - 'null'
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            centerY:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            width:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                            height:
                              type:
                              - number
                              - 'null'
                              minimum: 0
                              maximum: 1
                        customField1:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        customField2:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        badgeDefaultConfig:
                          type: object
                          properties:
                            id:
                              type: integer
                            nameConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type:
                                  - boolean
                                  - 'null'
                                color:
                                  type:
                                  - string
                                  - 'null'
                                fontFamily:
                                  type:
                                  - string
                                  - 'null'
                                fontSize:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                lineHeight:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                fontWeight:
                                  type:
                                  - number
                                  - 'null'
                                fontStyle:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - italic
                                  - oblique
                                  - none
                                textAlign:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                centerY:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                layout:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - threeLines
                                  - twoLines
                                  - oneLine
                                textTransform:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - none
                                  - uppercase
                                  - lowercase
                                  - capitalize
                            customField1Config:
                              type: object
                              properties:
                                isEnabled:
                                  type:
                                  - boolean
                                  - 'null'
                                color:
                                  type:
                                  - string
                                  - 'null'
                                fontFamily:
                                  type:
                                  - string
                                  - 'null'
                                fontSize:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                lineHeight:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                fontWeight:
                                  type:
                                  - number
                                  - 'null'
                                textAlign:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                centerY:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                            customField2Config:
                              type: object
                              properties:
                                isEnabled:
                                  type:
                                  - boolean
                                  - 'null'
                                color:
                                  type:
                                  - string
                                  - 'null'
                                fontFamily:
                                  type:
                                  - string
                                  - 'null'
                                fontSize:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                lineHeight:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                fontWeight:
                                  type:
                                  - number
                                  - 'null'
                                textAlign:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                centerY:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                            backgroundConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type:
                                  - boolean
                                  - 'null'
                                backgroundColor:
                                  type:
                                  - string
                                  - 'null'
                                centerX:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                centerY:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                            photoConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type:
                                  - boolean
                                  - 'null'
                                backgroundColor:
                                  type:
                                  - string
                                  - 'null'
                                centerX:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                centerY:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                borderRadius:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                borderColor:
                                  type:
                                  - string
                                  - 'null'
                            logoConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type:
                                  - boolean
                                  - 'null'
                                backgroundColor:
                                  type:
                                  - string
                                  - 'null'
                                backgroundPosition:
                                  type:
                                  - string
                                  - 'null'
                                label:
                                  type:
                                  - string
                                  - 'null'
                                color:
                                  type:
                                  - string
                                  - 'null'
                                fontFamily:
                                  type:
                                  - string
                                  - 'null'
                                fontSize:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                lineHeight:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                fontWeight:
                                  type:
                                  - number
                                  - 'null'
                                textAlign:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                centerY:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                            externalIdConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type:
                                  - boolean
                                  - 'null'
                                color:
                                  type:
                                  - string
                                  - 'null'
                                fontFamily:
                                  type:
                                  - string
                                  - 'null'
                                fontSize:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                lineHeight:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                fontWeight:
                                  type:
                                  - number
                                  - 'null'
                                textAlign:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                centerY:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                width:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                                height:
                                  type:
                                  - number
                                  - 'null'
                                  minimum: 0
                                  maximum: 1
                            backgroundPicture:
                              type:
                              - object
                              - 'null'
                              properties:
                                contentType:
                                  type: string
                                fileName:
                                  type: string
                                url:
                                  type:
                                  - string
                                  - 'null'
                            logoPicture:
                              type:
                              - object
                              - 'null'
                              properties:
                                contentType:
                                  type: string
                                fileName:
                                  type: string
                                url:
                                  type:
                                  - string
                                  - 'null'
                            badgeWidth:
                              type: number
                            badgeHeight:
                              type: number
                            badgeBorderRadius:
                              type: number
                            printWidth:
                              type:
                              - number
                              - 'null'
                            printHeight:
                              type:
                              - number
                              - 'null'
                            name:
                              type: string
                            isMobile:
                              type: boolean
                          required:
                          - id
                        backgroundPicture:
                          type:
                          - object
                          - 'null'
                          properties:
                            contentType:
                              type: string
                            fileName:
                              type: string
                            url:
                              type:
                              - string
                              - 'null'
                        logoPicture:
                          type:
                          - object
                          - 'null'
                          properties:
                            contentType:
                              type: string
                            fileName:
                              type: string
                            url:
                              type:
                              - string
                              - 'null'
                        name:
                          type:
                          - string
                          - 'null'
                        badgeBorderRadius:
                          type:
                          - integer
                          - 'null'
                        isOrgDefault:
                          type:
                          - boolean
                          - 'null'
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-badgePrinting:r
      - o{params.orgId}-badgePrinting:w
      - o{params.orgId}-mobileAppSettings:w
      - o{params.orgId}-mobileAppSettings:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a new badge config
      operationId: createBadgeConfig
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-badgePrinting:w,o{params.orgId}-mobileAppSettings:w,o:w,s-o:w


        __Endpoint name__: createBadgeConfig'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/badgeConfigs
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      nameConfig:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          color:
                            type:
                            - string
                            - 'null'
                          fontFamily:
                            type:
                            - string
                            - 'null'
                          fontSize:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          lineHeight:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          fontWeight:
                            type:
                            - number
                            - 'null'
                          fontStyle:
                            type:
                            - string
                            - 'null'
                            enum:
                            - italic
                            - oblique
                            - none
                          textAlign:
                            type:
                            - string
                            - 'null'
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          centerY:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          width:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          height:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          layout:
                            type:
                            - string
                            - 'null'
                            enum:
                            - threeLines
                            - twoLines
                            - oneLine
                          textTransform:
                            type:
                            - string
                            - 'null'
                            enum:
                            - none
                            - uppercase
                            - lowercase
                            - capitalize
                      customField1Config:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          color:
                            type:
                            - string
                            - 'null'
                          fontFamily:
                            type:
                            - string
                            - 'null'
                          fontSize:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          lineHeight:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          fontWeight:
                            type:
                            - number
                            - 'null'
                          textAlign:
                            type:
                            - string
                            - 'null'
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          centerY:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          width:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          height:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                      customField2Config:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          color:
                            type:
                            - string
                            - 'null'
                          fontFamily:
                            type:
                            - string
                            - 'null'
                          fontSize:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          lineHeight:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          fontWeight:
                            type:
                            - number
                            - 'null'
                          textAlign:
                            type:
                            - string
                            - 'null'
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          centerY:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          width:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          height:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                      backgroundConfig:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          backgroundColor:
                            type:
                            - string
                            - 'null'
                          centerX:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          centerY:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          width:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          height:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                      photoConfig:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          backgroundColor:
                            type:
                            - string
                            - 'null'
                          centerX:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          centerY:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          width:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          height:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          borderRadius:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          borderColor:
                            type:
                            - string
                            - 'null'
                      logoConfig:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          backgroundColor:
                            type:
                            - string
                            - 'null'
                          backgroundPosition:
                            type:
                            - string
                            - 'null'
                          label:
                            type:
                            - string
                            - 'null'
                          color:
                            type:
                            - string
                            - 'null'
                          fontFamily:
                            type:
                            - string
                            - 'null'
                          fontSize:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          lineHeight:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          fontWeight:
                            type:
                            - number
                            - 'null'
                          textAlign:
                            type:
                            - string
                            - 'null'
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          centerY:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          width:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          height:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                      externalIdConfig:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          color:
                            type:
                            - string
                            - 'null'
                          fontFamily:
                            type:
                            - string
                            - 'null'
                          fontSize:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          lineHeight:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          fontWeight:
                            type:
                            - number
                            - 'null'
                          textAlign:
                            type:
                            - string
                            - 'null'
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          centerY:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          width:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                          height:
                            type:
                            - number
                            - 'null'
                            minimum: 0
                            maximum: 1
                      customField1:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      customField2:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      badgeDefaultConfig:
                        type: object
                        properties:
                          id:
                            type: integer
                          nameConfig:
                            type: object
                            properties:
                              isEnabled:
                                type:
                                - boolean
                                - 'null'
                              color:
                                type:
                                - string
                                - 'null'
                              fontFamily:
                                type:
                                - string
                                - 'null'
                              fontSize:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              lineHeight:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              fontWeight:
                                type:
                                - number
                                - 'null'
                              fontStyle:
                                type:
                                - string
                                - 'null'
                                enum:
                                - italic
                                - oblique
                                - none
                              textAlign:
                                type:
                                - string
                                - 'null'
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              centerY:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              width:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              height:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              layout:
                                type:
                                - string
                                - 'null'
                                enum:
                                - threeLines
                                - twoLines
                                - oneLine
                              textTransform:
                                type:
                                - string
                                - 'null'
                                enum:
                                - none
                                - uppercase
                                - lowercase
                                - capitalize
                          customField1Config:
                            type: object
                            properties:
                              isEnabled:
                                type:
                                - boolean
                                - 'null'
                              color:
                                type:
                                - string
                                - 'null'
                              fontFamily:
                                type:
                                - string
                                - 'null'
                              fontSize:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              lineHeight:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              fontWeight:
                                type:
                                - number
                                - 'null'
                              textAlign:
                                type:
                                - string
                                - 'null'
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              centerY:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              width:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              height:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                          customField2Config:
                            type: object
                            properties:
                              isEnabled:
                                type:
                                - boolean
                                - 'null'
                              color:
                                type:
                                - string
                                - 'null'
                              fontFamily:
                                type:
                                - string
                                - 'null'
                              fontSize:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              lineHeight:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              fontWeight:
                                type:
                                - number
                                - 'null'
                              textAlign:
                                type:
                                - string
                                - 'null'
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              centerY:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              width:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              height:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                          backgroundConfig:
                            type: object
                            properties:
                              isEnabled:
                                type:
                                - boolean
                                - 'null'
                              backgroundColor:
                                type:
                                - string
                                - 'null'
                              centerX:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              centerY:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              width:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              height:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                          photoConfig:
                            type: object
                            properties:
                              isEnabled:
                                type:
                                - boolean
                                - 'null'
                              backgroundColor:
                                type:
                                - string
                                - 'null'
                              centerX:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              centerY:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              width:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              height:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              borderRadius:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              borderColor:
                                type:
                                - string
                                - 'null'
                          logoConfig:
                            type: object
                            properties:
                              isEnabled:
                                type:
                                - boolean
                                - 'null'
                              backgroundColor:
                                type:
                                - string
                                - 'null'
                              backgroundPosition:
                                type:
                                - string
                                - 'null'
                              label:
                                type:
                                - string
                                - 'null'
                              color:
                                type:
                                - string
                                - 'null'
                              fontFamily:
                                type:
                                - string
                                - 'null'
                              fontSize:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              lineHeight:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              fontWeight:
                                type:
                                - number
                                - 'null'
                              textAlign:
                                type:
                                - string
                                - 'null'
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              centerY:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              width:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              height:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                          externalIdConfig:
                            type: object
                            properties:
                              isEnabled:
                                type:
                                - boolean
                                - 'null'
                              color:
                                type:
                                - string
                                - 'null'
                              fontFamily:
                                type:
                                - string
                                - 'null'
                              fontSize:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              lineHeight:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              fontWeight:
                                type:
                                - number
                                - 'null'
                              textAlign:
                                type:
                                - string
                                - 'null'
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              centerY:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              width:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                              height:
                                type:
                                - number
                                - 'null'
                                minimum: 0
                                maximum: 1
                          backgroundPicture:
                            type:
                            - object
                            - 'null'
                            properties:
                              contentType:
                                type: string
                              fileName:
                                type: string
                              url:
                                type:
                                - string
                                - 'null'
                          logoPicture:
                            type:
                            - object
                            - 'null'
                            properties:
                              contentType:
                                type: string
                              fileName:
                                type: string
                              url:
                                type:
                                - string
                                - 'null'
                          badgeWidth:
                            type: number
                          badgeHeight:
                            type: number
                          badgeBorderRadius:
                            type: number
                          printWidth:
                            type:
                            - number
                            - 'null'
                          printHeight:
                            type:
                            - number
                            - 'null'
                          name:
                            type: string
                          isMobile:
                            type: boolean
                        required:
                        - id
                      backgroundPicture:
                        type:
                        - object
                        - 'null'
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type:
                            - string
                            - 'null'
                      logoPicture:
                        type:
                        - object
                        - 'null'
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type:
                            - string
                            - 'null'
                      name:
                        type:
                        - string
                        - 'null'
                      badgeBorderRadius:
                        type:
                        - integer
                        - 'null'
                      isOrgDefault:
                        type:
                        - boolean
                        - 'null'
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-badgePrinting:w
      - o{params.orgId}-mobileAppSettings:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nameConfig:
                  type: object
                  properties:
                    isEnabled:
                      type:
                      - boolean
                      - 'null'
                    color:
                      type:
                      - string
                      - 'null'
                    fontFamily:
                      type:
                      - string
                      - 'null'
                    fontSize:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    lineHeight:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    fontWeight:
                      type:
                      - number
                      - 'null'
                    fontStyle:
                      type:
                      - string
                      - 'null'
                      enum:
                      - italic
                      - oblique
                      - none
                    textAlign:
                      type:
                      - string
                      - 'null'
                      enum:
                      - left
                      - center
                      - right
                    centerX:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    centerY:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    width:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    height:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    layout:
                      type:
                      - string
                      - 'null'
                      enum:
                      - threeLines
                      - twoLines
                      - oneLine
                    textTransform:
                      type:
                      - string
                      - 'null'
                      enum:
                      - none
                      - uppercase
                      - lowercase
                      - capitalize
                customField1Config:
                  type: object
                  properties:
                    isEnabled:
                      type:
                      - boolean
                      - 'null'
                    color:
                      type:
                      - string
                      - 'null'
                    fontFamily:
                      type:
                      - string
                      - 'null'
                    fontSize:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    lineHeight:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    fontWeight:
                      type:
                      - number
                      - 'null'
                    textAlign:
                      type:
                      - string
                      - 'null'
                      enum:
                      - left
                      - center
                      - right
                    centerX:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    centerY:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    width:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    height:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                customField2Config:
                  type: object
                  properties:
                    isEnabled:
                      type:
                      - boolean
                      - 'null'
                    color:
                      type:
                      - string
                      - 'null'
                    fontFamily:
                      type:
                      - string
                      - 'null'
                    fontSize:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    lineHeight:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    fontWeight:
                      type:
                      - number
                      - 'null'
                    textAlign:
                      type:
                      - string
                      - 'null'
                      enum:
                      - left
                      - center
                      - right
                    centerX:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    centerY:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    width:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    height:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                backgroundConfig:
                  type: object
                  properties:
                    isEnabled:
                      type:
                      - boolean
                      - 'null'
                    backgroundColor:
                      type:
                      - string
                      - 'null'
                    centerX:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    centerY:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    width:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    height:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                photoConfig:
                  type: object
                  properties:
                    isEnabled:
                      type:
                      - boolean
                      - 'null'
                    backgroundColor:
                      type:
                      - string
                      - 'null'
                    centerX:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    centerY:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    width:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    height:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    borderRadius:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    borderColor:
                      type:
                      - string
                      - 'null'
                logoConfig:
                  type: object
                  properties:
                    isEnabled:
                      type:
                      - boolean
                      - 'null'
                    backgroundColor:
                      type:
                      - string
                      - 'null'
                    backgroundPosition:
                      type:
                      - string
                      - 'null'
                    label:
                      type:
                      - string
                      - 'null'
                    color:
                      type:
                      - string
                      - 'null'
                    fontFamily:
                      type:
                      - string
                      - 'null'
                    fontSize:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    lineHeight:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    fontWeight:
                      type:
                      - number
                      - 'null'
                    textAlign:
                      type:
                      - string
                      - 'null'
                      enum:
                      - left
                      - center
                      - right
                    centerX:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    centerY:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    width:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    height:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                externalIdConfig:
                  type: object
                  properties:
                    isEnabled:
                      type:
                      - boolean
                      - 'null'
                    color:
                      type:
                      - string
                      - 'null'
                    fontFamily:
                      type:
                      - string
                      - 'null'
                    fontSize:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    lineHeight:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    fontWeight:
                      type:
                      - number
                      - 'null'
                    textAlign:
                      type:
                      - string
                      - 'null'
                      enum:
                      - left
                      - center
                      - right
                    centerX:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    centerY:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    width:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                    height:
                      type:
                      - number
                      - 'null'
                      minimum: 0
                      maximum: 1
                customField1Id:
                  type:
                  - integer
                  - 'null'
                customField2Id:
                  type:
                  - integer
                  - 'null'
                backgroundPicture:
                  type:
                  - object
                  - 'null'
                  properties:
                    base64:
                      type: string
                logoPicture:
                  type:
                  - object
                  - 'null'
                  properties:
                    base64:
                      type: string
                name:
                  type: string
                badgeDefaultConfigId:
                  type: integer
                badgeBorderRadius:
                  type: integer
                isOrgDefault:
                  type: boolean
              required:
              - name
              - badgeDefaultConfigId
  /orgs/{orgId}/badgeConfigs/{badgeConfigId}:
    get:
      summary: Describe a badge config
      operationId: describeBadgeConfig
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-mobileAppSettings:r,o{params.orgId}-badgePrinting:r,o{params.orgId}-badgePrinting:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeBadgeConfig'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: badgeConfigId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/badgeConfigs
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      nameConfig:
                        type:
                        - object
                        - 'null'
                        properties:
                          isEnabled:
                            type:
                            - boolean
                            - 'null'
                          color:
                            type:
                            - string
[...]
