swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/groups API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/groups
  description: User Groups
paths:
  /orgs/{orgId}/groups:
    get:
      summary: List all access groups
      operationId: listGroups
      description: 'listGroups takes the following options:<br/><br/>withSites - to include the group''s sites<br/><br/>ignoreSiteSpecificAccess - bypasses site specific access checks<br/><br/>__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-ldp:w,o{params.orgId}-ldp:r,o{params.orgId}-integrations:w,o{params.orgId}-integrations:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-credential:w,o{params.orgId}-credential:r,o{params.orgId}-musterReport:r,o{params.orgId}-musterReport:w,o{params.orgId}-occupancyReport:r,o{params.orgId}-occupancyReport:w,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listGroups'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: name
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      - type: string
        default: ''
        name: options
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/groups
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    description:
                      type: string
                      x-nullable: true
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                    userCount:
                      type: integer
                    badgeConfig:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        nameConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            fontStyle:
                              x-nullable: true
                              type: string
                              enum:
                              - italic
                              - oblique
                              - none
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            layout:
                              x-nullable: true
                              type: string
                              enum:
                              - threeLines
                              - twoLines
                              - oneLine
                            textTransform:
                              x-nullable: true
                              type: string
                              enum:
                              - none
                              - uppercase
                              - lowercase
                              - capitalize
                          x-nullable: true
                        customField1Config:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                          x-nullable: true
                        customField2Config:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                          x-nullable: true
                        backgroundConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            backgroundColor:
                              type: string
                              x-nullable: true
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                          x-nullable: true
                        photoConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            backgroundColor:
                              type: string
                              x-nullable: true
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            borderRadius:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            borderColor:
                              type: string
                              x-nullable: true
                          x-nullable: true
                        logoConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            backgroundColor:
                              type: string
                              x-nullable: true
                            backgroundPosition:
                              type: string
                              x-nullable: true
                            label:
                              type: string
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                          x-nullable: true
                        externalIdConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                          x-nullable: true
                        customField1:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        customField2:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        badgeDefaultConfig:
                          type: object
                          properties:
                            id:
                              type: integer
                            nameConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type: boolean
                                  x-nullable: true
                                color:
                                  type: string
                                  x-nullable: true
                                fontFamily:
                                  type: string
                                  x-nullable: true
                                fontSize:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                lineHeight:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                fontWeight:
                                  type: number
                                  x-nullable: true
                                fontStyle:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - italic
                                  - oblique
                                  - none
                                textAlign:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                centerY:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                layout:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - threeLines
                                  - twoLines
                                  - oneLine
                                textTransform:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - none
                                  - uppercase
                                  - lowercase
                                  - capitalize
                            customField1Config:
                              type: object
                              properties:
                                isEnabled:
                                  type: boolean
                                  x-nullable: true
                                color:
                                  type: string
                                  x-nullable: true
                                fontFamily:
                                  type: string
                                  x-nullable: true
                                fontSize:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                lineHeight:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                fontWeight:
                                  type: number
                                  x-nullable: true
                                textAlign:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                centerY:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                            customField2Config:
                              type: object
                              properties:
                                isEnabled:
                                  type: boolean
                                  x-nullable: true
                                color:
                                  type: string
                                  x-nullable: true
                                fontFamily:
                                  type: string
                                  x-nullable: true
                                fontSize:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                lineHeight:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                fontWeight:
                                  type: number
                                  x-nullable: true
                                textAlign:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                centerY:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                            backgroundConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type: boolean
                                  x-nullable: true
                                backgroundColor:
                                  type: string
                                  x-nullable: true
                                centerX:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                centerY:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                            photoConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type: boolean
                                  x-nullable: true
                                backgroundColor:
                                  type: string
                                  x-nullable: true
                                centerX:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                centerY:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                borderRadius:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                borderColor:
                                  type: string
                                  x-nullable: true
                            logoConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type: boolean
                                  x-nullable: true
                                backgroundColor:
                                  type: string
                                  x-nullable: true
                                backgroundPosition:
                                  type: string
                                  x-nullable: true
                                label:
                                  type: string
                                  x-nullable: true
                                color:
                                  type: string
                                  x-nullable: true
                                fontFamily:
                                  type: string
                                  x-nullable: true
                                fontSize:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                lineHeight:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                fontWeight:
                                  type: number
                                  x-nullable: true
                                textAlign:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                centerY:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                            externalIdConfig:
                              type: object
                              properties:
                                isEnabled:
                                  type: boolean
                                  x-nullable: true
                                color:
                                  type: string
                                  x-nullable: true
                                fontFamily:
                                  type: string
                                  x-nullable: true
                                fontSize:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                lineHeight:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                fontWeight:
                                  type: number
                                  x-nullable: true
                                textAlign:
                                  x-nullable: true
                                  type: string
                                  enum:
                                  - left
                                  - center
                                  - right
                                centerX:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                centerY:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                width:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                                height:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                  x-nullable: true
                            backgroundPicture:
                              x-nullable: true
                              type: object
                              properties:
                                contentType:
                                  type: string
                                fileName:
                                  type: string
                                url:
                                  type: string
                                  x-nullable: true
                            logoPicture:
                              x-nullable: true
                              type: object
                              properties:
                                contentType:
                                  type: string
                                fileName:
                                  type: string
                                url:
                                  type: string
                                  x-nullable: true
                            badgeWidth:
                              type: number
                            badgeHeight:
                              type: number
                            badgeBorderRadius:
                              type: number
                            printWidth:
                              type: number
                              x-nullable: true
                            printHeight:
                              type: number
                              x-nullable: true
                            name:
                              type: string
                            isMobile:
                              type: boolean
                          required:
                          - id
                        backgroundPicture:
                          x-nullable: true
                          type: object
                          properties:
                            contentType:
                              type: string
                            fileName:
                              type: string
                            url:
                              type: string
                              x-nullable: true
                        logoPicture:
                          x-nullable: true
                          type: object
                          properties:
                            contentType:
                              type: string
                            fileName:
                              type: string
                            url:
                              type: string
                              x-nullable: true
                        name:
                          type: string
                          x-nullable: true
                        badgeBorderRadius:
                          type: integer
                          x-nullable: true
                        isOrgDefault:
                          type: boolean
                          x-nullable: true
                      required:
                      - id
                    sites:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-ldp:w
      - o{params.orgId}-ldp:r
      - o{params.orgId}-integrations:w
      - o{params.orgId}-integrations:r
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-credential:w
      - o{params.orgId}-credential:r
      - o{params.orgId}-musterReport:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-occupancyReport:r
      - o{params.orgId}-occupancyReport:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create an access group
      operationId: createGroup
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w<br/><br/>__Endpoint name__: createGroup'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              x-convert:
                trim: true
            description:
              type: string
              x-nullable: true
            badgeConfigId:
              type: integer
              x-nullable: true
          required:
          - name
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/groups
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  description:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                  userCount:
                    type: integer
                  badgeConfig:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      nameConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          fontStyle:
                            x-nullable: true
                            type: string
                            enum:
                            - italic
                            - oblique
                            - none
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          layout:
                            x-nullable: true
                            type: string
                            enum:
                            - threeLines
                            - twoLines
                            - oneLine
                          textTransform:
                            x-nullable: true
                            type: string
                            enum:
                            - none
                            - uppercase
                            - lowercase
                            - capitalize
                        x-nullable: true
                      customField1Config:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      customField2Config:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      backgroundConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      photoConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          borderRadius:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          borderColor:
                            type: string
                            x-nullable: true
                        x-nullable: true
                      logoConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          backgroundPosition:
                            type: string
                            x-nullable: true
                          label:
                            type: string
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      externalIdConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      customField1:
                        x-nullable: true
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      customField2:
                        x-nullable: true
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      badgeDefaultConfig:
                        type: object
                        properties:
                          id:
                            type: integer
                          nameConfig:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              color:
                                type: string
                                x-nullable: true
                              fontFamily:
                                type: string
                                x-nullable: true
                              fontSize:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              lineHeight:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              fontWeight:
                                type: number
                                x-nullable: true
                              fontStyle:
                                x-nullable: true
                                type: string
                                enum:
                                - italic
                                - oblique
                                - none
                              textAlign:
                                x-nullable: true
                                type: string
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              layout:
                                x-nullable: true
                                type: string
                                enum:
                                - threeLines
                                - twoLines
                                - oneLine
                              textTransform:
                                x-nullable: true
                                type: string
                                enum:
                                - none
                                - uppercase
                                - lowercase
                                - capitalize
                          customField1Config:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              color:
                                type: string
                                x-nullable: true
                              fontFamily:
                                type: string
                                x-nullable: true
                              fontSize:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              lineHeight:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              fontWeight:
                                type: number
                                x-nullable: true
                              textAlign:
                                x-nullable: true
                                type: string
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                          customField2Config:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              color:
                                type: string
                                x-nullable: true
                              fontFamily:
                                type: string
                                x-nullable: true
                              fontSize:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              lineHeight:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              fontWeight:
                                type: number
                                x-nullable: true
                              textAlign:
                                x-nullable: true
                                type: string
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                          backgroundConfig:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              backgroundColor:
                                type: string
                                x-nullable: true
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                          photoConfig:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              backgroundColor:
                                type: string
                                x-nullable: true
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              borderRadius:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              borderColor:
                                type: string
                                x-nullable: true
                          logoConfig:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              backgroundColor:
                                type: string
                                x-nullable: true
                              backgroundPosition:
                                type: string
                                x-nullable: true
                              label:
                                type: string
                                x-nullable: true
                              color:
                                type: string
                                x-nullable: true
                              fontFamily:
                                type: string
                                x-nullable: true
                              fontSize:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              lineHeight:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              fontWeight:
                                type: number
                                x-nullable: true
                              textAlign:
                                x-nullable: true
                                type: string
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                          externalIdConfig:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              color:
                                type: string
                                x-nullable: true
                              fontFamily:
                                type: string
                                x-nullable: true
                              fontSize:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              lineHeight:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              fontWeight:
                                type: number
                                x-nullable: true
                              textAlign:
                                x-nullable: true
                                type: string
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                          backgroundPicture:
                            x-nullable: true
                            type: object
                            properties:
                              contentType:
                                type: string
                              fileName:
                                type: string
                              url:
                                type: string
                                x-nullable: true
                          logoPicture:
                            x-nullable: true
                            type: object
                            properties:
                              contentType:
                                type: string
                              fileName:
                                type: string
                              url:
                                type: string
                                x-nullable: true
                          badgeWidth:
                            type: number
                          badgeHeight:
                            type: number
                          badgeBorderRadius:
                            type: number
                          printWidth:
                            type: number
                            x-nullable: true
                          printHeight:
                            type: number
                            x-nullable: true
                          name:
                            type: string
                          isMobile:
                            type: boolean
                        required:
                        - id
                      backgroundPicture:
                        x-nullable: true
                        type: object
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type: string
                            x-nullable: true
                      logoPicture:
                        x-nullable: true
                        type: object
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type: string
                            x-nullable: true
                      name:
                        type: string
                        x-nullable: true
                      badgeBorderRadius:
                        type: integer
                        x-nullable: true
                      isOrgDefault:
                        type: boolean
                        x-nullable: true
                    required:
                    - id
                  sites:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                      - id
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Created
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
  /orgs/{orgId}/groups/{groupId}:
    get:
      summary: Describe an access group
      operationId: describeGroup
      description: 'describeGroup takes the following options:<br/><br/>withSites - to include the group''s sites<br/><br/>__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: describeGroup'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: groupId
        in: path
        required: true
      - type: string
        default: ''
        name: options
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/groups
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  description:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                  userCount:
                    type: integer
                  badgeConfig:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      nameConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          fontStyle:
                            x-nullable: true
                            type: string
                            enum:
                            - italic
                            - oblique
                            - none
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          layout:
                            x-nullable: true
                            type: string
                            enum:
                            - threeLines
                            - twoLines
                            - oneLine
                          textTransform:
                            x-nullable: true
                            type: string
                            enum:
                            - none
                            - uppercase
                            - lowercase
                            - capitalize
                        x-nullable: true
                      customField1Config:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      customField2Config:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      backgroundConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      photoConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          borderRadius:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          borderColor:
                            type: string
                            x-nullable: true
                        x-nullable: true
                      logoConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          backgroundPosition:
                            type: string
                            x-nullable: true
                          label:
                            type: string
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      externalIdConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                        x-nullable: true
                      customField1:
                        x-nullable: true
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      customField2:
                        x-nullable: true
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      badgeDefaultConfig:
                        type: object
                        properties:
                          id:
                            type: integer
                          nameConfig:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              color:
                                type: string
                                x-nullable: true
                              fontFamily:
                                type: string
                                x-nullable: true
                              fontSize:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              lineHeight:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              fontWeight:
                                type: number
                                x-nullable: true
                              fontStyle:
                                x-nullable: true
                                type: string
                                enum:
                                - italic
                                - oblique
                                - none
                              textAlign:
                                x-nullable: true
                                type: string
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              centerY:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              width:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              height:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              layout:
                                x-nullable: true
                                type: string
                                enum:
                                - threeLines
                                - twoLines
                                - oneLine
                              textTransform:
                                x-nullable: true
                                type: string
                                enum:
                                - none
                                - uppercase
                                - lowercase
                                - capitalize
                          customField1Config:
                            type: object
                            properties:
                              isEnabled:
                                type: boolean
                                x-nullable: true
                              color:
                                type: string
                                x-nullable: true
                              fontFamily:
                                type: string
                                x-nullable: true
                              fontSize:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              lineHeight:
                                type: number
                                minimum: 0
                                maximum: 1
                                x-nullable: true
                              fontWeight:
                                type: number
                                x-nullable: true
                              textAlign:
                                x-nullable: true
                                type: string
                                enum:
                                - left
                                - center
                                - right
                              centerX:
                                type: number
[...]
