openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/org Package Plans API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/orgPackagePlans
paths:
  /orgs/{orgId}/orgPackagePlans:
    get:
      summary: List all selected package plans
      operationId: listOrgPackagePlansSelected
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-account:r,o{params.orgId}-account:w,o{params.orgId}-admin:r,o{params.orgId}-admin:w,o{params.orgId}-advancedOxygenReports:r,o{params.orgId}-advancedOxygenReports:w,o{params.orgId}-alarmActions:w,o{params.orgId}-alarmConfigurations:r,o{params.orgId}-alarmConfigurations:w,o{params.orgId}-alertSettings:r,o{params.orgId}-alertSettings:w,o{params.orgId}-badgePrinting:r,o{params.orgId}-badgePrinting:w,o{params.orgId}-building:r,o{params.orgId}-building:w,o{params.orgId}-cert:r,o{params.orgId}-cert:w,o{params.orgId}-cert{params.authCertId}:r,o{params.orgId}-cert{params.authCertId}:w,o{params.orgId}-cleanupMsiAware:w,o{params.orgId}-cobalt:r,o{params.orgId}-cobalt:w,o{params.orgId}-configurations:r,o{params.orgId}-configurations:w,o{params.orgId}-credential:r,o{params.orgId}-credential:w,o{params.orgId}-dash:r,o{params.orgId}-dash:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashAlarm:r,o{params.orgId}-dashAlarm:w,o{params.orgId}-dashCust:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashEntry:r,o{params.orgId}-dashEntry:w,o{params.orgId}-entryAccessAudit:r,o{params.orgId}-entryAccessAudit:w,o{params.orgId}-entryState:r,o{params.orgId}-entryState:w,o{params.orgId}-erpParentCenter:w,o{params.orgId}-erpParentStore:w,o{params.orgId}-eventsMsiAware:w,o{params.orgId}-exportClips:w,o{params.orgId}-haloAdmin:w,o{params.orgId}-haloUser:w,o{params.orgId}-haloViewer:r,o{params.orgId}-hw:r,o{params.orgId}-hw:w,o{params.orgId}-idp-scim:r,o{params.orgId}-idp-scim:w,o{params.orgId}-integrations:r,o{params.orgId}-integrations:w,o{params.orgId}-ipRestriction:r,o{params.orgId}-ipRestriction:w,o{params.orgId}-ldp:r,o{params.orgId}-ldp:w,o{params.orgId}-map:r,o{params.orgId}-map:w,o{params.orgId}-mobileAppSettings:r,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-musterReport:r,o{params.orgId}-musterReport:w,o{params.orgId}-occupancyReport:r,o{params.orgId}-occupancyReport:w,o{params.orgId}-opvideoDevice:r,o{params.orgId}-opvideoDevice:w,o{params.orgId}-opvideoIntercom:r,o{params.orgId}-opvideoIntercom:w,o{params.orgId}-outboundWebhooks:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o{params.orgId}-portalAudit:r,o{params.orgId}-portalAudit:w,o{params.orgId}-policy:r,o{params.orgId}-policy:w,o{params.orgId}-policySection:r,o{params.orgId}-policySection:w,o{params.orgId}-presence:r,o{params.orgId}-presence:w,o{params.orgId}-quickStart:r,o{params.orgId}-quickStart:w,o{params.orgId}-realUserGroup:r,o{params.orgId}-realUserGroup:w,o{params.orgId}-restriction:r,o{params.orgId}-restriction:w,o{params.orgId}-role:r,o{params.orgId}-role:w,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-rptAlarm:r,o{params.orgId}-rptAlarm:w,o{params.orgId}-rptDownload:r,o{params.orgId}-rptGeneral:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-serviceCancellation:w,o{params.orgId}-site:r,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-sos:w,o{params.orgId}-timeRestriction:r,o{params.orgId}-timeRestriction:w,o{params.orgId}-user:r,o{params.orgId}-user:w,o{params.orgId}-videoAdmin:w,o{params.orgId}-videoProviderLive:w,o{params.orgId}-videoProviderPlayback:w,o:w,o:r,o-basic:w,o-basic:r,s-o:w,s-o:r,s-o-video:r,s-o-video:w,o{params.orgId}-sos:w


        __Endpoint name__: listOrgPackagePlansSelected'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/orgPackagePlans
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        packagePlan:
                          type: object
                          properties:
                            id:
                              type: number
                            package:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                startDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                endDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                canOptInSelf:
                                  type: boolean
                                canOptInRoot:
                                  type: boolean
                                canOptInParentOrg:
                                  type: boolean
                                isAutoManaged:
                                  type: boolean
                                isAutoManagedForLicenses:
                                  type: boolean
                                parentPackages:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                subPackages:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                conflictingPackages:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                packageFeatures:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      config:
                                        type:
                                        - object
                                        - 'null'
                                      feature:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          code:
                                            type: string
                                          singular:
                                            type:
                                            - string
                                            - 'null'
                                          plural:
                                            type:
                                            - string
                                            - 'null'
                                          isBinary:
                                            type: boolean
                                        required:
                                        - id
                                      isBillable:
                                        type: boolean
                                    required:
                                    - id
                              required:
                              - id
                            netsuitePlan:
                              type: object
                              properties:
                                currency:
                                  type: string
                                interval:
                                  type: string
                                interval_count:
                                  type: integer
                                PricePlanId:
                                  type: integer
                                tiers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      fromqty:
                                        type: integer
                                      value:
                                        type: number
                                      fixedAmount:
                                        type: boolean
                              required:
                              - currency
                              - interval
                              - interval_count
                            softwareLicense:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                sku:
                                  type: string
                                billableQuantity:
                                  type: integer
                                softwareLicenseOffers:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      type:
                                        type: string
                                        enum:
                                        - trial
                                        - promo
                                      subscriptionTermOverride:
                                        type:
                                        - number
                                        - 'null'
                                      defaultIntervalTerm:
                                        type: string
                                        enum:
                                        - month
                                        - day
                                        - year
                                      defaultIntervalDuration:
                                        type: number
                                      maxDaysAllowed:
                                        type: number
                                      maxQuantityAllowed:
                                        type:
                                        - number
                                        - 'null'
                                    required:
                                    - id
                                    - type
                                    - defaultIntervalTerm
                                    - defaultIntervalDuration
                                    - maxDaysAllowed
                                packagePlans:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      ordinal:
                                        type: integer
                                      intervalUnit:
                                        type:
                                        - string
                                        - 'null'
                                      intervalCount:
                                        type:
                                        - integer
                                        - 'null'
                                      currencyCode:
                                        type:
                                        - string
                                        - 'null'
                                      package:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          startDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          endDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          canOptInSelf:
                                            type: boolean
                                          canOptInRoot:
                                            type: boolean
                                          canOptInParentOrg:
                                            type: boolean
                                          isAutoManaged:
                                            type: boolean
                                          isAutoManagedForLicenses:
                                            type: boolean
                                          parentPackages:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          subPackages:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          conflictingPackages:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          packageFeatures:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                config:
                                                  type:
                                                  - object
                                                  - 'null'
                                                feature:
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                                    code:
                                                      type: string
                                                    singular:
                                                      type:
                                                      - string
                                                      - 'null'
                                                    plural:
                                                      type:
                                                      - string
                                                      - 'null'
                                                    isBinary:
                                                      type: boolean
                                                  required:
                                                  - id
                                                isBillable:
                                                  type: boolean
                                              required:
                                              - id
                                        required:
                                        - id
                                      softwareLicense:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: number
                                          sku:
                                            type: string
                                          billableQuantity:
                                            type: integer
                                        required:
                                        - id
                                    required:
                                    - id
                              required:
                              - id
                          required:
                          - id
                        orgSoftwareLicense:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            orgId:
                              type: integer
                            softwareLicense:
                              type: object
                              properties:
                                id:
                                  type: number
                                sku:
                                  type: string
                                billableQuantity:
                                  type: integer
                                packagePlans:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      package:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          startDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          endDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          canOptInSelf:
                                            type: boolean
                                          canOptInRoot:
                                            type: boolean
                                          canOptInParentOrg:
                                            type: boolean
                                          isAutoManaged:
                                            type: boolean
                                          isAutoManagedForLicenses:
                                            type: boolean
                                          parentPackages:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          subPackages:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          conflictingPackages:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          packageFeatures:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                config:
                                                  type:
                                                  - object
                                                  - 'null'
                                                feature:
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                                    code:
                                                      type: string
                                                    singular:
                                                      type:
                                                      - string
                                                      - 'null'
                                                    plural:
                                                      type:
                                                      - string
                                                      - 'null'
                                                    isBinary:
                                                      type: boolean
                                                  required:
                                                  - id
                                                isBillable:
                                                  type: boolean
                                              required:
                                              - id
                                        required:
                                        - id
                                      softwareLicense:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: number
                                          sku:
                                            type: string
                                          billableQuantity:
                                            type: integer
                                          softwareLicenseOffers:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                type:
                                                  type: string
                                                  enum:
                                                  - trial
                                                  - promo
                                                subscriptionTermOverride:
                                                  type:
                                                  - number
                                                  - 'null'
                                                defaultIntervalTerm:
                                                  type: string
                                                  enum:
                                                  - month
                                                  - day
                                                  - year
                                                defaultIntervalDuration:
                                                  type: number
                                                maxDaysAllowed:
                                                  type: number
                                                maxQuantityAllowed:
                                                  type:
                                                  - number
                                                  - 'null'
                                              required:
                                              - id
                                              - type
                                              - defaultIntervalTerm
                                              - defaultIntervalDuration
                                              - maxDaysAllowed
                                          packagePlans:
                                            type:
                                            - array
                                            - 'null'
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                ordinal:
                                                  type: integer
                                                intervalUnit:
                                                  type:
                                                  - string
                                                  - 'null'
                                                intervalCount:
                                                  type:
                                                  - integer
                                                  - 'null'
                                                currencyCode:
                                                  type:
                                                  - string
                                                  - 'null'
                                                package:
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                                    startDate:
                                                      type:
                                                      - string
                                                      - 'null'
                                                      format: date
                                                    endDate:
                                                      type:
                                                      - string
                                                      - 'null'
                                                      format: date
                                                    canOptInSelf:
                                                      type: boolean
                                                    canOptInRoot:
                                                      type: boolean
                                                    canOptInParentOrg:
                                                      type: boolean
                                                    isAutoManaged:
                                                      type: boolean
                                                    isAutoManagedForLicenses:
                                                      type: boolean
                                                    parentPackages:
                                                      type: array
                                                      items:
                                                        type: object
                                                        properties:
                                                          id:
                                                            type: number
                                                          name:
                                                            type: string
                                                        required:
                                                        - id
                                                    subPackages:
                                                      type: array
                                                      items:
                                                        type: object
                                                        properties:
                                                          id:
                                                            type: number
                                                          name:
                                                            type: string
                                                        required:
                                                        - id
                                                    conflictingPackages:
                                                      type: array
                                                      items:
                                                        type: object
                                                        properties:
                                                          id:
                                                            type: number
                                                          name:
                                                            type: string
                                                        required:
                                                        - id
                                                    packageFeatures:
                                                      type: array
                                                      items:
                                                        type: object
                                                        properties:
                                                          id:
                                                            type: number
                                                          config:
                                                            type:
                                                            - object
                                                            - 'null'
                                                          feature:
                                                            type: object
                                                            properties:
                                                              id:
                                                                type: number
                                                              name:
                                                                type: string
                                                              code:
                                                                type: string
                                                              singular:
                                                                type:
                                                                - string
                                                                - 'null'
                                                              plural:
                                                                type:
                                                                - string
                                                                - 'null'
                                                              isBinary:
                                                                type: boolean
                                                            required:
                                                            - id
                                                          isBillable:
                                                            type: boolean
                                                        required:
                                                        - id
                                                  required:
                                                  - id
                                                softwareLicense:
                                                  type:
                                                  - object
                                                  - 'null'
                                                  properties:
                                                    id:
                                                      type: number
                                                    sku:
                                                      type: string
                                                    billableQuantity:
                                                      type: integer
                                                  required:
                                                  - id
                                              required:
                                              - id
                                        required:
                                        - id
                                      isSelected:
                                        type: boolean
                                      netsuitePlan:
                                        type: object
                                        properties:
                                          currency:
                                            type: string
                                          interval:
                                            type: string
                                          interval_count:
                                            type: integer
                                          PricePlanId:
                                            type: integer
                                          tiers:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                fromqty:
                                                  type: integer
                                                value:
                                                  type: number
                                                fixedAmount:
                                                  type: boolean
                                        required:
                                        - currency
                                        - interval
                                        - interval_count
                                    required:
                                    - id
                              required:
                              - id
                            softwareLicenseOffer:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                type:
                                  type: string
                                  enum:
                                  - trial
                                  - promo
                              required:
                              - id
                            referenceNumber:
                              type:
                              - string
                              - 'null'
                            soNumber:
                              type:
                              - string
                              - 'null'
                            renewalReferenceNumber:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            netsuiteSubscriptionIdExt:
                              type:
                              - integer
                              - 'null'
                            isAutoRenewEnabled:
                              type: boolean
                            activatedAt:
                              type: string
                              format: date
                            trialConversionFailedAt:
                              type:
                              - string
                              - 'null'
                              format: date
                      required:
                      - packagePlan
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-account:r
      - o{params.orgId}-account:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-advancedOxygenReports:r
      - o{params.orgId}-advancedOxygenReports:w
      - o{params.orgId}-alarmActions:w
      - o{params.orgId}-alarmConfigurations:r
      - o{params.orgId}-alarmConfigurations:w
      - o{params.orgId}-alertSettings:r
      - o{params.orgId}-alertSettings:w
      - o{params.orgId}-badgePrinting:r
      - o{params.orgId}-badgePrinting:w
      - o{params.orgId}-building:r
      - o{params.orgId}-building:w
      - o{params.orgId}-cert:r
      - o{params.orgId}-cert:w
      - o{params.orgId}-cert{params.authCertId}:r
      - o{params.orgId}-cert{params.authCertId}:w
      - o{params.orgId}-cleanupMsiAware:w
      - o{params.orgId}-cobalt:r
      - o{params.orgId}-cobalt:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-configurations:w
      - o{params.orgId}-credential:r
      - o{params.orgId}-credential:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashAlarm:r
      - o{params.orgId}-dashAlarm:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashEntry:r
      - o{params.orgId}-dashEntry:w
      - o{params.orgId}-entryAccessAudit:r
      - o{params.orgId}-entryAccessAudit:w
      - o{params.orgId}-entryState:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-erpParentCenter:w
      - o{params.orgId}-erpParentStore:w
      - o{params.orgId}-eventsMsiAware:w
      - o{params.orgId}-exportClips:w
      - o{params.orgId}-haloAdmin:w
      - o{params.orgId}-haloUser:w
      - o{params.orgId}-haloViewer:r
      - o{params.orgId}-hw:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-idp-scim:r
      - o{params.orgId}-idp-scim:w
      - o{params.orgId}-integrations:r
      - o{params.orgId}-integrations:w
      - o{params.orgId}-ipRestriction:r
      - o{params.orgId}-ipRestriction:w
      - o{params.orgId}-ldp:r
      - o{params.orgId}-ldp:w
      - o{params.orgId}-map:r
      - o{params.orgId}-map:w
      - o{params.orgId}-mobileAppSettings:r
      - o{params.orgId}-mobileAppSettings:w
      - o{params.orgId}-musterReport:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-occupancyReport:r
      - o{params.orgId}-occupancyReport:w
      - o{params.orgId}-opvideoDevice:r
      - o{params.orgId}-opvideoDevice:w
      - o{params.orgId}-opvideoIntercom:r
      - o{params.orgId}-opvideoIntercom:w
      - o{params.orgId}-outboundWebhooks:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o{params.orgId}-portalAudit:r
      - o{params.orgId}-portalAudit:w
      - o{params.orgId}-policy:r
      - o{params.orgId}-policy:w
      - o{params.orgId}-policySection:r
      - o{params.orgId}-policySection:w
      - o{params.orgId}-presence:r
      - o{params.orgId}-presence:w
      - o{params.orgId}-quickStart:r
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-realUserGroup:r
      - o{params.orgId}-realUserGroup:w
      - o{params.orgId}-restriction:r
      - o{params.orgId}-restriction:w
      - o{params.orgId}-role:r
      - o{params.orgId}-role:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rptAlarm:r
      - o{params.orgId}-rptAlarm:w
      - o{params.orgId}-rptDownload:r
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-serviceCancellation:w
      - o{params.orgId}-site:r
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-sos:w
      - o{params.orgId}-timeRestriction:r
      - o{params.orgId}-timeRestriction:w
      - o{params.orgId}-user:r
      - o{params.orgId}-user:w
      - o{params.orgId}-videoAdmin:w
      - o{params.orgId}-videoProviderLive:w
      - o{params.orgId}-videoProviderPlayback:w
      - o:w
      - o:r
      - o-basic:w
      - o-basic:r
      - s-o:w
      - s-o:r
      - s-o-video:r
      - s-o-video:w
      - o{params.orgId}-sos:w
  /orgs/{orgId}/orgPackagePlans/upgradeRequested:
    post:
      summary: Request a package plan upgrade
      operationId: requestPackageUpgrade
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-ldp:w,o{params.orgId}-dash:w,o{params.orgId}-dashActivity:w,o{params.orgId}-user:w,o{params.orgId}-credential:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-hw:w,o{params.orgId}-entryState:w,o{params.orgId}-admin:w,o{params.orgId}-integrations:w,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-configurations:w,o{params.orgId}-account:w,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-alertSettings:w,o{params.orgId}-role:w,o{params.orgId}-quickStart:w,o{params.orgId}-rpt:w


        __Endpoint name__: requestPackageUpgrade'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/orgPackagePlans
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-ldp:w
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-user:w
      - o{params.orgId}-credential:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-hw:w
      - o{params.orgId}-entryState:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-integrations:w
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-configurations:w
      - o{params.orgId}-account:w
      - o{params.orgId}-mobileAppSettings:w
      - o{params.orgId}-alertSettings:w
      - o{params.orgId}-role:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-rpt:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                featureId:
                  type: integer
                featureCode:
                  type: string
                requestedAt:
                  type: string
                  format: date
                userId:
                  type: integer
              required:
              - requestedAt
              - userId
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
