openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/parcels API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/parcels
paths:
  /orgs/{orgId}/parcels:
    get:
      summary: List active parcels
      operationId: listParcels
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: listParcels'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: recipient.identity.email
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        idExt:
                          type: string
                          x-format:
                            guid: true
                        note:
                          type:
                          - string
                          - 'null'
                          maxLength: 500
                        recipient:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type:
                              - integer
                              - 'null'
                            opal:
                              type:
                              - string
                              - 'null'
                            identity:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 1
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                nicknames:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      nickname:
                                        type: string
                                        minLength: 1
                                        maxLength: 100
                                email:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                          - opal
                          - identity
                        statusLastUpdatedBy:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                              minimum: 1
                            fullName:
                              type:
                              - string
                              - 'null'
                              minLength: 1
                            email:
                              type: string
                          required:
                          - id
                        parcelPictures:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              parcelPictureType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  code:
                                    type: string
                                  name:
                                    type: string
                                required:
                                - id
                              contentType:
                                type: string
                              fileName:
                                type: string
                              pictureUrl:
                                type:
                                - string
                                - 'null'
                              pictureFullSizeUrl:
                                type:
                                - string
                                - 'null'
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        mailroom:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            timezone:
                              type: string
                            isSelfPickup:
                              type: boolean
                            isSignatureRequired:
                              type: boolean
                          required:
                          - id
                          - name
                          - timezone
                          - isSelfPickup
                          - isSignatureRequired
                        parcelStatus:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        trackingNumber:
                          type:
                          - string
                          - 'null'
                        carrier:
                          type:
                          - string
                          - 'null'
                        sender:
                          type:
                          - string
                          - 'null'
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        parcelPickedUpAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        scannedName:
                          type:
                          - string
                          - 'null'
                        isManualScan:
                          type:
                          - boolean
                          - 'null'
                        weight:
                          type:
                          - string
                          - 'null'
                        poNumber:
                          type:
                          - string
                          - 'null'
                        signedBy:
                          type:
                          - string
                          - 'null'
                        signedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                      required:
                      - idExt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    post:
      summary: Create a parcel
      operationId: createParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: createParcel'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      idExt:
                        type: string
                        x-format:
                          guid: true
                      note:
                        type:
                        - string
                        - 'null'
                        maxLength: 500
                      recipient:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type:
                            - integer
                            - 'null'
                          opal:
                            type:
                            - string
                            - 'null'
                          identity:
                            type: object
                            properties:
                              id:
                                type: integer
                                minimum: 1
                              fullName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              firstName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              lastName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              nicknames:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: object
                                  properties:
                                    nickname:
                                      type: string
                                      minLength: 1
                                      maxLength: 100
                              email:
                                type: string
                            required:
                            - id
                        required:
                        - id
                        - opal
                        - identity
                      statusLastUpdatedBy:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                            minimum: 1
                          fullName:
                            type:
                            - string
                            - 'null'
                            minLength: 1
                          email:
                            type: string
                        required:
                        - id
                      parcelPictures:
                        type:
                        - array
                        - 'null'
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            parcelPictureType:
                              type: object
                              properties:
                                id:
                                  type: number
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - id
                            contentType:
                              type: string
                            fileName:
                              type: string
                            pictureUrl:
                              type:
                              - string
                              - 'null'
                            pictureFullSizeUrl:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                      mailroom:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          timezone:
                            type: string
                          isSelfPickup:
                            type: boolean
                          isSignatureRequired:
                            type: boolean
                        required:
                        - id
                        - name
                        - timezone
                        - isSelfPickup
                        - isSignatureRequired
                      parcelStatus:
                        type: object
                        properties:
                          id:
                            type: number
                          code:
                            type: string
                          name:
                            type: string
                        required:
                        - id
                      trackingNumber:
                        type:
                        - string
                        - 'null'
                      carrier:
                        type:
                        - string
                        - 'null'
                      sender:
                        type:
                        - string
                        - 'null'
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      parcelPickedUpAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      scannedName:
                        type:
                        - string
                        - 'null'
                      isManualScan:
                        type:
                        - boolean
                        - 'null'
                      weight:
                        type:
                        - string
                        - 'null'
                      poNumber:
                        type:
                        - string
                        - 'null'
                      signedBy:
                        type:
                        - string
                        - 'null'
                      signedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                    required:
                    - idExt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                trackingNumber:
                  type:
                  - string
                  - 'null'
                carrier:
                  type:
                  - string
                  - 'null'
                sender:
                  type:
                  - string
                  - 'null'
                weight:
                  type:
                  - string
                  - 'null'
                poNumber:
                  type:
                  - string
                  - 'null'
                recipientId:
                  type:
                  - integer
                  - 'null'
                parcelStatusId:
                  type: integer
                mailroomId:
                  type: integer
                isManualScan:
                  type:
                  - boolean
                  - 'null'
                scannedName:
                  type:
                  - string
                  - 'null'
                matchedUserIds:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      distance:
                        type: number
                    required:
                    - id
                    - distance
              required:
              - parcelStatusId
              - mailroomId
    delete:
      summary: Delete multiple parcels
      operationId: deleteParcels
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: deleteParcels'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                x-format:
                  guid: true
    patch:
      summary: Bulk update parcels
      operationId: updateParcels
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: updateParcels'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        idExt:
                          type: string
                          x-format:
                            guid: true
                        note:
                          type:
                          - string
                          - 'null'
                          maxLength: 500
                        recipient:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type:
                              - integer
                              - 'null'
                            opal:
                              type:
                              - string
                              - 'null'
                            identity:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 1
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                nicknames:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      nickname:
                                        type: string
                                        minLength: 1
                                        maxLength: 100
                                email:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                          - opal
                          - identity
                        statusLastUpdatedBy:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                              minimum: 1
                            fullName:
                              type:
                              - string
                              - 'null'
                              minLength: 1
                            email:
                              type: string
                          required:
                          - id
                        parcelPictures:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              parcelPictureType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  code:
                                    type: string
                                  name:
                                    type: string
                                required:
                                - id
                              contentType:
                                type: string
                              fileName:
                                type: string
                              pictureUrl:
                                type:
                                - string
                                - 'null'
                              pictureFullSizeUrl:
                                type:
                                - string
                                - 'null'
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        mailroom:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            timezone:
                              type: string
                            isSelfPickup:
                              type: boolean
                            isSignatureRequired:
                              type: boolean
                          required:
                          - id
                          - name
                          - timezone
                          - isSelfPickup
                          - isSignatureRequired
                        parcelStatus:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        trackingNumber:
                          type:
                          - string
                          - 'null'
                        carrier:
                          type:
                          - string
                          - 'null'
                        sender:
                          type:
                          - string
                          - 'null'
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        parcelPickedUpAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        scannedName:
                          type:
                          - string
                          - 'null'
                        isManualScan:
                          type:
                          - boolean
                          - 'null'
                        weight:
                          type:
                          - string
                          - 'null'
                        poNumber:
                          type:
                          - string
                          - 'null'
                        signedBy:
                          type:
                          - string
                          - 'null'
                        signedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                      required:
                      - idExt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  note:
                    type:
                    - string
                    - 'null'
                    maxLength: 500
                  trackingNumber:
                    type:
                    - string
                    - 'null'
                  carrier:
                    type:
                    - string
                    - 'null'
                  sender:
                    type:
                    - string
                    - 'null'
                  weight:
                    type:
                    - string
                    - 'null'
                  poNumber:
                    type:
                    - string
                    - 'null'
                  recipientId:
                    type:
                    - integer
                    - 'null'
                  idExt:
                    type: string
                    x-format:
                      guid: true
                  parcelStatusId:
                    type: integer
                  mailroomId:
                    type: integer
                required:
                - idExt
  /orgs/{orgId}/parcels/{parcelIdExt}:
    get:
      summary: Describe a parcel
      operationId: describeParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: describeParcel'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
        schema:
          type: string
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      idExt:
                        type: string
                        x-format:
                          guid: true
                      note:
                        type:
                        - string
                        - 'null'
                        maxLength: 500
                      recipient:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type:
                            - integer
                            - 'null'
                          opal:
                            type:
                            - string
                            - 'null'
                          identity:
                            type: object
                            properties:
                              id:
                                type: integer
                                minimum: 1
                              fullName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              firstName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              lastName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              nicknames:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: object
                                  properties:
                                    nickname:
                                      type: string
                                      minLength: 1
                                      maxLength: 100
                              email:
                                type: string
                            required:
                            - id
                        required:
                        - id
                        - opal
                        - identity
                      statusLastUpdatedBy:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                            minimum: 1
                          fullName:
                            type:
                            - string
                            - 'null'
                            minLength: 1
                          email:
                            type: string
                        required:
                        - id
                      parcelPictures:
                        type:
                        - array
                        - 'null'
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            parcelPictureType:
                              type: object
                              properties:
                                id:
                                  type: number
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - id
                            contentType:
                              type: string
                            fileName:
                              type: string
                            pictureUrl:
                              type:
                              - string
                              - 'null'
                            pictureFullSizeUrl:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                      mailroom:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          timezone:
                            type: string
                          isSelfPickup:
                            type: boolean
                          isSignatureRequired:
                            type: boolean
                        required:
                        - id
                        - name
                        - timezone
                        - isSelfPickup
                        - isSignatureRequired
                      parcelStatus:
                        type: object
                        properties:
                          id:
                            type: number
                          code:
                            type: string
                          name:
                            type: string
                        required:
                        - id
                      trackingNumber:
                        type:
                        - string
                        - 'null'
                      carrier:
                        type:
                        - string
                        - 'null'
                      sender:
                        type:
                        - string
                        - 'null'
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      parcelPickedUpAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      scannedName:
                        type:
                        - string
                        - 'null'
                      isManualScan:
                        type:
                        - boolean
                        - 'null'
                      weight:
                        type:
                        - string
                        - 'null'
                      poNumber:
                        type:
                        - string
                        - 'null'
                      signedBy:
                        type:
                        - string
                        - 'null'
                      signedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                    required:
                    - idExt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    delete:
      summary: Delete a parcel
      operationId: deleteParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: deleteParcel'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
        schema:
          type: string
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
    patch:
      summary: Update a parcel
      operationId: updateParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: updateParcel'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
        schema:
          type: string
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      idExt:
                        type: string
                        x-format:
                          guid: true
                      note:
                        type:
                        - string
                        - 'null'
                        maxLength: 500
                      recipient:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type:
                            - integer
                            - 'null'
                          opal:
                            type:
                            - string
                            - 'null'
                          identity:
                            type: object
                            properties:
                              id:
                                type: integer
                                minimum: 1
                              fullName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              firstName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              lastName:
                                type:
                                - string
                                - 'null'
                                minLength: 1
                              nicknames:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: object
                                  properties:
                                    nickname:
                                      type: string
                                      minLength: 1
                                      maxLength: 100
                              email:
                                type: string
                            required:
                            - id
                        required:
                        - id
                        - opal
                        - identity
                      statusLastUpdatedBy:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                            minimum: 1
                          fullName:
                            type:
                            - string
                            - 'null'
                            minLength: 1
                          email:
                            type: string
                        required:
                        - id
                      parcelPictures:
                        type:
                        - array
                        - 'null'
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            parcelPictureType:
                              type: object
                              properties:
                                id:
                                  type: number
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - id
                            contentType:
                              type: string
                            fileName:
                              type: string
                            pictureUrl:
                              type:
                              - string
                              - 'null'
                            pictureFullSizeUrl:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                      mailroom:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          timezone:
                            type: string
                          isSelfPickup:
                            type: boolean
                          isSignatureRequired:
                            type: boolean
                        required:
                        - id
                        - name
                        - timezone
                        - isSelfPickup
                        - isSignatureRequired
                      parcelStatus:
                        type: object
                        properties:
                          id:
                            type: number
                          code:
                            type: string
                          name:
                            type: string
                        required:
                        - id
                      trackingNumber:
                        type:
                        - string
                        - 'null'
                      carrier:
                        type:
                        - string
                        - 'null'
                      sender:
                        type:
                        - string
                        - 'null'
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      parcelPickedUpAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      scannedName:
                        type:
                        - string
                        - 'null'
                      isManualScan:
                        type:
                        - boolean
                        - 'null'
                      weight:
                        type:
                        - string
                        - 'null'
                      poNumber:
                        type:
                        - string
                        - 'null'
                      signedBy:
                        type:
                        - string
                        - 'null'
                      signedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                    required:
                    - idExt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type:
                  - string
                  - 'null'
                  maxLength: 500
                trackingNumber:
                  type:
                  - string
                  - 'null'
                carrier:
                  type:
                  - string
                  - 'null'
                sender:
                  type:
                  - string
                  - 'null'
                weight:
                  type:
                  - string
                  - 'null'
                poNumber:
                  type:
                  - string
                  - 'null'
                recipientId:
                  type:
                  - integer
                  - 'null'
                parcelStatusId:
                  type: integer
                mailroomId:
                  type: integer
  /orgs/{orgId}/parcels/activity:
    get:
      summary: Lists activity for parcels
      operationId: getParcelActivity
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:r,o:w,s-o:r,s-o:w


        __Endpoint name__: getParcelActivity'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 30000
          maximum: 30000
          minimum: 1
      - name: cursor
        in: query
        schema:
          type: string
          default: ''
          pattern: ^[a-zA-Z0-9,@._~-]+$
      - name: filter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
          maxLength: 512
          pattern: ^((_truncateForTest|_oxygenPageLimit:[1-9][0-9]*|_oxygenIncrSecs:[1-9][0-9]*|searchId:[a-zA-Z0-9_-]+)(,|$))*
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        hookEvent:
                          type: object
                          properties:
                            event:
                              type: string
                            timestamp:
                              type: number
                            data:
                              type: object
                              properties:
                                idExt:
                                  type: string
                                  x-format:
                                    guid: true
                                org:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                  required:
                                  - id
                                userId:
                                  type:
                                  - integer
                                  - 'null'
                                recipient:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: integer
                                    opal:
                                      type:
                                      - string
                                      - 'null'
                                    identity:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                          minimum: 1
                                        fullName:
                                          type:
                                          - string
                                          - 'null'
                                          minLength: 1
                                        firstName:
                                          type:
                                          - string
                                          - 'null'
                                          minLength: 1
                                        lastName:
                                          type:
                                          - string
                                          - 'null'
                                          minLength: 1
                                        email:
                                          type:
                                          - string
                                          - 'null'
                                      required:
                                      - id
                                  required:
                                  - id
                                  - opal
                                  - identity
                                mailroom:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                    timezone:
                                      type: string
                                messageType:
                                  type:
                                  - string
                                  - 'null'
                                parcelStatus:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    code:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                  - id
                                note:
                                  type:
                                  - string
                                  - 'null'
                                  maxLength: 500
                                trackingNumber:
                                  type:
                                  - string
                                  - 'null'
                                carrier:
                                  type:
                                  - string
                                  - 'null'
                                sender:
                                  type:
                                  - string
                                  - 'null'
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                                weight:
                                  type:
                                  - string
                                  - 'null'
                                poNumber:
                                  type:
                                  - string
                                  - 'null'
                                signedBy:
                                  type:
                                  - string
                                  - 'null'
                                signedAt:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                scannedData:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    scannedName:
                                      type:
                                      - string
                                      - 'null'
                                    isManualScan:
                                      type:
                                      - boolean
                                      - 'null'
                                    matchedUsers:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          distance:
                                            type: number
                                          opal:
                                            type:
                                            - string
                                            - 'null'
                                          identity:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                                minimum: 1
                                              fullName:
                                                type:
                                                - string
                                                - 'null'
                                                minLength: 1
                                              email:
                                                type: string
                                            required:
                                            - id
                                        required:
                                        - id
                                        - distance
                                        - opal
                                        - identity
                                previousFields:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    recipient:
                                      type:
                                      - object
                                      - 'null'
                                      properties:
                                        id:
                                          type: integer
                                        opal:
                                          type:
                                          - string
                                          - 'null'
                                        identity:
                                          type: object
                                          properties:
                                            id:
                                              type: integer
                                              minimum: 1
                                            fullName:
                                              type:
                                              - string
                                              - 'null'
                                              minLength: 1
                                            firstName:
                                              type:
                                              - string
                                              - 'null'
                                              minLength: 1
                                            lastName:
                                              type:
                                              - string
                                              - 'null'
                                              minLength: 1
                                            nicknames:
                                              type:
                                              - array
                                              - 'null'
                                              items:
                                                type: string
                                            email:
                                              type: string
                                          required:
                                          - id
                                      required:
                                      - id
                                      - opal
                                      - identity
                                    mailroom:
                                      type:
                                      - object
                                      - 'null'
                                      properties:
                                        id:
                                          type: integer
                                        name:
                                          type: string
                                    parcelStatus:
                                      type:
                                      - object
                                      - 'null'
                                      properties:
                                        id:
                                          type: number
                                        code:
                                          type: string
                                        name:
                                          type: string
                                      required:
                                      - id
                                    note:
                                      type:
                                      - string
                                      - 'null'
                                      maxLength: 500
                                    trackingNumber:
                                      type:
                                      - string
                                      - 'null'
                                    carrier:
                                      type:
                                      - string
                                      - 'null'
                                    sender:
                                      type:
                                      - string
                                      - 'null'
                                    weight:
                                      type:
                                      - string
                                      - 'null'
                                    poNumber:
                                      type:
                                      - string
                                      - 'null'
                              required:
                              - idExt
                              - org
                          required:
                          - event
                          - timestamp
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:r
      - o:w
      - s-o:r
      - s-o:w
  /orgs/{orgId}/parcels/users/{userId}:
    get:
      summary: Self-pickup - List parcels
      operationId: listRecipientParcels
      description: '__Endpoint name__: listRecipientParcels'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/parcels
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        idExt:
                          type: string
                          x-format:
                            guid: true
                        note:
                          type:
                          - string
                          - 'null'
                          maxLength: 500
                        recipient:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type:
                              - integer
                              - 'null'
                            opal:
                              type:
                              - string
                              - 'null'
                            identity:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 1
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                  minLength: 1
                                nicknames:
                                  type:
                                  - array
                                  - 'null'
                                  items:
                                    type: object
                                    properties:
                                      nickname:
                                        type: string
                                        minLength: 1
                                        maxLength: 100
                                email:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                          - opal
                          - identity
                        statusLastUpdatedBy:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                              minimum: 1
                            fullName:
                              type:
                              - string
                              - 'null'
                              minLength: 1
                            email:
                              type: string
                          required:
                          - id
                        parcelPictures:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              parcelPictureType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  code:
                                    type: string
                                  name:
                                    type: string
                                required:
                                - id
                              contentType:
                                type: string
                              fileName:
                                type: string
                              pictureUrl:
                                type:
                                - string
                                - 'null'
                              pictureFullSizeUrl:
                                type:
                                - string
                                - 'null'
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        mailroom:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            timezone:
                              type: string
                            isSelfPickup:
                              type: boolean
                            isSignatureRequired:
                              type: boolean
                          required:
                          - id
                          - name
                          - timezone
                          - isSelfPickup
                          - isSignatureRequired
                        parcelStatus:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        trackingNumber:
                          type:
                          - string
                          - 'null'
                        carrier:
                          type:
                          - string
                          - 'null'
                        sender:
                          type:
                          - string
                          - 'null'
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        parcelPickedUpAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        scannedName:
                          type:
                          - string
                          - 'null'
                        isManualScan:
                          type:
                          - boolean
                          - 'null'
                        weight:
                          type:
                          - string
                          - 'null'
                        poNumber:
                          type:
                          - string
                          - 'null'
                        signedBy:
                          type:
                          - string
                          - 'null'
                        signedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                      required:
                      - idExt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
  /orgs/{orgId}/parcels/{parcelIdExt}/parcelHistory:
    get:
      summary: Lists parcel history
      operationId: listParcelHistory
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: listParcelHistory'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: timestamp
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: desc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        event:
                          type: string
                        timestamp:
                          type: number
                        data:
                          type: object
                          properties:
                            idExt:
                              type: string
                              x-format:
                                guid: true
                            org:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                            userId:
                              type:
                              - integer
                              - 'null'
                            recipient:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                opal:
                                  type:
                                  - string
                                  - 'null'
                                identity:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    fullName:
                                      type:
                                      - string
                                      - 'null'
                                      minLength: 1
                                    firstName:
                                      type:
                                      - string
                                      - 'null'
                                      minLength: 1
                                    lastName:
                                      type:
                                      - string
                                      - 'null'
                                      minLength: 1
                                    email:
                                      type:
                                      - string
                                      - 'null'
                                  required:
                                  - id
                              required:
                              - id
                              - opal
                              - identity
                            mailroom:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                timezone:
                                  type: string
                            messageType:
                              type:
                              - string
                              - 'null'
                            parcelStatus:
                              type: object
                              properties:
                                id:
                                  type: number
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - id
                            note:
                              type:
                              - string
                              - 'null'
                              maxLength: 500
                            trackingNumber:
                              type:
                              - string
                              - 'null'
                            carrier:
                              type:
                              - string
                              - 'null'
                            sender:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            weight:
                              type:
                              - string
                              - 'null'
                            poNumber:
                              type:
                              - string
                              - 'null'
                            signedBy:
                              type:
                              - string
                              - 'null'
                            signedAt:
                              type:
                              - string
                              - 'null'
                              format: date
                            scannedData:
                              type:
                              - object
                              - 'null'
                              properties:
                                scannedName:
                                  type:
                                  - string
                                  - 'null'
                                isManualScan:
                                  type:
                                  - boolean
                                  - 'null'
                                matchedUsers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      distance:
                                        type: number
                                      opal:
                                        type:
                                        - string
                                        - 'null'
                                      identity:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                            minimum: 1
                                          fullName:
                                            type:
                                            - string
                                            - 'null'
                                            minLength: 1
                                          email:
                                            type: string
                                        required:
                                        - id
                                    required:
                                    - id
                                    - distance
                                    - opal
                                    - identity
                            previousFields:
                              type:
                              - object
                              - 'null'
                              properties:
                                recipient:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: integer
                                    opal:
                                      type:
                                      - string
                                      - 'null'
                                    identity:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                          minimum: 1
                                        fullName:
                                          type:
                                          - string
                                          - 'null'
                                          minLength: 1
                                        firstName:
                                          type:
                                          - string
                                          - 'null'
                                          minLength: 1
                                        lastName:
                                          type:
                                          - string
                                          - 'null'
                                          minLength: 1
                                        nicknames:
                                          type:
                                          - array
                                          - 'null'
                                          items:
                                            type: string
                                        email:
                                          type: string
                                      required:
                                      - id
                                  required:
                                  - id
                                  - opal
                                  - identity
                                mailroom:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                parcelStatus:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: number
                                    code:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                  - id
                                note:
                                  type:
                                  - string
                                  - 'null'
                                  maxLength: 500
                                trackingNumber:
                                  type:
                                  - string
                                  - 'null'
                                carrier:
                                  type:
                                  - string
                                  - 'null'
                                sender:
                                  type:
                                  - string
                                  - 'null'
                                weight:
                                  type:
                                  - string
                                  - 'null'
                                poNumber:
                                  type:
                                  - string
                                  - 'null'
                          required:
                          - idExt
                          - org
                      required:
                      - event
                      - timestamp
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
[...]
