swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/users API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/users
  description: Users and Credentials
paths:
  /orgs/{orgId}/users:
    get:
      summary: List all users
      operationId: listUsers
      description: 'listUsers takes the following options:<br/><br/>withPicture - to include the full size and thumbnail user picture urls<br/><br/>withRoles - to include the user''s roles<br/><br/>withUserSites - to include the user''s sites<br/><br/>ignoreSiteSpecificAccess - bypasses site specific access checks<br/><br/>withBuildings - includes nested building/floor/units attached to the user<br/><br/>isAttachedToAtLeastOneIntercom - filters to just users attached to an intercom<br/><br/>withRealUserGroups - to include the real user groups<br/><br/>__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-ldp:w,o{params.orgId}-ldp:r,o{params.orgId}-videoProviderPlayback:w,o{params.orgId}-videoProviderLive:w,o{params.orgId}-configurations:r,o{params.orgId}-configurations:w,o{params.orgId}-portalAudit:r,o{params.orgId}-portalAudit:w,o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:w,s-o:r,o-user:r,o-user:w,o-role:r,o-role:w<br/><br/>__Endpoint name__: listUsers'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        pattern: ^[a-zA-Z0-9,~_-]+$
        name: cursor
        in: query
      - type: string
        pattern: ^[a-zA-Z0-9,~_-]+$
        name: ccursor
        in: query
      - type: string
        default: identity.lastName
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      - type: boolean
        description: When true, includes nested building/floor/units attached to the user
        default: false
        name: withBuildings
        in: query
      - type: boolean
        description: When true, filters to just users attached to an intercom
        default: false
        name: isAttachedToAtLeastOneIntercom
        in: query
      - type: string
        default: ''
        name: options
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/users
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              cursors:
                type: object
                properties:
                  nextCursor:
                    type: integer
                    x-nullable: true
                    x-alternatives:
                    - type: integer
                      x-nullable: true
                    - type: string
                      pattern: ^[a-zA-Z0-9,@._~-]+$
                      x-nullable: true
                  hasNextPage:
                    type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    opal:
                      type: string
                    status:
                      type: string
                      enum:
                      - I
                      - A
                      - S
                    startDate:
                      type: string
                      format: date
                      x-nullable: true
                    endDate:
                      type: string
                      format: date
                      x-nullable: true
                    startAndEndDateTimeZoneId:
                      x-nullable: true
                      type: string
                      enum:
                      - Africa/Abidjan
                      - Africa/Accra
                      - Africa/Addis_Ababa
                      - Africa/Algiers
                      - Africa/Asmara
                      - Africa/Asmera
                      - Africa/Bamako
                      - Africa/Bangui
                      - Africa/Banjul
                      - Africa/Bissau
                      - Africa/Blantyre
                      - Africa/Brazzaville
                      - Africa/Bujumbura
                      - Africa/Cairo
                      - Africa/Casablanca
                      - Africa/Ceuta
                      - Africa/Conakry
                      - Africa/Dakar
                      - Africa/Dar_es_Salaam
                      - Africa/Djibouti
                      - Africa/Douala
                      - Africa/El_Aaiun
                      - Africa/Freetown
                      - Africa/Gaborone
                      - Africa/Harare
                      - Africa/Johannesburg
                      - Africa/Juba
                      - Africa/Kampala
                      - Africa/Khartoum
                      - Africa/Kigali
                      - Africa/Kinshasa
                      - Africa/Lagos
                      - Africa/Libreville
                      - Africa/Lome
                      - Africa/Luanda
                      - Africa/Lubumbashi
                      - Africa/Lusaka
                      - Africa/Malabo
                      - Africa/Maputo
                      - Africa/Maseru
                      - Africa/Mbabane
                      - Africa/Mogadishu
                      - Africa/Monrovia
                      - Africa/Nairobi
                      - Africa/Ndjamena
                      - Africa/Niamey
                      - Africa/Nouakchott
                      - Africa/Ouagadougou
                      - Africa/Porto-Novo
                      - Africa/Sao_Tome
                      - Africa/Timbuktu
                      - Africa/Tripoli
                      - Africa/Tunis
                      - Africa/Windhoek
                      - America/Adak
                      - America/Anchorage
                      - America/Anguilla
                      - America/Antigua
                      - America/Araguaina
                      - America/Argentina/Buenos_Aires
                      - America/Argentina/Catamarca
                      - America/Argentina/ComodRivadavia
                      - America/Argentina/Cordoba
                      - America/Argentina/Jujuy
                      - America/Argentina/La_Rioja
                      - America/Argentina/Mendoza
                      - America/Argentina/Rio_Gallegos
                      - America/Argentina/Salta
                      - America/Argentina/San_Juan
                      - America/Argentina/San_Luis
                      - America/Argentina/Tucuman
                      - America/Argentina/Ushuaia
                      - America/Aruba
                      - America/Asuncion
                      - America/Atikokan
                      - America/Atka
                      - America/Bahia
                      - America/Bahia_Banderas
                      - America/Barbados
                      - America/Belem
                      - America/Belize
                      - America/Blanc-Sablon
                      - America/Boa_Vista
                      - America/Bogota
                      - America/Boise
                      - America/Buenos_Aires
                      - America/Cambridge_Bay
                      - America/Campo_Grande
                      - America/Cancun
                      - America/Caracas
                      - America/Catamarca
                      - America/Cayenne
                      - America/Cayman
                      - America/Chicago
                      - America/Chihuahua
                      - America/Coral_Harbour
                      - America/Cordoba
                      - America/Costa_Rica
                      - America/Creston
                      - America/Cuiaba
                      - America/Curacao
                      - America/Danmarkshavn
                      - America/Dawson
                      - America/Dawson_Creek
                      - America/Denver
                      - America/Detroit
                      - America/Dominica
                      - America/Edmonton
                      - America/Eirunepe
                      - America/El_Salvador
                      - America/Ensenada
                      - America/Fort_Nelson
                      - America/Fort_Wayne
                      - America/Fortaleza
                      - America/Glace_Bay
                      - America/Godthab
                      - America/Goose_Bay
                      - America/Grand_Turk
                      - America/Grenada
                      - America/Guadeloupe
                      - America/Guatemala
                      - America/Guayaquil
                      - America/Guyana
                      - America/Halifax
                      - America/Havana
                      - America/Hermosillo
                      - America/Indiana/Indianapolis
                      - America/Indiana/Knox
                      - America/Indiana/Marengo
                      - America/Indiana/Petersburg
                      - America/Indiana/Tell_City
                      - America/Indiana/Vevay
                      - America/Indiana/Vincennes
                      - America/Indiana/Winamac
                      - America/Indianapolis
                      - America/Inuvik
                      - America/Iqaluit
                      - America/Jamaica
                      - America/Jujuy
                      - America/Juneau
                      - America/Kentucky/Louisville
                      - America/Kentucky/Monticello
                      - America/Knox_IN
                      - America/Kralendijk
                      - America/La_Paz
                      - America/Lima
                      - America/Los_Angeles
                      - America/Louisville
                      - America/Lower_Princes
                      - America/Maceio
                      - America/Managua
                      - America/Manaus
                      - America/Marigot
                      - America/Martinique
                      - America/Matamoros
                      - America/Mazatlan
                      - America/Mendoza
                      - America/Menominee
                      - America/Merida
                      - America/Metlakatla
                      - America/Mexico_City
                      - America/Miquelon
                      - America/Moncton
                      - America/Monterrey
                      - America/Montevideo
                      - America/Montreal
                      - America/Montserrat
                      - America/Nassau
                      - America/New_York
                      - America/Nipigon
                      - America/Nome
                      - America/Noronha
                      - America/North_Dakota/Beulah
                      - America/North_Dakota/Center
                      - America/North_Dakota/New_Salem
                      - America/Ojinaga
                      - America/Panama
                      - America/Pangnirtung
                      - America/Paramaribo
                      - America/Phoenix
                      - America/Port-au-Prince
                      - America/Port_of_Spain
                      - America/Porto_Acre
                      - America/Porto_Velho
                      - America/Puerto_Rico
                      - America/Punta_Arenas
                      - America/Rainy_River
                      - America/Rankin_Inlet
                      - America/Recife
                      - America/Regina
                      - America/Resolute
                      - America/Rio_Branco
                      - America/Rosario
                      - America/Santa_Isabel
                      - America/Santarem
                      - America/Santiago
                      - America/Santo_Domingo
                      - America/Sao_Paulo
                      - America/Scoresbysund
                      - America/Shiprock
                      - America/Sitka
                      - America/St_Barthelemy
                      - America/St_Johns
                      - America/St_Kitts
                      - America/St_Lucia
                      - America/St_Thomas
                      - America/St_Vincent
                      - America/Swift_Current
                      - America/Tegucigalpa
                      - America/Thule
                      - America/Thunder_Bay
                      - America/Tijuana
                      - America/Toronto
                      - America/Tortola
                      - America/Vancouver
                      - America/Virgin
                      - America/Whitehorse
                      - America/Winnipeg
                      - America/Yakutat
                      - America/Yellowknife
                      - Antarctica/Casey
                      - Antarctica/Davis
                      - Antarctica/DumontDUrville
                      - Antarctica/Macquarie
                      - Antarctica/Mawson
                      - Antarctica/McMurdo
                      - Antarctica/Palmer
                      - Antarctica/Rothera
                      - Antarctica/South_Pole
                      - Antarctica/Syowa
                      - Antarctica/Troll
                      - Antarctica/Vostok
                      - Arctic/Longyearbyen
                      - Asia/Aden
                      - Asia/Almaty
                      - Asia/Amman
                      - Asia/Anadyr
                      - Asia/Aqtau
                      - Asia/Aqtobe
                      - Asia/Ashgabat
                      - Asia/Ashkhabad
                      - Asia/Atyrau
                      - Asia/Baghdad
                      - Asia/Bahrain
                      - Asia/Baku
                      - Asia/Bangkok
                      - Asia/Barnaul
                      - Asia/Beirut
                      - Asia/Bishkek
                      - Asia/Brunei
                      - Asia/Calcutta
                      - Asia/Chita
                      - Asia/Choibalsan
                      - Asia/Chongqing
                      - Asia/Chungking
                      - Asia/Colombo
                      - Asia/Dacca
                      - Asia/Damascus
                      - Asia/Dhaka
                      - Asia/Dili
                      - Asia/Dubai
                      - Asia/Dushanbe
                      - Asia/Famagusta
                      - Asia/Gaza
                      - Asia/Harbin
                      - Asia/Hebron
                      - Asia/Ho_Chi_Minh
                      - Asia/Hong_Kong
                      - Asia/Hovd
                      - Asia/Irkutsk
                      - Asia/Istanbul
                      - Asia/Jakarta
                      - Asia/Jayapura
                      - Asia/Jerusalem
                      - Asia/Kabul
                      - Asia/Kamchatka
                      - Asia/Karachi
                      - Asia/Kashgar
                      - Asia/Kathmandu
                      - Asia/Katmandu
                      - Asia/Khandyga
                      - Asia/Kolkata
                      - Asia/Krasnoyarsk
                      - Asia/Kuala_Lumpur
                      - Asia/Kuching
                      - Asia/Kuwait
                      - Asia/Macao
                      - Asia/Macau
                      - Asia/Magadan
                      - Asia/Makassar
                      - Asia/Manila
                      - Asia/Muscat
                      - Asia/Nicosia
                      - Asia/Novokuznetsk
                      - Asia/Novosibirsk
                      - Asia/Omsk
                      - Asia/Oral
                      - Asia/Phnom_Penh
                      - Asia/Pontianak
                      - Asia/Pyongyang
                      - Asia/Qatar
                      - Asia/Qyzylorda
                      - Asia/Rangoon
                      - Asia/Riyadh
                      - Asia/Saigon
                      - Asia/Sakhalin
                      - Asia/Samarkand
                      - Asia/Seoul
                      - Asia/Shanghai
                      - Asia/Singapore
                      - Asia/Srednekolymsk
                      - Asia/Taipei
                      - Asia/Tashkent
                      - Asia/Tbilisi
                      - Asia/Tehran
                      - Asia/Tel_Aviv
                      - Asia/Thimbu
                      - Asia/Thimphu
                      - Asia/Tokyo
                      - Asia/Tomsk
                      - Asia/Ujung_Pandang
                      - Asia/Ulaanbaatar
                      - Asia/Ulan_Bator
                      - Asia/Urumqi
                      - Asia/Ust-Nera
                      - Asia/Vientiane
                      - Asia/Vladivostok
                      - Asia/Yakutsk
                      - Asia/Yangon
                      - Asia/Yekaterinburg
                      - Asia/Yerevan
                      - Atlantic/Azores
                      - Atlantic/Bermuda
                      - Atlantic/Canary
                      - Atlantic/Cape_Verde
                      - Atlantic/Faeroe
                      - Atlantic/Faroe
                      - Atlantic/Jan_Mayen
                      - Atlantic/Madeira
                      - Atlantic/Reykjavik
                      - Atlantic/South_Georgia
                      - Atlantic/St_Helena
                      - Atlantic/Stanley
                      - Australia/ACT
                      - Australia/Adelaide
                      - Australia/Brisbane
                      - Australia/Broken_Hill
                      - Australia/Canberra
                      - Australia/Currie
                      - Australia/Darwin
                      - Australia/Eucla
                      - Australia/Hobart
                      - Australia/LHI
                      - Australia/Lindeman
                      - Australia/Lord_Howe
                      - Australia/Melbourne
                      - Australia/NSW
                      - Australia/North
                      - Australia/Perth
                      - Australia/Queensland
                      - Australia/South
                      - Australia/Sydney
                      - Australia/Tasmania
                      - Australia/Victoria
                      - Australia/West
                      - Australia/Yancowinna
                      - Brazil/Acre
                      - Brazil/DeNoronha
                      - Brazil/East
                      - Brazil/West
                      - CET
                      - CST6CDT
                      - Canada/Atlantic
                      - Canada/Central
                      - Canada/Eastern
                      - Canada/Mountain
                      - Canada/Newfoundland
                      - Canada/Pacific
                      - Canada/Saskatchewan
                      - Canada/Yukon
                      - Chile/Continental
                      - Chile/EasterIsland
                      - Cuba
                      - EET
                      - EST
                      - EST5EDT
                      - Egypt
                      - Eire
                      - Etc/GMT
                      - Etc/GMT+0
                      - Etc/GMT+1
                      - Etc/GMT+10
                      - Etc/GMT+11
                      - Etc/GMT+12
                      - Etc/GMT+2
                      - Etc/GMT+3
                      - Etc/GMT+4
                      - Etc/GMT+5
                      - Etc/GMT+6
                      - Etc/GMT+7
                      - Etc/GMT+8
                      - Etc/GMT+9
                      - Etc/GMT-0
                      - Etc/GMT-1
                      - Etc/GMT-10
                      - Etc/GMT-11
                      - Etc/GMT-12
                      - Etc/GMT-13
                      - Etc/GMT-14
                      - Etc/GMT-2
                      - Etc/GMT-3
                      - Etc/GMT-4
                      - Etc/GMT-5
                      - Etc/GMT-6
                      - Etc/GMT-7
                      - Etc/GMT-8
                      - Etc/GMT-9
                      - Etc/GMT0
                      - Etc/Greenwich
                      - Etc/UCT
                      - Etc/UTC
                      - Etc/Universal
                      - Etc/Zulu
                      - Europe/Amsterdam
                      - Europe/Andorra
                      - Europe/Astrakhan
                      - Europe/Athens
                      - Europe/Belfast
                      - Europe/Belgrade
                      - Europe/Berlin
                      - Europe/Bratislava
                      - Europe/Brussels
                      - Europe/Bucharest
                      - Europe/Budapest
                      - Europe/Busingen
                      - Europe/Chisinau
                      - Europe/Copenhagen
                      - Europe/Dublin
                      - Europe/Gibraltar
                      - Europe/Guernsey
                      - Europe/Helsinki
                      - Europe/Isle_of_Man
                      - Europe/Istanbul
                      - Europe/Jersey
                      - Europe/Kaliningrad
                      - Europe/Kiev
                      - Europe/Kirov
                      - Europe/Lisbon
                      - Europe/Ljubljana
                      - Europe/London
                      - Europe/Luxembourg
                      - Europe/Madrid
                      - Europe/Malta
                      - Europe/Mariehamn
                      - Europe/Minsk
                      - Europe/Monaco
                      - Europe/Moscow
                      - Europe/Nicosia
                      - Europe/Oslo
                      - Europe/Paris
                      - Europe/Podgorica
                      - Europe/Prague
                      - Europe/Riga
                      - Europe/Rome
                      - Europe/Samara
                      - Europe/San_Marino
                      - Europe/Sarajevo
                      - Europe/Saratov
                      - Europe/Simferopol
                      - Europe/Skopje
                      - Europe/Sofia
                      - Europe/Stockholm
                      - Europe/Tallinn
                      - Europe/Tirane
                      - Europe/Tiraspol
                      - Europe/Ulyanovsk
                      - Europe/Uzhgorod
                      - Europe/Vaduz
                      - Europe/Vatican
                      - Europe/Vienna
                      - Europe/Vilnius
                      - Europe/Volgograd
                      - Europe/Warsaw
                      - Europe/Zagreb
                      - Europe/Zaporozhye
                      - Europe/Zurich
                      - GB
                      - GB-Eire
                      - GMT
                      - GMT+0
                      - GMT-0
                      - GMT0
                      - Greenwich
                      - HST
                      - Hongkong
                      - Iceland
                      - Indian/Antananarivo
                      - Indian/Chagos
                      - Indian/Christmas
                      - Indian/Cocos
                      - Indian/Comoro
                      - Indian/Kerguelen
                      - Indian/Mahe
                      - Indian/Maldives
                      - Indian/Mauritius
                      - Indian/Mayotte
                      - Indian/Reunion
                      - Iran
                      - Israel
                      - Jamaica
                      - Japan
                      - Kwajalein
                      - Libya
                      - MET
                      - MST
                      - MST7MDT
                      - Mexico/BajaNorte
                      - Mexico/BajaSur
                      - Mexico/General
                      - NZ
                      - NZ-CHAT
                      - Navajo
                      - PRC
                      - PST8PDT
                      - Pacific/Apia
                      - Pacific/Auckland
                      - Pacific/Bougainville
                      - Pacific/Chatham
                      - Pacific/Chuuk
                      - Pacific/Easter
                      - Pacific/Efate
                      - Pacific/Enderbury
                      - Pacific/Fakaofo
                      - Pacific/Fiji
                      - Pacific/Funafuti
                      - Pacific/Galapagos
                      - Pacific/Gambier
                      - Pacific/Guadalcanal
                      - Pacific/Guam
                      - Pacific/Honolulu
                      - Pacific/Johnston
                      - Pacific/Kiritimati
                      - Pacific/Kosrae
                      - Pacific/Kwajalein
                      - Pacific/Majuro
                      - Pacific/Marquesas
                      - Pacific/Midway
                      - Pacific/Nauru
                      - Pacific/Niue
                      - Pacific/Norfolk
                      - Pacific/Noumea
                      - Pacific/Pago_Pago
                      - Pacific/Palau
                      - Pacific/Pitcairn
                      - Pacific/Pohnpei
                      - Pacific/Ponape
                      - Pacific/Port_Moresby
                      - Pacific/Rarotonga
                      - Pacific/Saipan
                      - Pacific/Samoa
                      - Pacific/Tahiti
                      - Pacific/Tarawa
                      - Pacific/Tongatapu
                      - Pacific/Truk
                      - Pacific/Wake
                      - Pacific/Wallis
                      - Pacific/Yap
                      - Poland
                      - Portugal
                      - ROC
                      - ROK
                      - Singapore
                      - Turkey
                      - UCT
                      - US/Alaska
                      - US/Aleutian
                      - US/Arizona
                      - US/Central
                      - US/East-Indiana
                      - US/Eastern
                      - US/Hawaii
                      - US/Indiana-Starke
                      - US/Michigan
                      - US/Mountain
                      - US/Pacific
                      - US/Pacific-New
                      - US/Samoa
                      - UTC
                      - Universal
                      - W-SU
                      - WET
                      - Zulu
                    hasRemoteUnlock:
                      type: boolean
                    isOverrideAllowed:
                      type: boolean
                    externalId:
                      type: string
                      x-nullable: true
                    identity:
                      type: object
                      properties:
                        id:
                          type: number
                        opal:
                          type: string
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                              description:
                                type: string
                              isMfaRequired:
                                type: boolean
                            required:
                            - id
                        mfaCredentials:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                              name:
                                type: string
                              status:
                                type: string
                              mfaCredentialType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  modelName:
                                    type: string
                                required:
                                - id
                              totpSoftDevice:
                                type: object
                                properties:
                                  id:
                                    type: number
                                required:
                                - id
                            required:
                            - id
                        firstName:
                          type: string
                          x-nullable: true
                        middleName:
                          type: string
                          x-nullable: true
                        lastName:
                          type: string
                          x-nullable: true
                        fullName:
                          type: string
                          x-nullable: true
                        initials:
                          type: string
                          x-nullable: true
                        isEmailVerified:
                          type: boolean
                        namespace:
                          type: object
                          properties:
                            id:
                              type: integer
                            nickname:
                              type: string
                              x-nullable: true
                            namespaceType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                modelName:
                                  type: string
                                  x-nullable: true
                              required:
                              - id
                            org:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            identityProvider:
                              type: object
                              properties:
                                id:
                                  type: number
                                isSsoEnabled:
                                  type: boolean
                                isSyncMobilePhoneEnabled:
                                  type: boolean
                                isRemoveGroupsEnabled:
                                  type: boolean
                                identityProviderSyncTypeId:
                                  type: integer
                                  x-nullable: true
                                credentials:
                                  type: string
                                  x-nullable: true
                                identityProviderType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                org:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                              required:
                              - id
                            propertyManagementSystem:
                              type: object
                              properties:
                                id:
                                  type: number
                                orgId:
                                  type: number
                                propertyManagementSystemTypeId:
                                  type: number
                                propertyManagementSystemType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                              required:
                              - id
                              - orgId
                              - propertyManagementSystemTypeId
                          required:
                          - id
                        idpUniqueIdentifier:
                          type: string
                        pmsUniqueIdentifier:
                          type: string
                          x-nullable: true
                        needsPasswordChange:
                          type: boolean
                          default: false
                        nicknames:
                          x-nullable: true
                          type: array
                          items:
                            type: object
                            properties:
                              nickname:
                                type: string
                                minLength: 1
                                maxLength: 100
                        email:
                          type: string
                        mobilePhone:
                          type: string
                          x-nullable: true
                        language:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        users:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              opal:
                                type: string
                              status:
                                type: string
                              startDate:
                                type: string
                                format: date
                                x-nullable: true
                              endDate:
                                type: string
                                format: date
                                x-nullable: true
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                              org:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                    x-nullable: true
                                required:
                                - id
                            required:
                            - id
                      required:
                      - id
                    groups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          opvideoIntercomProfiles:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                opvideoIntercomProfileTypeId:
                                  type: number
                                opvideoIntercoms:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                        x-nullable: true
                                    required:
                                    - id
                              required:
                              - id
                        required:
                        - id
                    sites:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    realUserGroups:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          description:
                            type: string
                            maxLength: 255
                            x-nullable: true
                        required:
                        - id
                    roles:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    userCustomFields:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          value:
                            type: string
                            x-nullable: true
                          customField:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                              customFieldType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                        required:
                        - id
                    buildingFloorUnits:
                      x-nullable: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          description:
                            type: string
                            x-nullable: true
                          isDefault:
                            type: boolean
                          buildingFloor:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              isDefault:
                                type: boolean
                              building:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                        required:
                        - id
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                    manuallyInactivatedAt:
                      type: string
                      format: date
                      x-nullable: true
                    lastActivityAt:
                      type: string
                      format: date
                      x-nullable: true
                    title:
                      type: string
                      x-nullable: true
                    department:
                      type: string
                      x-nullable: true
                    personId:
                      type: string
                      x-nullable: true
                    statusLastUpdatedAt:
                      type: string
                      format: date
                      x-nullable: true
                    pictureUrl:
                      type: string
                      x-nullable: true
                    pictureFullSizeUrl:
                      type: string
                      x-nullable: true
                    pictureExpiresAt:
                      type: number
                      x-nullable: true
                    lastParcelReminderAt:
                      type: string
                      format: date
                      x-nullable: true
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-ldp:w
      - o{params.orgId}-ldp:r
      - o{params.orgId}-videoProviderPlayback:w
      - o{params.orgId}-videoProviderLive:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-configurations:w
      - o{params.orgId}-portalAudit:r
      - o{params.orgId}-portalAudit:w
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o-user:r
      - o-user:w
      - o-role:r
      - o-role:w
    post:
      summary: Create a user
      operationId: createUser
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w,o-user:w<br/><br/>__Endpoint name__: createUser'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            identity:
              type: object
              properties:
                email:
                  type: string
                  minLength: 1
                  maxLength: 254
                  pattern: ^[!-~\xC0-\xFF]+$
                  x-format:
                    email: true
                  x-convert:
                    trim: true
                password:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                firstName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                  x-nullable: true
                middleName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                  x-nullable: true
                lastName:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                  x-nullable: true
                nicknames:
                  type: array
                  items:
                    type: object
                    properties:
                      nickname:
                        type: string
                        minLength: 1
                        maxLength: 100
                namespaceId:
                  type: integer
                namespaceNickname:
                  type: string
                  minLength: 1
                  maxLength: 255
                language:
                  type: string
                  default: en
                  enum:
                  - en
                  - fr
                  - es
                  - it
                  - de
                mobilePhone:
                  type: string
                  x-nullable: true
              required:
              - email
            startDate:
              type: string
              format: date
              x-alternatives:
              - type: string
                format: date
              - type: string
                format: date
                x-nullable: true
              - type: string
                format: date
                x-nullable: true
            endDate:
              type: string
              format: date
              x-nullable: true
            startAndEndDateTimeZoneId:
              x-nullable: true
              type: string
              enum:
              - Africa/Abidjan
              - Africa/Accra
              - Africa/Addis_Ababa
              - Africa/Algiers
              - Africa/Asmara
              - Africa/Asmera
              - Africa/Bamako
              - Africa/Bangui
              - Africa/Banjul
              - Africa/Bissau
              - Africa/Blantyre
              - Africa/Brazzaville
              - Africa/Bujumbura
              - Africa/Cairo
              - Africa/Casablanca
              - Africa/Ceuta
              - Africa/Conakry
              - Africa/Dakar
              - Africa/Dar_es_Salaam
              - Africa/Djibouti
              - Africa/Douala
              - Africa/El_Aaiun
              - Africa/Freetown
              - Africa/Gaborone
              - Africa/Harare
              - Africa/Johannesburg
              - Africa/Juba
              - Africa/Kampala
              - Africa/Khartoum
              - Africa/Kigali
              - Africa/Kinshasa
              - Africa/Lagos
              - Africa/Libreville
              - Africa/Lome
              - Africa/Luanda
              - Africa/Lubumbashi
              - Africa/Lusaka
              - Africa/Malabo
              - Africa/Maputo
              - Africa/Maseru
              - Africa/Mbabane
              - Africa/Mogadishu
              - Africa/Monrovia
              - Africa/Nairobi
              - Africa/Ndjamena
              - Africa/Niamey
              - Africa/Nouakchott
              - Africa/Ouagadougou
              - Africa/Porto-Novo
              - Africa/Sao_Tome
              - Africa/Timbuktu
              - Africa/Tripoli
              - Africa/Tunis
              - Africa/Windhoek
              - America/Adak
              - America/Anchorage
              - America/Anguilla
              - America/Antigua
              - America/Araguaina
              - America/Argentina/Buenos_Aires
              - America/Argentina/Catamarca
              - America/Argentina/ComodRivadavia
              - America/Argentina/Cordoba
              - America/Argentina/Jujuy
              - America/Argentina/La_Rioja
              - America/Argentina/Mendoza
              - America/Argentina/Rio_Gallegos
              - America/Argentina/Salta
              - America/Argentina/San_Juan
              - America/Argentina/San_Luis
              - America/Argentina/Tucuman
              - America/Argentina/Ushuaia
              - America/Aruba
              - America/Asuncion
              - America/Atikokan
              - America/Atka
              - America/Bahia
              - America/Bahia_Banderas
              - America/Barbados
              - America/Belem
              - America/Belize
              - America/Blanc-Sablon
              - America/Boa_Vista
              - America/Bogota
              - America/Boise
              - America/Buenos_Aires
              - America/Cambridge_Bay
              - America/Campo_Grande
              - America/Cancun
              - America/Caracas
              - America/Catamarca
              - America/Cayenne
              - America/Cayman
              - America/Chicago
              - America/Chihuahua
              - America/Coral_Harbour
              - America/Cordoba
              - America/Costa_Rica
              - America/Creston
              - America/Cuiaba
              - America/Curacao
              - America/Danmarkshavn
              - America/Dawson
              - America/Dawson_Creek
              - America/Denver
              - America/Detroit
              - America/Dominica
              - America/Edmonton
              - America/Eirunepe
              - America/El_Salvador
              - America/Ensenada
              - America/Fort_Nelson
              - America/Fort_Wayne
              - America/Fortaleza
              - America/Glace_Bay
              - America/Godthab
              - America/Goose_Bay
              - America/Grand_Turk
              - America/Grenada
              - America/Guadeloupe
              - America/Guatemala
              - America/Guayaquil
              - America/Guyana
              - America/Halifax
              - America/Havana
              - America/Hermosillo
              - America/Indiana/Indianapolis
              - America/Indiana/Knox
              - America/Indiana/Marengo
              - America/Indiana/Petersburg
              - America/Indiana/Tell_City
              - America/Indiana/Vevay
              - America/Indiana/Vincennes
              - America/Indiana/Winamac
              - America/Indianapolis
              - America/Inuvik
              - America/Iqaluit
              - America/Jamaica
              - America/Jujuy
              - America/Juneau
              - America/Kentucky/Louisville
              - America/Kentucky/Monticello
              - America/Knox_IN
              - America/Kralendijk
              - America/La_Paz
              - America/Lima
              - America/Los_Angeles
              - America/Louisville
              - America/Lower_Princes
              - America/Maceio
              - America/Managua
              - America/Manaus
              - America/Marigot
              - America/Martinique
              - America/Matamoros
              - America/Mazatlan
              - America/Mendoza
              - America/Menominee
              - America/Merida
              - America/Metlakatla
              - America/Mexico_City
              - America/Miquelon
              - America/Moncton
              - America/Monterrey
              - America/Montevideo
              - America/Montreal
              - America/Montserrat
              - America/Nassau
              - America/New_York
              - America/Nipigon
              - America/Nome
              - America/Noronha
              - America/North_Dakota/Beulah
              - America/North_Dakota/Center
              - America/North_Dakota/New_Salem
              - America/Ojinaga
              - America/Panama
              - America/Pangnirtung
              - America/Paramaribo
              - America/Phoenix
              - America/Port-au-Prince
              - America/Port_of_Spain
              - America/Porto_Acre
              - America/Porto_Velho
              - America/Puerto_Rico
              - America/Punta_Arenas
              - America/Rainy_River
              - America/Rankin_Inlet
              - America/Recife
              - America/Regina
              - America/Resolute
              - America/Rio_Branco
              - America/Rosario
              - America/Santa_Isabel
              - America/Santarem
              - America/Santiago
              - America/Santo_Domingo
              - America/Sao_Paulo
              - America/Scoresbysund
              - America/Shiprock
              - America/Sitka
              - America/St_Barthelemy
              - America/St_Johns
              - America/St_Kitts
              - America/St_Lucia
              - America/St_Thomas
              - America/St_Vincent
              - America/Swift_Current
              - America/Tegucigalpa
              - America/Thule
              - America/Thunder_Bay
              - America/Tijuana
              - America/Toronto
              - America/Tortola
              - America/Vancouver
              - America/Virgin
              - America/Whitehorse
              - America/Winnipeg
              - America/Yakutat
              - America/Yellowknife
              - Antarctica/Casey
              - Antarctica/Davis
              - Antarctica/DumontDUrville
              - Antarctica/Macquarie
              - Antarctica/Mawson
              - Antarctica/McMurdo
              - Antarctica/Palmer
              - Antarctica/Rothera
              - Antarctica/South_Pole
              - Antarctica/Syowa
              - Antarctica/Troll
              - Antarctica/Vostok
              - Arctic/Longyearbyen
              - Asia/Aden
              - Asia/Almaty
              - Asia/Amman
              - Asia/Anadyr
              - Asia/Aqtau
              - Asia/Aqtobe
              - Asia/Ashgabat
              - Asia/Ashkhabad
              - Asia/Atyrau
              - Asia/Baghdad
              - Asia/Bahrain
              - Asia/Baku
              - Asia/Bangkok
              - Asia/Barnaul
              - Asia/Beirut
              - Asia/Bishkek
              - Asia/Brunei
              - Asia/Calcutta
              - Asia/Chita
              - Asia/Choibalsan
              - Asia/Chongqing
              - Asia/Chungking
              - Asia/Colombo
              - Asia/Dacca
              - Asia/Damascus
              - Asia/Dhaka
              - Asia/Dili
              - Asia/Dubai
              - Asia/Dushanbe
              - Asia/Famagusta
              - Asia/Gaza
              - Asia/Harbin
              - Asia/Hebron
              - Asia/Ho_Chi_Minh
              - Asia/Hong_Kong
              - Asia/Hovd
              - Asia/Irkutsk
              - Asia/Istanbul
              - Asia/Jakarta
              - Asia/Jayapura
              - Asia/Jerusalem
              - Asia/Kabul
              - Asia/Kamchatka
              - Asia/Karachi
              - Asia/Kashgar
              - Asia/Kathmandu
              - Asia/Katmandu
              - Asia/Khandyga
              - Asia/Kolkata
              - Asia/Krasnoyarsk
              - Asia/Kuala_Lumpur
              - Asia/Kuching
              - Asia/Kuwait
              - Asia/Macao
              - Asia/Macau
              - Asia/Magadan
              - Asia/Makassar
              - Asia/Manila
              - Asia/Muscat
              - Asia/Nicosia
              - Asia/Novokuznetsk
              - Asia/Novosibirsk
              - Asia/Omsk
              - Asia/Oral
              - Asia/Phnom_Penh
              - Asia/Pontianak
              - Asia/Pyongyang
              - Asia/Qatar
              - Asia/Qyzylorda
              - Asia/Rangoon
              - Asia/Riyadh
              - Asia/Saigon
              - Asia/Sakhalin
              - Asia/Samarkand
              - Asia/Seoul
              - Asia/Shanghai
              - Asia/Singapore
              - Asia/Srednekolymsk
              - Asia/Taipei
              - Asia/Tashkent
              - Asia/Tbilisi
              - Asia/Tehran
              - Asia/Tel_Aviv
              - Asia/Thimbu
              - Asia/Thimphu
              - Asia/Tokyo
              - Asia/Tomsk
              - Asia/Ujung_Pandang
              - Asia/Ulaanbaatar
              - Asia/Ulan_Bator
              - Asia/Urumqi
              - Asia/Ust-Nera
              - Asia/Vientiane
              - Asia/Vladivostok
              - Asia/Yakutsk
              - Asia/Yangon
              - Asia/Yekaterinburg
              - Asia/Yerevan
              - Atlantic/Azores
              - Atlantic/Bermuda
              - Atlantic/Canary
              - Atlantic/Cape_Verde
              - Atlantic/Faeroe
              - Atlantic/Faroe
              - Atlantic/Jan_Mayen
              - Atlantic/Madeira
              - Atlantic/Reykjavik
              - Atlantic/South_Georgia
              - Atlantic/St_Helena
              - Atlantic/Stanley
              - Australia/ACT
              - Australia/Adelaide
              - Australia/Brisbane
              - Australia/Broken_Hill
              - Australia/Canberra
              - Australia/Currie
              - Australia/Darwin
              - Australia/Eucla
              - Australia/Hobart
              - Australia/LHI
              - Australia/Lindeman
              - Australia/Lord_Howe
              - Australia/Melbourne
              - Australia/NSW
              - Australia/North
              - Australia/Perth
              - Australia/Queensland
              - Australia/South
              - Australia/Sydney
              - Australia/Tasmania
              - Australia/Victoria
              - Australia/West
              - Australia/Yancowinna
              - Brazil/Acre
              - Brazil/DeNoronha
              - Brazil/East
              - Brazil/West
              - CET
              - CST6CDT
              - Canada/Atlantic
              - Canada/Central
              - Canada/Eastern
              - Canada/Mountain
              - Canada/Newfoundland
              - Canada/Pacific
              - Canada/Saskatchewan
              - Canada/Yukon
              - Chile/Continental
              - Chile/EasterIsland
              - Cuba
              - EET
              - EST
              - EST5EDT
              - Egypt
              - Eire
              - Etc/GMT
              - Etc/GMT+0
              - Etc/GMT+1
              - Etc/GMT+10
              - Etc/GMT+11
              - Etc/GMT+12
              - Etc/GMT+2
              - Etc/GMT+3
              - Etc/GMT+4
              - Etc/GMT+5
              - Etc/GMT+6
              - Etc/GMT+7
              - Etc/GMT+8
              - Etc/GMT+9
              - Etc/GMT-0
              - Etc/GMT-1
              - Etc/GMT-10
              - Etc/GMT-11
              - Etc/GMT-12
              - Etc/GMT-13
              - Etc/GMT-14
              - Etc/GMT-2
              - Etc/GMT-3
              - Etc/GMT-4
              - Etc/GMT-5
              - Etc/GMT-6
              - Etc/GMT-7
              - Etc/GMT-8
              - Etc/GMT-9
              - Etc/GMT0
              - Etc/Greenwich
              - Etc/UCT
              - Etc/UTC
              - Etc/Universal
              - Etc/Zulu
              - Europe/Amsterdam
              - Europe/Andorra
              - Europe/Astrakhan
              - Europe/Athens
              - Europe/Belfast
              - Europe/Belgrade
              - Europe/Berlin
              - Europe/Bratislava
              - Europe/Brussels
              - Europe/Bucharest
              - Europe/Budapest
              - Europe/Busingen
              - Europe/Chisinau
              - Europe/Copenhagen
              - Europe/Dublin
              - Europe/Gibraltar
              - Europe/Guernsey
              - Europe/Helsinki
              - Europe/Isle_of_Man
              - Europe/Istanbul
              - Europe/Jersey
              - Europe/Kaliningrad
              - Europe/Kiev
              - Europe/Kirov
              - Europe/Lisbon
              - Europe/Ljubljana
              - Europe/London
              - Europe/Luxembourg
              - Europe/Madrid
              - Europe/Malta
              - Europe/Mariehamn
              - Europe/Minsk
              - Europe/Monaco
              - Europe/Moscow
              - Europe/Nicosia
              - Europe/Oslo
              - Europe/Paris
              - Europe/Podgorica
              - Europe/Prague
              - Europe/Riga
              - Europe/Rome
              - Europe/Samara
              - Europe/San_Marino
              - Europe/Sarajevo
              - Europe/Saratov
              - Europe/Simferopol
              - Europe/Skopje
              - Europe/Sofia
              - Europe/Stockholm
              - Europe/Tallinn
              - Europe/Tirane
              - Europe/Tiraspol
              - Europe/Ulyanovsk
              - Europe/Uzhgorod
              - Europe/Vaduz
              - Europe/Vatican
              - Europe/Vienna
              - Europe/Vilnius
              - Europe/Volgograd
              - Europe/Warsaw
              - Europe/Zagreb
              - Europe/Zaporozhye
              - Europe/Zurich
              - GB
              - GB-Eire
              - GMT
              - GMT+0
              - GMT-0
              - GMT0
              - Greenwich
              - HST
              - Hongkong
              - Iceland
              - Indian/Antananarivo
              - Indian/Chagos
              - Indian/Christmas
              - Indian/Cocos
              - Indian/Comoro
              - Indian/Kerguelen
              - Indian/Mahe
              - Indian/Maldives
              - Indian/Mauritius
              - Indian/Mayotte
              - Indian/Reunion
              - Iran
              - Israel
              - Jamaica
              - Japan
              - Kwajalein
              - Libya
              - MET
              - MST
              - MST7MDT
              - Mexico/BajaNorte
              - Mexico/BajaSur
              - Mexico/General
              - NZ
              - NZ-CHAT
              - Navajo
              - PRC
              - PST8PDT
              - Pacific/Apia
              - Pacific/Auckland
              - Pacific/Bougainville
              - Pacific/Chatham
              - Pacific/Chuuk
              - Pacific/Easter
              - Pacific/Efate
              - Pacific/Enderbury
              - Pacific/Fakaofo
              - Pacific/Fiji
              - Pacific/Funafuti
              - Pacific/Galapagos
              - Pacific/Gambier
              - Pacific/Guadalcanal
              - Pacific/Guam
              - Pacific/Honolulu
              - Pacific/Johnston
              - Pacific/Kiritimati
              - Pacific/Kosrae
              - Pacific/Kwajalein
              - Pacific/Majuro
              - Pacific/Marquesas
              - Pacific/Midway
              - Pacific/Nauru
              - Pacific/Niue
              - Pacific/Norfolk
              - Pacific/Noumea
              - Pacific/Pago_Pago
              - Pacific/Palau
              - Pacific/Pitcairn
              - Pacific/Pohnpei
              - Pacific/Ponape
              - Pacific/Port_Moresby
              - Pacific/Rarotonga
              - Pacific/Saipan
              - Pacific/Samoa
              - Pacific/Tahiti
              - Pacific/Tarawa
              - Pacific/Tongatapu
              - Pacific/Truk
              - Pacific/Wake
              - Pacific/Wallis
              - Pacific/Yap
              - Poland
              - Portugal
              - ROC
              - ROK
              - Singapore
              - Turkey
              - UCT
              - US/Alaska
              - US/Aleutian
              - US/Arizona
              - US/Central
              - US/East-Indiana
              - US/Eastern
              - US/Hawaii
              - US/Indiana-Starke
              - US/Michigan
              - US/Mountain
              - US/Pacific
              - US/Pacific-New
              - US/Samoa
              - UTC
              - Universal
              - W-SU
              - WET
              - Zulu
            hasRemoteUnlock:
              type: boolean
            isOverrideAllowed:
              type: boolean
            externalId:
              type: string
              x-nullable: true
            personId:
              type: string
              x-nullable: true
            department:
              type: string
              x-nullable: true
            title:
              type: string
              x-nullable: true
          required:
          - identity
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/users
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  opal:
                    type: string
                  status:
                    type: string
                    enum:
                    - I
                    - A
                    - S
                  startDate:
                    type: string
                    format: date
                    x-nullable: true
                  endDate:
                    type: string
                    format: date
                    x-nullable: true
                  startAndEndDateTimeZoneId:
                    x-nullable: true
                    type: string
                    enum:
                    - Africa/Abidjan
                    - Africa/Accra
                    - Africa/Addis_Ababa
                    - Africa/Algiers
                    - Africa/Asmara
                    - Africa/Asmera
                    - Africa/Bamako
                    - Africa/Bangui
                    - Africa/Banjul
                    - Africa/Bissau
                    - Africa/Blantyre
                    - Africa/Brazzaville
                    - Africa/Bujumbura
                    - Africa/Cairo
                    - Africa/Casablanca
                    - Africa/Ceuta
                    - Africa/Conakry
                    - Africa/Dakar
                    - Africa/Dar_es_Salaam
                    - Africa/Djibouti
                    - Africa/Douala
                    - Africa/El_Aaiun
                    - Africa/Freetown
                    - Africa/Gaborone
                    - Africa/Harare
                    - Africa/Johannesburg
                    - Africa/Juba
                    - Africa/Kampala
                    - Africa/Khartoum
                    - Africa/Kigali
                    - Africa/Kinshasa
                    - Africa/Lagos
                    - Africa/Libreville
                    - Africa/Lome
                    - Africa/Luanda
                    - Africa/Lubumbashi
                    - Africa/Lusaka
                    - Africa/Malabo
                    - Africa/Maputo
                    - Africa/Maseru
                    - Africa/Mbabane
                    - Africa/Mogadishu
                    - Africa/Monrovia
                    - Africa/Nairobi
                    - Africa/Ndjamena
                    - Africa/Niamey
                    - Africa/Nouakchott
                    - Africa/Ouagadougou
                    - Africa/Porto-Novo
                    - Africa/Sao_Tome
                    - Africa/Timbuktu
                    - Africa/Tripoli
                    - Africa/Tunis
                    - Africa/Windhoek
                    - America/Adak
                    - America/Anchorage
                    - America/Anguilla
                    - America/Antigua
                    - America/Araguaina
                    - America/Argentina/Buenos_Aires
                    - America/Argentina/Catamarca
                    - America/Argentina/ComodRivadavia
                    - America/Argentina/Cordoba
                    - America/Argentina/Jujuy
                    - America/Argentina/La_Rioja
                    - America/Argentina/Mendoza
                    - America/Argentina/Rio_Gallegos
                    - America/Argentina/Salta
                    - America/Argentina/San_Juan
                    - America/Argentina/San_Luis
                    - America/Argentina/Tucuman
                    - America/Argentina/Ushuaia
                    - America/Aruba
                    - America/Asuncion
                    - America/Atikokan
                    - America/Atka
                    - America/Bahia
                    - America/Bahia_Banderas
                    - America/Barbados
                    - America/Belem
                    - America/Belize
                    - America/Blanc-Sablon
                    - America/Boa_Vista
                    - America/Bogota
                    - America/Boise
                    - America/Buenos_Aires
                    - America/Cambridge_Bay
                    - America/Campo_Grande
                    - America/Cancun
                    - America/Caracas
                    - America/Catamarca
                    - America/Cayenne
                    - America/Cayman
                    - America/Chicago
                    - America/Chihuahua
                    - America/Coral_Harbour
                    - America/Cordoba
                    - America/Costa_Rica
                    - America/Creston
                    - America/Cuiaba
                    - America/Curacao
                    - America/Danmarkshavn
                    - America/Dawson
                    - America/Dawson_Creek
                    - America/Denver
                    - America/Detroit
                    - America/Dominica
                    - America/Edmonton
                    - America/Eirunepe
                    - America/El_Salvador
                    - America/Ensenada
                    - America/Fort_Nelson
                    - America/Fort_Wayne
                    - America/Fortaleza
                    - America/Glace_Bay
                    - America/Godthab
                    - America/Goose_Bay
                    - America/Grand_Turk
                    - America/Grenada
                    - America/Guadeloupe
                    - America/Guatemala
                    - America/Guayaquil
                    - America/Guyana
                    - America/Halifax
                    - America/Havana
                    - America/Hermosillo
                    - America/Indiana/Indianapolis
                    - America/Indiana/Knox
                    - America/Indiana/Marengo
                    - America/Indiana/Petersburg
                    - America/Indiana/Tell_City
                    - America/Indiana/Vevay
                    - America/Indiana/Vincennes
                    - America/Indiana/Winamac
                    - America/Indianapolis
                    - America/Inuvik
                    - America/Iqaluit
                    - America/Jamaica
                    - America/Jujuy
                    - America/Juneau
                    - America/Kentucky/Louisville
                    - America/Kentucky/Monticello
                    - America/Knox_IN
                    - America/Kralendijk
                    - America/La_Paz
                    - America/Lima
                    - America/Los_Angeles
                    - America/Louisville
                    - America/Lower_Princes
                    - America/Maceio
                    - America/Managua
                    - America/Manaus
                    - America/Marigot
                    - America/Martinique
                    - America/Matamoros
                    - America/Mazatlan
                    - America/Mendoza
                    - America/Menominee
                    - America/Merida
                    - America/Metlakatla
                    - America/Mexico_City
                    - America/Miquelon
                    - America/Moncton
                    - America/Monterrey
                    - America/Montevideo
                    - America/Montreal
                    - America/Montserrat
                    - America/Nassau
                    - America/New_York
                    - America/Nipigon
                    - America/Nome
                    - America/Noronha
                    - America/North_Dakota/Beulah
                    - America/North_Dakota/Center
                    - America/North_Dakota/New_Salem
                    - America/Ojinaga
                    - America/Panama
                    - America/Pangnirtung
                    - America/Paramaribo
                    - America/Phoenix
                    - America/Port-au-Prince
                    - America/Port_of_Spain
                    - America/Porto_Acre
                    - America/Porto_Velho
                    - America/Puerto_Rico
                    - America/Punta_Arenas
                    - America/Rainy_River
                    - America/Rankin_Inlet
                    - America/Recife
                    - America/Regina
                    - America/Resolute
                    - America/Rio_Branco
                    - America/Rosario
                    - America/Santa_Isabel
                    - America/Santarem
                    - America/Santiago
                    - America/Santo_Domingo
                    - America/Sao_Paulo
                    - America/Scoresbysund
                    - America/Shiprock
                    - America/Sitka
                    - America/St_Barthelemy
                    - America/St_Johns
                    - America/St_Kitts
                    - America/St_Lucia
                    - America/St_Thomas
                    - America/St_Vincent
                    - America/Swift_Current
                    - America/Tegucigalpa
                    - America/Thule
                    - America/Thunder_Bay
                    - America/Tijuana
                    - America/Toronto
                    - America/Tortola
                    - America/Vancouver
                    - America/Virgin
                    - America/Whitehorse
                    - America/Winnipeg
                    - America/Yakutat
                    - America/Yellowknife
                    - Antarctica/Casey
                    - Antarctica/Davis
                    - Antarctica/DumontDUrville
                    - Antarctica/Macquarie
                    - Antarctica/Mawson
                    - Antarctica/McMurdo
                    - Antarctica/Palmer
                    - Antarctica/Rothera
                    - Antarctica/South_Pole
                    - Antarctica/Syowa
                    - Antarctica/Troll
                    - Antarctica/Vostok
                    - Arctic/Longyearbyen
                    - Asia/Aden
                    - Asia/Almaty
                    - Asia/Amman
                    - Asia/Anadyr
                    - Asia/Aqtau
                    - Asia/Aqtobe
                    - Asia/Ashgabat
                    - Asia/Ashkhabad
                    - Asia/Atyrau
                    - Asia/Baghdad
                    - Asia/Bahrain
                    - Asia/Baku
                    - Asia/Bangkok
                    - Asia/Barnaul
                    - Asia/Beirut
                    - Asia/Bishkek
                    - Asia/Brunei
                    - Asia/Calcutta
                    - Asia/Chita
                    - Asia/Choibalsan
                    - Asia/Chongqing
                    - Asia/Chungking
                    - Asia/Colombo
                    - Asia/Dacca
                    - Asia/Damascus
                    - Asia/Dhaka
                    - Asia/Dili
                    - Asia/Dubai
                    - Asia/Dushanbe
                    - Asia/Famagusta
                    - Asia/Gaza
                    - Asia/Harbin
                    - Asia/Hebron
                    - Asia/Ho_Chi_Minh
                    - Asia/Hong_Kong
                    - Asia/Hovd
                    - Asia/Irkutsk
                    - Asia/Istanbul
                    - Asia/Jakarta
                    - Asia/Jayapura
                    - Asia/Jerusalem
                    - Asia/Kabul
                    - Asia/Kamchatka
                    - Asia/Karachi
                    - Asia/Kashgar
                    - Asia/Kathmandu
                    - Asia/Katmandu
                    - Asia/Khandyga
                    - Asia/Kolkata
                    - Asia/Krasnoyarsk
                    - Asia/Kuala_Lumpur
                    - Asia/Kuching
                    - Asia/Kuwait
                    - Asia/Macao
                    - Asia/Macau
                    - Asia/Magadan
                    - Asia/Makassar
                    - Asia/Manila
                    - Asia/Muscat
                    - Asia/Nicosia
                    - Asia/Novokuznetsk
                    - Asia/Novosibirsk
                    - Asia/Omsk
                    - Asia/Oral
                    - Asia/Phnom_Penh
                    - Asia/Pontianak
                    - Asia/Pyongyang
                    - Asia/Qatar
                    - Asia/Qyzylorda
                    - Asia/Rangoon
                    - Asia/Riyadh
                    - Asia/Saigon
                    - Asia/Sakhalin
                    - Asia/Samarkand
                    - Asia/Seoul
                    - Asia/Shanghai
                    - Asia/Singapore
                    - Asia/Srednekolymsk
                    - Asia/Taipei
                    - Asia/Tashkent
                    - Asia/Tbilisi
                    - Asia/Tehran
                    - Asia/Tel_Aviv
                    - Asia/Thimbu
                    - Asia/Thimphu
                    - Asia/Tokyo
                    - Asia/Tomsk
                    - Asia/Ujung_Pandang
                    - Asia/Ulaanbaatar
                    - Asia/Ulan_Bator
                    - Asia/Urumqi
                    - Asia/Ust-Nera
                    - Asia/Vientiane
                    - Asia/Vladivostok
                    - Asia/Yakutsk
                    - Asia/Yangon
                    - Asia/Yekaterinburg
                    - Asia/Yerevan
                    - Atlantic/Azores
                    - Atlantic/Bermuda
                    - Atlantic/Canary
                    - Atlantic/Cape_Verde
                    - Atlantic/Faeroe
                    - Atlantic/Faroe
                    - Atlantic/Jan_Mayen
                    - Atlantic/Madeira
                    - Atlantic/Reykjavik
                    - Atlantic/South_Georgia
                    - Atlantic/St_Helena
                    - Atlantic/Stanley
                    - Australia/ACT
                    - Australia/Adelaide
                    - Australia/Brisbane
                    - Australia/Broken_Hill
                    - Australia/Canberra
                    - Australia/Currie
                    - Australia/Darwin
                    - Australia/Eucla
                    - Australia/Hobart
                    - Australia/LHI
                    - Australia/Lindeman
                    - Australia/Lord_Howe
                    - Australia/Melbourne
                    - Australia/NSW
                    - Australia/North
                    - Australia/Perth
                    - Australia/Queensland
                    - Australia/South
                    - Australia/Sydney
                    - Australia/Tasmania
                    - Australia/Victoria
                    - Australia/West
                    - Australia/Yancowinna
                    - Brazil/Acre
                    - Brazil/DeNoronha
                    - Brazil/East
                    - Brazil/West
                    - CET
                    - CST6CDT
                    - Canada/Atlantic
                    - Canada/Central
                    - Canada/Eastern
                    - Canada/Mountain
                    - Canada/Newfoundland
                    - Canada/Pacific
                    - Canada/Saskatchewan
                    - Canada/Yukon
                    - Chile/Continental
                    - Chile/EasterIsland
                    - Cuba
                    - EET
                    - EST
                    - EST5EDT
                    - Egypt
                    - Eire
                    - Etc/GMT
                    - Etc/GMT+0
                    - Etc/GMT+1
                    - Etc/GMT+10
                    - Etc/GMT+11
                    - Etc/GMT+12
                    - Etc/GMT+2
                    - Etc/GMT+3
                    - Etc/GMT+4
                    - Etc/GMT+5
                    - Etc/GMT+6
                    - Etc/GMT+7
                    - Etc/GMT+8
                    - Etc/GMT+9
                    - Etc/GMT-0
                    - Etc/GMT-1
                    - Etc/GMT-10
                    - Etc/GMT-11
                    - Etc/GMT-12
                    - Etc/GMT-13
                    - Etc/GMT-14
                    - Etc/GMT-2
                    - Etc/GMT-3
                    - Etc/GMT-4
                    - Etc/GMT-5
                    - Etc/GMT-6
                    - Etc/GMT-7
                    - Etc/GMT-8
                    - Etc/GMT-9
                    - Etc/GMT0
                    - Etc/Greenwich
                    - Etc/UCT
                    - Etc/UTC
                    - Etc/Universal
                    - Etc/Zulu
                    - Europe/Amsterdam
                    - Europe/Andorra
                    - Europe/Astrakhan
                    - Europe/Athens
                    - Europe/Belfast
                    - Europe/Belgrade
                    - Europe/Berlin
                    - Europe/Bratislava
                    - Europe/Brussels
                    - Europe/Bucharest
                    - Europe/Budapest
                    - Europe/Busingen
                    - Europe/Chisinau
                    - Europe/Copenhagen
                    - Europe/Dublin
                    - Europe/Gibraltar
                    - Europe/Guernsey
                    - Europe/Helsinki
                    - Europe/Isle_of_Man
                    - Europe/Istanbul
                    - Europe/Jersey
                    - Europe/Kaliningrad
                    - Europe/Kiev
                    - Europe/Kirov
                    - Europe/Lisbon
                    - Europe/Ljubljana
                    - Europe/London
                    - Europe/Luxembourg
                    - Europe/Madrid
                    - Europe/Malta
                    - Europe/Mariehamn
                    - Europe/Minsk
                    - Europe/Monaco
                    - Europe/Moscow
                    - Europe/Nicosia
                    - Europe/Oslo
                    - Europe/Paris
                    - Europe/Podgorica
                    - Europe/Prague
                    - Europe/Riga
                    - Europe/Rome
                    - Europe/Samara
                    - Europe/San_Marino
                    - Europe/Sarajevo
                    - Europe/Saratov
                    - Europe/Simferopol
                    - Europe/Skopje
                    - Europe/Sofia
                    - Europe/Stockholm
                    - Europe/Tallinn
                    - Europe/Tirane
                    - Europe/Tiraspol
                    - Europe/Ulyanovsk
                    - Europe/Uzhgorod
                    - Europe/Vaduz
                    - Europe/Vatican
                    - Europe/Vienna
                    - Europe/Vilnius
                    - Europe/Volgograd
                    - Europe/Warsaw
                    - Europe/Zagreb
                    - Europe/Zaporozhye
                    - Europe/Zurich
                    - GB
                    - GB-Eire
                    - GMT
                    - GMT+0
                    - GMT-0
                    - GMT0
                    - Greenwich
                    - HST
                    - Hongkong
                    - Iceland
                    - Indian/Antananarivo
                    - Indian/Chagos
                    - Indian/Christmas
                    - Indian/Cocos
                    - Indian/Comoro
                    - Indian/Kerguelen
                    - Indian/Mahe
                    - Indian/Maldives
                    - Indian/Mauritius
                    - Indian/Mayotte
                    - Indian/Reunion
                    - Iran
                    - Israel
                    - Jamaica
                    - Japan
                    - Kwajalein
                    - Libya
                    - MET
                    - MST
                    - MST7MDT
                    - Mexico/BajaNorte
                    - Mexico/BajaSur
                    - Mexico/General
                    - NZ
                    - NZ-CHAT
                    - Navajo
                    - PRC
                    - PST8PDT
                    - Pacific/Apia
                    - Pacific/Auckland
                    - Pacific/Bougainville
                    - Pacific/Chatham
                    - Pacific/Chuuk
                    - Pacific/Easter
                    - Pacific/Efate
                    - Pacific/Enderbury
                    - Pacific/Fakaofo
                    - Pacific/Fiji
                    - Pacific/Funafuti
                    - Pacific/Galapagos
                    - Pacific/Gambier
                    - Pacific/Guadalcanal
                    - Pacific/Guam
                    - Pacific/Honolulu
                    - Pacific/Johnston
                    - Pacific/Kiritimati
                    - Pacific/Kosrae
                    - Pacific/Kwajalein
                    - Pacific/Majuro
                    - Pacific/Marquesas
                    - Pacific/Midway
                    - Pacific/Nauru
                    - Pacific/Niue
                    - Pacific/Norfolk
                    - Pacific/Noumea
                    - Pacific/Pago_Pago
                    - Pacific/Palau
                    - Pacific/Pitcairn
                    - Pacific/Pohnpei
                    - Pacific/Ponape
                    - Pacific/Port_Moresby
                    - Pacific/Rarotonga
                    - Pacific/Saipan
                    - Pacific/Samoa
                    - Pacific/Tahiti
                    - Pacific/Tarawa
                    - Pacific/Tongatapu
                    - Pacific/Truk
                    - Pacific/Wake
                    - Pacific/Wallis
                    - Pacific/Yap
                    - Poland
                    - Portugal
                    - ROC
                    - ROK
                    - Singapore
                    - Turkey
                    - UCT
                    - US/Alaska
                    - US/Aleutian
                    - US/Arizona
                    - US/Central
                    - US/East-Indiana
                    - US/Eastern
                    - US/Hawaii
                    - US/Indiana-Starke
                    - US/Michigan
                    - US/Mountain
                    - US/Pacific
                    - US/Pacific-New
                    - US/Samoa
                    - UTC
                    - Universal
                    - W-SU
                    - WET
                    - Zulu
                  hasRemoteUnlock:
                    type: boolean
                  isOverrideAllowed:
                    type: boolean
                  externalId:
                    type: string
                    x-nullable: true
                  identity:
                    type: object
                    properties:
                      id:
                        type: number
                      opal:
                        type: string
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            description:
                              type: string
                            isMfaRequired:
                              type: boolean
                          required:
                          - id
                      mfaCredentials:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            name:
                              type: string
                            status:
                              type: string
                            mfaCredentialType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                modelName:
                                  type: string
                              required:
                              - id
                            totpSoftDevice:
                              type: object
                              properties:
                                id:
                                  type: number
                              required:
                              - id
                          required:
                          - id
                      firstName:
                        type: string
                        x-nullable: true
                      middleName:
                        type: string
                        x-nullable: true
                      lastName:
                        type: string
                        x-nullable: true
                      fullName:
                        type: string
                        x-nullable: true
                      initials:
                        type: string
                        x-nullable: true
                      isEmailVerified:
                        type: boolean
                      namespace:
                        type: object
                        properties:
                          id:
                            type: integer
                          nickname:
                            type: string
                            x-nullable: true
                          namespaceType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                              modelName:
                                type: string
                                x-nullable: true
                            required:
                            - id
                          org:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                          identityProvider:
                            type: object
                            properties:
                              id:
                                type: number
                              isSsoEnabled:
                                type: boolean
                              isSyncMobilePhoneEnabled:
                                type: boolean
                              isRemoveGroupsEnabled:
                                type: boolean
                              identityProviderSyncTypeId:
                                type: integer
                                x-nullable: true
                              credentials:
                                type: string
                                x-nullable: true
                              identityProviderType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                              org:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                          propertyManagementSystem:
                            type: object
                            properties:
                              id:
                                type: number
                              orgId:
                                type: number
                              propertyManagementSystemTypeId:
                                type: number
                              propertyManagementSystemType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                            - orgId
                            - propertyManagementSystemTypeId
                        required:
                        - id
                      idpUniqueIdentifier:
                        type: string
                      pmsUniqueIdentifier:
                        type: string
                        x-nullable: true
                      needsPasswordChange:
                        type: boolean
                        default: false
                      nicknames:
                        x-nullable: true
                        type: array
                        items:
[...]
