openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/custom Fields API
  version: 1.0.0
  description: Custom Fields
servers:
- url: https://api.openpath.com
tags:
- name: orgs/customFields
  description: Custom Fields
paths:
  /orgs/{orgId}/customFields:
    get:
      summary: List all custom fields
      operationId: listCustomFields
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-musterReport:r,o{params.orgId}-musterReport:w,o{params.orgId}-occupancyReport:r,o{params.orgId}-occupancyReport:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listCustomFields'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        ordinal:
                          type: number
                        customFieldType:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        customFieldDropdownItems:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        isEnabled:
                          type: boolean
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-musterReport:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-occupancyReport:r
      - o{params.orgId}-occupancyReport:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a custom field
      operationId: createCustomField
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: createCustomField'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      ordinal:
                        type: number
                      customFieldType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      customFieldDropdownItems:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      isEnabled:
                        type: boolean
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                customFieldTypeId:
                  type: integer
                isEnabled:
                  type: boolean
                ordinal:
                  type: integer
              required:
              - name
              - customFieldTypeId
              - isEnabled
    patch:
      summary: Bulk update custom fields
      operationId: updateCustomFields
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: updateCustomFields'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  ordinal:
                    type: integer
                required:
                - id
  /orgs/{orgId}/customFields/{customFieldId}:
    get:
      summary: Describe a custom field
      operationId: describeCustomField
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeCustomField'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      ordinal:
                        type: number
                      customFieldType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      customFieldDropdownItems:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      isEnabled:
                        type: boolean
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a custom field
      operationId: deleteCustomField
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: deleteCustomField'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
    patch:
      summary: Update a custom field
      operationId: updateCustomField
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: updateCustomField'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                ordinal:
                  type: integer
                isEnabled:
                  type: boolean
                customFieldTypeId:
                  type: integer
  /orgs/{orgId}/customFields/{customFieldId}/dropdownItems:
    get:
      summary: List all custom field dropdown items
      operationId: listCustomFieldDropdownItems
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listCustomFieldDropdownItems'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: ordinal
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        ordinal:
                          type: number
                        customField:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a custom field dropdown item
      operationId: createCustomFieldDropdownItem
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: createCustomFieldDropdownItem'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      ordinal:
                        type: number
                      customField:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                ordinal:
                  type: integer
              required:
              - name
    patch:
      summary: Bulk update custom field dropdown items
      operationId: updateCustomFieldDropdownItems
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: updateCustomFieldDropdownItems'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  ordinal:
                    type: integer
                required:
                - id
  /orgs/{orgId}/customFields/{customFieldId}/dropdownItems/{dropdownItemId}:
    get:
      summary: Describe a custom field dropdown item
      operationId: describeCustomFieldDropdownItem
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeCustomFieldDropdownItem'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      - name: dropdownItemId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      ordinal:
                        type: number
                      customField:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a custom field dropdown item
      operationId: deleteCustomFieldDropdownItem
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: deleteCustomFieldDropdownItem'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      - name: dropdownItemId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
    patch:
      summary: Update a custom field dropdown item
      operationId: updateCustomFieldDropdownItem
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: updateCustomFieldDropdownItem'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: customFieldId
        in: path
        required: true
        schema:
          type: integer
      - name: dropdownItemId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/customFields
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                ordinal:
                  type: integer
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
