swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/cobalt API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/cobalt
paths:
  /orgs/{orgId}/cobalt/v0/generateActivityLogsFilter:
    post:
      summary: Receives a generateActivityLogsFilter request and passes it to cobalt to execute
      operationId: generateActivityLogsFilter
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-rptGeneral:w,o:w,o:r,s-o:r,s-o:w<br/><br/>__Endpoint name__: generateActivityLogsFilter'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            query:
              type: string
            sessionId:
              type: string
          required:
          - query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/cobalt
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  startTime:
                    type: number
                  endTime:
                    type: number
                  accessGroups:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        ids:
                          type: array
                          items:
                            type: number
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - ids
                      - matched
                  category:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        values:
                          type: array
                          items:
                            type: string
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - values
                      - matched
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        ids:
                          type: array
                          items:
                            type: number
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - ids
                      - matched
                  event:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        values:
                          type: array
                          items:
                            type: string
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - values
                      - matched
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        values:
                          type: array
                          items:
                            type: string
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - values
                      - matched
                  sites:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        ids:
                          type: array
                          items:
                            type: number
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - ids
                      - matched
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        ids:
                          type: array
                          items:
                            type: number
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - ids
                      - matched
                  zones:
                    type: array
                    items:
                      type: object
                      properties:
                        plaintext:
                          type: string
                        ids:
                          type: array
                          items:
                            type: number
                        matched:
                          type: boolean
                      required:
                      - plaintext
                      - ids
                      - matched
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-rptGeneral:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
