openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/dashboards API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/dashboards
paths:
  /orgs/{orgId}/dashboards:
    get:
      summary: List all dashboards
      operationId: listDashboards
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listDashboards'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        widgets:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              config:
                                type: object
                              startCol:
                                type: number
                              startRow:
                                type: number
                              numCols:
                                type: number
                              numRows:
                                type: number
                              widgetType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                        orgId:
                          type: number
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a new dashboard
      operationId: createDashboard
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dashCust:w,o:w,s-o:w


        __Endpoint name__: createDashboard'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      widgets:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            config:
                              type: object
                            startCol:
                              type: number
                            startRow:
                              type: number
                            numCols:
                              type: number
                            numRows:
                              type: number
                            widgetType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      orgId:
                        type: number
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashCust:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
  /orgs/{orgId}/dashboards/{dashboardId}:
    get:
      summary: Describe a dashboard
      operationId: describeDashboard
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeDashboard'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      widgets:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            config:
                              type: object
                            startCol:
                              type: number
                            startRow:
                              type: number
                            numCols:
                              type: number
                            numRows:
                              type: number
                            widgetType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      orgId:
                        type: number
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a dashboard
      operationId: deleteDashboard
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dashCust:w,o:w,s-o:w


        __Endpoint name__: deleteDashboard'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashCust:w
      - o:w
      - s-o:w
    patch:
      summary: Update an existing dashboard
      operationId: updateDashboard
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dashCust:w,o:w,s-o:w


        __Endpoint name__: updateDashboard'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      widgets:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            config:
                              type: object
                            startCol:
                              type: number
                            startRow:
                              type: number
                            numCols:
                              type: number
                            numRows:
                              type: number
                            widgetType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      orgId:
                        type: number
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashCust:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
  /orgs/{orgId}/dashboards/{dashboardId}/widgets:
    get:
      summary: List all dashboard widgets
      operationId: listWidgets
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listWidgets'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        numRows:
                          type: number
                        numCols:
                          type: number
                        startRow:
                          type: number
                        startCol:
                          type: number
                        config:
                          type: object
                        widgetType:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a new dashboard widget
      operationId: createWidget
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dashCust:w,o:w,s-o:w


        __Endpoint name__: createWidget'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      numRows:
                        type: number
                      numCols:
                        type: number
                      startRow:
                        type: number
                      startCol:
                        type: number
                      config:
                        type: object
                      widgetType:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashCust:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startCol:
                  type: integer
                startRow:
                  type: integer
                numCols:
                  type: integer
                numRows:
                  type: integer
                config:
                  type: object
                widgetTypeId:
                  type:
                  - integer
                  - 'null'
              required:
              - startCol
              - startRow
              - numCols
              - numRows
              - config
              - widgetTypeId
  /orgs/{orgId}/dashboards/{dashboardId}/widgets/{widgetId}:
    get:
      summary: Describe a dashboard widget
      operationId: describeWidget
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeWidget'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      - name: widgetId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      numRows:
                        type: number
                      numCols:
                        type: number
                      startRow:
                        type: number
                      startCol:
                        type: number
                      config:
                        type: object
                      widgetType:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a dashboard widget
      operationId: deleteWidget
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dashCust:w,o:w,s-o:w


        __Endpoint name__: deleteWidget'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      - name: widgetId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashCust:w
      - o:w
      - s-o:w
    patch:
      summary: Update a dashboard widget
      operationId: updateWidget
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dashCust:w,o:w,s-o:w


        __Endpoint name__: updateWidget'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: dashboardId
        in: path
        required: true
        schema:
          type: integer
      - name: widgetId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/dashboards
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dashCust:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                startCol:
                  type: integer
                startRow:
                  type: integer
                numCols:
                  type: integer
                numRows:
                  type: integer
                config:
                  type: object
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
