openapi: 3.2.0
info:
  title: Openpath API Documentation Auth API
  version: 1.0.0
  description: Authentication and Login
servers:
- url: https://api.openpath.com
tags:
- name: Auth
  description: Authentication and Login
paths:
  /auth/accessTokens/{token}:
    get:
      summary: Describe an access token's associated identity and scopes
      operationId: describeAccessToken
      description: '__Endpoint name__: describeAccessToken'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Auth
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      identityId:
                        type: number
                      identity:
                        type: object
                        properties:
                          id:
                            type: number
                          namespace:
                            type: object
                            properties:
                              id:
                                type: number
                              nickname:
                                type: string
                            required:
                            - id
                        required:
                        - id
                      token:
                        type: string
                      tokenScopeList:
                        type: array
                        items:
                          type: object
                          properties:
                            org:
                              type: object
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                                opal:
                                  type:
                                  - string
                                  - 'null'
                                packagePlans:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      package:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          packageFeatures:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                config:
                                                  type:
                                                  - object
                                                  - 'null'
                                                feature:
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                                    code:
                                                      type: string
                                                  required:
                                                  - id
                                              required:
                                              - id
                                        required:
                                        - id
                                      isSelected:
                                        type: boolean
                                    required:
                                    - id
                                parentOrg:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                orgNativeApps:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      failureReason:
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                      status:
                                        type: string
                                        enum:
                                        - A
                                        - E
                                        - I
                                        - P
                                        - S
                                      config:
                                        type:
                                        - object
                                        - 'null'
                                      nativeApp:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          url:
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - id
                                    required:
                                    - id
                                    - nativeApp
                                isUnified:
                                  type: boolean
                              required:
                              - id
                            user:
                              type: object
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                opal:
                                  type:
                                  - string
                                  - 'null'
                                needsMFACredential:
                                  type: boolean
                              required:
                              - id
                            scope:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            policySection:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  nativeAppId:
                                    type:
                                    - number
                                    - 'null'
                                  site:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                      required:
                                      - id
                                  role:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                    required:
                                    - id
                                required:
                                - id
                            scopeWithContext:
                              type: array
                              items:
                                type: object
                                properties:
                                  context:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        mfa:
                                          type: boolean
                                        needsMFACredential:
                                          type: boolean
                                        fsa:
                                          type: boolean
                                  scope:
                                    type: array
                                    items:
                                      type: string
                      createdAt:
                        type: string
                        format: date
                      expiresAt:
                        type:
                        - string
                        - 'null'
                        format: date
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
  /auth/login:
    post:
      summary: Login
      operationId: login
      description: '__Endpoint name__: login'
      tags:
      - Auth
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      identityId:
                        type: number
                      identity:
                        type: object
                        properties:
                          id:
                            type: number
                          namespace:
                            type: object
                            properties:
                              id:
                                type: number
                              nickname:
                                type: string
                            required:
                            - id
                        required:
                        - id
                      token:
                        type: string
                      tokenScopeList:
                        type: array
                        items:
                          type: object
                          properties:
                            org:
                              type: object
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                                opal:
                                  type:
                                  - string
                                  - 'null'
                                packagePlans:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      package:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          packageFeatures:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                config:
                                                  type:
                                                  - object
                                                  - 'null'
                                                feature:
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                                    code:
                                                      type: string
                                                  required:
                                                  - id
                                              required:
                                              - id
                                        required:
                                        - id
                                      isSelected:
                                        type: boolean
                                    required:
                                    - id
                                parentOrg:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                orgNativeApps:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      failureReason:
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                      status:
                                        type: string
                                        enum:
                                        - A
                                        - E
                                        - I
                                        - P
                                        - S
                                      config:
                                        type:
                                        - object
                                        - 'null'
                                      nativeApp:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          url:
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - id
                                    required:
                                    - id
                                    - nativeApp
                                isUnified:
                                  type: boolean
                              required:
                              - id
                            user:
                              type: object
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                opal:
                                  type:
                                  - string
                                  - 'null'
                                needsMFACredential:
                                  type: boolean
                              required:
                              - id
                            scope:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            policySection:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  nativeAppId:
                                    type:
                                    - number
                                    - 'null'
                                  site:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                      required:
                                      - id
                                  role:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                    required:
                                    - id
                                required:
                                - id
                            scopeWithContext:
                              type: array
                              items:
                                type: object
                                properties:
                                  context:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        mfa:
                                          type: boolean
                                        needsMFACredential:
                                          type: boolean
                                        fsa:
                                          type: boolean
                                  scope:
                                    type: array
                                    items:
                                      type: string
                      createdAt:
                        type: string
                        format: date
                      expiresAt:
                        type:
                        - string
                        - 'null'
                        format: date
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespaceId:
                  type: integer
                namespaceNickname:
                  type: string
                  minLength: 1
                  maxLength: 255
                email:
                  type: string
                  x-format:
                    email: true
                  x-convert:
                    trim: true
                password:
                  type: string
                mfa:
                  type: object
                  properties:
                    totpCode:
                      type: string
                forMobileLogin:
                  type: boolean
              required:
              - email
              - password
  /auth/loginAll:
    post:
      summary: Login all successful matches for email/password
      operationId: loginAll
      description: '__Endpoint name__: loginAll'
      tags:
      - Auth
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        identityId:
                          type: number
                        identity:
                          type: object
                          properties:
                            id:
                              type: number
                            namespace:
                              type: object
                              properties:
                                id:
                                  type: number
                                nickname:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                        token:
                          type: string
                        tokenScopeList:
                          type: array
                          items:
                            type: object
                            properties:
                              org:
                                type: object
                                properties:
                                  id:
                                    type:
                                    - number
                                    - 'null'
                                  name:
                                    type:
                                    - string
                                    - 'null'
                                  opal:
                                    type:
                                    - string
                                    - 'null'
                                  packagePlans:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        package:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                            packageFeatures:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  config:
                                                    type:
                                                    - object
                                                    - 'null'
                                                  feature:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: number
                                                      name:
                                                        type: string
                                                      code:
                                                        type: string
                                                    required:
                                                    - id
                                                required:
                                                - id
                                          required:
                                          - id
                                        isSelected:
                                          type: boolean
                                      required:
                                      - id
                                  parentOrg:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                  orgNativeApps:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        failureReason:
                                          type:
                                          - string
                                          - 'null'
                                        url:
                                          type:
                                          - string
                                          - 'null'
                                        status:
                                          type: string
                                          enum:
                                          - A
                                          - E
                                          - I
                                          - P
                                          - S
                                        config:
                                          type:
                                          - object
                                          - 'null'
                                        nativeApp:
                                          type: object
                                          properties:
                                            id:
                                              type: integer
                                            url:
                                              type:
                                              - string
                                              - 'null'
                                          required:
                                          - id
                                      required:
                                      - id
                                      - nativeApp
                                  isUnified:
                                    type: boolean
                                required:
                                - id
                              user:
                                type: object
                                properties:
                                  id:
                                    type:
                                    - number
                                    - 'null'
                                  opal:
                                    type:
                                    - string
                                    - 'null'
                                  needsMFACredential:
                                    type: boolean
                                required:
                                - id
                              scope:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: string
                              policySection:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    nativeAppId:
                                      type:
                                      - number
                                      - 'null'
                                    site:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                        required:
                                        - id
                                    role:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                      required:
                                      - id
                                  required:
                                  - id
                              scopeWithContext:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    context:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          mfa:
                                            type: boolean
                                          needsMFACredential:
                                            type: boolean
                                          fsa:
                                            type: boolean
                                    scope:
                                      type: array
                                      items:
                                        type: string
                        createdAt:
                          type: string
                          format: date
                        expiresAt:
                          type:
                          - string
                          - 'null'
                          format: date
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  x-format:
                    email: true
                  x-convert:
                    trim: true
                password:
                  type: string
                mfa:
                  type: object
                  properties:
                    totpCode:
                      type: string
                forMobileLogin:
                  type: boolean
              required:
              - email
              - password
  /auth/logout:
    post:
      summary: Logout
      operationId: logout
      description: '__JWT is required for this endpoint with at least one of the following scopes__: undefined


        __Endpoint name__: logout'
      tags:
      - Auth
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
  /auth/resetPassword:
    post:
      summary: Send email to reset password
      operationId: resetPassword
      description: '__Endpoint name__: resetPassword'
      tags:
      - Auth
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespaceId:
                  type: integer
                namespaceNickname:
                  type: string
                  minLength: 1
                  maxLength: 255
                email:
                  type: string
                  x-format:
                    email: true
                  x-convert:
                    trim: true
                forMobileLogin:
                  type: boolean
                resetUrl:
                  type: string
                  x-format:
                    uri: true
              required:
              - email
  /auth/setupMobile:
    post:
      summary: Send email with magic link to setup mobile
      operationId: setupMobile
      description: '__Endpoint name__: setupMobile'
      tags:
      - Auth
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespaceId:
                  type: integer
                email:
                  type: string
                  x-format:
                    email: true
                  x-convert:
                    trim: true
                credentialId:
                  type: integer
                os:
                  type: string
                appVersion:
                  type: string
  /auth/accessTokens/refresh:
    post:
      summary: Create a new access token with refreshed scopes and expiration time, invalidate…
      operationId: refreshLogin
      description: '__JWT is required for this endpoint with at least one of the following scopes__: undefined


        __Endpoint name__: refreshLogin'
      tags:
      - Auth
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      identityId:
                        type: number
                      identity:
                        type: object
                        properties:
                          id:
                            type: number
                          namespace:
                            type: object
                            properties:
                              id:
                                type: number
                              nickname:
                                type: string
                            required:
                            - id
                        required:
                        - id
                      token:
                        type: string
                      tokenScopeList:
                        type: array
                        items:
                          type: object
                          properties:
                            org:
                              type: object
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                name:
                                  type:
                                  - string
                                  - 'null'
                                opal:
                                  type:
                                  - string
                                  - 'null'
                                packagePlans:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      package:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          packageFeatures:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                config:
                                                  type:
                                                  - object
                                                  - 'null'
                                                feature:
                                                  type: object
                                                  properties:
                                                    id:
                                                      type: number
                                                    name:
                                                      type: string
                                                    code:
                                                      type: string
                                                  required:
                                                  - id
                                              required:
                                              - id
                                        required:
                                        - id
                                      isSelected:
                                        type: boolean
                                    required:
                                    - id
                                parentOrg:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                orgNativeApps:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      failureReason:
                                        type:
                                        - string
                                        - 'null'
                                      url:
                                        type:
                                        - string
                                        - 'null'
                                      status:
                                        type: string
                                        enum:
                                        - A
                                        - E
                                        - I
                                        - P
                                        - S
                                      config:
                                        type:
                                        - object
                                        - 'null'
                                      nativeApp:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          url:
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - id
                                    required:
                                    - id
                                    - nativeApp
                                isUnified:
                                  type: boolean
                              required:
                              - id
                            user:
                              type: object
                              properties:
                                id:
                                  type:
                                  - number
                                  - 'null'
                                opal:
                                  type:
                                  - string
                                  - 'null'
                                needsMFACredential:
                                  type: boolean
                              required:
                              - id
                            scope:
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                            policySection:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  nativeAppId:
                                    type:
                                    - number
                                    - 'null'
                                  site:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                      required:
                                      - id
                                  role:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                    required:
                                    - id
                                required:
                                - id
                            scopeWithContext:
                              type: array
                              items:
                                type: object
                                properties:
                                  context:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        mfa:
                                          type: boolean
                                        needsMFACredential:
                                          type: boolean
                                        fsa:
                                          type: boolean
                                  scope:
                                    type: array
                                    items:
                                      type: string
                      createdAt:
                        type: string
                        format: date
                      expiresAt:
                        type:
                        - string
                        - 'null'
                        format: date
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
  /auth/oidc/authorize:
    post:
      summary: DEPRECATED - use /auth/sso/authorize instead
      operationId: getOidcAuthUrl
      description: '__Endpoint name__: getOidcAuthUrl'
      tags:
      - Auth
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      authUrl:
                        type:
                        - string
                        - 'null'
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespaceId:
                  type: integer
                namespaceNickname:
                  type: string
                  minLength: 1
                  maxLength: 255
                email:
                  type: string
                  x-format:
                    email: true
                  x-convert:
                    trim: true
              required:
              - email
  /auth/sso/authorize:
    post:
      summary: Generate SSO authorize URL (may be OIDC or SAML)
      operationId: getSsoAuthUrl
      description: '__Endpoint name__: getSsoAuthUrl'
      tags:
      - Auth
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      authUrl:
                        type:
                        - string
                        - 'null'
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                namespaceId:
                  type: integer
                namespaceNickname:
                  type: string
                  minLength: 1
                  maxLength: 255
                email:
                  type: string
                  x-format:
                    email: true
                  x-convert:
                    trim: true
                uuid:
                  type: string
                  x-format:
                    guid: true
                  x-convert:
                    trim: true
                redirectUrlDirect:
                  type: boolean
                  default: false
                redirectUrl:
                  type: string
                  pattern: ^\/[^:]*$
                  x-alternatives:
                  - type: string
                    pattern: ^\/[^:]*$
                    x-alternatives:
                    - type: string
                      pattern: ^\/[^:]*$
                    - type: string
                      pattern: ^https?:\/\/(?:(?:[a-zA-Z0-9-]+\.)+(ava\.uk|alta\.uk|avasecurity\.com|avigilon\.com)|localhost(:\d+)?)\/?.*$
                      x-format:
                        uri:
                          scheme:
                          - http
                          - https
                  - type:
                    - string
                    - 'null'
                    x-alternatives:
                    - type:
                      - string
                      - 'null'
                    - type: string
                      pattern: ^\/[^:]*$
                    - type: string
                      pattern: ^https?:\/\/(?:(?:[a-zA-Z0-9-]+\.)+(ava\.uk|alta\.uk|avasecurity\.com|avigilon\.com)|localhost(:\d+)?)\/?.*$
                      x-format:
                        uri:
                          scheme:
                          - http
                          - https
                  required:
                  - redirectUrl
                forMobileLogin:
                  type: boolean
  /auth/accessTokens/{token}/validate:
    post:
      summary: Validate an access token for proper signature, format, expiration, and active…
      operationId: validateAccessToken
      description: 'Possible error names: TokenExpiredError, JsonWebTokenError, TokenNotFoundError


        __Endpoint name__: validateAccessToken'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Auth
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      isValid:
                        type: boolean
                      err:
                        type: object
                        properties:
                          name:
                            type: string
                          message:
                            type: string
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
