openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/maintenance Window API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/maintenanceWindow
paths:
  /orgs/{orgId}/maintenanceWindow:
    get:
      summary: Describe an organization's maintenance window
      operationId: describeOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,o:r,s-o:w,s-o:r,o-basic:w,o-basic:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r


        __Endpoint name__: describeOrgMaintenanceWindow'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      useMaintenanceWindow:
                        type: boolean
                      modelId:
                        type: integer
                      maintenanceWindowTypeId:
                        type: integer
                      updateWindowDay:
                        type: string
                        enum:
                        - Sunday
                        - Monday
                        - Tuesday
                        - Wednesday
                        - Thursday
                        - Friday
                        - Saturday
                      updateWindowStart:
                        type: string
                      updateWindowDuration:
                        type: integer
                      timeZone:
                        type: string
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o-basic:w
      - o-basic:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
    delete:
      summary: Delete an organization's maintenance window
      operationId: deleteOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o-basic:w,o{params.orgId}-hw:w


        __Endpoint name__: deleteOrgMaintenanceWindow'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o:w
      - s-o:w
      - o-basic:w
      - o{params.orgId}-hw:w
    patch:
      summary: Update an organization's maintenance window
      operationId: updateOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o-basic:w,o{params.orgId}-hw:w


        __Endpoint name__: updateOrgMaintenanceWindow'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o:w
      - s-o:w
      - o-basic:w
      - o{params.orgId}-hw:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                useMaintenanceWindow:
                  type: boolean
                updateWindowDay:
                  type: string
                  enum:
                  - Sunday
                  - Monday
                  - Tuesday
                  - Wednesday
                  - Thursday
                  - Friday
                  - Saturday
                updateWindowStart:
                  type: string
                updateWindowDuration:
                  type: integer
                timeZone:
                  type: string
              required:
              - useMaintenanceWindow
              - updateWindowDay
              - updateWindowStart
              - updateWindowDuration
              - timeZone
    put:
      summary: Create or update an organization's maintenance window
      operationId: createOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o-basic:w,o{params.orgId}-hw:w


        __Endpoint name__: createOrgMaintenanceWindow'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      useMaintenanceWindow:
                        type: boolean
                      modelId:
                        type: integer
                      maintenanceWindowTypeId:
                        type: integer
                      updateWindowDay:
                        type: string
                        enum:
                        - Sunday
                        - Monday
                        - Tuesday
                        - Wednesday
                        - Thursday
                        - Friday
                        - Saturday
                      updateWindowStart:
                        type: string
                      updateWindowDuration:
                        type: integer
                      timeZone:
                        type: string
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:w
      - s-o:w
      - o-basic:w
      - o{params.orgId}-hw:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                useMaintenanceWindow:
                  type: boolean
                updateWindowDay:
                  type: string
                  enum:
                  - Sunday
                  - Monday
                  - Tuesday
                  - Wednesday
                  - Thursday
                  - Friday
                  - Saturday
                updateWindowStart:
                  type: string
                updateWindowDuration:
                  type: integer
                timeZone:
                  type: string
              required:
              - useMaintenanceWindow
              - updateWindowDay
              - updateWindowStart
              - updateWindowDuration
              - timeZone
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
