openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/package Plans API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/packagePlans
paths:
  /orgs/{orgId}/packagePlans:
    get:
      summary: List all available package plans
      operationId: listOrgPackagePlans
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-account:w,o{params.orgId}-account:r,o:w,o:r,o-basic:w,o-basic:r,s-o:w,s-o:r


        __Endpoint name__: listOrgPackagePlans'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: ordinal
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: viewContext
        in: query
        schema:
          type: string
      tags:
      - orgs/packagePlans
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        package:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            startDate:
                              type:
                              - string
                              - 'null'
                              format: date
                            endDate:
                              type:
                              - string
                              - 'null'
                              format: date
                            canOptInSelf:
                              type: boolean
                            canOptInRoot:
                              type: boolean
                            canOptInParentOrg:
                              type: boolean
                            isAutoManaged:
                              type: boolean
                            isAutoManagedForLicenses:
                              type: boolean
                            parentPackages:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            subPackages:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            conflictingPackages:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            packageFeatures:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  config:
                                    type:
                                    - object
                                    - 'null'
                                  feature:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      code:
                                        type: string
                                      singular:
                                        type:
                                        - string
                                        - 'null'
                                      plural:
                                        type:
                                        - string
                                        - 'null'
                                      isBinary:
                                        type: boolean
                                    required:
                                    - id
                                  isBillable:
                                    type: boolean
                                required:
                                - id
                          required:
                          - id
                        isSelected:
                          type: boolean
                        netsuitePlan:
                          type: object
                          properties:
                            currency:
                              type: string
                            interval:
                              type: string
                            interval_count:
                              type: integer
                            PricePlanId:
                              type: integer
                            tiers:
                              type: array
                              items:
                                type: object
                                properties:
                                  fromqty:
                                    type: integer
                                  value:
                                    type: number
                                  fixedAmount:
                                    type: boolean
                          required:
                          - currency
                          - interval
                          - interval_count
                        stripePlan:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: string
                            product:
                              type: string
                            amount:
                              type:
                              - number
                              - 'null'
                            currency:
                              type: string
                            interval:
                              type: string
                            interval_count:
                              type: number
                          required:
                          - currency
                          - interval
                          - interval_count
                        softwareLicense:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            sku:
                              type: string
                            billableQuantity:
                              type: integer
                            softwareLicenseOffers:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  type:
                                    type: string
                                    enum:
                                    - trial
                                    - promo
                                  subscriptionTermOverride:
                                    type:
                                    - number
                                    - 'null'
                                  defaultIntervalTerm:
                                    type: string
                                    enum:
                                    - month
                                    - day
                                    - year
                                  defaultIntervalDuration:
                                    type: number
                                  maxDaysAllowed:
                                    type: number
                                  maxQuantityAllowed:
                                    type:
                                    - number
                                    - 'null'
                                required:
                                - id
                                - type
                                - defaultIntervalTerm
                                - defaultIntervalDuration
                                - maxDaysAllowed
                            packagePlans:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  ordinal:
                                    type: integer
                                  intervalUnit:
                                    type:
                                    - string
                                    - 'null'
                                  intervalCount:
                                    type:
                                    - integer
                                    - 'null'
                                  currencyCode:
                                    type:
                                    - string
                                    - 'null'
                                  package:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      startDate:
                                        type:
                                        - string
                                        - 'null'
                                        format: date
                                      endDate:
                                        type:
                                        - string
                                        - 'null'
                                        format: date
                                      canOptInSelf:
                                        type: boolean
                                      canOptInRoot:
                                        type: boolean
                                      canOptInParentOrg:
                                        type: boolean
                                      isAutoManaged:
                                        type: boolean
                                      isAutoManagedForLicenses:
                                        type: boolean
                                      parentPackages:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                          required:
                                          - id
                                      subPackages:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                          required:
                                          - id
                                      conflictingPackages:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                          required:
                                          - id
                                      packageFeatures:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            config:
                                              type:
                                              - object
                                              - 'null'
                                            feature:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                                code:
                                                  type: string
                                                singular:
                                                  type:
                                                  - string
                                                  - 'null'
                                                plural:
                                                  type:
                                                  - string
                                                  - 'null'
                                                isBinary:
                                                  type: boolean
                                              required:
                                              - id
                                            isBillable:
                                              type: boolean
                                          required:
                                          - id
                                    required:
                                    - id
                                  softwareLicense:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        type: number
                                      sku:
                                        type: string
                                      billableQuantity:
                                        type: integer
                                    required:
                                    - id
                                required:
                                - id
                          required:
                          - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-account:w
      - o{params.orgId}-account:r
      - o:w
      - o:r
      - o-basic:w
      - o-basic:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/packagePlans/{packagePlanId}:
    get:
      summary: Describe a package plan
      operationId: describeOrgPackagePlan
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o:w,o:r,o-basic:w,o-basic:r,s-o:w,s-o:r


        __Endpoint name__: describeOrgPackagePlan'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: packagePlanId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/packagePlans
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      package:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          startDate:
                            type:
                            - string
                            - 'null'
                            format: date
                          endDate:
                            type:
                            - string
                            - 'null'
                            format: date
                          canOptInSelf:
                            type: boolean
                          canOptInRoot:
                            type: boolean
                          canOptInParentOrg:
                            type: boolean
                          isAutoManaged:
                            type: boolean
                          isAutoManagedForLicenses:
                            type: boolean
                          parentPackages:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          subPackages:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          conflictingPackages:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          packageFeatures:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                config:
                                  type:
                                  - object
                                  - 'null'
                                feature:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                    code:
                                      type: string
                                    singular:
                                      type:
                                      - string
                                      - 'null'
                                    plural:
                                      type:
                                      - string
                                      - 'null'
                                    isBinary:
                                      type: boolean
                                  required:
                                  - id
                                isBillable:
                                  type: boolean
                              required:
                              - id
                        required:
                        - id
                      isSelected:
                        type: boolean
                      netsuitePlan:
                        type: object
                        properties:
                          currency:
                            type: string
                          interval:
                            type: string
                          interval_count:
                            type: integer
                          PricePlanId:
                            type: integer
                          tiers:
                            type: array
                            items:
                              type: object
                              properties:
                                fromqty:
                                  type: integer
                                value:
                                  type: number
                                fixedAmount:
                                  type: boolean
                        required:
                        - currency
                        - interval
                        - interval_count
                      stripePlan:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: string
                          product:
                            type: string
                          amount:
                            type:
                            - number
                            - 'null'
                          currency:
                            type: string
                          interval:
                            type: string
                          interval_count:
                            type: number
                        required:
                        - currency
                        - interval
                        - interval_count
                      softwareLicense:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          sku:
                            type: string
                          billableQuantity:
                            type: integer
                          softwareLicenseOffers:
                            type:
                            - array
                            - 'null'
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                type:
                                  type: string
                                  enum:
                                  - trial
                                  - promo
                                subscriptionTermOverride:
                                  type:
                                  - number
                                  - 'null'
                                defaultIntervalTerm:
                                  type: string
                                  enum:
                                  - month
                                  - day
                                  - year
                                defaultIntervalDuration:
                                  type: number
                                maxDaysAllowed:
                                  type: number
                                maxQuantityAllowed:
                                  type:
                                  - number
                                  - 'null'
                              required:
                              - id
                              - type
                              - defaultIntervalTerm
                              - defaultIntervalDuration
                              - maxDaysAllowed
                          packagePlans:
                            type:
                            - array
                            - 'null'
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                ordinal:
                                  type: integer
                                intervalUnit:
                                  type:
                                  - string
                                  - 'null'
                                intervalCount:
                                  type:
                                  - integer
                                  - 'null'
                                currencyCode:
                                  type:
                                  - string
                                  - 'null'
                                package:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                    startDate:
                                      type:
                                      - string
                                      - 'null'
                                      format: date
                                    endDate:
                                      type:
                                      - string
                                      - 'null'
                                      format: date
                                    canOptInSelf:
                                      type: boolean
                                    canOptInRoot:
                                      type: boolean
                                    canOptInParentOrg:
                                      type: boolean
                                    isAutoManaged:
                                      type: boolean
                                    isAutoManagedForLicenses:
                                      type: boolean
                                    parentPackages:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                        - id
                                    subPackages:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                        - id
                                    conflictingPackages:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                        - id
                                    packageFeatures:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          config:
                                            type:
                                            - object
                                            - 'null'
                                          feature:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                              code:
                                                type: string
                                              singular:
                                                type:
                                                - string
                                                - 'null'
                                              plural:
                                                type:
                                                - string
                                                - 'null'
                                              isBinary:
                                                type: boolean
                                            required:
                                            - id
                                          isBillable:
                                            type: boolean
                                        required:
                                        - id
                                  required:
                                  - id
                                softwareLicense:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    id:
                                      type: number
                                    sku:
                                      type: string
                                    billableQuantity:
                                      type: integer
                                  required:
                                  - id
                              required:
                              - id
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o:w
      - o:r
      - o-basic:w
      - o-basic:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
