swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/genericInputs API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/genericInputs
paths:
  /orgs/{orgId}/genericInputs:
    get:
      summary: List all generic inputs
      operationId: listGenericInputs
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listGenericInputs'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: name
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/genericInputs
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    description:
                      type: string
                      x-nullable: true
                    acuPort:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        acuPortTypePortNumber:
                          type: number
                        virtualPortNumber:
                          type: number
                          x-nullable: true
                        portNumber:
                          type: number
                          x-nullable: true
                        label:
                          type: string
                        acu:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        expansionBoard:
                          type: object
                          properties:
                            id:
                              type: number
                            number:
                              type: integer
                          required:
                          - id
                        eol:
                          x-nullable: true
                          type: object
                          properties:
                            eolSupervision:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                      required:
                      - id
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/genericInputs/{genericInputId}:
    get:
      summary: Describe a generic input
      operationId: describeGenericInput
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: describeGenericInput'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: genericInputId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/genericInputs
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  description:
                    type: string
                    x-nullable: true
                  acuPort:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      acuPortTypePortNumber:
                        type: number
                      virtualPortNumber:
                        type: number
                        x-nullable: true
                      portNumber:
                        type: number
                        x-nullable: true
                      label:
                        type: string
                      acu:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      expansionBoard:
                        type: object
                        properties:
                          id:
                            type: number
                          number:
                            type: integer
                        required:
                        - id
                      eol:
                        x-nullable: true
                        type: object
                        properties:
                          eolSupervision:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                    required:
                    - id
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    patch:
      summary: Update a generic input
      operationId: updateGenericInput
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-site:w,o:w,s-o:w<br/><br/>__Endpoint name__: updateGenericInput'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: genericInputId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
              x-convert:
                trim: true
            description:
              type: string
              x-nullable: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/genericInputs
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-site:w
      - o:w
      - s-o:w
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
