openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/zones API
  version: 1.0.0
  description: Zones
servers:
- url: https://api.openpath.com
tags:
- name: orgs/zones
  description: Zones
paths:
  /orgs/{orgId}/zones:
    get:
      summary: List all owned or shared zones
      operationId: listZones
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-ldp:w,o{params.orgId}-ldp:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-musterReport:r,o{params.orgId}-musterReport:w,o{params.orgId}-occupancyReport:r,o{params.orgId}-occupancyReport:w,o{params.orgId}-rpt:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZones'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        opal:
                          type: string
                        name:
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        org:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                        site:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        apbResetIcalText:
                          type:
                          - string
                          - 'null'
                        apbExpirationSeconds:
                          type:
                          - integer
                          - 'null'
                        apbUseContactSensor:
                          type: boolean
                        apbAllowSharedOrgReset:
                          type: boolean
                        zoneShares:
                          type: array
                          items:
                            type: object
                            properties:
                              orgId:
                                type: integer
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              acu:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                required:
                                - id
                              wirelessLock:
                                type:
                                - object
                                - 'null'
                                properties:
                                  id:
                                    type: number
                                  noTourLockId:
                                    type:
                                    - integer
                                    - 'null'
                                    minimum: 0
                                    maximum: 65534
                                  isOffline:
                                    type: boolean
                                  wirelessLockDbEntries:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        credentialNumberHash:
                                          type: string
                                required:
                                - id
                            required:
                            - id
                        apbAreas:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                        entryCount:
                          type: integer
                        offlineEntryCount:
                          type: integer
                        userCount:
                          type: integer
                        groupCount:
                          type: integer
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-ldp:w
      - o{params.orgId}-ldp:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-musterReport:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-occupancyReport:r
      - o{params.orgId}-occupancyReport:w
      - o{params.orgId}-rpt:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a zone
      operationId: createZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o:w,s-o:w


        __Endpoint name__: createZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      opal:
                        type: string
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      org:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      site:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      apbResetIcalText:
                        type:
                        - string
                        - 'null'
                      apbExpirationSeconds:
                        type:
                        - integer
                        - 'null'
                      apbUseContactSensor:
                        type: boolean
                      apbAllowSharedOrgReset:
                        type: boolean
                      zoneShares:
                        type: array
                        items:
                          type: object
                          properties:
                            orgId:
                              type: integer
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            acu:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                            wirelessLock:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                noTourLockId:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  maximum: 65534
                                isOffline:
                                  type: boolean
                                wirelessLockDbEntries:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      credentialNumberHash:
                                        type: string
                              required:
                              - id
                          required:
                          - id
                      apbAreas:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                      entryCount:
                        type: integer
                      offlineEntryCount:
                        type: integer
                      userCount:
                        type: integer
                      groupCount:
                        type: integer
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                siteId:
                  type: integer
                description:
                  type:
                  - string
                  - 'null'
                apbResetIcalText:
                  type:
                  - string
                  - 'null'
                apbExpirationSeconds:
                  type:
                  - integer
                  - 'null'
                apbUseContactSensor:
                  type: boolean
                  default: true
                apbAllowSharedOrgReset:
                  type: boolean
                  default: false
              required:
              - name
              - siteId
  /orgs/{orgId}/zones/{zoneId}:
    get:
      summary: Describe an owned or shared zone
      operationId: describeZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      opal:
                        type: string
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      org:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      site:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      apbResetIcalText:
                        type:
                        - string
                        - 'null'
                      apbExpirationSeconds:
                        type:
                        - integer
                        - 'null'
                      apbUseContactSensor:
                        type: boolean
                      apbAllowSharedOrgReset:
                        type: boolean
                      zoneShares:
                        type: array
                        items:
                          type: object
                          properties:
                            orgId:
                              type: integer
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            acu:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                            wirelessLock:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                noTourLockId:
                                  type:
                                  - integer
                                  - 'null'
                                  minimum: 0
                                  maximum: 65534
                                isOffline:
                                  type: boolean
                                wirelessLockDbEntries:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      credentialNumberHash:
                                        type: string
                              required:
                              - id
                          required:
                          - id
                      apbAreas:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                      entryCount:
                        type: integer
                      offlineEntryCount:
                        type: integer
                      userCount:
                        type: integer
                      groupCount:
                        type: integer
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a zone
      operationId: deleteZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: deleteZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    patch:
      summary: Update a zone
      operationId: updateZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                description:
                  type:
                  - string
                  - 'null'
                siteId:
                  type: integer
                apbResetIcalText:
                  type:
                  - string
                  - 'null'
                apbExpirationSeconds:
                  type:
                  - integer
                  - 'null'
                apbUseContactSensor:
                  type: boolean
                apbAllowSharedOrgReset:
                  type: boolean
  /orgs/{orgId}/zones/{zoneId}/apbAreas:
    get:
      summary: List all zone anti-passback areas
      operationId: listZoneApbAreas
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZoneApbAreas'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        occupancyLimit:
                          type:
                          - integer
                          - 'null'
                        occupancyLimitMode:
                          type:
                          - string
                          - 'null'
                          enum:
                          - alert
                          - enforce
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        apbFlows:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              direction:
                                type: string
                                enum:
                                - inbound
                                - outbound
                              mode:
                                type:
                                - string
                                - 'null'
                                enum:
                                - alert
                                - enforce
                              entries:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                  required:
                                  - id
                            required:
                            - id
                            - direction
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a zone anti-passback area
      operationId: createZoneApbArea
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: createZoneApbArea'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      occupancyLimit:
                        type:
                        - integer
                        - 'null'
                      occupancyLimitMode:
                        type:
                        - string
                        - 'null'
                        enum:
                        - alert
                        - enforce
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      apbFlows:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            direction:
                              type: string
                              enum:
                              - inbound
                              - outbound
                            mode:
                              type:
                              - string
                              - 'null'
                              enum:
                              - alert
                              - enforce
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                required:
                                - id
                          required:
                          - id
                          - direction
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                occupancyLimit:
                  type:
                  - integer
                  - 'null'
                  minimum: 1
                occupancyLimitMode:
                  type:
                  - string
                  - 'null'
                  enum:
                  - alert
                  - enforce
                apbFlows:
                  type: array
                  items:
                    type: object
                    properties:
                      direction:
                        type: string
                        enum:
                        - inbound
                        - outbound
                      mode:
                        type:
                        - string
                        - 'null'
                        default: null
                        enum:
                        - alert
                        - enforce
                      entryIds:
                        type: array
                        items:
                          type: integer
                    required:
                    - direction
              required:
              - name
  /orgs/{orgId}/zones/{zoneId}/groupIds:
    get:
      summary: List all group IDs of a zone
      operationId: listZoneGroupIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZoneGroupIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: integer
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    put:
      summary: Set a zone's groups by replacing the entire set with this one
      operationId: setZoneGroupIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: setZoneGroupIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: integer
  /orgs/{orgId}/zones/{zoneId}/zoneUsers:
    get:
      summary: List all users (and their associated configurations) of a zone
      operationId: listZoneZoneUsers
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZoneZoneUsers'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: user.identity.lastName
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            id:
                              type: number
                            status:
                              type: string
                            identity:
                              type: object
                              properties:
                                id:
                                  type: number
                                firstName:
                                  type:
                                  - string
                                  - 'null'
                                middleName:
                                  type:
                                  - string
                                  - 'null'
                                lastName:
                                  type:
                                  - string
                                  - 'null'
                                fullName:
                                  type:
                                  - string
                                  - 'null'
                                initials:
                                  type:
                                  - string
                                  - 'null'
                                email:
                                  type: string
                                namespace:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    nickname:
                                      type:
                                      - string
                                      - 'null'
                                  required:
                                  - id
                              required:
                              - id
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        schedule:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            scheduleType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    patch:
      summary: Bulk-update a zone's users (and their associated configurations)
      operationId: updateZoneZoneUsers
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateZoneZoneUsers'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                add:
                  type: array
                  items:
                    type: object
                    properties:
                      userId:
                        type: integer
                      scheduleId:
                        type:
                        - integer
                        - 'null'
                    required:
                    - userId
                    - scheduleId
                remove:
                  type: array
                  items:
                    type: object
                    properties:
                      userId:
                        type: integer
                    required:
                    - userId
    put:
      summary: Set a zone's users (and their associated configurations) by replacing the…
      operationId: setZoneZoneUsers
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: setZoneZoneUsers'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  userId:
                    type: integer
                  scheduleId:
                    type:
                    - integer
                    - 'null'
                required:
                - userId
                - scheduleId
  /orgs/{orgId}/zones/{zoneId}/users:
    get:
      summary: List all users of a zone
      operationId: listZoneUsers
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZoneUsers'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: identity.lastName
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        status:
                          type: string
                        identity:
                          type: object
                          properties:
                            id:
                              type: number
                            firstName:
                              type:
                              - string
                              - 'null'
                            middleName:
                              type:
                              - string
                              - 'null'
                            lastName:
                              type:
                              - string
                              - 'null'
                            fullName:
                              type:
                              - string
                              - 'null'
                            initials:
                              type:
                              - string
                              - 'null'
                            email:
                              type: string
                            namespace:
                              type: object
                              properties:
                                id:
                                  type: integer
                                nickname:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - id
                          required:
                          - id
                        sites:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/zones/{zoneId}/shares:
    get:
      summary: List all shares of this zone
      operationId: listZoneShares
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZoneShares'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        org:
                          type: object
                          properties:
                            id:
                              type: number
                          required:
                          - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/zones/{zoneId}/groups:
    get:
      summary: List all groups of a zone
      operationId: listZoneGroups
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZoneGroups'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        userCount:
                          type: integer
                        sites:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/zones/{zoneId}/zoneGroups:
    get:
      summary: List all groups (and their associated configurations) of a zone
      operationId: listZoneZoneGroups
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listZoneZoneGroups'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: group.name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        group:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            description:
                              type:
                              - string
                              - 'null'
                            userCount:
                              type: integer
                            sites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                          required:
                          - id
                        schedule:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            scheduleType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    patch:
      summary: Bulk-update a zone's groups (and their associated configurations)
      operationId: updateZoneZoneGroups
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateZoneZoneGroups'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                add:
                  type: array
                  items:
                    type: object
                    properties:
                      groupId:
                        type: integer
                      scheduleId:
                        type:
                        - integer
                        - 'null'
                    required:
                    - groupId
                    - scheduleId
                remove:
                  type: array
                  items:
                    type: object
                    properties:
                      groupId:
                        type: integer
                    required:
                    - groupId
    put:
      summary: Set a zone's groups (and their associated configurations) by replacing the…
      operationId: setZoneZoneGroups
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: setZoneZoneGroups'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  groupId:
                    type: integer
                  scheduleId:
                    type:
                    - integer
                    - 'null'
                required:
                - groupId
                - scheduleId
  /orgs/{orgId}/zones/{zoneId}/apbAreas/{apbAreaId}:
    get:
      summary: Describe a zone anti-passback area
      operationId: describeZoneApbArea
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeZoneApbArea'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: apbAreaId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      occupancyLimit:
                        type:
                        - integer
                        - 'null'
                      occupancyLimitMode:
                        type:
                        - string
                        - 'null'
                        enum:
                        - alert
                        - enforce
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      apbFlows:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            direction:
                              type: string
                              enum:
                              - inbound
                              - outbound
                            mode:
                              type:
                              - string
                              - 'null'
                              enum:
                              - alert
                              - enforce
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                required:
                                - id
                          required:
                          - id
                          - direction
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a zone anti-passback area
      operationId: deleteZoneApbArea
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: deleteZoneApbArea'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: apbAreaId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    patch:
      summary: Update a zone anti-passback area
      operationId: updateZoneApbArea
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateZoneApbArea'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: apbAreaId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                occupancyLimit:
                  type:
                  - integer
                  - 'null'
                  minimum: 1
                occupancyLimitMode:
                  type:
                  - string
                  - 'null'
                  enum:
                  - alert
                  - enforce
                apbFlows:
                  type: array
                  items:
                    type: object
                    properties:
                      direction:
                        type: string
                        enum:
                        - inbound
                        - outbound
                      mode:
                        type:
                        - string
                        - 'null'
                        default: null
                        enum:
                        - alert
                        - enforce
                      entryIds:
                        type: array
                        items:
                          type: integer
                    required:
                    - direction
  /orgs/{orgId}/zones/apbReset:
    post:
      summary: Reset anti-passback for a zone and/or user
      operationId: resetApb
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: resetApb'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        requestId:
                          type: integer
                        acus:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              opal:
                                type: string
                            required:
                            - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  zoneId:
                    type: integer
                  userId:
                    type: integer
  /orgs/{orgId}/zones/{zoneId}/unshare:
    post:
      summary: Unshare zone
      operationId: unshareZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: unshareZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orgId:
                  type: integer
              required:
              - orgId
  /orgs/{orgId}/zones/{zoneId}/share:
    post:
      summary: Share zone
      operationId: shareZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: shareZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orgId:
                  type: integer
              required:
              - orgId
  /orgs/{orgId}/zones/{zoneId}/relinquishShare:
    post:
      summary: Relinquish shared zone from shared-to org
      operationId: relinquishZoneShare
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: relinquishZoneShare'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/zones/{zoneId}/users/{userId}:
    delete:
      summary: Remove a user from a zone
      operationId: removeUserFromZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: removeUserFromZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    put:
      summary: Add a user to a zone
      operationId: setUserToZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: setUserToZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduleId:
                  type:
                  - integer
                  - 'null'
  /orgs/{orgId}/zones/{zoneId}/groups/{groupId}:
    delete:
      summary: Remove a group from a zone
      operationId: removeGroupFromZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: removeGroupFromZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: groupId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    put:
      summary: Add a group to a zone
      operationId: setGroupToZone
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: setGroupToZone'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      - name: groupId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduleId:
                  type:
                  - integer
                  - 'null'
  /orgs/{orgId}/zones/{zoneId}/userIds:
    put:
      summary: Set a zone's users by replacing the entire set with this one
      operationId: setZoneUserIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: setZoneUserIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: integer
  /orgs/{orgId}/zones/{zoneId}/shareOrgIds:
    put:
      summary: Set this zone's shares by replacing the entire set with this one
      operationId: setZoneShareOrgIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: setZoneShareOrgIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: zoneId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/zones
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orgIds:
                  type: array
                  items:
                    type: integer
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
