openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/schedules API
  version: 1.0.0
  description: Schedules
servers:
- url: https://api.openpath.com
tags:
- name: orgs/schedules
  description: Schedules
paths:
  /orgs/{orgId}/schedules:
    get:
      summary: List all schedules
      operationId: listSchedules
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listSchedules'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        scheduleType:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        zoneUsers:
                          type: array
                          items:
                            type: object
                            properties:
                              zone:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                              user:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  opal:
                                    type: string
                                  status:
                                    type: string
                                  startDate:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                  endDate:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                  identity:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      opal:
                                        type: string
                                      roles:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                            description:
                                              type: string
                                            isMfaRequired:
                                              type: boolean
                                          required:
                                          - id
                                      mfaCredentials:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            createdAt:
                                              type: string
                                              format: date
                                            updatedAt:
                                              type: string
                                              format: date
                                            name:
                                              type: string
                                            status:
                                              type: string
                                            mfaCredentialType:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                                modelName:
                                                  type: string
                                              required:
                                              - id
                                            totpSoftDevice:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                              required:
                                              - id
                                          required:
                                          - id
                                      firstName:
                                        type:
                                        - string
                                        - 'null'
                                      middleName:
                                        type:
                                        - string
                                        - 'null'
                                      lastName:
                                        type:
                                        - string
                                        - 'null'
                                      fullName:
                                        type:
                                        - string
                                        - 'null'
                                      initials:
                                        type:
                                        - string
                                        - 'null'
                                      isEmailVerified:
                                        type: boolean
                                      namespace:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          nickname:
                                            type:
                                            - string
                                            - 'null'
                                          namespaceType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                              modelName:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - id
                                          org:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                            required:
                                            - id
                                          identityProvider:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              isSsoEnabled:
                                                type: boolean
                                              isSyncMobilePhoneEnabled:
                                                type: boolean
                                              isRemoveGroupsEnabled:
                                                type: boolean
                                              identityProviderSyncTypeId:
                                                type:
                                                - integer
                                                - 'null'
                                              credentials:
                                                type:
                                                - string
                                                - 'null'
                                              identityProviderType:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                              org:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                            required:
                                            - id
                                          propertyManagementSystem:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              orgId:
                                                type: number
                                              propertyManagementSystemTypeId:
                                                type: number
                                              propertyManagementSystemType:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                            required:
                                            - id
                                            - orgId
                                            - propertyManagementSystemTypeId
                                        required:
                                        - id
                                      idpUniqueIdentifier:
                                        type: string
                                      pmsUniqueIdentifier:
                                        type:
                                        - string
                                        - 'null'
                                      needsPasswordChange:
                                        type: boolean
                                        default: false
                                      nicknames:
                                        type:
                                        - array
                                        - 'null'
                                        items:
                                          type: object
                                          properties:
                                            nickname:
                                              type: string
                                              minLength: 1
                                              maxLength: 100
                                      email:
                                        type: string
                                      mobilePhone:
                                        type:
                                        - string
                                        - 'null'
                                      language:
                                        type:
                                        - string
                                        - 'null'
                                      createdAt:
                                        type: string
                                        format: date
                                      updatedAt:
                                        type: string
                                        format: date
                                      users:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            opal:
                                              type: string
                                            status:
                                              type: string
                                            startDate:
                                              type:
                                              - string
                                              - 'null'
                                              format: date
                                            endDate:
                                              type:
                                              - string
                                              - 'null'
                                              format: date
                                            createdAt:
                                              type: string
                                              format: date
                                            updatedAt:
                                              type: string
                                              format: date
                                            org:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type:
                                                  - string
                                                  - 'null'
                                              required:
                                              - id
                                          required:
                                          - id
                                    required:
                                    - id
                                required:
                                - id
                        zoneGroups:
                          type: array
                          items:
                            type: object
                            properties:
                              zone:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                              group:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a schedule
      operationId: createSchedule
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-user:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: createSchedule'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      scheduleType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      zoneUsers:
                        type: array
                        items:
                          type: object
                          properties:
                            zone:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            user:
                              type: object
                              properties:
                                id:
                                  type: number
                                opal:
                                  type: string
                                status:
                                  type: string
                                startDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                endDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                identity:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    opal:
                                      type: string
                                    roles:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          description:
                                            type: string
                                          isMfaRequired:
                                            type: boolean
                                        required:
                                        - id
                                    mfaCredentials:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          name:
                                            type: string
                                          status:
                                            type: string
                                          mfaCredentialType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                              modelName:
                                                type: string
                                            required:
                                            - id
                                          totpSoftDevice:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                            required:
                                            - id
                                        required:
                                        - id
                                    firstName:
                                      type:
                                      - string
                                      - 'null'
                                    middleName:
                                      type:
                                      - string
                                      - 'null'
                                    lastName:
                                      type:
                                      - string
                                      - 'null'
                                    fullName:
                                      type:
                                      - string
                                      - 'null'
                                    initials:
                                      type:
                                      - string
                                      - 'null'
                                    isEmailVerified:
                                      type: boolean
                                    namespace:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        nickname:
                                          type:
                                          - string
                                          - 'null'
                                        namespaceType:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                            modelName:
                                              type:
                                              - string
                                              - 'null'
                                          required:
                                          - id
                                        org:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                          required:
                                          - id
                                        identityProvider:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            isSsoEnabled:
                                              type: boolean
                                            isSyncMobilePhoneEnabled:
                                              type: boolean
                                            isRemoveGroupsEnabled:
                                              type: boolean
                                            identityProviderSyncTypeId:
                                              type:
                                              - integer
                                              - 'null'
                                            credentials:
                                              type:
                                              - string
                                              - 'null'
                                            identityProviderType:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                            org:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          required:
                                          - id
                                        propertyManagementSystem:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            orgId:
                                              type: number
                                            propertyManagementSystemTypeId:
                                              type: number
                                            propertyManagementSystemType:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          required:
                                          - id
                                          - orgId
                                          - propertyManagementSystemTypeId
                                      required:
                                      - id
                                    idpUniqueIdentifier:
                                      type: string
                                    pmsUniqueIdentifier:
                                      type:
                                      - string
                                      - 'null'
                                    needsPasswordChange:
                                      type: boolean
                                      default: false
                                    nicknames:
                                      type:
                                      - array
                                      - 'null'
                                      items:
                                        type: object
                                        properties:
                                          nickname:
                                            type: string
                                            minLength: 1
                                            maxLength: 100
                                    email:
                                      type: string
                                    mobilePhone:
                                      type:
                                      - string
                                      - 'null'
                                    language:
                                      type:
                                      - string
                                      - 'null'
                                    createdAt:
                                      type: string
                                      format: date
                                    updatedAt:
                                      type: string
                                      format: date
                                    users:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          opal:
                                            type: string
                                          status:
                                            type: string
                                          startDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          endDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          org:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - id
                                        required:
                                        - id
                                  required:
                                  - id
                              required:
                              - id
                      zoneGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            zone:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            group:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-user:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                scheduleTypeId:
                  type: integer
              required:
              - name
              - scheduleTypeId
  /orgs/{orgId}/schedules/{scheduleId}:
    get:
      summary: Describe a schedule
      operationId: describeSchedule
      description: 'By default this endpoint joins the schedule with the shared zones that use it. These operations can be expensive.

        This data is not needed for most uses. Use an `options` value of `withoutZoneUsers,withoutZoneGroups` where possible for better performance.

        The caller can also specify one option without the other option if required. The syntax is as such:

        `/orgs/{orgId}/schedules/{scheduleId}?options=withoutZoneUsers,withoutZoneGroups`.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeSchedule'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      - name: options
        in: query
        schema:
          type: string
          default: ''
          pattern: ^((withoutZoneUsers|withoutZoneGroups)(,|$))*$
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      scheduleType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      zoneUsers:
                        type: array
                        items:
                          type: object
                          properties:
                            zone:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            user:
                              type: object
                              properties:
                                id:
                                  type: number
                                opal:
                                  type: string
                                status:
                                  type: string
                                startDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                endDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                identity:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    opal:
                                      type: string
                                    roles:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          description:
                                            type: string
                                          isMfaRequired:
                                            type: boolean
                                        required:
                                        - id
                                    mfaCredentials:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          name:
                                            type: string
                                          status:
                                            type: string
                                          mfaCredentialType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                              modelName:
                                                type: string
                                            required:
                                            - id
                                          totpSoftDevice:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                            required:
                                            - id
                                        required:
                                        - id
                                    firstName:
                                      type:
                                      - string
                                      - 'null'
                                    middleName:
                                      type:
                                      - string
                                      - 'null'
                                    lastName:
                                      type:
                                      - string
                                      - 'null'
                                    fullName:
                                      type:
                                      - string
                                      - 'null'
                                    initials:
                                      type:
                                      - string
                                      - 'null'
                                    isEmailVerified:
                                      type: boolean
                                    namespace:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        nickname:
                                          type:
                                          - string
                                          - 'null'
                                        namespaceType:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                            modelName:
                                              type:
                                              - string
                                              - 'null'
                                          required:
                                          - id
                                        org:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            name:
                                              type: string
                                          required:
                                          - id
                                        identityProvider:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            isSsoEnabled:
                                              type: boolean
                                            isSyncMobilePhoneEnabled:
                                              type: boolean
                                            isRemoveGroupsEnabled:
                                              type: boolean
                                            identityProviderSyncTypeId:
                                              type:
                                              - integer
                                              - 'null'
                                            credentials:
                                              type:
                                              - string
                                              - 'null'
                                            identityProviderType:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                            org:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          required:
                                          - id
                                        propertyManagementSystem:
                                          type: object
                                          properties:
                                            id:
                                              type: number
                                            orgId:
                                              type: number
                                            propertyManagementSystemTypeId:
                                              type: number
                                            propertyManagementSystemType:
                                              type: object
                                              properties:
                                                id:
                                                  type: number
                                                name:
                                                  type: string
                                              required:
                                              - id
                                          required:
                                          - id
                                          - orgId
                                          - propertyManagementSystemTypeId
                                      required:
                                      - id
                                    idpUniqueIdentifier:
                                      type: string
                                    pmsUniqueIdentifier:
                                      type:
                                      - string
                                      - 'null'
                                    needsPasswordChange:
                                      type: boolean
                                      default: false
                                    nicknames:
                                      type:
                                      - array
                                      - 'null'
                                      items:
                                        type: object
                                        properties:
                                          nickname:
                                            type: string
                                            minLength: 1
                                            maxLength: 100
                                    email:
                                      type: string
                                    mobilePhone:
                                      type:
                                      - string
                                      - 'null'
                                    language:
                                      type:
                                      - string
                                      - 'null'
                                    createdAt:
                                      type: string
                                      format: date
                                    updatedAt:
                                      type: string
                                      format: date
                                    users:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          opal:
                                            type: string
                                          status:
                                            type: string
                                          startDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          endDate:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          org:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type:
                                                - string
                                                - 'null'
                                            required:
                                            - id
                                        required:
                                        - id
                                  required:
                                  - id
                              required:
                              - id
                      zoneGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            zone:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            group:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a schedule
      operationId: deleteSchedule
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: deleteSchedule'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
    patch:
      summary: Update a schedule
      operationId: updateSchedule
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: updateSchedule'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                entryIds:
                  type: array
                  items:
                    type: integer
  /orgs/{orgId}/schedules/{scheduleId}/determineAccess:
    get:
      summary: Determine whether the API caller has access to modify this schedule via their…
      operationId: determineScheduleAccess
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: determineScheduleAccess'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      hasAccess:
                        type: boolean
                      entrySitesNoAccess:
                        type: array
                        items:
                          type: object
                          properties:
                            entry:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            site:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
  /orgs/{orgId}/schedules/{scheduleId}/events:
    get:
      summary: List all schedule events
      operationId: listEvents
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listEvents'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        iCalText:
                          type: string
                        ordinal:
                          type: number
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        isTemp:
                          type: boolean
                        name:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a schedule event
      operationId: createEvent
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: createEvent'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      iCalText:
                        type: string
                      ordinal:
                        type: number
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      isTemp:
                        type: boolean
                      name:
                        type:
                        - string
                        - 'null'
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                iCalText:
                  type: string
                ordinal:
                  type: integer
                name:
                  type:
                  - string
                  - 'null'
              required:
              - iCalText
    patch:
      summary: Bulk update schedule events
      operationId: updateEvents
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: updateEvents'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  ordinal:
                    type: integer
                  name:
                    type:
                    - string
                    - 'null'
                required:
                - id
  /orgs/{orgId}/schedules/{scheduleId}/events/{eventId}:
    get:
      summary: Describe a schedule event
      operationId: describeEvent
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeEvent'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      iCalText:
                        type: string
                      ordinal:
                        type: number
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      isTemp:
                        type: boolean
                      name:
                        type:
                        - string
                        - 'null'
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a schedule event
      operationId: deleteEvent
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: deleteEvent'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
    patch:
      summary: Update a schedule event
      operationId: updateEvent
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: updateEvent'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scheduleId
        in: path
        required: true
        schema:
          type: integer
      - name: eventId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/schedules
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                iCalText:
                  type: string
                ordinal:
                  type: integer
                name:
                  type:
                  - string
                  - 'null'
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
