openapi: 3.2.0
info:
  title: Openpath API Documentation Identities API
  version: 1.0.0
  description: Identities and MFA
servers:
- url: https://api.openpath.com
tags:
- name: Identities
  description: Identities and MFA
paths:
  /identities/{identityId}/nicknames:
    get:
      summary: List an identity's nicknames
      operationId: listIdentityNicknames
      description: '__JWT is required for this endpoint with at least one of the following scopes__: i{params.identityId}:w,i{params.identityId}:r,i:w,i:r


        __Endpoint name__: listIdentityNicknames'
      parameters:
      - name: identityId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - Identities
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        nickname:
                          type: string
                          minLength: 1
                          maxLength: 100
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - i{params.identityId}:w
      - i{params.identityId}:r
      - i:w
      - i:r
    patch:
      summary: Bulk-update an identity's nicknames
      operationId: updateIdentityNicknames
      description: '__JWT is required for this endpoint with at least one of the following scopes__: i{params.identityId}:w,i:w


        __Endpoint name__: updateIdentityNicknames'
      parameters:
      - name: identityId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - Identities
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - i{params.identityId}:w
      - i:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                add:
                  type: array
                  x-constraint:
                    unique: true
                  items:
                    type: object
                    properties:
                      nickname:
                        type: string
                        minLength: 1
                        maxLength: 100
                remove:
                  type: array
                  x-constraint:
                    unique: true
                  items:
                    type: object
                    properties:
                      nickname:
                        type: string
                        minLength: 1
                        maxLength: 100
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
