openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/trigger Methods API
  version: 1.0.0
  description: Entry Trigger Methods
servers:
- url: https://api.openpath.com
tags:
- name: orgs/triggerMethods
  description: Entry Trigger Methods
paths:
  /orgs/{orgId}/triggerMethods:
    get:
      summary: List all trigger methods
      operationId: listTriggerMethods
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-entryState:w,o{params.orgId}-entryState:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listTriggerMethods'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 10000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: ordinal
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/triggerMethods
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        ordinal:
                          type: number
                        name:
                          type: string
                        code:
                          type: string
                        connectionTypeCode:
                          type: string
                        requestTypeCode:
                          type: string
                        credentialType:
                          type: object
                          properties:
                            id:
                              type: number
                            modelName:
                              type: string
                          required:
                          - id
                        triggerMethodGroup:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-entryState:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/triggerMethods/{triggerMethodId}:
    get:
      summary: Describe a trigger method
      operationId: describeTriggerMethod
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-entryState:w,o{params.orgId}-entryState:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeTriggerMethod'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: triggerMethodId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/triggerMethods
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      ordinal:
                        type: number
                      name:
                        type: string
                      code:
                        type: string
                      connectionTypeCode:
                        type: string
                      requestTypeCode:
                        type: string
                      credentialType:
                        type: object
                        properties:
                          id:
                            type: number
                          modelName:
                            type: string
                        required:
                        - id
                      triggerMethodGroup:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-entryState:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
