openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/auth Certs API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/authCerts
paths:
  /orgs/{orgId}/authCerts:
    get:
      summary: Get list of X.509 authentication certificates
      operationId: listAuthCerts
      description: 'Get all X.509 certificates for an org. Check the following link for how to authenticate https://openpath.readme.io/docs/using-the-api#using-signed-jwt-for-authentication


        __JWT is required for this endpoint with at least one of the following scopes__: o:w,o:r,s-o:w,s-o:r,o{params.orgId}-cert:w,o{params.orgId}-cert:r


        __Endpoint name__: listAuthCerts'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/authCerts
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        certificate:
                          type: string
                        canOnlySelfModify:
                          type: boolean
                        name:
                          type:
                          - string
                          - 'null'
                        roleId:
                          type: integer
                        opal:
                          type: string
                        orgId:
                          type: integer
                      required:
                      - id
                      - certificate
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o{params.orgId}-cert:w
      - o{params.orgId}-cert:r
    post:
      summary: Create an X.509 authentication certificate
      operationId: createAuthCert
      description: 'Create an X.509 certificate for an org to be used as a means of authentication against the api. The caller must have a superset of the scopes to be assigned via the roleId. Check the following link for how to authenticate https://openpath.readme.io/docs/using-the-api#using-signed-jwt-for-authentication


        __JWT is required for this endpoint with at least one of the following scopes__: o:w,o:r,s-o:w,s-o:r,o{params.orgId}-cert:w,o{params.orgId}-cert:r


        __Endpoint name__: createAuthCert'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/authCerts
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      certificate:
                        type: string
                      canOnlySelfModify:
                        type: boolean
                      name:
                        type:
                        - string
                        - 'null'
                      roleId:
                        type: integer
                      opal:
                        type: string
                      orgId:
                        type: integer
                    required:
                    - id
                    - certificate
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o{params.orgId}-cert:w
      - o{params.orgId}-cert:r
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                certificate:
                  type: string
                canOnlySelfModify:
                  type: boolean
                  default: false
                name:
                  type: string
                roleId:
                  type: integer
              required:
              - certificate
              - roleId
  /orgs/{orgId}/authCerts/{authCertId}:
    get:
      summary: Get an X.509 authentication certificate
      operationId: describeAuthCert
      description: 'Get an X.509 certificate for an org. Check the following link for how to authenticate https://openpath.readme.io/docs/using-the-api#using-signed-jwt-for-authentication


        __JWT is required for this endpoint with at least one of the following scopes__: o:w,o:r,s-o:w,s-o:r,o{params.orgId}-cert:w,o{params.orgId}-cert:r,o{params.orgId}-cert{params.authCertId}:w,o{params.orgId}-cert{params.authCertId}:r


        __Endpoint name__: describeAuthCert'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: authCertId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/authCerts
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      certificate:
                        type: string
                      canOnlySelfModify:
                        type: boolean
                      name:
                        type:
                        - string
                        - 'null'
                      roleId:
                        type: integer
                      opal:
                        type: string
                      orgId:
                        type: integer
                    required:
                    - id
                    - certificate
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o{params.orgId}-cert:w
      - o{params.orgId}-cert:r
      - o{params.orgId}-cert{params.authCertId}:w
      - o{params.orgId}-cert{params.authCertId}:r
    delete:
      summary: Delete an X.509 authentication certificate
      operationId: deleteAuthCert
      description: 'Delete an X.509 certificate for an org. If this resource is being updated has the canOnlySelfModify property set, then cert-based JWT authentication is required using a JWT signed using that same cert''s private key. Check the following link for how to authenticate https://openpath.readme.io/docs/using-the-api#using-signed-jwt-for-authentication


        __JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o{params.orgId}-cert:w,o{params.orgId}-cert{params.authCertId}:w


        __Endpoint name__: deleteAuthCert'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: authCertId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/authCerts
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o:w
      - s-o:w
      - o{params.orgId}-cert:w
      - o{params.orgId}-cert{params.authCertId}:w
    patch:
      summary: Update an X.509 authentication certificate
      operationId: updateAuthCert
      description: 'Update an X.509 certificate for an org. If this resource is being updated has the canOnlySelfModify property set, then cert-based JWT authentication is required using a JWT signed using that same cert''s private key. Check the following link for how to authenticate https://openpath.readme.io/docs/using-the-api#using-signed-jwt-for-authentication


        __JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o{params.orgId}-cert:w,o{params.orgId}-cert{params.authCertId}:w


        __Endpoint name__: updateAuthCert'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: authCertId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/authCerts
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      certificate:
                        type: string
                      canOnlySelfModify:
                        type: boolean
                      name:
                        type:
                        - string
                        - 'null'
                      roleId:
                        type: integer
                      opal:
                        type: string
                      orgId:
                        type: integer
                    required:
                    - id
                    - certificate
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:w
      - s-o:w
      - o{params.orgId}-cert:w
      - o{params.orgId}-cert{params.authCertId}:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                certificate:
                  type: string
                canOnlySelfModify:
                  type: boolean
                name:
                  type: string
                roleId:
                  type: integer
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
