swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/emailAlerts API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/emailAlerts
paths:
  /orgs/{orgId}/emailAlerts:
    get:
      summary: Get email alerts
      operationId: listEmailAlerts
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-alertSettings:w,o{params.orgId}-alertSettings:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listEmailAlerts'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        default: 1000
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: id
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/emailAlerts
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    emailAddresses:
                      type: string
                      x-nullable: true
                    recipients:
                      x-nullable: true
                      type: array
                      items:
                        type: string
                    isEnabled:
                      type: boolean
                    includeCameraLink:
                      type: boolean
                      x-nullable: true
                    emailAlertType:
                      type: object
                      properties:
                        id:
                          type: integer
                        ordinal:
                          type: integer
                        name:
                          type: string
                        code:
                          type: string
                        description:
                          type: string
                        requiredFeature:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: integer
                            code:
                              type: string
                          required:
                          - id
                        canHaveSnapshots:
                          type: boolean
                      required:
                      - id
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-alertSettings:w
      - o{params.orgId}-alertSettings:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
