swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/tasks API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/tasks
paths:
  /orgs/{orgId}/tasks/reports:
    get:
      summary: List all report tasks
      operationId: listTasksReports
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-rptGeneral:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listTasksReports'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/tasks
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    executionType:
                      type: string
                      default: immediate
                      enum:
                      - immediate
                      - scheduled
                    options:
                      type: string
                      x-nullable: true
                      x-alternatives:
                      - type: string
                        x-nullable: true
                      - type: string
                        x-nullable: true
                    expiresAfter:
                      type: string
                      format: date
                    type:
                      type: string
                      enum:
                      - activityLogsOrg
                      - alarmsOrg
                      - occupancyOrg
                      - auditLogsOrg
                    name:
                      type: string
                      minLength: 1
                      maxLength: 255
                    filter:
                      type: string
                      x-nullable: true
                    relativeTime:
                      type: string
                      enum:
                      - today
                      - thisWeek
                      - thisMonth
                      - thisQuarter
                      - thisYear
                      - yesterday
                      - lastFullWeek
                      - lastFullMonth
                      - lastFullQuarter
                      - last6FullMonths
                      - last12FullMonths
                      x-alternatives:
                      - type: string
                        enum:
                        - today
                        - thisWeek
                        - thisMonth
                        - thisQuarter
                        - thisYear
                        - yesterday
                        - lastFullWeek
                        - lastFullMonth
                        - lastFullQuarter
                        - last6FullMonths
                        - last12FullMonths
                      - x-nullable: true
                        type: string
                        enum:
                        - today
                        - thisWeek
                        - thisMonth
                        - thisQuarter
                        - thisYear
                        - lastHour
                        - last4Hours
                        - last12Hours
                        - last24Hours
                        - last7Days
                        - last30Days
                        - yesterday
                        - lastFullWeek
                        - lastFullMonth
                        - lastFullQuarter
                        - lastFullYear
                        - last6FullMonths
                        - last12FullMonths
                    customFieldIds:
                      x-nullable: true
                      type: array
                      x-constraint:
                        single: true
                      items:
                        type: integer
                    destinationEmails:
                      x-nullable: true
                      type: array
                      items:
                        type: string
                        x-format:
                          email: true
                    timeZone:
                      type: string
                      x-nullable: true
                      x-alternatives:
                      - type: string
                        x-nullable: true
                      - type: string
                        maxLength: 64
                    columns:
                      x-nullable: true
                      x-alternatives:
                      - x-nullable: true
                        type: array
                        minItems: 1
                        items:
                          type: string
                          enum:
                          - user
                          - userEmail
                          - userGroups
                          - customFieldIdx0
                          - customFieldIdx1
                          - customFieldIdx2
                          - customFieldIdx3
                          - customFieldIdx4
                          - customFieldIdx5
                          - customFieldIdx6
                          - customFieldIdx7
                          - customFieldIdx8
                          - customFieldIdx9
                          - customFieldIdx10
                          - customFieldIdx11
                          - customFieldIdx12
                          - customFieldIdx13
                          - customFieldIdx14
                          - customFieldIdx15
                          - customFieldIdx16
                          - customFieldIdx17
                          - customFieldIdx18
                          - customFieldIdx19
                      - x-nullable: true
                        x-alternatives:
                        - x-nullable: true
                          type: array
                          minItems: 1
                          items:
                            type: string
                            enum:
                            - time
                            - category
                            - subCategory
                            - result
                            - device
                            - deviceDetail
                            - deviceDetailName
                            - deviceTimezone
                            - deviceTime
                            - user
                            - userEmail
                            - userOrg
                            - userIdpName
                            - userExternalId
                            - initialCredentialTypeName
                            - initialCredentialDetail
                            - credentialTypeName
                            - credentialDetail
                            - target
                            - initialRequest
                            - request
                            - location
                            - entryName
                            - entryName2
                            - zoneName
                            - zoneName2
                            - siteName
                            - siteName2
                            - source
                            - deniedReason
                            - requestId
                            - customFieldIdx0
                            - customFieldIdx1
                            - customFieldIdx2
                            - customFieldIdx3
                            - customFieldIdx4
                            - customFieldIdx5
                            - customFieldIdx6
                            - customFieldIdx7
                            - customFieldIdx8
                            - customFieldIdx9
                            - customFieldIdx10
                            - customFieldIdx11
                            - customFieldIdx12
                            - customFieldIdx13
                            - customFieldIdx14
                            - customFieldIdx15
                            - customFieldIdx16
                            - customFieldIdx17
                            - customFieldIdx18
                            - customFieldIdx19
                        - x-nullable: true
                          x-alternatives:
                          - x-nullable: true
                            type: array
                            minItems: 1
                            items:
                              type: string
                              enum:
                              - alarmId
                              - alarmConfigName
                              - time
                              - eventName
                              - siteName2
                              - zoneName2
                              - entryName2
                              - alarmActionName
                              - userName
                              - assignee
                              - alarmStatusName
                              - acuName
                              - readerName
                              - note
                              - customFieldIdx0
                              - customFieldIdx1
                              - customFieldIdx2
                              - customFieldIdx3
                              - customFieldIdx4
                              - customFieldIdx5
                              - customFieldIdx6
                              - customFieldIdx7
                              - customFieldIdx8
                              - customFieldIdx9
                              - customFieldIdx10
                              - customFieldIdx11
                              - customFieldIdx12
                              - customFieldIdx13
                              - customFieldIdx14
                              - customFieldIdx15
                              - customFieldIdx16
                              - customFieldIdx17
                              - customFieldIdx18
                              - customFieldIdx19
                          - x-nullable: true
                            x-alternatives:
                            - x-nullable: true
                              type: array
                              minItems: 1
                              items:
                                type: string
                                enum:
                                - details
                                - time
                                - ipAddress
                                - url
                                - status
                                - userName
                                - action
                                - description
                                - customFieldIdx0
                                - customFieldIdx1
                                - customFieldIdx2
                                - customFieldIdx3
                                - customFieldIdx4
                                - customFieldIdx5
                                - customFieldIdx6
                                - customFieldIdx7
                                - customFieldIdx8
                                - customFieldIdx9
                                - customFieldIdx10
                                - customFieldIdx11
                                - customFieldIdx12
                                - customFieldIdx13
                                - customFieldIdx14
                                - customFieldIdx15
                                - customFieldIdx16
                                - customFieldIdx17
                                - customFieldIdx18
                                - customFieldIdx19
                            - x-nullable: true
                              type: array
                              minItems: 1
                              items:
                                type: string
                            type: array
                            minItems: 1
                            items:
                              type: string
                              enum:
                              - details
                              - time
                              - ipAddress
                              - url
                              - status
                              - userName
                              - action
                              - description
                              - customFieldIdx0
                              - customFieldIdx1
                              - customFieldIdx2
                              - customFieldIdx3
                              - customFieldIdx4
                              - customFieldIdx5
                              - customFieldIdx6
                              - customFieldIdx7
                              - customFieldIdx8
                              - customFieldIdx9
                              - customFieldIdx10
                              - customFieldIdx11
                              - customFieldIdx12
                              - customFieldIdx13
                              - customFieldIdx14
                              - customFieldIdx15
                              - customFieldIdx16
                              - customFieldIdx17
                              - customFieldIdx18
                              - customFieldIdx19
                          type: array
                          minItems: 1
                          items:
                            type: string
                            enum:
                            - alarmId
                            - alarmConfigName
                            - time
                            - eventName
                            - siteName2
                            - zoneName2
                            - entryName2
                            - alarmActionName
                            - userName
                            - assignee
                            - alarmStatusName
                            - acuName
                            - readerName
                            - note
                            - customFieldIdx0
                            - customFieldIdx1
                            - customFieldIdx2
                            - customFieldIdx3
                            - customFieldIdx4
                            - customFieldIdx5
                            - customFieldIdx6
                            - customFieldIdx7
                            - customFieldIdx8
                            - customFieldIdx9
                            - customFieldIdx10
                            - customFieldIdx11
                            - customFieldIdx12
                            - customFieldIdx13
                            - customFieldIdx14
                            - customFieldIdx15
                            - customFieldIdx16
                            - customFieldIdx17
                            - customFieldIdx18
                            - customFieldIdx19
                        type: array
                        minItems: 1
                        items:
                          type: string
                          enum:
                          - time
                          - category
                          - subCategory
                          - result
                          - device
                          - deviceDetail
                          - deviceDetailName
                          - deviceTimezone
                          - deviceTime
                          - user
                          - userEmail
                          - userOrg
                          - userIdpName
                          - userExternalId
                          - initialCredentialTypeName
                          - initialCredentialDetail
                          - credentialTypeName
                          - credentialDetail
                          - target
                          - initialRequest
                          - request
                          - location
                          - entryName
                          - entryName2
                          - zoneName
                          - zoneName2
                          - siteName
                          - siteName2
                          - source
                          - deniedReason
                          - requestId
                          - customFieldIdx0
                          - customFieldIdx1
                          - customFieldIdx2
                          - customFieldIdx3
                          - customFieldIdx4
                          - customFieldIdx5
                          - customFieldIdx6
                          - customFieldIdx7
                          - customFieldIdx8
                          - customFieldIdx9
                          - customFieldIdx10
                          - customFieldIdx11
                          - customFieldIdx12
                          - customFieldIdx13
                          - customFieldIdx14
                          - customFieldIdx15
                          - customFieldIdx16
                          - customFieldIdx17
                          - customFieldIdx18
                          - customFieldIdx19
                      type: array
                      minItems: 1
                      items:
                        type: string
                        enum:
                        - user
                        - userEmail
                        - userGroups
                        - customFieldIdx0
                        - customFieldIdx1
                        - customFieldIdx2
                        - customFieldIdx3
                        - customFieldIdx4
                        - customFieldIdx5
                        - customFieldIdx6
                        - customFieldIdx7
                        - customFieldIdx8
                        - customFieldIdx9
                        - customFieldIdx10
                        - customFieldIdx11
                        - customFieldIdx12
                        - customFieldIdx13
                        - customFieldIdx14
                        - customFieldIdx15
                        - customFieldIdx16
                        - customFieldIdx17
                        - customFieldIdx18
                        - customFieldIdx19
                    id:
                      type: integer
                    org:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                      - id
                      - name
                    identity:
                      type: object
                      properties:
                        id:
                          type: number
                        opal:
                          type: string
                        roles:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                              description:
                                type: string
                              isMfaRequired:
                                type: boolean
                            required:
                            - id
                        mfaCredentials:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                              name:
                                type: string
                              status:
                                type: string
                              mfaCredentialType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  modelName:
                                    type: string
                                required:
                                - id
                              totpSoftDevice:
                                type: object
                                properties:
                                  id:
                                    type: number
                                required:
                                - id
                            required:
                            - id
                        firstName:
                          type: string
                          x-nullable: true
                        middleName:
                          type: string
                          x-nullable: true
                        lastName:
                          type: string
                          x-nullable: true
                        fullName:
                          type: string
                          x-nullable: true
                        initials:
                          type: string
                          x-nullable: true
                        isEmailVerified:
                          type: boolean
                        namespace:
                          type: object
                          properties:
                            id:
                              type: integer
                            nickname:
                              type: string
                              x-nullable: true
                            namespaceType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                modelName:
                                  type: string
                                  x-nullable: true
                              required:
                              - id
                            org:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            identityProvider:
                              type: object
                              properties:
                                id:
                                  type: number
                                isSsoEnabled:
                                  type: boolean
                                isSyncMobilePhoneEnabled:
                                  type: boolean
                                isRemoveGroupsEnabled:
                                  type: boolean
                                identityProviderSyncTypeId:
                                  type: integer
                                  x-nullable: true
                                credentials:
                                  type: string
                                  x-nullable: true
                                identityProviderType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                org:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                              required:
                              - id
                            propertyManagementSystem:
                              type: object
                              properties:
                                id:
                                  type: number
                                orgId:
                                  type: number
                                propertyManagementSystemTypeId:
                                  type: number
                                propertyManagementSystemType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                              required:
                              - id
                              - orgId
                              - propertyManagementSystemTypeId
                          required:
                          - id
                        idpUniqueIdentifier:
                          type: string
                        pmsUniqueIdentifier:
                          type: string
                          x-nullable: true
                        needsPasswordChange:
                          type: boolean
                          default: false
                        nicknames:
                          x-nullable: true
                          type: array
                          items:
                            type: object
                            properties:
                              nickname:
                                type: string
                                minLength: 1
                                maxLength: 100
                        email:
                          type: string
                        mobilePhone:
                          type: string
                          x-nullable: true
                        language:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        users:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              opal:
                                type: string
                              status:
                                type: string
                              startDate:
                                type: string
                                format: date
                                x-nullable: true
                              endDate:
                                type: string
                                format: date
                                x-nullable: true
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                              org:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                    x-nullable: true
                                required:
                                - id
                            required:
                            - id
                      required:
                      - id
                    statusCode:
                      type: string
                      enum:
                      - starting
                      - running
                      - completed.success
                      - completed.failed
                    statusFailureCode:
                      x-nullable: true
                      type: string
                      enum:
                      - unexpectedException
                    statusDetail:
                      type: string
                      minLength: 1
                      x-nullable: true
                    numRecordsProcessed:
                      type: integer
                    numRecordsOutput:
                      type: integer
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                  required:
                  - expiresAfter
                  - type
                  - id
                  - org
                  - identity
                  - numRecordsProcessed
                  - numRecordsOutput
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-rptGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a new batch report task.
      operationId: createTasksReport
      description: 'The report''s time filter can be specified either via the `relativeTime` field or via the `filter` field.<br/><br/>The `relativeTime` field supports these possible values: today, thisWeek, thisMonth, thisQuarter, thisYear, lastHour, last4Hours, last12Hours, last24Hours, last7Days, last30Days, yesterday, lastFullWeek, lastFullMonth, lastFullQuarter, lastFullYear, last6FullMonths, last12FullMonths.<br/><br/>The `options` field supports `withWeekends` which is used for `occupancyOrg` reports.The `filter` field specifies the report date and time range and other filters. It uses the same syntax and field names from the `/orgs/{orgId}/reports/activity` API. Example: `"filter": "time:(1609459200--1612137600)"` means filter to all records with a `/orgs/{orgId}/reports/activity` `time` field value of `Jan 1, 2021 00:00:00 UTC` inclusive to `Feb 1, 2021 00:00:00 UTC` inclusive. If you also wanted to filter for `sideIds`, you would specify `"filter": "time:(1609459200--1612137600) siteId:(123,456,789)"`. That will return results for that same date range plus filtering for `siteIds` 123, 456, or 789.<br/><br/>The `columns` field is an in-order list of CSV columns to output. Possible values depend on the report type: For activityLogsOrg, the possible values are `time`, `category`, `subCategory`, `result`, `device`, `deviceDetail`, `deviceDetailName`, `deviceTimezone`, `deviceTime`, `user`, `userEmail`, `userOrg`, `userIdpName`, `userExternalId`, `initialCredentialTypeName`, `initialCredentialDetail`, `credentialTypeName`, `credentialDetail`, `target`, `initialRequest`, `request`, `location`, `entryName`, `entryName2`, `zoneName`, `zoneName2`, `siteName`, `siteName2`, `source`, `deniedReason`, `requestId`. For alarmsOrg, the possible values are `alarmId`, `alarmConfigName`, `time`, `eventName`, `siteName2`, `zoneName2`, `entryName2`, `alarmActionName`, `userName`, `assignee`, `alarmStatusName`, `acuName`, `readerName`, `note`. For occupancyOrg, the possible values are `user`, `userEmail`, `userGroups`. Include a `customFieldIdx#` column name to specify `customFieldIds` column placement. Example: where `customFieldId` for id `49` has a name of `Department` and the payload is `..., "columns": ["time", "category", "customFieldIdx0"], "customFieldIds": [49], ...` means output `"time", "category", "Department"` column headers and subsequent lines with respective values in that `columns` specified order. In this example, customFieldIdx0 is the 0th index in the `customFieldsIds` array.<br/><br/>The difference between entryName, zoneName, and siteName vs. entryName2, zoneName2, and siteName2 is that the `*Name2` fields can potentially return "Multiple" as the name. This occurs when there are multiple unique ids for that resource type. Whereas the entryId, entryName, zoneId, zoneName, siteId, and siteName values always equal the first entry''s values (entries[0]).<br/><br/>The expiresAfter specification can be specified either via a concrete date in `expiresAfter` or via a relative number of days from the `expiresAfterDays` field.<br/><br/>__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-rpt:w,o{params.orgId}-rptGeneral:w,o-support:w,o:w,s-o:w<br/><br/>__Endpoint name__: createTasksReport'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            executionType:
              type: string
              default: immediate
              enum:
              - immediate
              - scheduled
            options:
              type: string
              x-nullable: true
              x-alternatives:
              - type: string
                x-nullable: true
              - type: string
                x-nullable: true
            expiresAfter:
              type: string
              format: date
            type:
              type: string
              enum:
              - activityLogsOrg
              - alarmsOrg
              - occupancyOrg
              - auditLogsOrg
            name:
              type: string
              minLength: 1
              maxLength: 255
            filter:
              type: string
              x-nullable: true
            relativeTime:
              type: string
              enum:
              - today
              - thisWeek
              - thisMonth
              - thisQuarter
              - thisYear
              - yesterday
              - lastFullWeek
              - lastFullMonth
              - lastFullQuarter
              - last6FullMonths
              - last12FullMonths
              x-alternatives:
              - type: string
                enum:
                - today
                - thisWeek
                - thisMonth
                - thisQuarter
                - thisYear
                - yesterday
                - lastFullWeek
                - lastFullMonth
                - lastFullQuarter
                - last6FullMonths
                - last12FullMonths
              - x-nullable: true
                type: string
                enum:
                - today
                - thisWeek
                - thisMonth
                - thisQuarter
                - thisYear
                - lastHour
                - last4Hours
                - last12Hours
                - last24Hours
                - last7Days
                - last30Days
                - yesterday
                - lastFullWeek
                - lastFullMonth
                - lastFullQuarter
                - lastFullYear
                - last6FullMonths
                - last12FullMonths
            customFieldIds:
              x-nullable: true
              type: array
              x-constraint:
                single: true
              items:
                type: integer
            destinationEmails:
              x-nullable: true
              type: array
              items:
                type: string
                x-format:
                  email: true
            timeZone:
              type: string
              x-nullable: true
              x-alternatives:
              - type: string
                x-nullable: true
              - type: string
                maxLength: 64
            columns:
              x-nullable: true
              x-alternatives:
              - x-nullable: true
                type: array
                minItems: 1
                items:
                  type: string
                  enum:
                  - user
                  - userEmail
                  - userGroups
                  - customFieldIdx0
                  - customFieldIdx1
                  - customFieldIdx2
                  - customFieldIdx3
                  - customFieldIdx4
                  - customFieldIdx5
                  - customFieldIdx6
                  - customFieldIdx7
                  - customFieldIdx8
                  - customFieldIdx9
                  - customFieldIdx10
                  - customFieldIdx11
                  - customFieldIdx12
                  - customFieldIdx13
                  - customFieldIdx14
                  - customFieldIdx15
                  - customFieldIdx16
                  - customFieldIdx17
                  - customFieldIdx18
                  - customFieldIdx19
              - x-nullable: true
                x-alternatives:
                - x-nullable: true
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                    - time
                    - category
                    - subCategory
                    - result
                    - device
                    - deviceDetail
                    - deviceDetailName
                    - deviceTimezone
                    - deviceTime
                    - user
                    - userEmail
                    - userOrg
                    - userIdpName
                    - userExternalId
                    - initialCredentialTypeName
                    - initialCredentialDetail
                    - credentialTypeName
                    - credentialDetail
                    - target
                    - initialRequest
                    - request
                    - location
                    - entryName
                    - entryName2
                    - zoneName
                    - zoneName2
                    - siteName
                    - siteName2
                    - source
                    - deniedReason
                    - requestId
                    - customFieldIdx0
                    - customFieldIdx1
                    - customFieldIdx2
                    - customFieldIdx3
                    - customFieldIdx4
                    - customFieldIdx5
                    - customFieldIdx6
                    - customFieldIdx7
                    - customFieldIdx8
                    - customFieldIdx9
                    - customFieldIdx10
                    - customFieldIdx11
                    - customFieldIdx12
                    - customFieldIdx13
                    - customFieldIdx14
                    - customFieldIdx15
                    - customFieldIdx16
                    - customFieldIdx17
                    - customFieldIdx18
                    - customFieldIdx19
                - x-nullable: true
                  x-alternatives:
                  - x-nullable: true
                    type: array
                    minItems: 1
                    items:
                      type: string
                      enum:
                      - alarmId
                      - alarmConfigName
                      - time
                      - eventName
                      - siteName2
                      - zoneName2
                      - entryName2
                      - alarmActionName
                      - userName
                      - assignee
                      - alarmStatusName
                      - acuName
                      - readerName
                      - note
                      - customFieldIdx0
                      - customFieldIdx1
                      - customFieldIdx2
                      - customFieldIdx3
                      - customFieldIdx4
                      - customFieldIdx5
                      - customFieldIdx6
                      - customFieldIdx7
                      - customFieldIdx8
                      - customFieldIdx9
                      - customFieldIdx10
                      - customFieldIdx11
                      - customFieldIdx12
                      - customFieldIdx13
                      - customFieldIdx14
                      - customFieldIdx15
                      - customFieldIdx16
                      - customFieldIdx17
                      - customFieldIdx18
                      - customFieldIdx19
                  - x-nullable: true
                    x-alternatives:
                    - x-nullable: true
                      type: array
                      minItems: 1
                      items:
                        type: string
                        enum:
                        - details
                        - time
                        - ipAddress
                        - url
                        - status
                        - userName
                        - action
                        - description
                        - customFieldIdx0
                        - customFieldIdx1
                        - customFieldIdx2
                        - customFieldIdx3
                        - customFieldIdx4
                        - customFieldIdx5
                        - customFieldIdx6
                        - customFieldIdx7
                        - customFieldIdx8
                        - customFieldIdx9
                        - customFieldIdx10
                        - customFieldIdx11
                        - customFieldIdx12
                        - customFieldIdx13
                        - customFieldIdx14
                        - customFieldIdx15
                        - customFieldIdx16
                        - customFieldIdx17
                        - customFieldIdx18
                        - customFieldIdx19
                    - x-nullable: true
                      type: array
                      minItems: 1
                      items:
                        type: string
                    type: array
                    minItems: 1
                    items:
                      type: string
                      enum:
                      - details
                      - time
                      - ipAddress
                      - url
                      - status
                      - userName
                      - action
                      - description
                      - customFieldIdx0
                      - customFieldIdx1
                      - customFieldIdx2
                      - customFieldIdx3
                      - customFieldIdx4
                      - customFieldIdx5
                      - customFieldIdx6
                      - customFieldIdx7
                      - customFieldIdx8
                      - customFieldIdx9
                      - customFieldIdx10
                      - customFieldIdx11
                      - customFieldIdx12
                      - customFieldIdx13
                      - customFieldIdx14
                      - customFieldIdx15
                      - customFieldIdx16
                      - customFieldIdx17
                      - customFieldIdx18
                      - customFieldIdx19
                  type: array
                  minItems: 1
                  items:
                    type: string
                    enum:
                    - alarmId
                    - alarmConfigName
                    - time
                    - eventName
                    - siteName2
                    - zoneName2
                    - entryName2
                    - alarmActionName
                    - userName
                    - assignee
                    - alarmStatusName
                    - acuName
                    - readerName
                    - note
                    - customFieldIdx0
                    - customFieldIdx1
                    - customFieldIdx2
                    - customFieldIdx3
                    - customFieldIdx4
                    - customFieldIdx5
                    - customFieldIdx6
                    - customFieldIdx7
                    - customFieldIdx8
                    - customFieldIdx9
                    - customFieldIdx10
                    - customFieldIdx11
                    - customFieldIdx12
                    - customFieldIdx13
                    - customFieldIdx14
                    - customFieldIdx15
                    - customFieldIdx16
                    - customFieldIdx17
                    - customFieldIdx18
                    - customFieldIdx19
                type: array
                minItems: 1
                items:
                  type: string
                  enum:
                  - time
                  - category
                  - subCategory
                  - result
                  - device
                  - deviceDetail
                  - deviceDetailName
                  - deviceTimezone
                  - deviceTime
                  - user
                  - userEmail
                  - userOrg
                  - userIdpName
                  - userExternalId
                  - initialCredentialTypeName
                  - initialCredentialDetail
                  - credentialTypeName
                  - credentialDetail
                  - target
                  - initialRequest
                  - request
                  - location
                  - entryName
                  - entryName2
                  - zoneName
                  - zoneName2
                  - siteName
                  - siteName2
                  - source
                  - deniedReason
                  - requestId
                  - customFieldIdx0
                  - customFieldIdx1
                  - customFieldIdx2
                  - customFieldIdx3
                  - customFieldIdx4
                  - customFieldIdx5
                  - customFieldIdx6
                  - customFieldIdx7
                  - customFieldIdx8
                  - customFieldIdx9
                  - customFieldIdx10
                  - customFieldIdx11
                  - customFieldIdx12
                  - customFieldIdx13
                  - customFieldIdx14
                  - customFieldIdx15
                  - customFieldIdx16
                  - customFieldIdx17
                  - customFieldIdx18
                  - customFieldIdx19
              type: array
              minItems: 1
              items:
                type: string
                enum:
                - user
                - userEmail
                - userGroups
                - customFieldIdx0
                - customFieldIdx1
                - customFieldIdx2
                - customFieldIdx3
                - customFieldIdx4
                - customFieldIdx5
                - customFieldIdx6
                - customFieldIdx7
                - customFieldIdx8
                - customFieldIdx9
                - customFieldIdx10
                - customFieldIdx11
                - customFieldIdx12
                - customFieldIdx13
                - customFieldIdx14
                - customFieldIdx15
                - customFieldIdx16
                - customFieldIdx17
                - customFieldIdx18
                - customFieldIdx19
            expiresAfterDays:
              type: integer
              minimum: 1
              maximum: 31
          required:
          - type
          - name
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/tasks
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  executionType:
                    type: string
                    default: immediate
                    enum:
                    - immediate
                    - scheduled
                  options:
                    type: string
                    x-nullable: true
                    x-alternatives:
                    - type: string
                      x-nullable: true
                    - type: string
                      x-nullable: true
                  expiresAfter:
                    type: string
                    format: date
                  type:
                    type: string
                    enum:
                    - activityLogsOrg
                    - alarmsOrg
                    - occupancyOrg
                    - auditLogsOrg
                  name:
                    type: string
                    minLength: 1
                    maxLength: 255
                  filter:
                    type: string
                    x-nullable: true
                  relativeTime:
                    type: string
                    enum:
                    - today
                    - thisWeek
                    - thisMonth
                    - thisQuarter
                    - thisYear
                    - yesterday
                    - lastFullWeek
                    - lastFullMonth
                    - lastFullQuarter
                    - last6FullMonths
                    - last12FullMonths
                    x-alternatives:
                    - type: string
                      enum:
                      - today
                      - thisWeek
                      - thisMonth
                      - thisQuarter
                      - thisYear
                      - yesterday
                      - lastFullWeek
                      - lastFullMonth
                      - lastFullQuarter
                      - last6FullMonths
                      - last12FullMonths
                    - x-nullable: true
                      type: string
                      enum:
                      - today
                      - thisWeek
                      - thisMonth
                      - thisQuarter
                      - thisYear
                      - lastHour
                      - last4Hours
                      - last12Hours
                      - last24Hours
                      - last7Days
                      - last30Days
                      - yesterday
                      - lastFullWeek
                      - lastFullMonth
                      - lastFullQuarter
                      - lastFullYear
                      - last6FullMonths
                      - last12FullMonths
                  customFieldIds:
                    x-nullable: true
                    type: array
                    x-constraint:
                      single: true
                    items:
                      type: integer
                  destinationEmails:
                    x-nullable: true
                    type: array
                    items:
                      type: string
                      x-format:
                        email: true
                  timeZone:
                    type: string
                    x-nullable: true
                    x-alternatives:
                    - type: string
                      x-nullable: true
                    - type: string
                      maxLength: 64
                  columns:
                    x-nullable: true
                    x-alternatives:
                    - x-nullable: true
                      type: array
                      minItems: 1
                      items:
                        type: string
                        enum:
                        - user
                        - userEmail
                        - userGroups
                        - customFieldIdx0
                        - customFieldIdx1
                        - customFieldIdx2
                        - customFieldIdx3
                        - customFieldIdx4
                        - customFieldIdx5
                        - customFieldIdx6
                        - customFieldIdx7
                        - customFieldIdx8
                        - customFieldIdx9
                        - customFieldIdx10
                        - customFieldIdx11
                        - customFieldIdx12
                        - customFieldIdx13
                        - customFieldIdx14
                        - customFieldIdx15
                        - customFieldIdx16
                        - customFieldIdx17
                        - customFieldIdx18
                        - customFieldIdx19
                    - x-nullable: true
                      x-alternatives:
                      - x-nullable: true
                        type: array
                        minItems: 1
                        items:
                          type: string
                          enum:
                          - time
                          - category
                          - subCategory
                          - result
                          - device
                          - deviceDetail
                          - deviceDetailName
                          - deviceTimezone
                          - deviceTime
                          - user
                          - userEmail
                          - userOrg
                          - userIdpName
                          - userExternalId
                          - initialCredentialTypeName
                          - initialCredentialDetail
                          - credentialTypeName
                          - credentialDetail
                          - target
                          - initialRequest
                          - request
                          - location
                          - entryName
                          - entryName2
                          - zoneName
                          - zoneName2
                          - siteName
                          - siteName2
                          - source
                          - deniedReason
                          - requestId
                          - customFieldIdx0
                          - customFieldIdx1
                          - customFieldIdx2
                          - customFieldIdx3
                          - customFieldIdx4
                          - customFieldIdx5
                          - customFieldIdx6
                          - customFieldIdx7
                          - customFieldIdx8
                          - customFieldIdx9
                          - customFieldIdx10
                          - customFieldIdx11
                          - customFieldIdx12
                          - customFieldIdx13
                          - customFieldIdx14
                          - customFieldIdx15
                          - customFieldIdx16
                          - customFieldIdx17
                          - customFieldIdx18
                          - customFieldIdx19
                      - x-nullable: true
                        x-alternatives:
                        - x-nullable: true
                          type: array
                          minItems: 1
                          items:
                            type: string
                            enum:
                            - alarmId
                            - alarmConfigName
                            - time
                            - eventName
                            - siteName2
                            - zoneName2
                            - entryName2
                            - alarmActionName
                            - userName
                            - assignee
                            - alarmStatusName
                            - acuName
                            - readerName
                            - note
                            - customFieldIdx0
                            - customFieldIdx1
                            - customFieldIdx2
                            - customFieldIdx3
                            - customFieldIdx4
                            - customFieldIdx5
                            - customFieldIdx6
                            - customFieldIdx7
                            - customFieldIdx8
                            - customFieldIdx9
                            - customFieldIdx10
                            - customFieldIdx11
                            - customFieldIdx12
                            - customFieldIdx13
                            - customFieldIdx14
                            - customFieldIdx15
                            - customFieldIdx16
                            - customFieldIdx17
                            - customFieldIdx18
                            - customFieldIdx19
                        - x-nullable: true
                          x-alternatives:
                          - x-nullable: true
                            type: array
                            minItems: 1
                            items:
                              type: string
                              enum:
                              - details
                              - time
                              - ipAddress
                              - url
                              - status
                              - userName
                              - action
                              - description
                              - customFieldIdx0
                              - customFieldIdx1
                              - customFieldIdx2
                              - customFieldIdx3
                              - customFieldIdx4
                              - customFieldIdx5
                              - customFieldIdx6
                              - customFieldIdx7
                              - customFieldIdx8
                              - customFieldIdx9
                              - customFieldIdx10
                              - customFieldIdx11
                              - customFieldIdx12
                              - customFieldIdx13
                              - customFieldIdx14
                              - customFieldIdx15
                              - customFieldIdx16
                              - customFieldIdx17
                              - customFieldIdx18
                              - customFieldIdx19
                          - x-nullable: true
                            type: array
                            minItems: 1
                            items:
                              type: string
                          type: array
                          minItems: 1
                          items:
                            type: string
                            enum:
                            - details
                            - time
                            - ipAddress
                            - url
                            - status
                            - userName
                            - action
                            - description
                            - customFieldIdx0
                            - customFieldIdx1
                            - customFieldIdx2
                            - customFieldIdx3
                            - customFieldIdx4
                            - customFieldIdx5
                            - customFieldIdx6
                            - customFieldIdx7
                            - customFieldIdx8
                            - customFieldIdx9
                            - customFieldIdx10
                            - customFieldIdx11
                            - customFieldIdx12
                            - customFieldIdx13
                            - customFieldIdx14
                            - customFieldIdx15
                            - customFieldIdx16
                            - customFieldIdx17
                            - customFieldIdx18
                            - customFieldIdx19
                        type: array
                        minItems: 1
                        items:
                          type: string
                          enum:
                          - alarmId
                          - alarmConfigName
                          - time
                          - eventName
                          - siteName2
                          - zoneName2
                          - entryName2
                          - alarmActionName
                          - userName
                          - assignee
                          - alarmStatusName
                          - acuName
                          - readerName
                          - note
                          - customFieldIdx0
                          - customFieldIdx1
                          - customFieldIdx2
                          - customFieldIdx3
                          - customFieldIdx4
                          - customFieldIdx5
                          - customFieldIdx6
                          - customFieldIdx7
                          - customFieldIdx8
                          - customFieldIdx9
                          - customFieldIdx10
                          - customFieldIdx11
                          - customFieldIdx12
                          - customFieldIdx13
                          - customFieldIdx14
                          - customFieldIdx15
                          - customFieldIdx16
                          - customFieldIdx17
                          - customFieldIdx18
                          - customFieldIdx19
                      type: array
                      minItems: 1
                      items:
                        type: string
                        enum:
                        - time
                        - category
                        - subCategory
                        - result
                        - device
                        - deviceDetail
                        - deviceDetailName
                        - deviceTimezone
                        - deviceTime
                        - user
                        - userEmail
                        - userOrg
                        - userIdpName
                        - userExternalId
                        - initialCredentialTypeName
                        - initialCredentialDetail
                        - credentialTypeName
                        - credentialDetail
                        - target
                        - initialRequest
                        - request
                        - location
                        - entryName
                        - entryName2
                        - zoneName
                        - zoneName2
                        - siteName
                        - siteName2
                        - source
                        - deniedReason
                        - requestId
                        - customFieldIdx0
                        - customFieldIdx1
                        - customFieldIdx2
                        - customFieldIdx3
                        - customFieldIdx4
                        - customFieldIdx5
                        - customFieldIdx6
                        - customFieldIdx7
                        - customFieldIdx8
                        - customFieldIdx9
                        - customFieldIdx10
                        - customFieldIdx11
                        - customFieldIdx12
                        - customFieldIdx13
                        - customFieldIdx14
                        - customFieldIdx15
                        - customFieldIdx16
                        - customFieldIdx17
                        - customFieldIdx18
                        - customFieldIdx19
                    type: array
                    minItems: 1
                    items:
                      type: string
                      enum:
                      - user
                      - userEmail
                      - userGroups
                      - customFieldIdx0
                      - customFieldIdx1
                      - customFieldIdx2
                      - customFieldIdx3
                      - customFieldIdx4
                      - customFieldIdx5
                      - customFieldIdx6
                      - customFieldIdx7
                      - customFieldIdx8
                      - customFieldIdx9
                      - customFieldIdx10
                      - customFieldIdx11
                      - customFieldIdx12
                      - customFieldIdx13
                      - customFieldIdx14
                      - customFieldIdx15
                      - customFieldIdx16
                      - customFieldIdx17
                      - customFieldIdx18
                      - customFieldIdx19
                  id:
                    type: integer
                  org:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  identity:
                    type: object
                    properties:
                      id:
                        type: number
                      opal:
                        type: string
                      roles:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            description:
                              type: string
                            isMfaRequired:
                              type: boolean
                          required:
                          - id
                      mfaCredentials:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            name:
                              type: string
                            status:
                              type: string
                            mfaCredentialType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                modelName:
                                  type: string
                              required:
                              - id
                            totpSoftDevice:
                              type: object
                              properties:
                                id:
                                  type: number
                              required:
                              - id
                          required:
                          - id
                      firstName:
                        type: string
                        x-nullable: true
                      middleName:
                        type: string
                        x-nullable: true
                      lastName:
                        type: string
                        x-nullable: true
                      fullName:
                        type: string
                        x-nullable: true
                      initials:
                        type: string
                        x-nullable: true
                      isEmailVerified:
                        type: boolean
                      namespace:
                        type: object
                        properties:
                          id:
                            type: integer
                          nickname:
                            type: string
                            x-nullable: true
                          namespaceType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                              modelName:
                                type: string
                                x-nullable: true
                            required:
                            - id
                          org:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                          identityProvider:
                            type: object
                            properties:
                              id:
                                type: number
                              isSsoEnabled:
                                type: boolean
                              isSyncMobilePhoneEnabled:
                                type: boolean
                              isRemoveGroupsEnabled:
                                type: boolean
                              identityProviderSyncTypeId:
                                type: integer
                                x-nullable: true
                              credentials:
                                type: string
                                x-nullable: true
                              identityProviderType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                              org:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                          propertyManagementSystem:
                            type: object
                            properties:
                              id:
                                type: number
                              orgId:
                                type: number
                              propertyManagementSystemTypeId:
                                type: number
                              propertyManagementSystemType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                            - orgId
                            - propertyManagementSystemTypeId
                        required:
                        - id
                      idpUniqueIdentifier:
                        type: string
                      pmsUniqueIdentifier:
                        type: string
                        x-nullable: true
                      needsPasswordChange:
                        type: boolean
                        default: false
                      nicknames:
                        x-nullable: true
                        type: array
                        items:
                          type: object
                          properties:
                            nickname:
                              type: string
                              minLength: 1
                              maxLength: 100
                      email:
                        type: string
                      mobilePhone:
                        type: string
                        x-nullable: true
                      language:
                        type: string
                        x-nullable: true
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            opal:
                              type: string
                            status:
                              type: string
                            startDate:
                              type: string
                              format: date
                              x-nullable: true
                            endDate:
                              type: string
                              format: date
                              x-nullable: true
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            org:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                  x-nullable: true
                              required:
                              - id
                          required:
                          - id
                    required:
                    - id
                  statusCode:
                    type: string
                    enum:
                    - starting
                    - running
                    - completed.success
                    - completed.failed
                  statusFailureCode:
                    x-nullable: true
                    type: string
                    enum:
                    - unexpectedException
                  statusDetail:
                    type: string
                    minLength: 1
                    x-nullable: true
                  numRecordsProcessed:
                    type: integer
                  numRecordsOutput:
                    type: integer
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                required:
                - expiresAfter
                - type
                - id
                - org
                - identity
                - numRecordsProcessed
                - numRecordsOutput
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Created
      x-op-scopes:
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rptGeneral:w
      - o-support:w
      - o:w
      - s-o:w
  /orgs/{orgId}/tasks/reports/schedules:
    get:
      summary: List all schedules for all the report tasks
      operationId: listTasksReportsSchedules
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-rptGeneral:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listTasksReportsSchedules'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/tasks
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    cronTime:
                      type: string
                      pattern: ^(\*|[1-5]?[0-9])(\/[0-9]+){0,1} (\*|2[0-3]|1[0-9]|[0-9])(\/[0-9]+){0,1} (\*|3[01]|[12][0-9]|[1-9]) (\*|(1[0-2]|[1-9])((,(1[0-2]|[1-9]))*)) (\*|[0-6]((,[0-6])*))$
                    cronTimeZone:
                      type: string
                    params:
                      type: object
                      properties:
                        executionType:
                          type: string
                          default: immediate
                          enum:
                          - immediate
                          - scheduled
                        options:
                          type: string
                          x-nullable: true
                          x-alternatives:
                          - type: string
                            x-nullable: true
                          - type: string
                            x-nullable: true
                        expiresAfter:
                          type: string
                          format: date
                        type:
                          type: string
                          enum:
                          - activityLogsOrg
                          - alarmsOrg
                          - occupancyOrg
                          - auditLogsOrg
                        name:
                          type: string
                          minLength: 1
                          maxLength: 255
                        filter:
                          type: string
                          x-nullable: true
                        relativeTime:
                          type: string
                          enum:
                          - today
                          - thisWeek
                          - thisMonth
                          - thisQuarter
                          - thisYear
                          - yesterday
                          - lastFullWeek
                          - lastFullMonth
                          - lastFullQuarter
                          - last6FullMonths
                          - last12FullMonths
                          required:
                          - relativeTime
                          x-alternatives:
                          - type: string
                            enum:
                            - today
                            - thisWeek
                            - thisMonth
                            - thisQuarter
                            - thisYear
                            - yesterday
                            - lastFullWeek
                            - lastFullMonth
                            - lastFullQuarter
                            - last6FullMonths
                            - last12FullMonths
                          - x-nullable: true
                            type: string
                            enum:
                            - today
                            - thisWeek
                            - thisMonth
                            - thisQuarter
                            - thisYear
                            - lastHour
                            - last4Hours
                            - last12Hours
                            - last24Hours
                            - last7Days
                            - last30Days
                            - yesterday
                            - lastFullWeek
                            - lastFullMonth
                            - lastFullQuarter
                            - lastFullYear
                            - last6FullMonths
                            - last12FullMonths
                        customFieldIds:
                          x-nullable: true
                          type: array
                          x-constraint:
                            single: true
                          items:
                            type: integer
                        destinationEmails:
                          x-nullable: true
                          type: array
                          items:
                            type: string
                            x-format:
                              email: true
                        timeZone:
                          type: string
                          x-nullable: true
                          required:
                          - timeZone
                          x-alternatives:
                          - type: string
                            x-nullable: true
                          - type: string
                            maxLength: 64
                        columns:
                          x-nullable: true
                          x-alternatives:
                          - x-nullable: true
                            type: array
                            minItems: 1
                            items:
                              type: string
                              enum:
                              - user
                              - userEmail
                              - userGroups
                              - customFieldIdx0
                              - customFieldIdx1
                              - customFieldIdx2
                              - customFieldIdx3
                              - customFieldIdx4
                              - customFieldIdx5
                              - customFieldIdx6
                              - customFieldIdx7
                              - customFieldIdx8
                              - customFieldIdx9
                              - customFieldIdx10
                              - customFieldIdx11
                              - customFieldIdx12
                              - customFieldIdx13
                              - customFieldIdx14
                              - customFieldIdx15
                              - customFieldIdx16
                              - customFieldIdx17
                              - customFieldIdx18
                              - customFieldIdx19
                          - x-nullable: true
                            x-alternatives:
                            - x-nullable: true
                              type: array
                              minItems: 1
                              items:
                                type: string
                                enum:
                                - time
                                - category
                                - subCategory
                                - result
                                - device
                                - deviceDetail
                                - deviceDetailName
                                - deviceTimezone
                                - deviceTime
                                - user
                                - userEmail
                                - userOrg
                                - userIdpName
                                - userExternalId
                                - initialCredentialTypeName
                                - initialCredentialDetail
                                - credentialTypeName
                                - credentialDetail
                                - target
                                - initialRequest
                                - request
                                - location
                                - entryName
                                - entryName2
                                - zoneName
                                - zoneName2
                                - siteName
                                - siteName2
                                - source
                                - deniedReason
                                - requestId
                                - customFieldIdx0
                                - customFieldIdx1
                                - customFieldIdx2
                                - customFieldIdx3
                                - customFieldIdx4
                                - customFieldIdx5
                                - customFieldIdx6
                                - customFieldIdx7
                                - customFieldIdx8
                                - customFieldIdx9
                                - customFieldIdx10
                                - customFieldIdx11
                                - customFieldIdx12
                                - customFieldIdx13
                                - customFieldIdx14
                                - customFieldIdx15
                                - customFieldIdx16
                                - customFieldIdx17
                                - customFieldIdx18
                                - customFieldIdx19
                            - x-nullable: true
                              x-alternatives:
                              - x-nullable: true
                                type: array
                                minItems: 1
                                items:
                                  type: string
                                  enum:
                                  - alarmId
                                  - alarmConfigName
                                  - time
                                  - eventName
                                  - siteName2
                                  - zoneName2
                                  - entryName2
                                  - alarmActionName
                                  - userName
                                  - assignee
                                  - alarmStatusName
                                  - acuName
                                  - readerName
                                  - note
                                  - customFieldIdx0
                                  - customFieldIdx1
                                  - customFieldIdx2
                                  - customFieldIdx3
                                  - customFieldIdx4
                                  - customFieldIdx5
                                  - customFieldIdx6
                                  - customFieldIdx7
                                  - customFieldIdx8
                                  - customFieldIdx9
                                  - customFieldIdx10
                                  - customFieldIdx11
                                  - customFieldIdx12
                                  - customFieldIdx13
                                  - customFieldIdx14
                                  - customFieldIdx15
                                  - customFieldIdx16
                                  - customFieldIdx17
                                  - customFieldIdx18
                                  - customFieldIdx19
                              - x-nullable: true
                                x-alternatives:
                                - x-nullable: true
                                  type: array
                                  minItems: 1
                                  items:
                                    type: string
                                    enum:
                                    - details
                                    - time
                                    - ipAddress
                                    - url
                                    - status
                                    - userName
                                    - action
                                    - description
                                    - customFieldIdx0
                                    - customFieldIdx1
                                    - customFieldIdx2
                                    - customFieldIdx3
                                    - customFieldIdx4
                                    - customFieldIdx5
                                    - customFieldIdx6
                                    - customFieldIdx7
                                    - customFieldIdx8
                                    - customFieldIdx9
                                    - customFieldIdx10
                                    - customFieldIdx11
                                    - customFieldIdx12
                                    - customFieldIdx13
                                    - customFieldIdx14
                                    - customFieldIdx15
                                    - customFieldIdx16
                                    - customFieldIdx17
                                    - customFieldIdx18
                                    - customFieldIdx19
                                - x-nullable: true
                                  type: array
                                  minItems: 1
                                  items:
                                    type: string
                                type: array
                                minItems: 1
                                items:
                                  type: string
                                  enum:
                                  - details
                                  - time
                                  - ipAddress
                                  - url
                                  - status
                                  - userName
                                  - action
                                  - description
                                  - customFieldIdx0
                                  - customFieldIdx1
                                  - customFieldIdx2
                                  - customFieldIdx3
                                  - customFieldIdx4
                                  - customFieldIdx5
                                  - customFieldIdx6
                                  - customFieldIdx7
                                  - customFieldIdx8
                                  - customFieldIdx9
                                  - customFieldIdx10
                                  - customFieldIdx11
                                  - customFieldIdx12
                                  - customFieldIdx13
                                  - customFieldIdx14
                                  - customFieldIdx15
                                  - customFieldIdx16
                                  - customFieldIdx17
                                  - customFieldIdx18
                                  - customFieldIdx19
                              type: array
                              minItems: 1
                              items:
                                type: string
                                enum:
                                - alarmId
                                - alarmConfigName
                                - time
                                - eventName
                                - siteName2
                                - zoneName2
                                - entryName2
                                - alarmActionName
                                - userName
                                - assignee
                                - alarmStatusName
                                - acuName
                                - readerName
                                - note
                                - customFieldIdx0
                                - customFieldIdx1
                                - customFieldIdx2
                                - customFieldIdx3
                                - customFieldIdx4
                                - customFieldIdx5
                                - customFieldIdx6
                                - customFieldIdx7
                                - customFieldIdx8
                                - customFieldIdx9
                                - customFieldIdx10
                                - customFieldIdx11
                                - customFieldIdx12
                                - customFieldIdx13
                                - customFieldIdx14
                                - customFieldIdx15
                                - customFieldIdx16
                                - customFieldIdx17
                                - customFieldIdx18
                                - customFieldIdx19
                            type: array
                            minItems: 1
                            items:
                              type: string
                              enum:
                              - time
                              - category
                              - subCategory
                              - result
                              - device
                              - deviceDetail
                              - deviceDetailName
                              - deviceTimezone
                              - deviceTime
                              - user
                              - userEmail
                              - userOrg
                              - userIdpName
                              - userExternalId
                              - initialCredentialTypeName
                              - initialCredentialDetail
                              - credentialTypeName
                              - credentialDetail
                              - target
                              - initialRequest
                              - request
                              - location
                              - entryName
                              - entryName2
                              - zoneName
                              - zoneName2
                              - siteName
                              - siteName2
                              - source
                              - deniedReason
                              - requestId
                              - customFieldIdx0
                              - customFieldIdx1
                              - customFieldIdx2
                              - customFieldIdx3
                              - customFieldIdx4
                              - customFieldIdx5
[...]
