openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/readers API
  version: 1.0.0
  description: Readers
servers:
- url: https://api.openpath.com
tags:
- name: orgs/readers
  description: Readers
paths:
  /orgs/{orgId}/readers:
    get:
      summary: List all owned or assigned readers
      operationId: listReaders
      description: 'Possible comma separated values for the options parameter include: withEffectiveLocationRestriction. The withEffectiveLocationRestriction option causes current effective location restriction to be included in the response. Only readers with an effective location restriction include this object.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-quickStart:w,o{params.orgId}-quickStart:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listReaders'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          pattern: ^((withEffectiveLocationRestriction|excludeVideoReaders|onlyVideoReaders)(,|$))*$
      tags:
      - orgs/readers
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        serialNumber:
                          type:
                          - string
                          - 'null'
                        serialNumberBrief:
                          type:
                          - string
                          - 'null'
                        firmwareVersion:
                          type:
                          - string
                          - 'null'
                        softwareVersionNumber:
                          type:
                          - string
                          - 'null'
                        isExit:
                          type: boolean
                        advTxPower:
                          type: number
                          enum:
                          - 4
                          - 3
                          - 0
                          - -4
                          - -8
                          - -12
                          - -16
                          - -20
                          - -40
                        beaconTxPower:
                          type: number
                          enum:
                          - 4
                          - 3
                          - 0
                          - -4
                          - -8
                          - -12
                          - -16
                          - -20
                          - -40
                        capTouchEnabled:
                          type: boolean
                        capTouchRssi:
                          type: integer
                          minimum: -95
                          maximum: -20
                        capTouchThreshold:
                          type:
                          - integer
                          - 'null'
                        nfcEnabled:
                          type: boolean
                        autoUnlockEnabled:
                          type: boolean
                        autoUnlockRssi:
                          type: integer
                          minimum: -95
                          maximum: -30
                        acuPort:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            acuPortTypePortNumber:
                              type: number
                            virtualPortNumber:
                              type:
                              - number
                              - 'null'
                            portNumber:
                              type:
                              - number
                              - 'null'
                            label:
                              type: string
                            acu:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            expansionBoard:
                              type: object
                              properties:
                                id:
                                  type: number
                                number:
                                  type: integer
                                acuModelId:
                                  type: integer
                              required:
                              - id
                            eol:
                              type:
                              - object
                              - 'null'
                              properties:
                                eolSupervision:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                          required:
                          - id
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        org:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        ownedByOrg:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        effectiveLocationRestriction:
                          type: object
                          properties:
                            id:
                              type: integer
                            locationMeasurement:
                              type: object
                              properties:
                                longitude:
                                  type: number
                                latitude:
                                  type: number
                                timeZoneId:
                                  type:
                                  - string
                                  - 'null'
                            allowedDistanceMeters:
                              type: number
                            scaleFactor:
                              type: number
                          required:
                          - id
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        notes:
                          type:
                          - string
                          - 'null'
                        isAudibleFeedbackEnabled:
                          type: boolean
                        isLedFeedbackEnabled:
                          type: boolean
                        pinTimeoutSeconds:
                          type: integer
                        isAppleWalletTraEnabled:
                          type: boolean
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-quickStart:r
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a reader
      operationId: createReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o:w,s-o:w


        __Endpoint name__: createReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/readers
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      serialNumber:
                        type:
                        - string
                        - 'null'
                      serialNumberBrief:
                        type:
                        - string
                        - 'null'
                      firmwareVersion:
                        type:
                        - string
                        - 'null'
                      softwareVersionNumber:
                        type:
                        - string
                        - 'null'
                      isExit:
                        type: boolean
                      advTxPower:
                        type: number
                        enum:
                        - 4
                        - 3
                        - 0
                        - -4
                        - -8
                        - -12
                        - -16
                        - -20
                        - -40
                      beaconTxPower:
                        type: number
                        enum:
                        - 4
                        - 3
                        - 0
                        - -4
                        - -8
                        - -12
                        - -16
                        - -20
                        - -40
                      capTouchEnabled:
                        type: boolean
                      capTouchRssi:
                        type: integer
                        minimum: -95
                        maximum: -20
                      capTouchThreshold:
                        type:
                        - integer
                        - 'null'
                      nfcEnabled:
                        type: boolean
                      autoUnlockEnabled:
                        type: boolean
                      autoUnlockRssi:
                        type: integer
                        minimum: -95
                        maximum: -30
                      acuPort:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          acuPortTypePortNumber:
                            type: number
                          virtualPortNumber:
                            type:
                            - number
                            - 'null'
                          portNumber:
                            type:
                            - number
                            - 'null'
                          label:
                            type: string
                          acu:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                          expansionBoard:
                            type: object
                            properties:
                              id:
                                type: number
                              number:
                                type: integer
                              acuModelId:
                                type: integer
                            required:
                            - id
                          eol:
                            type:
                            - object
                            - 'null'
                            properties:
                              eolSupervision:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                        required:
                        - id
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      org:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      ownedByOrg:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      effectiveLocationRestriction:
                        type: object
                        properties:
                          id:
                            type: integer
                          locationMeasurement:
                            type: object
                            properties:
                              longitude:
                                type: number
                              latitude:
                                type: number
                              timeZoneId:
                                type:
                                - string
                                - 'null'
                          allowedDistanceMeters:
                            type: number
                          scaleFactor:
                            type: number
                        required:
                        - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      notes:
                        type:
                        - string
                        - 'null'
                      isAudibleFeedbackEnabled:
                        type: boolean
                      isLedFeedbackEnabled:
                        type: boolean
                      pinTimeoutSeconds:
                        type: integer
                      isAppleWalletTraEnabled:
                        type: boolean
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                notes:
                  type:
                  - string
                  - 'null'
                serialNumber:
                  type:
                  - string
                  - 'null'
                softwareVersionNumber:
                  type:
                  - string
                  - 'null'
                acuPortId:
                  type:
                  - integer
                  - 'null'
                isExit:
                  type: boolean
                advTxPower:
                  type: integer
                  enum:
                  - 4
                  - 3
                  - 0
                  - -4
                  - -8
                  - -12
                  - -16
                  - -20
                  - -40
                beaconTxPower:
                  type: integer
                  enum:
                  - 4
                  - 3
                  - 0
                  - -4
                  - -8
                  - -12
                  - -16
                  - -20
                  - -40
                capTouchEnabled:
                  type: boolean
                capTouchRssi:
                  type: integer
                  minimum: -95
                  maximum: -20
                capTouchThreshold:
                  type:
                  - integer
                  - 'null'
                  minimum: 100
                  maximum: 15000
                nfcEnabled:
                  type: boolean
                autoUnlockEnabled:
                  type: boolean
                autoUnlockRssi:
                  type: integer
                  minimum: -95
                  maximum: -30
                isAudibleFeedbackEnabled:
                  type: boolean
                isLedFeedbackEnabled:
                  type: boolean
                pinTimeoutSeconds:
                  type: integer
                isAppleWalletTraEnabled:
                  type: boolean
              required:
              - name
  /orgs/{orgId}/readers/{readerId}:
    get:
      summary: Describe an owned or assigned reader
      operationId: describeReader
      description: 'Possible comma separated values for the options parameter include: withEffectiveLocationRestriction. The withEffectiveLocationRestriction option causes current effective location restriction to be included in the response. Only readers with an effective location restriction include this object.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: readerId
        in: path
        required: true
        schema:
          type: integer
      - name: options
        in: query
        schema:
          type: string
          pattern: ^((withEffectiveLocationRestriction)(,|$))*$
      tags:
      - orgs/readers
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      serialNumber:
                        type:
                        - string
                        - 'null'
                      serialNumberBrief:
                        type:
                        - string
                        - 'null'
                      firmwareVersion:
                        type:
                        - string
                        - 'null'
                      softwareVersionNumber:
                        type:
                        - string
                        - 'null'
                      isExit:
                        type: boolean
                      advTxPower:
                        type: number
                        enum:
                        - 4
                        - 3
                        - 0
                        - -4
                        - -8
                        - -12
                        - -16
                        - -20
                        - -40
                      beaconTxPower:
                        type: number
                        enum:
                        - 4
                        - 3
                        - 0
                        - -4
                        - -8
                        - -12
                        - -16
                        - -20
                        - -40
                      capTouchEnabled:
                        type: boolean
                      capTouchRssi:
                        type: integer
                        minimum: -95
                        maximum: -20
                      capTouchThreshold:
                        type:
                        - integer
                        - 'null'
                      nfcEnabled:
                        type: boolean
                      autoUnlockEnabled:
                        type: boolean
                      autoUnlockRssi:
                        type: integer
                        minimum: -95
                        maximum: -30
                      acuPort:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          acuPortTypePortNumber:
                            type: number
                          virtualPortNumber:
                            type:
                            - number
                            - 'null'
                          portNumber:
                            type:
                            - number
                            - 'null'
                          label:
                            type: string
                          acu:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                          expansionBoard:
                            type: object
                            properties:
                              id:
                                type: number
                              number:
                                type: integer
                              acuModelId:
                                type: integer
                            required:
                            - id
                          eol:
                            type:
                            - object
                            - 'null'
                            properties:
                              eolSupervision:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                        required:
                        - id
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      org:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      ownedByOrg:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      effectiveLocationRestriction:
                        type: object
                        properties:
                          id:
                            type: integer
                          locationMeasurement:
                            type: object
                            properties:
                              longitude:
                                type: number
                              latitude:
                                type: number
                              timeZoneId:
                                type:
                                - string
                                - 'null'
                          allowedDistanceMeters:
                            type: number
                          scaleFactor:
                            type: number
                        required:
                        - id
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      notes:
                        type:
                        - string
                        - 'null'
                      isAudibleFeedbackEnabled:
                        type: boolean
                      isLedFeedbackEnabled:
                        type: boolean
                      pinTimeoutSeconds:
                        type: integer
                      isAppleWalletTraEnabled:
                        type: boolean
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a reader
      operationId: deleteReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o:w,s-o:w


        __Endpoint name__: deleteReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: readerId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/readers
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o:w
      - s-o:w
    patch:
      summary: Update a reader
      operationId: updateReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o:w,o-support:w,s-o:w


        __Endpoint name__: updateReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: readerId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/readers
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o:w
      - o-support:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                notes:
                  type:
                  - string
                  - 'null'
                serialNumber:
                  type:
                  - string
                  - 'null'
                softwareVersionNumber:
                  type:
                  - string
                  - 'null'
                acuPortId:
                  type:
                  - integer
                  - 'null'
                isExit:
                  type: boolean
                advTxPower:
                  type: integer
                  enum:
                  - 4
                  - 3
                  - 0
                  - -4
                  - -8
                  - -12
                  - -16
                  - -20
                  - -40
                beaconTxPower:
                  type: integer
                  enum:
                  - 4
                  - 3
                  - 0
                  - -4
                  - -8
                  - -12
                  - -16
                  - -20
                  - -40
                capTouchEnabled:
                  type: boolean
                capTouchRssi:
                  type: integer
                  minimum: -95
                  maximum: -20
                capTouchThreshold:
                  type:
                  - integer
                  - 'null'
                  minimum: 100
                  maximum: 15000
                nfcEnabled:
                  type: boolean
                autoUnlockEnabled:
                  type: boolean
                autoUnlockRssi:
                  type: integer
                  minimum: -95
                  maximum: -30
                isAudibleFeedbackEnabled:
                  type: boolean
                isLedFeedbackEnabled:
                  type: boolean
                pinTimeoutSeconds:
                  type: integer
                isAppleWalletTraEnabled:
                  type: boolean
  /orgs/{orgId}/readers/{readerId}/identify:
    post:
      summary: Remotely trigger a reader to identify itself via LED and buzzer
      operationId: remoteReaderIdentify
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o:w,s-o:w


        __Endpoint name__: remoteReaderIdentify'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: readerId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/readers
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o:w
      - s-o:w
  /orgs/{orgId}/readers/{readerId}/restart:
    post:
      summary: Remotely trigger a reader to restart
      operationId: remoteReaderRestart
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o:w,s-o:w


        __Endpoint name__: remoteReaderRestart'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: readerId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/readers
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o:w
      - s-o:w
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
