openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/scope Resources API
  version: 1.0.0
  description: Scope Resources for User Roles
servers:
- url: https://api.openpath.com
tags:
- name: orgs/scopeResources
  description: Scope Resources for User Roles
paths:
  /orgs/{orgId}/scopeResources:
    get:
      summary: List all scope resources
      operationId: listScopeResources
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listScopeResources'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: ordinal
          pattern: ^[a-zA-Z0-9.]+$
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/scopeResources
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        nativeAppId:
                          type: integer
                        name:
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        scopes:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              permission:
                                type: string
                              code:
                                type: string
                              description:
                                type: string
                              label:
                                type: string
                              parentScopeId:
                                type:
                                - number
                                - 'null'
                            required:
                            - id
                      required:
                      - id
                      - nativeAppId
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/scopeResources/{scopeResourceId}:
    get:
      summary: Describe a scope resource
      operationId: describeScopeResource
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeScopeResource'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: scopeResourceId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/scopeResources
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      nativeAppId:
                        type: integer
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      scopes:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            permission:
                              type: string
                            code:
                              type: string
                            description:
                              type: string
                            label:
                              type: string
                            parentScopeId:
                              type:
                              - number
                              - 'null'
                          required:
                          - id
                    required:
                    - id
                    - nativeAppId
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
