openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/reports API
  version: 1.0.0
  description: Reports and Analytics
servers:
- url: https://api.openpath.com
tags:
- name: Orgs Reports
  description: Reports and Analytics
paths:
  /orgs/{orgId}/reports/deviceTimeZoneDependentRelativeTimeRanges:
    get:
      summary: Get the search and display unix timestamp ranges for relative times based on…
      operationId: getDeviceTimeZoneDependentRelativeTimeRanges
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-occupancyReport:w,o{params.orgId}-occupancyReport:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: getDeviceTimeZoneDependentRelativeTimeRanges'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - x-constraint:
          single: true
        name: siteIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            minimum: 1
      - x-constraint:
          single: true
        name: zoneIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            minimum: 1
      - name: referenceTime
        in: query
        schema:
          type: string
          format: date
      tags:
      - Orgs Reports
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        relativeTime:
                          type: string
                          enum:
                          - today
                          - thisWeek
                          - thisMonth
                          - thisQuarter
                          - thisYear
                          - yesterday
                          - lastFullWeek
                          - lastFullMonth
                          - lastFullQuarter
                          - last6FullMonths
                          - last12FullMonths
                        deviceMinUtcOffsetTimeZoneId:
                          type: string
                        displayStartDateUnix:
                          type: integer
                          minimum: 1721088000
                        displayEndDateUnix:
                          type: integer
                          minimum: 1721088000
                        searchStartDateUnix:
                          type: integer
                          minimum: 1721088000
                        searchEndDateUnix:
                          type: integer
                          minimum: 1721088000
                      required:
                      - relativeTime
                      - deviceMinUtcOffsetTimeZoneId
                      - displayStartDateUnix
                      - displayEndDateUnix
                      - searchStartDateUnix
                      - searchEndDateUnix
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-occupancyReport:w
      - o{params.orgId}-occupancyReport:r
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/reports/activity:
    get:
      summary: Get entry access activity
      operationId: getActivity
      description: 'Note: Please use `/org/{orgId}/reports/activity/events` API when possible as it replaces this API and is faster.


        Returns activity events for the `time` specified date range. This API does not handle large date range requests. If not specified, the default search time span is 24 hours ago to now.


        This API can return 422 Unprocessable Entity status code. A 422 is returned when the `time` filter specified a date range with more data than can be retrieved within the 55 second API timeout period. Please try narrowing the query date range or use the `/org/{orgId}/reports/activity/events` API as an alternative. The `/org/{orgId}/reports/activity/events` API does not have the 422 status code problem.


        The difference between entryName, zoneName, and siteName vs. entryName2, zoneName2, and siteName2 is that the `*Name2` fields can potentially return "Multiple" as the name. This occurs when the entries array indicates multiple unique ids for that resource type. Whereas the entryId, entryName, zoneId, zoneName, siteId, and siteName values always equal their entries[0] (the first one) equivalent values.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-rptGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: getActivity'
      parameters:
      - name: x-op-debug
        in: header
        schema:
          type: string
          default: ''
          pattern: ^((log-all)(,|$))*$
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 10000
          maximum: 10000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: time
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: desc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: filter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
          maxLength: 512
          pattern: ^((useOpProton|quick|noquick|withTouch|searchId:[a-zA-Z0-9_-]+)(,|$))*
      - x-constraint:
          single: true
        name: customFieldIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orgs Reports
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        time:
                          type: number
                        timeIsoString:
                          type: string
                        userId:
                          type:
                          - number
                          - 'null'
                        userFirstName:
                          type:
                          - string
                          - 'null'
                        userMiddleName:
                          type:
                          - string
                          - 'null'
                        userLastName:
                          type:
                          - string
                          - 'null'
                        userName:
                          type:
                          - string
                          - 'null'
                        userEmail:
                          type: string
                        userMobilePhone:
                          type:
                          - string
                          - 'null'
                        userOrgId:
                          type:
                          - number
                          - 'null'
                        userOrgName:
                          type:
                          - string
                          - 'null'
                        userExternalId:
                          type:
                          - string
                          - 'null'
                        userIdpName:
                          type:
                          - string
                          - 'null'
                        userGroups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                        userSites:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                        sourceName:
                          type: string
                        category:
                          type:
                          - string
                          - 'null'
                        subCategory:
                          type:
                          - string
                          - 'null'
                        credentialSubtype:
                          type: string
                        credentialTypeModelName:
                          type:
                          - string
                          - 'null'
                        credentialTypeName:
                          type:
                          - string
                          - 'null'
                        credentialDetail:
                          type:
                          - string
                          - 'null'
                        cardFields:
                          type:
                          - object
                          - 'null'
                          properties:
                            rcm:
                              type: string
                              pattern: ^[0-9]+$
                            facilityCode:
                              type: string
                              pattern: ^[0-9]+$
                            issueLevel:
                              type: string
                              pattern: ^[0-9]+$
                            cardId:
                              type: string
                              pattern: ^[0-9]+$
                            companyId:
                              type: string
                              pattern: ^[0-9]+$
                            companyCode:
                              type: string
                              pattern: ^[0-9]+$
                            siteCode:
                              type: string
                              pattern: ^[0-9]+$
                            oem:
                              type: string
                              pattern: ^[0-9]+$
                        acuId:
                          type:
                          - number
                          - 'null'
                        acuName:
                          type: string
                        entryId:
                          type:
                          - number
                          - 'null'
                        entryName:
                          type: string
                        entryName2:
                          type: string
                        zoneId:
                          type:
                          - number
                          - 'null'
                        zoneName:
                          type:
                          - string
                          - 'null'
                        zoneName2:
                          type:
                          - string
                          - 'null'
                        siteId:
                          type:
                          - number
                          - 'null'
                        siteName:
                          type:
                          - string
                          - 'null'
                        siteName2:
                          type:
                          - string
                          - 'null'
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              zone:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                              site:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                        lockdownPlanId:
                          type:
                          - number
                          - 'null'
                        lockdownPlanName:
                          type: string
                        gatewayDevice:
                          type:
                          - object
                          - 'null'
                          properties:
                            type:
                              type:
                              - string
                              - 'null'
                            uid:
                              type:
                              - string
                              - 'null'
                            opal:
                              type: string
                            name:
                              type:
                              - string
                              - 'null'
                          required:
                          - type
                        sourceDevice:
                          type:
                          - object
                          - 'null'
                          properties:
                            type:
                              type:
                              - string
                              - 'null'
                            uid:
                              type:
                              - string
                              - 'null'
                            opal:
                              type: string
                            name:
                              type:
                              - string
                              - 'null'
                          required:
                          - type
                        deviceDetail:
                          type: string
                        deviceDetailName:
                          type: string
                        deviceTimezone:
                          type:
                          - string
                          - 'null'
                        readerId:
                          type:
                          - number
                          - 'null'
                        readerName:
                          type: string
                        readerPortNumber:
                          type:
                          - number
                          - 'null'
                        portNumber:
                          type: object
                          properties:
                            modelName:
                              type: string
                              enum:
                              - contactSensor
                              - genericInput
                              - reader
                              - rex
                            raw:
                              type: integer
                            acuId:
                              type: integer
                            expansionBoardNum:
                              type: integer
                            virtualPortNum:
                              type: integer
                        targetType:
                          type:
                          - string
                          - 'null'
                        targetName:
                          type:
                          - string
                          - 'null'
                        requestType:
                          type: string
                        requestId:
                          type: string
                        result:
                          type: string
                        resultDescription:
                          type: string
                        deniedReason:
                          type:
                          - string
                          - 'null'
                        connectionType:
                          type:
                          - string
                          - 'null'
                        location:
                          type: string
                        userCustomFields:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              value:
                                type:
                                - string
                                - 'null'
                              customField:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  customFieldType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                required:
                                - id
                            required:
                            - id
                        userCustomFieldsData:
                          type: object
                        firstAuthInfos:
                          type: array
                          items:
                            type: object
                            properties:
                              connectionType:
                                type:
                                - string
                                - 'null'
                              requestType:
                                type: string
                              credentialSubtype:
                                type: string
                              credentialTypeModelName:
                                type:
                                - string
                                - 'null'
                              credentialDetail:
                                type:
                                - string
                                - 'null'
                              credentialTypeName:
                                type:
                                - string
                                - 'null'
                              cardFields:
                                type:
                                - object
                                - 'null'
                                properties:
                                  rcm:
                                    type: string
                                    pattern: ^[0-9]+$
                                  facilityCode:
                                    type: string
                                    pattern: ^[0-9]+$
                                  issueLevel:
                                    type: string
                                    pattern: ^[0-9]+$
                                  cardId:
                                    type: string
                                    pattern: ^[0-9]+$
                                  companyId:
                                    type: string
                                    pattern: ^[0-9]+$
                                  companyCode:
                                    type: string
                                    pattern: ^[0-9]+$
                                  siteCode:
                                    type: string
                                    pattern: ^[0-9]+$
                                  oem:
                                    type: string
                                    pattern: ^[0-9]+$
                              readerId:
                                type:
                                - number
                                - 'null'
                              readerName:
                                type: string
                              userId:
                                type:
                                - number
                                - 'null'
                              userFirstName:
                                type:
                                - string
                                - 'null'
                              userMiddleName:
                                type:
                                - string
                                - 'null'
                              userLastName:
                                type:
                                - string
                                - 'null'
                              userName:
                                type:
                                - string
                                - 'null'
                              userEmail:
                                type: string
                              userOrgId:
                                type:
                                - number
                                - 'null'
                              userOrgName:
                                type:
                                - string
                                - 'null'
                              userExternalId:
                                type:
                                - string
                                - 'null'
                              userIdpName:
                                type:
                                - string
                                - 'null'
                      required:
                      - time
                      - sourceName
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-rptGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/reports/auditLogs/ui:
    get:
      summary: Search/filter/return audit logs for UI
      operationId: getAuditLogsUi
      description: 'Returns audit log UI events for the `timestamp` specified date range. Default search time span is 1 hour ago to now.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-portalAudit:w,o{params.orgId}-portalAudit:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: getAuditLogsUi'
      parameters:
      - name: x-op-debug
        in: header
        schema:
          type: string
          default: ''
          pattern: ^((log-all)(,|$))*$
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 10000
          maximum: 10000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: timestamp
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: desc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: filter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
          maxLength: 512
          pattern: ^((searchId:[a-zA-Z0-9_-]+)(,|$))*$
      tags:
      - Orgs Reports
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-portalAudit:w
      - o{params.orgId}-portalAudit:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/reports/presence/buckets:
    get:
      summary: Get presence bucket reports
      operationId: getPresenceBucketsReport
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-presence:w,o{params.orgId}-presence:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: getPresenceBucketsReport'
      parameters:
      - name: x-op-debug
        in: header
        schema:
          type: string
          default: ''
          pattern: ^((log-all|log-request|log-pd-request-construction|pd-.+)(,|$))*$
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 100
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: timeScale
        in: query
        schema:
          type: string
          enum:
          - hour
          - day
          - week
          - month
          - year
          default: day
      - name: category
        in: query
        schema:
          type: string
          enum:
          - org
          - sites
          - zones
          - entries
          - readers
          - groups
          - users
          default: org
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: timeZone
        in: query
        schema:
          type: string
          maxLength: 256
      - x-constraint:
          single: true
        name: sensorTypes
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - readers
            - entries
      - x-constraint:
          single: true
        name: siteIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - x-constraint:
          single: true
        name: zoneIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - x-constraint:
          single: true
        name: entryIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - x-constraint:
          single: true
        name: readerIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - x-constraint:
          single: true
        name: groupIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - x-constraint:
          single: true
        name: userIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orgs Reports
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      columnLabelsMs:
                        type: array
                        items:
                          type: integer
                      columnLabels:
                        type: array
                        items:
                          type: string
                      rows:
                        type: array
                        items:
                          type: object
                          properties:
                            resourceOpal:
                              type: string
                            name:
                              type: string
                            counts:
                              type: array
                              items:
                                type: number
                      debugInfo:
                        type: object
                      request:
                        type: object
                    required:
                    - request
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-presence:w
      - o{params.orgId}-presence:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/reports/activity/events:
    get:
      summary: Get access activity events
      operationId: getActivityEvents
      description: 'Returns activity events for the `uiData.time` specified date range. This API can handle large date range requests. If not specified, the default search time span is 24 hours ago to now.


        To filter by time, use a `filter` value of `uiData.time:(utcEpochSeconds-<utcEpochSeconds)` or any other valid time range specification, where utcEpochSeconds is replaced by your desired start and end times in unix epoch seconds. To filter by an array field like userGroups, use a `filter` value of `uiData.userGroups.id:(4822,5729)`. This will filter the results to only those that have a `uiData.userGroups.id` value of 4822 or 5729. New partial results are returned for each API call. The query is complete when the API returns `false` for `cursors.hasNextPage`. The caller is required to pass the same filter parameter across all calls of the same query.


        Commonly, the `limit` parameter provides an upper bound on the number of results returned by the API. That is not the case here. For performance reasons, this API endpoint treats the `limit` parameter as a suggestion. This endpoint commonly returns substantially more results than the specified `limit` value. If your client is concerned about a large number of events in the response, the client can first issue a request for 1 hour of data. The 1 hour response size can then be used to calculate the time based paging necessary to maintain a rough amount of response data.


        The `uiDataOnly` option will cause only uiData elements to be returned, filtering out the hookEvents sub-object from the response. This can reduce client JSON processing time and memory utilization if uiData is only needed.


        The difference between entryName, zoneName, and siteName vs. entryName2, zoneName2, and siteName2 is that the `*Name2` fields can potentially return "Multiple" as the name. This occurs when the entries array indicates multiple unique ids for that resource type. Whereas the entryId, entryName, zoneId, zoneName, siteId, and siteName values will always equal their entries[0] (the first one) equivalent values.


        For traceability purposes, it is helpful if your API always provides the `option` parameter value of `searchId:{shortPurpose}-{orgId}-{startTimeMillisecs}-{callNum}`. Where `{shortPurpose}` might be `logGather` or whatever unique purpose you have in calling the API; `{orgId}` is your orgId; `{startTimeMillisecs}` is the time in milliseconds for the first call and remains unchanged for all `{callNum}` calls; `{callNum}` starts at 0 and increments for each API call when paging through each returned cursor until complete. An example the first call to this API might have a `searchId:logGather-12345-1675964642144-0` for the logGather purpose, 12345 orgId, with the first API call at 2023-02-09T17:44:02.144, and a 0 callNum for the 1st API call. The second API call with the cursor set would be `searchId:logGather-12345-1675964642144-1`, the 3rd call `...642144-2` and so on. Providing your searchId to an Openpath representative can significantly aid in resolving inqueries.


        Please use this API over the slower `/orgs/{orgId}/reports/activity` API when possible.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-musterReport:r,o{params.orgId}-musterReport:w,o{params.orgId}-occupancyReport:r,o{params.orgId}-occupancyReport:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: getActivityEvents'
      parameters:
      - name: x-op-debug
        in: header
        schema:
          type: string
          default: ''
          pattern: ^((log-all)(,|$))*$
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 30000
          maximum: 30000
          minimum: 1
      - name: cursor
        in: query
        schema:
          type: string
          default: ''
          pattern: ^[a-zA-Z0-9,@._~-]+$
      - name: filter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
          maxLength: 512
          pattern: ^((withUserSites|useOpProton|_truncateForTest|_oxygenPageLimit:[1-9][0-9]*|_oxygenIncrSecs:[1-9][0-9]*|uiDataOnly|searchId:[a-zA-Z0-9_-]+)(,|$))*
      - x-constraint:
          single: true
        name: customFieldIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orgs Reports
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        uiData:
                          type: object
                          properties:
                            time:
                              type: number
                            timeIsoString:
                              type: string
                            userId:
                              type:
                              - number
                              - 'null'
                            userFirstName:
                              type:
                              - string
                              - 'null'
                            userMiddleName:
                              type:
                              - string
                              - 'null'
                            userLastName:
                              type:
                              - string
                              - 'null'
                            userName:
                              type:
                              - string
                              - 'null'
                            userEmail:
                              type: string
                            userMobilePhone:
                              type:
                              - string
                              - 'null'
                            userOrgId:
                              type:
                              - number
                              - 'null'
                            userOrgName:
                              type:
                              - string
                              - 'null'
                            userExternalId:
                              type:
                              - string
                              - 'null'
                            userIdpName:
                              type:
                              - string
                              - 'null'
                            userGroups:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                            userSites:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                            sourceName:
                              type: string
                            category:
                              type:
                              - string
                              - 'null'
                            subCategory:
                              type:
                              - string
                              - 'null'
                            credentialSubtype:
                              type: string
                            credentialTypeModelName:
                              type:
                              - string
                              - 'null'
                            credentialTypeName:
                              type:
                              - string
                              - 'null'
                            credentialDetail:
                              type:
                              - string
                              - 'null'
                            cardFields:
                              type:
                              - object
                              - 'null'
                              properties:
                                rcm:
                                  type: string
                                  pattern: ^[0-9]+$
                                facilityCode:
                                  type: string
                                  pattern: ^[0-9]+$
                                issueLevel:
                                  type: string
                                  pattern: ^[0-9]+$
                                cardId:
                                  type: string
                                  pattern: ^[0-9]+$
                                companyId:
                                  type: string
                                  pattern: ^[0-9]+$
                                companyCode:
                                  type: string
                                  pattern: ^[0-9]+$
                                siteCode:
                                  type: string
                                  pattern: ^[0-9]+$
                                oem:
                                  type: string
                                  pattern: ^[0-9]+$
                            acuId:
                              type:
                              - number
                              - 'null'
                            acuName:
                              type: string
                            entryId:
                              type:
                              - number
                              - 'null'
                            entryName:
                              type: string
                            entryName2:
                              type: string
                            zoneId:
                              type:
                              - number
                              - 'null'
                            zoneName:
                              type:
                              - string
                              - 'null'
                            zoneName2:
                              type:
                              - string
                              - 'null'
                            siteId:
                              type:
                              - number
                              - 'null'
                            siteName:
                              type:
                              - string
                              - 'null'
                            siteName2:
                              type:
                              - string
                              - 'null'
                            entries:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                  zone:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                    required:
                                    - id
                                  site:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      name:
                                        type: string
                                    required:
                                    - id
                                required:
                                - id
                            lockdownPlanId:
                              type:
                              - number
                              - 'null'
                            lockdownPlanName:
                              type: string
                            gatewayDevice:
                              type:
                              - object
                              - 'null'
                              properties:
                                type:
                                  type:
                                  - string
                                  - 'null'
                                uid:
                                  type:
                                  - string
                                  - 'null'
                                opal:
                                  type: string
                                name:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - type
                            sourceDevice:
                              type:
                              - object
                              - 'null'
                              properties:
                                type:
                                  type:
                                  - string
                                  - 'null'
                                uid:
                                  type:
                                  - string
                                  - 'null'
                                opal:
                                  type: string
                                name:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - type
                            deviceDetail:
                              type: string
                            deviceDetailName:
                              type: string
                            deviceTimezone:
                              type:
                              - string
                              - 'null'
                            readerId:
                              type:
                              - number
                              - 'null'
                            readerName:
                              type: string
                            readerPortNumber:
                              type:
                              - number
                              - 'null'
                            portNumber:
                              type: object
                              properties:
                                modelName:
                                  type: string
                                  enum:
                                  - contactSensor
                                  - genericInput
                                  - reader
                                  - rex
                                raw:
                                  type: integer
                                acuId:
                                  type: integer
                                expansionBoardNum:
                                  type: integer
                                virtualPortNum:
                                  type: integer
                            targetType:
                              type:
                              - string
                              - 'null'
                            targetName:
                              type:
                              - string
                              - 'null'
                            requestType:
                              type: string
                            requestId:
                              type: string
                            result:
                              type: string
                            resultDescription:
                              type: string
                            deniedReason:
                              type:
                              - string
                              - 'null'
                            connectionType:
                              type:
                              - string
                              - 'null'
                            location:
                              type: string
                            userCustomFields:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  value:
                                    type:
                                    - string
                                    - 'null'
                                  customField:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      customFieldType:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                        - id
                                    required:
                                    - id
                                required:
                                - id
                            userCustomFieldsData:
                              type: object
                            firstAuthInfos:
                              type: array
                              items:
                                type: object
                                properties:
                                  connectionType:
                                    type:
                                    - string
                                    - 'null'
                                  requestType:
                                    type: string
                                  credentialSubtype:
                                    type: string
                                  credentialTypeModelName:
                                    type:
                                    - string
                                    - 'null'
                                  credentialDetail:
                                    type:
                                    - string
                                    - 'null'
                                  credentialTypeName:
                                    type:
                                    - string
                                    - 'null'
                                  cardFields:
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      rcm:
                                        type: string
                                        pattern: ^[0-9]+$
                                      facilityCode:
                                        type: string
                                        pattern: ^[0-9]+$
                                      issueLevel:
                                        type: string
                                        pattern: ^[0-9]+$
                                      cardId:
                                        type: string
                                        pattern: ^[0-9]+$
                                      companyId:
                                        type: string
                                        pattern: ^[0-9]+$
                                      companyCode:
                                        type: string
                                        pattern: ^[0-9]+$
                                      siteCode:
                                        type: string
                                        pattern: ^[0-9]+$
                                      oem:
                                        type: string
                                        pattern: ^[0-9]+$
                                  readerId:
                                    type:
                                    - number
                                    - 'null'
                                  readerName:
                                    type: string
                                  userId:
                                    type:
                                    - number
                                    - 'null'
                                  userFirstName:
                                    type:
                                    - string
                                    - 'null'
                                  userMiddleName:
                                    type:
                                    - string
                                    - 'null'
                                  userLastName:
                                    type:
                                    - string
                                    - 'null'
                                  userName:
                                    type:
                                    - string
                                    - 'null'
                                  userEmail:
                                    type: string
                                  userOrgId:
                                    type:
                                    - number
                                    - 'null'
                                  userOrgName:
                                    type:
                                    - string
                                    - 'null'
                                  userExternalId:
                                    type:
                                    - string
                                    - 'null'
                                  userIdpName:
                                    type:
                                    - string
                                    - 'null'
                          required:
                          - time
                          - sourceName
                        hookEvent:
                          type: object
                          properties:
                            timestamp:
                              type: number
                            event:
                              type: string
                            data:
                              type: object
                          required:
                          - timestamp
                          - event
                          - data
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-musterReport:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-occupancyReport:r
      - o{params.orgId}-occupancyReport:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/reports/alarm/events:
    get:
      summary: Get alarm events
      operationId: getAlarmEvents
      description: 'Returns alarm events for the `uiData.time` specified date range. This API can handle large date range requests. If not specified, the default search time span is 24 hours ago to now.


        To filter by time, use a `filter` value of `uiData.time:(utcEpochSeconds-<utcEpochSeconds)` or any other valid time range specification, where utcEpochSeconds is replaced by your desired start and end times in unix epoch seconds. New partial results are returned for each API call. The query is complete when the API returns `false` for `cursors.hasNextPage`. The caller is required to pass the same filter parameter across all calls of the same query.


        Commonly, the `limit` parameter provides an upper bound on the number of results returned by the API. That is not the case here. For performance reasons, this API endpoint treats the `limit` parameter as a suggestion. This endpoint commonly returns substantially more results than the specified `limit` value.


        The `uiDataOnly` option will cause only uiData elements to be returned, filtering out the hookEvents sub-object from the response. This can reduce client JSON processing time and memory utilization if uiData is only needed.


        The entryName2 and siteName2 fields can potentially return "Multiple" as the name. This occurs when the entries indicate multiple unique ids for that resource type. Whereas the entryId and siteId values will always equal their first entry or site value.


        For traceability purposes, it is helpful if your API always provides the `option` parameter value of `searchId:{shortPurpose}-{orgId}-{startTimeMillisecs}-{callNum}`. Where `{shortPurpose}` might be `logGather` or whatever unique purpose you have in calling the API; `{orgId}` is your orgId; `{startTimeMillisecs}` is the time in milliseconds for the first call and remains unchanged for all `{callNum}` calls; `{callNum}` starts at 0 and increments for each API call when paging through each returned cursor until complete. An example the first call to this API might have a `searchId:logGather-12345-1675964642144-0` for the logGather purpose, 12345 orgId, with the first API call at 2023-02-09T17:44:02.144, and a 0 callNum for the 1st API call. The second API call with the cursor set would be `searchId:logGather-12345-1675964642144-1`, the 3rd call `...642144-2` and so on. Providing your searchId to an Openpath representative can significantly aid in resolving inqueries.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptAlarm:w,o{params.orgId}-rptAlarm:r,o:w,o:r


        __Endpoint name__: getAlarmEvents'
      parameters:
      - name: x-op-debug
        in: header
        schema:
          type: string
          default: ''
          pattern: ^((log-all)(,|$))*$
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 30000
          maximum: 30000
          minimum: 1
      - name: cursor
        in: query
        schema:
          type: string
          default: ''
          pattern: ^[a-zA-Z0-9,@._~-]+$
      - name: filter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
          maxLength: 512
          pattern: ^((_truncateForTest|_oxygenPageLimit:[1-9][0-9]*|_oxygenIncrSecs:[1-9][0-9]*|withHookEvent|searchId:[a-zA-Z0-9_-]+)(,|$))*
      - x-constraint:
          single: true
        name: customFieldIds
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      tags:
      - Orgs Reports
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        uiData:
                          type: object
                          properties:
                            alarmId:
                              type: string
                              x-format:
                                guid: true
                            time:
                              type: number
                            timeIsoString:
                              type: string
                            sourceEventTime:
                              type: number
                            sourceEventTimeIsoString:
                              type: string
                            subCategory:
                              type:
                              - string
                              - 'null'
                            userId:
                              type:
                              - number
                              - 'null'
                            userName:
                              type:
                              - string
                              - 'null'
                            acuId:
                              type:
                              - number
                              - 'null'
                            acuName:
                              type: string
                            entryId:
                              type:
                              - number
                              - 'null'
                            entryName2:
                              type: string
                            zoneId:
                              type:
                              - number
                              - 'null'
                            zoneName2:
                              type:
                              - string
                              - 'null'
                            siteId:
                              type:
                              - number
                              - 'null'
                            siteName2:
                              type:
                              - string
                              - 'null'
                            readerId:
                              type:
                              - number
                              - 'null'
                            readerName:
                              type: string
                            alarmActionId:
                              type: number
                            alarmActionName:
                              type: string
                            alarmStatusId:
                              type: number
                            alarmStatusName:
                              type: string
                            alarmConfigId:
                              type:
                              - number
                              - 'null'
                            alarmConfigName:
                              type: string
                            assignedUserId:
                              type:
                              - number
                              - 'null'
                            assignedUserName:
                              type:
                              - string
                              - 'null'
                            assignedRoleId:
                              type:
                              - number
                              - 'null'
                            assignedRoleName:
                              type:
                              - string
                              - 'null'
                            cameraIds:
                              type:
                              - array
                              - 'null'
                              items:
                                type: number
                            note:
                              type: string
                          required:
                          - alarmId
                          - time
                          - sourceEventTime
                          - alarmActionId
                          - alarmStatusId
                        hookEvent:
                          type: object
                          properties:
                            timestamp:
                              type: number
                            event:
                              type: string
                            data:
                              type: object
                          required:
                          - timestamp
                          - event
                          - data
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rptAlarm:w
      - o{params.orgId}-rptAlarm:r
      - o:w
      - o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
