openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/terms Agreements API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/termsAgreements
paths:
  /orgs/{orgId}/termsAgreements:
    get:
      summary: List all signed Terms of Service agreements
      operationId: listTermsAgreements
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-admin:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listTermsAgreements'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: identity.lastName
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/termsAgreements
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        orgId:
                          type: integer
                        termsVersion:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            isAcceptable:
                              type: boolean
                            isLatest:
                              type: boolean
                            fileUrl:
                              type:
                              - string
                              - 'null'
                              required:
                              - fileUrl
                              x-alternatives:
                              - type:
                                - string
                                - 'null'
                              - type: string
                            fileSha256Sum:
                              type:
                              - string
                              - 'null'
                              required:
                              - fileSha256Sum
                              x-alternatives:
                              - type:
                                - string
                                - 'null'
                              - type: string
                            fileName:
                              type:
                              - string
                              - 'null'
                              required:
                              - fileName
                              x-alternatives:
                              - type:
                                - string
                                - 'null'
                              - type: string
                            url:
                              type:
                              - string
                              - 'null'
                              required:
                              - url
                              x-alternatives:
                              - type:
                                - string
                                - 'null'
                              - type: string
                          required:
                          - id
                          - name
                          - isAcceptable
                          - isLatest
                        identity:
                          type: object
                          properties:
                            id:
                              type: number
                            opal:
                              type: string
                            roles:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  description:
                                    type: string
                                  isMfaRequired:
                                    type: boolean
                                required:
                                - id
                            mfaCredentials:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  createdAt:
                                    type: string
                                    format: date
                                  updatedAt:
                                    type: string
                                    format: date
                                  name:
                                    type: string
                                  status:
                                    type: string
                                  mfaCredentialType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      modelName:
                                        type: string
                                    required:
                                    - id
                                  totpSoftDevice:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                    required:
                                    - id
                                required:
                                - id
                            firstName:
                              type:
                              - string
                              - 'null'
                            middleName:
                              type:
                              - string
                              - 'null'
                            lastName:
                              type:
                              - string
                              - 'null'
                            fullName:
                              type:
                              - string
                              - 'null'
                            initials:
                              type:
                              - string
                              - 'null'
                            isEmailVerified:
                              type: boolean
                            namespace:
                              type: object
                              properties:
                                id:
                                  type: integer
                                nickname:
                                  type:
                                  - string
                                  - 'null'
                                namespaceType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                    modelName:
                                      type:
                                      - string
                                      - 'null'
                                  required:
                                  - id
                                org:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                identityProvider:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    isSsoEnabled:
                                      type: boolean
                                    isSyncMobilePhoneEnabled:
                                      type: boolean
                                    isRemoveGroupsEnabled:
                                      type: boolean
                                    identityProviderSyncTypeId:
                                      type:
                                      - integer
                                      - 'null'
                                    credentials:
                                      type:
                                      - string
                                      - 'null'
                                    identityProviderType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                                    org:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                                  required:
                                  - id
                                propertyManagementSystem:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    orgId:
                                      type: number
                                    propertyManagementSystemTypeId:
                                      type: number
                                    propertyManagementSystemType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                                  required:
                                  - id
                                  - orgId
                                  - propertyManagementSystemTypeId
                              required:
                              - id
                            idpUniqueIdentifier:
                              type: string
                            pmsUniqueIdentifier:
                              type:
                              - string
                              - 'null'
                            needsPasswordChange:
                              type: boolean
                              default: false
                            nicknames:
                              type:
                              - array
                              - 'null'
                              items:
                                type: object
                                properties:
                                  nickname:
                                    type: string
                                    minLength: 1
                                    maxLength: 100
                            email:
                              type: string
                            mobilePhone:
                              type:
                              - string
                              - 'null'
                            language:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            users:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  opal:
                                    type: string
                                  status:
                                    type: string
                                  startDate:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                  endDate:
                                    type:
                                    - string
                                    - 'null'
                                    format: date
                                  createdAt:
                                    type: string
                                    format: date
                                  updatedAt:
                                    type: string
                                    format: date
                                  org:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type:
                                        - string
                                        - 'null'
                                    required:
                                    - id
                                required:
                                - id
                          required:
                          - id
                        ipAddress:
                          type: string
                        signedAt:
                          type: string
                          format: date
                      required:
                      - id
                      - createdAt
                      - updatedAt
                      - orgId
                      - ipAddress
                      - signedAt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a signed Terms of Service agreement - DEPRECATED use…
      operationId: createTermsAgreement
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w


        __Endpoint name__: createTermsAgreement'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/termsAgreements
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      orgId:
                        type: integer
                      termsVersion:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          isAcceptable:
                            type: boolean
                          isLatest:
                            type: boolean
                          fileUrl:
                            type:
                            - string
                            - 'null'
                            required:
                            - fileUrl
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                          fileSha256Sum:
                            type:
                            - string
                            - 'null'
                            required:
                            - fileSha256Sum
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                          fileName:
                            type:
                            - string
                            - 'null'
                            required:
                            - fileName
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                          url:
                            type:
                            - string
                            - 'null'
                            required:
                            - url
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                        required:
                        - id
                        - name
                        - isAcceptable
                        - isLatest
                      identity:
                        type: object
                        properties:
                          id:
                            type: number
                          opal:
                            type: string
                          roles:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                                description:
                                  type: string
                                isMfaRequired:
                                  type: boolean
                              required:
                              - id
                          mfaCredentials:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                                name:
                                  type: string
                                status:
                                  type: string
                                mfaCredentialType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                    modelName:
                                      type: string
                                  required:
                                  - id
                                totpSoftDevice:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                  required:
                                  - id
                              required:
                              - id
                          firstName:
                            type:
                            - string
                            - 'null'
                          middleName:
                            type:
                            - string
                            - 'null'
                          lastName:
                            type:
                            - string
                            - 'null'
                          fullName:
                            type:
                            - string
                            - 'null'
                          initials:
                            type:
                            - string
                            - 'null'
                          isEmailVerified:
                            type: boolean
                          namespace:
                            type: object
                            properties:
                              id:
                                type: integer
                              nickname:
                                type:
                                - string
                                - 'null'
                              namespaceType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  modelName:
                                    type:
                                    - string
                                    - 'null'
                                required:
                                - id
                              org:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                              identityProvider:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  isSsoEnabled:
                                    type: boolean
                                  isSyncMobilePhoneEnabled:
                                    type: boolean
                                  isRemoveGroupsEnabled:
                                    type: boolean
                                  identityProviderSyncTypeId:
                                    type:
                                    - integer
                                    - 'null'
                                  credentials:
                                    type:
                                    - string
                                    - 'null'
                                  identityProviderType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                  org:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                required:
                                - id
                              propertyManagementSystem:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  orgId:
                                    type: number
                                  propertyManagementSystemTypeId:
                                    type: number
                                  propertyManagementSystemType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                    required:
                                    - id
                                required:
                                - id
                                - orgId
                                - propertyManagementSystemTypeId
                            required:
                            - id
                          idpUniqueIdentifier:
                            type: string
                          pmsUniqueIdentifier:
                            type:
                            - string
                            - 'null'
                          needsPasswordChange:
                            type: boolean
                            default: false
                          nicknames:
                            type:
                            - array
                            - 'null'
                            items:
                              type: object
                              properties:
                                nickname:
                                  type: string
                                  minLength: 1
                                  maxLength: 100
                          email:
                            type: string
                          mobilePhone:
                            type:
                            - string
                            - 'null'
                          language:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          users:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                opal:
                                  type: string
                                status:
                                  type: string
                                startDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                endDate:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                                org:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                  required:
                                  - id
                              required:
                              - id
                        required:
                        - id
                      ipAddress:
                        type: string
                      signedAt:
                        type: string
                        format: date
                    required:
                    - id
                    - createdAt
                    - updatedAt
                    - orgId
                    - ipAddress
                    - signedAt
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                termsVersionId:
                  type: integer
              required:
              - termsVersionId
  /orgs/{orgId}/termsAgreements/checkSigned:
    post:
      summary: Check if org has signed an acceptable Terms Agreement for an app or application
      operationId: checkSignedOrgTermsAgreement
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-integrations:w,o{params.orgId}-integrations:r,o:w,o:r,s-o:w,s-o:r,s-o-video:w,s-o-video:r


        __Endpoint name__: checkSignedOrgTermsAgreement'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/termsAgreements
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      termsAgreement:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          termsVersion:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              isAcceptable:
                                type: boolean
                              isLatest:
                                type: boolean
                              fileUrl:
                                type:
                                - string
                                - 'null'
                                required:
                                - fileUrl
                                x-alternatives:
                                - type:
                                  - string
                                  - 'null'
                                - type: string
                              fileSha256Sum:
                                type:
                                - string
                                - 'null'
                                required:
                                - fileSha256Sum
                                x-alternatives:
                                - type:
                                  - string
                                  - 'null'
                                - type: string
                              fileName:
                                type:
                                - string
                                - 'null'
                                required:
                                - fileName
                                x-alternatives:
                                - type:
                                  - string
                                  - 'null'
                                - type: string
                              url:
                                type:
                                - string
                                - 'null'
                                required:
                                - url
                                x-alternatives:
                                - type:
                                  - string
                                  - 'null'
                                - type: string
                            required:
                            - id
                            - name
                            - isAcceptable
                            - isLatest
                          ipAddress:
                            type: string
                          signedAt:
                            type: string
                            format: date
                        required:
                        - id
                        - ipAddress
                        - signedAt
                      latestTermsVersion:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          isAcceptable:
                            type: boolean
                          isLatest:
                            type: boolean
                          fileUrl:
                            type:
                            - string
                            - 'null'
                            required:
                            - fileUrl
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                          fileSha256Sum:
                            type:
                            - string
                            - 'null'
                            required:
                            - fileSha256Sum
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                          fileName:
                            type:
                            - string
                            - 'null'
                            required:
                            - fileName
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                          url:
                            type:
                            - string
                            - 'null'
                            required:
                            - url
                            x-alternatives:
                            - type:
                              - string
                              - 'null'
                            - type: string
                        required:
                        - id
                        - name
                        - isAcceptable
                        - isLatest
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-integrations:w
      - o{params.orgId}-integrations:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - s-o-video:w
      - s-o-video:r
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationId:
                  type: integer
                appId:
                  type: integer
  /orgs/{orgId}/termsAgreements/sign:
    post:
      summary: Sign an acceptable Terms Agreement for an app or application
      operationId: signOrgTermsAgreement
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-integrations:w


        __Endpoint name__: signOrgTermsAgreement'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/termsAgreements
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-integrations:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                termsVersionId:
                  type: integer
              required:
              - termsVersionId
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
