openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/subscriptions API
  version: 1.0.0
  description: REST Hook Subscriptions
servers:
- url: https://api.openpath.com
tags:
- name: orgs/subscriptions
  description: REST Hook Subscriptions
paths:
  /orgs/{orgId}/subscriptions:
    get:
      summary: List all REST Hook subscriptions
      operationId: listSubscriptions
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-outboundWebhooks:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listSubscriptions'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/subscriptions
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        subjectOrg:
                          type: object
                          properties:
                            id:
                              type: integer
                          required:
                          - id
                        hookEvent:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            description:
                              type: string
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                        hookAction:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            description:
                              type:
                              - string
                              - 'null'
                            config:
                              type: object
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                        targetUrl:
                          type:
                          - string
                          - 'null'
                        isActive:
                          type: boolean
                        isBlocking:
                          type: boolean
                        isVisible:
                          type: boolean
                        name:
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        rateLimitCount:
                          type:
                          - integer
                          - 'null'
                        rateLimitWindowSecs:
                          type:
                          - integer
                          - 'null'
                        isOnceDaily:
                          type: boolean
                        dailyResetTime:
                          type:
                          - string
                          - 'null'
                        dailyResetTimezone:
                          type:
                          - string
                          - 'null'
                        handlerHookEventLocation:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                          required:
                          - id
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-outboundWebhooks:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a REST Hook subscription
      operationId: createSubscription
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-outboundWebhooks:w,o:w,s-o:w


        __Endpoint name__: createSubscription'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/subscriptions
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      subjectOrg:
                        type: object
                        properties:
                          id:
                            type: integer
                        required:
                        - id
                      hookEvent:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type: string
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                      hookAction:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type:
                            - string
                            - 'null'
                          config:
                            type: object
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                      targetUrl:
                        type:
                        - string
                        - 'null'
                      isActive:
                        type: boolean
                      isBlocking:
                        type: boolean
                      isVisible:
                        type: boolean
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      rateLimitCount:
                        type:
                        - integer
                        - 'null'
                      rateLimitWindowSecs:
                        type:
                        - integer
                        - 'null'
                      isOnceDaily:
                        type: boolean
                      dailyResetTime:
                        type:
                        - string
                        - 'null'
                      dailyResetTimezone:
                        type:
                        - string
                        - 'null'
                      handlerHookEventLocation:
                        type: object
                        properties:
                          id:
                            type: integer
                            minimum: 1
                        required:
                        - id
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-outboundWebhooks:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hookEventId:
                  type: integer
                hookEventName:
                  type: string
                  minLength: 1
                  maxLength: 100
                targetUrl:
                  type: string
                  minLength: 8
                  maxLength: 1000
                hookActionId:
                  type: integer
                isBlocking:
                  type: boolean
                isVisible:
                  type: boolean
                  default: true
                isOnceDaily:
                  type: boolean
                  default: false
                dailyResetTime:
                  type:
                  - string
                  - 'null'
                  default: null
                  pattern: ^([01]?\d|2[0-3]):\d{2}$
                dailyResetTimezone:
                  type:
                  - string
                  - 'null'
                  default: null
                name:
                  type: string
                  maxLength: 255
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                handlerHookEventLocationId:
                  type: integer
  /orgs/{orgId}/subscriptions/{subscriptionId}:
    get:
      summary: Describe a REST Hook subscription
      operationId: describeSubscription
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-outboundWebhooks:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeSubscription'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/subscriptions
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      subjectOrg:
                        type: object
                        properties:
                          id:
                            type: integer
                        required:
                        - id
                      hookEvent:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type: string
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                      hookAction:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          description:
                            type:
                            - string
                            - 'null'
                          config:
                            type: object
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                      targetUrl:
                        type:
                        - string
                        - 'null'
                      isActive:
                        type: boolean
                      isBlocking:
                        type: boolean
                      isVisible:
                        type: boolean
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      rateLimitCount:
                        type:
                        - integer
                        - 'null'
                      rateLimitWindowSecs:
                        type:
                        - integer
                        - 'null'
                      isOnceDaily:
                        type: boolean
                      dailyResetTime:
                        type:
                        - string
                        - 'null'
                      dailyResetTimezone:
                        type:
                        - string
                        - 'null'
                      handlerHookEventLocation:
                        type: object
                        properties:
                          id:
                            type: integer
                            minimum: 1
                        required:
                        - id
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-outboundWebhooks:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a REST Hook subscription
      operationId: deleteSubscription
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-outboundWebhooks:w,o:w,s-o:w


        __Endpoint name__: deleteSubscription'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/subscriptions
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-outboundWebhooks:w
      - o:w
      - s-o:w
    patch:
      summary: Update a REST Hook subscription
      operationId: updateSubscription
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-outboundWebhooks:w,o:w,s-o:w


        __Endpoint name__: updateSubscription'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/subscriptions
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-outboundWebhooks:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hookEventId:
                  type: integer
                hookEventName:
                  type: string
                  minLength: 1
                  maxLength: 100
                targetUrl:
                  type: string
                  minLength: 8
                  maxLength: 1000
                hookActionId:
                  type: integer
                isBlocking:
                  type: boolean
                isVisible:
                  type: boolean
                isOnceDaily:
                  type: boolean
                dailyResetTime:
                  type:
                  - string
                  - 'null'
                  pattern: ^([01]?\d|2[0-3]):\d{2}$
                dailyResetTimezone:
                  type:
                  - string
                  - 'null'
                name:
                  type: string
                  maxLength: 255
                description:
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                handlerHookEventLocationId:
                  type: integer
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
