swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/parcels API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/parcels
paths:
  /orgs/{orgId}/parcels:
    get:
      summary: List active parcels
      operationId: listParcels
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w<br/><br/>__Endpoint name__: listParcels'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: recipient.identity.email
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              cursors:
                type: object
                properties:
                  nextCursor:
                    type: integer
                    x-nullable: true
                    x-alternatives:
                    - type: integer
                      x-nullable: true
                    - type: string
                      pattern: ^[a-zA-Z0-9,@._~-]+$
                      x-nullable: true
                  hasNextPage:
                    type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    idExt:
                      type: string
                      x-format:
                        guid: true
                    note:
                      type: string
                      maxLength: 500
                      x-nullable: true
                    recipient:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                          x-nullable: true
                        opal:
                          type: string
                          x-nullable: true
                        identity:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                            fullName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            firstName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            lastName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            nicknames:
                              x-nullable: true
                              type: array
                              items:
                                type: object
                                properties:
                                  nickname:
                                    type: string
                                    minLength: 1
                                    maxLength: 100
                            email:
                              type: string
                          required:
                          - id
                      required:
                      - id
                      - opal
                      - identity
                    statusLastUpdatedBy:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                        fullName:
                          type: string
                          minLength: 1
                          x-nullable: true
                        email:
                          type: string
                      required:
                      - id
                    parcelPictures:
                      x-nullable: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          parcelPictureType:
                            type: object
                            properties:
                              id:
                                type: number
                              code:
                                type: string
                              name:
                                type: string
                            required:
                            - id
                          contentType:
                            type: string
                          fileName:
                            type: string
                          pictureUrl:
                            type: string
                            x-nullable: true
                          pictureFullSizeUrl:
                            type: string
                            x-nullable: true
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                    mailroom:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        timezone:
                          type: string
                        isSelfPickup:
                          type: boolean
                        isSignatureRequired:
                          type: boolean
                      required:
                      - id
                      - name
                      - timezone
                      - isSelfPickup
                      - isSignatureRequired
                    parcelStatus:
                      type: object
                      properties:
                        id:
                          type: number
                        code:
                          type: string
                        name:
                          type: string
                      required:
                      - id
                    trackingNumber:
                      type: string
                      x-nullable: true
                    carrier:
                      type: string
                      x-nullable: true
                    sender:
                      type: string
                      x-nullable: true
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                    parcelPickedUpAt:
                      type: string
                      format: date
                      x-nullable: true
                    scannedName:
                      type: string
                      x-nullable: true
                    isManualScan:
                      type: boolean
                      x-nullable: true
                    weight:
                      type: string
                      x-nullable: true
                    poNumber:
                      type: string
                      x-nullable: true
                    signedBy:
                      type: string
                      x-nullable: true
                    signedAt:
                      type: string
                      format: date
                      x-nullable: true
                  required:
                  - idExt
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    post:
      summary: Create a parcel
      operationId: createParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w<br/><br/>__Endpoint name__: createParcel'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            note:
              type: string
              maxLength: 500
              x-nullable: true
            trackingNumber:
              type: string
              x-nullable: true
            carrier:
              type: string
              x-nullable: true
            sender:
              type: string
              x-nullable: true
            weight:
              type: string
              x-nullable: true
            poNumber:
              type: string
              x-nullable: true
            recipientId:
              type: integer
              x-nullable: true
            parcelStatusId:
              type: integer
            mailroomId:
              type: integer
            isManualScan:
              type: boolean
              x-nullable: true
            scannedName:
              type: string
              x-nullable: true
            matchedUserIds:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  distance:
                    type: number
                required:
                - id
                - distance
          required:
          - parcelStatusId
          - mailroomId
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idExt:
                    type: string
                    x-format:
                      guid: true
                  note:
                    type: string
                    maxLength: 500
                    x-nullable: true
                  recipient:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                        x-nullable: true
                      opal:
                        type: string
                        x-nullable: true
                      identity:
                        type: object
                        properties:
                          id:
                            type: integer
                            minimum: 1
                          fullName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          firstName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          lastName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          nicknames:
                            x-nullable: true
                            type: array
                            items:
                              type: object
                              properties:
                                nickname:
                                  type: string
                                  minLength: 1
                                  maxLength: 100
                          email:
                            type: string
                        required:
                        - id
                    required:
                    - id
                    - opal
                    - identity
                  statusLastUpdatedBy:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                      fullName:
                        type: string
                        minLength: 1
                        x-nullable: true
                      email:
                        type: string
                    required:
                    - id
                  parcelPictures:
                    x-nullable: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        parcelPictureType:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        contentType:
                          type: string
                        fileName:
                          type: string
                        pictureUrl:
                          type: string
                          x-nullable: true
                        pictureFullSizeUrl:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  mailroom:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      timezone:
                        type: string
                      isSelfPickup:
                        type: boolean
                      isSignatureRequired:
                        type: boolean
                    required:
                    - id
                    - name
                    - timezone
                    - isSelfPickup
                    - isSignatureRequired
                  parcelStatus:
                    type: object
                    properties:
                      id:
                        type: number
                      code:
                        type: string
                      name:
                        type: string
                    required:
                    - id
                  trackingNumber:
                    type: string
                    x-nullable: true
                  carrier:
                    type: string
                    x-nullable: true
                  sender:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                  parcelPickedUpAt:
                    type: string
                    format: date
                    x-nullable: true
                  scannedName:
                    type: string
                    x-nullable: true
                  isManualScan:
                    type: boolean
                    x-nullable: true
                  weight:
                    type: string
                    x-nullable: true
                  poNumber:
                    type: string
                    x-nullable: true
                  signedBy:
                    type: string
                    x-nullable: true
                  signedAt:
                    type: string
                    format: date
                    x-nullable: true
                required:
                - idExt
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Created
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
    delete:
      summary: Delete multiple parcels
      operationId: deleteParcels
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w<br/><br/>__Endpoint name__: deleteParcels'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: array
          items:
            type: string
            x-format:
              guid: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
    patch:
      summary: Bulk update parcels
      operationId: updateParcels
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w<br/><br/>__Endpoint name__: updateParcels'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: array
          items:
            type: object
            properties:
              note:
                type: string
                maxLength: 500
                x-nullable: true
              trackingNumber:
                type: string
                x-nullable: true
              carrier:
                type: string
                x-nullable: true
              sender:
                type: string
                x-nullable: true
              weight:
                type: string
                x-nullable: true
              poNumber:
                type: string
                x-nullable: true
              recipientId:
                type: integer
                x-nullable: true
              idExt:
                type: string
                x-format:
                  guid: true
              parcelStatusId:
                type: integer
              mailroomId:
                type: integer
            required:
            - idExt
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              cursors:
                type: object
                properties:
                  nextCursor:
                    type: integer
                    x-nullable: true
                    x-alternatives:
                    - type: integer
                      x-nullable: true
                    - type: string
                      pattern: ^[a-zA-Z0-9,@._~-]+$
                      x-nullable: true
                  hasNextPage:
                    type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    idExt:
                      type: string
                      x-format:
                        guid: true
                    note:
                      type: string
                      maxLength: 500
                      x-nullable: true
                    recipient:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                          x-nullable: true
                        opal:
                          type: string
                          x-nullable: true
                        identity:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                            fullName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            firstName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            lastName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            nicknames:
                              x-nullable: true
                              type: array
                              items:
                                type: object
                                properties:
                                  nickname:
                                    type: string
                                    minLength: 1
                                    maxLength: 100
                            email:
                              type: string
                          required:
                          - id
                      required:
                      - id
                      - opal
                      - identity
                    statusLastUpdatedBy:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                        fullName:
                          type: string
                          minLength: 1
                          x-nullable: true
                        email:
                          type: string
                      required:
                      - id
                    parcelPictures:
                      x-nullable: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          parcelPictureType:
                            type: object
                            properties:
                              id:
                                type: number
                              code:
                                type: string
                              name:
                                type: string
                            required:
                            - id
                          contentType:
                            type: string
                          fileName:
                            type: string
                          pictureUrl:
                            type: string
                            x-nullable: true
                          pictureFullSizeUrl:
                            type: string
                            x-nullable: true
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                    mailroom:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        timezone:
                          type: string
                        isSelfPickup:
                          type: boolean
                        isSignatureRequired:
                          type: boolean
                      required:
                      - id
                      - name
                      - timezone
                      - isSelfPickup
                      - isSignatureRequired
                    parcelStatus:
                      type: object
                      properties:
                        id:
                          type: number
                        code:
                          type: string
                        name:
                          type: string
                      required:
                      - id
                    trackingNumber:
                      type: string
                      x-nullable: true
                    carrier:
                      type: string
                      x-nullable: true
                    sender:
                      type: string
                      x-nullable: true
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                    parcelPickedUpAt:
                      type: string
                      format: date
                      x-nullable: true
                    scannedName:
                      type: string
                      x-nullable: true
                    isManualScan:
                      type: boolean
                      x-nullable: true
                    weight:
                      type: string
                      x-nullable: true
                    poNumber:
                      type: string
                      x-nullable: true
                    signedBy:
                      type: string
                      x-nullable: true
                    signedAt:
                      type: string
                      format: date
                      x-nullable: true
                  required:
                  - idExt
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
  /orgs/{orgId}/parcels/{parcelIdExt}:
    get:
      summary: Describe a parcel
      operationId: describeParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w<br/><br/>__Endpoint name__: describeParcel'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idExt:
                    type: string
                    x-format:
                      guid: true
                  note:
                    type: string
                    maxLength: 500
                    x-nullable: true
                  recipient:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                        x-nullable: true
                      opal:
                        type: string
                        x-nullable: true
                      identity:
                        type: object
                        properties:
                          id:
                            type: integer
                            minimum: 1
                          fullName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          firstName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          lastName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          nicknames:
                            x-nullable: true
                            type: array
                            items:
                              type: object
                              properties:
                                nickname:
                                  type: string
                                  minLength: 1
                                  maxLength: 100
                          email:
                            type: string
                        required:
                        - id
                    required:
                    - id
                    - opal
                    - identity
                  statusLastUpdatedBy:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                      fullName:
                        type: string
                        minLength: 1
                        x-nullable: true
                      email:
                        type: string
                    required:
                    - id
                  parcelPictures:
                    x-nullable: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        parcelPictureType:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        contentType:
                          type: string
                        fileName:
                          type: string
                        pictureUrl:
                          type: string
                          x-nullable: true
                        pictureFullSizeUrl:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  mailroom:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      timezone:
                        type: string
                      isSelfPickup:
                        type: boolean
                      isSignatureRequired:
                        type: boolean
                    required:
                    - id
                    - name
                    - timezone
                    - isSelfPickup
                    - isSignatureRequired
                  parcelStatus:
                    type: object
                    properties:
                      id:
                        type: number
                      code:
                        type: string
                      name:
                        type: string
                    required:
                    - id
                  trackingNumber:
                    type: string
                    x-nullable: true
                  carrier:
                    type: string
                    x-nullable: true
                  sender:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                  parcelPickedUpAt:
                    type: string
                    format: date
                    x-nullable: true
                  scannedName:
                    type: string
                    x-nullable: true
                  isManualScan:
                    type: boolean
                    x-nullable: true
                  weight:
                    type: string
                    x-nullable: true
                  poNumber:
                    type: string
                    x-nullable: true
                  signedBy:
                    type: string
                    x-nullable: true
                  signedAt:
                    type: string
                    format: date
                    x-nullable: true
                required:
                - idExt
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    delete:
      summary: Delete a parcel
      operationId: deleteParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w<br/><br/>__Endpoint name__: deleteParcel'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
    patch:
      summary: Update a parcel
      operationId: updateParcel
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w<br/><br/>__Endpoint name__: updateParcel'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            note:
              type: string
              maxLength: 500
              x-nullable: true
            trackingNumber:
              type: string
              x-nullable: true
            carrier:
              type: string
              x-nullable: true
            sender:
              type: string
              x-nullable: true
            weight:
              type: string
              x-nullable: true
            poNumber:
              type: string
              x-nullable: true
            recipientId:
              type: integer
              x-nullable: true
            parcelStatusId:
              type: integer
            mailroomId:
              type: integer
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  idExt:
                    type: string
                    x-format:
                      guid: true
                  note:
                    type: string
                    maxLength: 500
                    x-nullable: true
                  recipient:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                        x-nullable: true
                      opal:
                        type: string
                        x-nullable: true
                      identity:
                        type: object
                        properties:
                          id:
                            type: integer
                            minimum: 1
                          fullName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          firstName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          lastName:
                            type: string
                            minLength: 1
                            x-nullable: true
                          nicknames:
                            x-nullable: true
                            type: array
                            items:
                              type: object
                              properties:
                                nickname:
                                  type: string
                                  minLength: 1
                                  maxLength: 100
                          email:
                            type: string
                        required:
                        - id
                    required:
                    - id
                    - opal
                    - identity
                  statusLastUpdatedBy:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                      fullName:
                        type: string
                        minLength: 1
                        x-nullable: true
                      email:
                        type: string
                    required:
                    - id
                  parcelPictures:
                    x-nullable: true
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        parcelPictureType:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        contentType:
                          type: string
                        fileName:
                          type: string
                        pictureUrl:
                          type: string
                          x-nullable: true
                        pictureFullSizeUrl:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                      required:
                      - id
                  mailroom:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      timezone:
                        type: string
                      isSelfPickup:
                        type: boolean
                      isSignatureRequired:
                        type: boolean
                    required:
                    - id
                    - name
                    - timezone
                    - isSelfPickup
                    - isSignatureRequired
                  parcelStatus:
                    type: object
                    properties:
                      id:
                        type: number
                      code:
                        type: string
                      name:
                        type: string
                    required:
                    - id
                  trackingNumber:
                    type: string
                    x-nullable: true
                  carrier:
                    type: string
                    x-nullable: true
                  sender:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                  parcelPickedUpAt:
                    type: string
                    format: date
                    x-nullable: true
                  scannedName:
                    type: string
                    x-nullable: true
                  isManualScan:
                    type: boolean
                    x-nullable: true
                  weight:
                    type: string
                    x-nullable: true
                  poNumber:
                    type: string
                    x-nullable: true
                  signedBy:
                    type: string
                    x-nullable: true
                  signedAt:
                    type: string
                    format: date
                    x-nullable: true
                required:
                - idExt
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
  /orgs/{orgId}/parcels/activity:
    get:
      summary: Lists activity for parcels
      operationId: getParcelActivity
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:r,o:w,s-o:r,s-o:w<br/><br/>__Endpoint name__: getParcelActivity'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        default: 30000
        minimum: 1
        maximum: 30000
        name: limit
        in: query
      - type: string
        default: ''
        pattern: ^[a-zA-Z0-9,@._~-]+$
        x-nullable: true
        name: cursor
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        default: ''
        maxLength: 512
        pattern: ^((_truncateForTest|_oxygenPageLimit:[1-9][0-9]*|_oxygenIncrSecs:[1-9][0-9]*|searchId:[a-zA-Z0-9_-]+)(,|$))*
        name: options
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              cursors:
                type: object
                properties:
                  nextCursor:
                    type: integer
                    x-nullable: true
                    x-alternatives:
                    - type: integer
                      x-nullable: true
                    - type: string
                      pattern: ^[a-zA-Z0-9,@._~-]+$
                      x-nullable: true
                  hasNextPage:
                    type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    hookEvent:
                      type: object
                      properties:
                        event:
                          type: string
                        timestamp:
                          type: number
                        data:
                          type: object
                          properties:
                            idExt:
                              type: string
                              x-format:
                                guid: true
                            org:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                            userId:
                              type: integer
                              x-nullable: true
                            recipient:
                              x-nullable: true
                              type: object
                              properties:
                                id:
                                  type: integer
                                opal:
                                  type: string
                                  x-nullable: true
                                identity:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    fullName:
                                      type: string
                                      minLength: 1
                                      x-nullable: true
                                    firstName:
                                      type: string
                                      minLength: 1
                                      x-nullable: true
                                    lastName:
                                      type: string
                                      minLength: 1
                                      x-nullable: true
                                    email:
                                      type: string
                                      x-nullable: true
                                  required:
                                  - id
                              required:
                              - id
                              - opal
                              - identity
                            mailroom:
                              x-nullable: true
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                                timezone:
                                  type: string
                            messageType:
                              type: string
                              x-nullable: true
                            parcelStatus:
                              type: object
                              properties:
                                id:
                                  type: number
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - id
                            note:
                              type: string
                              maxLength: 500
                              x-nullable: true
                            trackingNumber:
                              type: string
                              x-nullable: true
                            carrier:
                              type: string
                              x-nullable: true
                            sender:
                              type: string
                              x-nullable: true
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            weight:
                              type: string
                              x-nullable: true
                            poNumber:
                              type: string
                              x-nullable: true
                            signedBy:
                              type: string
                              x-nullable: true
                            signedAt:
                              type: string
                              format: date
                              x-nullable: true
                            scannedData:
                              x-nullable: true
                              type: object
                              properties:
                                scannedName:
                                  type: string
                                  x-nullable: true
                                isManualScan:
                                  type: boolean
                                  x-nullable: true
                                matchedUsers:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      distance:
                                        type: number
                                      opal:
                                        type: string
                                        x-nullable: true
                                      identity:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                            minimum: 1
                                          fullName:
                                            type: string
                                            minLength: 1
                                            x-nullable: true
                                          email:
                                            type: string
                                        required:
                                        - id
                                    required:
                                    - id
                                    - distance
                                    - opal
                                    - identity
                            previousFields:
                              x-nullable: true
                              type: object
                              properties:
                                recipient:
                                  x-nullable: true
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    opal:
                                      type: string
                                      x-nullable: true
                                    identity:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                          minimum: 1
                                        fullName:
                                          type: string
                                          minLength: 1
                                          x-nullable: true
                                        firstName:
                                          type: string
                                          minLength: 1
                                          x-nullable: true
                                        lastName:
                                          type: string
                                          minLength: 1
                                          x-nullable: true
                                        nicknames:
                                          x-nullable: true
                                          type: array
                                          items:
                                            type: string
                                        email:
                                          type: string
                                      required:
                                      - id
                                  required:
                                  - id
                                  - opal
                                  - identity
                                mailroom:
                                  x-nullable: true
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                parcelStatus:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    code:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                  - id
                                  x-nullable: true
                                note:
                                  type: string
                                  maxLength: 500
                                  x-nullable: true
                                trackingNumber:
                                  type: string
                                  x-nullable: true
                                carrier:
                                  type: string
                                  x-nullable: true
                                sender:
                                  type: string
                                  x-nullable: true
                                weight:
                                  type: string
                                  x-nullable: true
                                poNumber:
                                  type: string
                                  x-nullable: true
                          required:
                          - idExt
                          - org
                      required:
                      - event
                      - timestamp
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:r
      - o:w
      - s-o:r
      - s-o:w
  /orgs/{orgId}/parcels/users/{userId}:
    get:
      summary: Self-pickup - List parcels
      operationId: listRecipientParcels
      description: '__Endpoint name__: listRecipientParcels'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: userId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              cursors:
                type: object
                properties:
                  nextCursor:
                    type: integer
                    x-nullable: true
                    x-alternatives:
                    - type: integer
                      x-nullable: true
                    - type: string
                      pattern: ^[a-zA-Z0-9,@._~-]+$
                      x-nullable: true
                  hasNextPage:
                    type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    idExt:
                      type: string
                      x-format:
                        guid: true
                    note:
                      type: string
                      maxLength: 500
                      x-nullable: true
                    recipient:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                          x-nullable: true
                        opal:
                          type: string
                          x-nullable: true
                        identity:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                            fullName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            firstName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            lastName:
                              type: string
                              minLength: 1
                              x-nullable: true
                            nicknames:
                              x-nullable: true
                              type: array
                              items:
                                type: object
                                properties:
                                  nickname:
                                    type: string
                                    minLength: 1
                                    maxLength: 100
                            email:
                              type: string
                          required:
                          - id
                      required:
                      - id
                      - opal
                      - identity
                    statusLastUpdatedBy:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                        fullName:
                          type: string
                          minLength: 1
                          x-nullable: true
                        email:
                          type: string
                      required:
                      - id
                    parcelPictures:
                      x-nullable: true
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          parcelPictureType:
                            type: object
                            properties:
                              id:
                                type: number
                              code:
                                type: string
                              name:
                                type: string
                            required:
                            - id
                          contentType:
                            type: string
                          fileName:
                            type: string
                          pictureUrl:
                            type: string
                            x-nullable: true
                          pictureFullSizeUrl:
                            type: string
                            x-nullable: true
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                    mailroom:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        timezone:
                          type: string
                        isSelfPickup:
                          type: boolean
                        isSignatureRequired:
                          type: boolean
                      required:
                      - id
                      - name
                      - timezone
                      - isSelfPickup
                      - isSignatureRequired
                    parcelStatus:
                      type: object
                      properties:
                        id:
                          type: number
                        code:
                          type: string
                        name:
                          type: string
                      required:
                      - id
                    trackingNumber:
                      type: string
                      x-nullable: true
                    carrier:
                      type: string
                      x-nullable: true
                    sender:
                      type: string
                      x-nullable: true
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                    parcelPickedUpAt:
                      type: string
                      format: date
                      x-nullable: true
                    scannedName:
                      type: string
                      x-nullable: true
                    isManualScan:
                      type: boolean
                      x-nullable: true
                    weight:
                      type: string
                      x-nullable: true
                    poNumber:
                      type: string
                      x-nullable: true
                    signedBy:
                      type: string
                      x-nullable: true
                    signedAt:
                      type: string
                      format: date
                      x-nullable: true
                  required:
                  - idExt
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
  /orgs/{orgId}/parcels/{parcelIdExt}/parcelHistory:
    get:
      summary: Lists parcel history
      operationId: listParcelHistory
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w<br/><br/>__Endpoint name__: listParcelHistory'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: timestamp
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: desc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              cursors:
                type: object
                properties:
                  nextCursor:
                    type: integer
                    x-nullable: true
                    x-alternatives:
                    - type: integer
                      x-nullable: true
                    - type: string
                      pattern: ^[a-zA-Z0-9,@._~-]+$
                      x-nullable: true
                  hasNextPage:
                    type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    event:
                      type: string
                    timestamp:
                      type: number
                    data:
                      type: object
                      properties:
                        idExt:
                          type: string
                          x-format:
                            guid: true
                        org:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                        userId:
                          type: integer
                          x-nullable: true
                        recipient:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: integer
                            opal:
                              type: string
                              x-nullable: true
                            identity:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  minimum: 1
                                fullName:
                                  type: string
                                  minLength: 1
                                  x-nullable: true
                                firstName:
                                  type: string
                                  minLength: 1
                                  x-nullable: true
                                lastName:
                                  type: string
                                  minLength: 1
                                  x-nullable: true
                                email:
                                  type: string
                                  x-nullable: true
                              required:
                              - id
                          required:
                          - id
                          - opal
                          - identity
                        mailroom:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            timezone:
                              type: string
                        messageType:
                          type: string
                          x-nullable: true
                        parcelStatus:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                        note:
                          type: string
                          maxLength: 500
                          x-nullable: true
                        trackingNumber:
                          type: string
                          x-nullable: true
                        carrier:
                          type: string
                          x-nullable: true
                        sender:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        weight:
                          type: string
                          x-nullable: true
                        poNumber:
                          type: string
                          x-nullable: true
                        signedBy:
                          type: string
                          x-nullable: true
                        signedAt:
                          type: string
                          format: date
                          x-nullable: true
                        scannedData:
                          x-nullable: true
                          type: object
                          properties:
                            scannedName:
                              type: string
                              x-nullable: true
                            isManualScan:
                              type: boolean
                              x-nullable: true
                            matchedUsers:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  distance:
                                    type: number
                                  opal:
                                    type: string
                                    x-nullable: true
                                  identity:
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                        minimum: 1
                                      fullName:
                                        type: string
                                        minLength: 1
                                        x-nullable: true
                                      email:
                                        type: string
                                    required:
                                    - id
                                required:
                                - id
                                - distance
                                - opal
                                - identity
                        previousFields:
                          x-nullable: true
                          type: object
                          properties:
                            recipient:
                              x-nullable: true
                              type: object
                              properties:
                                id:
                                  type: integer
                                opal:
                                  type: string
                                  x-nullable: true
                                identity:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      minimum: 1
                                    fullName:
                                      type: string
                                      minLength: 1
                                      x-nullable: true
                                    firstName:
                                      type: string
                                      minLength: 1
                                      x-nullable: true
                                    lastName:
                                      type: string
                                      minLength: 1
                                      x-nullable: true
                                    nicknames:
                                      x-nullable: true
                                      type: array
                                      items:
                                        type: string
                                    email:
                                      type: string
                                  required:
                                  - id
                              required:
                              - id
                              - opal
                              - identity
                            mailroom:
                              x-nullable: true
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            parcelStatus:
                              type: object
                              properties:
                                id:
                                  type: number
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - id
                              x-nullable: true
                            note:
                              type: string
                              maxLength: 500
                              x-nullable: true
                            trackingNumber:
                              type: string
                              x-nullable: true
                            carrier:
                              type: string
                              x-nullable: true
                            sender:
                              type: string
                              x-nullable: true
                            weight:
                              type: string
                              x-nullable: true
                            poNumber:
                              type: string
                              x-nullable: true
                      required:
                      - idExt
                      - org
                  required:
                  - event
                  - timestamp
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
  /orgs/{orgId}/parcels/{parcelIdExt}/signature:
    get:
      summary: Get a parcel signature
      operationId: getParcelSignature
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w<br/><br/>__Endpoint name__: getParcelSignature'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  signaturePicture:
                    type: object
                    properties:
                      id:
                        type: number
                      parcelPictureType:
                        type: object
                        properties:
                          id:
                            type: number
                          code:
                            type: string
                          name:
                            type: string
                        required:
                        - id
                      contentType:
                        type: string
                      fileName:
                        type: string
                      pictureUrl:
                        type: string
                        x-nullable: true
                      pictureFullSizeUrl:
                        type: string
                        x-nullable: true
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                  signedBy:
                    type: string
                    x-nullable: true
                  signedAt:
                    type: string
                    format: date
                    x-nullable: true
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
  /orgs/{orgId}/parcels/{parcelIdExt}/parcelPictures:
    get:
      summary: List parcel pictures
      operationId: listParcelPictures
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w<br/><br/>__Endpoint name__: listParcelPictures'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: id
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    parcelPictureType:
                      type: object
                      properties:
                        id:
                          type: number
                        code:
                          type: string
                        name:
                          type: string
                      required:
                      - id
                    contentType:
                      type: string
                    fileName:
                      type: string
                    pictureUrl:
                      type: string
                      x-nullable: true
                    pictureFullSizeUrl:
                      type: string
                      x-nullable: true
                    createdAt:
                      type: string
                      format: date
                    updatedAt:
                      type: string
                      format: date
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    post:
      summary: Create a parcel picture
      operationId: createParcelPicture
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w<br/><br/>__Endpoint name__: createParcelPicture'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            parcelPictureTypeId:
              type: integer
            picture:
              type: object
              properties:
                base64:
                  type: string
              required:
              - base64
          required:
          - parcelPictureTypeId
          - picture
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  parcelPictureType:
                    type: object
                    properties:
                      id:
                        type: number
                      code:
                        type: string
                      name:
                        type: string
                    required:
                    - id
                  contentType:
                    type: string
                  fileName:
                    type: string
                  pictureUrl:
                    type: string
                    x-nullable: true
                  pictureFullSizeUrl:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Created
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
  /orgs/{orgId}/parcels/{parcelIdExt}/parcelPictures/{parcelPictureId}:
    get:
      summary: Get a parcel picture
      operationId: describeParcelPicture
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w<br/><br/>__Endpoint name__: describeParcelPicture'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: string
        x-format:
          guid: true
        name: parcelIdExt
        in: path
        required: true
      - type: integer
        name: parcelPictureId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/parcels
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  parcelPictureType:
                    type: object
                    properties:
                      id:
                        type: number
                      code:
                        type: string
                      name:
                        type: string
                    required:
                    - id
                  contentType:
                    type: string
                  fileName:
                    type: string
                  pictureUrl:
                    type: string
                    x-nullable: true
                  pictureFullSizeUrl:
                    type: string
                    x-nullable: true
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    delete:
      summary: Delete a parcel picture
      operationId: deleteParcelPicture
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w<br/><br/>__Endpoint name__: deleteParcelPicture'
      parameters:
[...]
