openapi: 3.2.0
info:
  title: Openpath API Documentation Billable Features API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: billableFeatures
paths:
  /billableFeatures:
    get:
      summary: List all billable features
      operationId: globalListBillableFeatures
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,o:r,o-basic:w,o-basic:r,s-o:w,s-o:r


        __Endpoint name__: globalListBillableFeatures'
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - billableFeatures
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        isStale:
                          type: boolean
                        maxCount:
                          type: integer
                        currentCount:
                          type: integer
                        adjustOperation:
                          type:
                          - string
                          - 'null'
                        adjustValue:
                          type:
                          - number
                          - 'null'
                        adjustedCurrentCount:
                          type:
                          - integer
                          - 'null'
                        adjustedMaxCount:
                          type:
                          - integer
                          - 'null'
                        lastSyncCount:
                          type:
                          - integer
                          - 'null'
                        lastSyncAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        softLimit:
                          type:
                          - integer
                          - 'null'
                        softLimitFirstExceededAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        hardLimit:
                          type:
                          - integer
                          - 'null'
                        feature:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            code:
                              type: string
                            singular:
                              type:
                              - string
                              - 'null'
                            plural:
                              type:
                              - string
                              - 'null'
                            isBinary:
                              type: boolean
                          required:
                          - id
                        org:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:w
      - o:r
      - o-basic:w
      - o-basic:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
