openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/wireless Gateways API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/wirelessGateways
paths:
  /orgs/{orgId}/wirelessGateways:
    get:
      summary: List all wireless gateways
      operationId: listWirelessGateways
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o{params.orgId}-hw:r,o{params.orgId}-dash:r,o{params.orgId}-dashEntry:r,o{params.orgId}-dashActivity:r,o{params.orgId}-acu:orgWirelessGateway-list:r,o:r,s-o:r


        __Endpoint name__: listWirelessGateways'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        modelName:
                          type: string
                        modelId:
                          type: integer
                        lastConnectedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        lastDisconnectedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        isLive:
                          type:
                          - boolean
                          - 'null'
                        acuId:
                          type: integer
                        acu:
                          type: object
                          properties:
                            id:
                              type: integer
                            opal:
                              type: string
                            locationRestriction:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                allowedDistanceMeters:
                                  type: number
                                scaleFactor:
                                  type: number
                                locationMeasurement:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    longitude:
                                      type: number
                                    latitude:
                                      type: number
                                    accuracyMeters:
                                      type:
                                      - number
                                      - 'null'
                                    timeZoneId:
                                      type:
                                      - string
                                      - 'null'
                                    locationMeasurementSourceType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                        code:
                                          type: string
                                      required:
                                      - id
                                    rawData:
                                      type: object
                                  required:
                                  - id
                          required:
                          - id
                        config:
                          type:
                          - object
                          - 'null'
                        thirdPartyDeviceId:
                          type:
                          - integer
                          - 'null'
                        thirdPartyDevice:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            assignedOrg:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                            serialNumber:
                              type: string
                            isOpSourced:
                              type: boolean
                            orderName:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            thirdPartyDeviceType:
                              type: object
                              properties:
                                id:
                                  type: number
                                manufacturerName:
                                  type: string
                                hardwareModel:
                                  type: string
                                description:
                                  type: string
                                dbModelName:
                                  type: string
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                              required:
                              - id
                          required:
                          - id
                        wirelessLockCount:
                          type: integer
                          default: 0
                        wirelessLockProvider:
                          type: object
                          properties:
                            id:
                              type: number
                            siteIdExt:
                              type:
                              - string
                              - 'null'
                            siteAuthKey:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            orgId:
                              type: number
                            wirelessLockProviderType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                        wirelessLockProviderId:
                          type: integer
                        allegionWirelessGateway:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            idExt:
                              type: string
                            authKey:
                              type:
                              - string
                              - 'null'
                            config:
                              type:
                              - object
                              - 'null'
                            wirelessGatewayId:
                              type: integer
                          required:
                          - id
                        assaAbloyWirelessGateway:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            config:
                              type:
                              - object
                              - 'null'
                            status:
                              type:
                              - string
                              - 'null'
                            activationStatus:
                              type: string
                            activatedAt:
                              type:
                              - string
                              - 'null'
                              format: date
                            macAddress:
                              type: string
                            wirelessGatewayId:
                              type: integer
                          required:
                          - id
                          - status
                          - activationStatus
                          - macAddress
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:r
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashEntry:r
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-acu:orgWirelessGateway-list:r
      - o:r
      - s-o:r
    post:
      summary: Create a wireless gateway
      operationId: createWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: createWirelessGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      modelName:
                        type: string
                      modelId:
                        type: integer
                      lastConnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      lastDisconnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      isLive:
                        type:
                        - boolean
                        - 'null'
                      acuId:
                        type: integer
                      acu:
                        type: object
                        properties:
                          id:
                            type: integer
                          opal:
                            type: string
                          locationRestriction:
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                type: number
                              allowedDistanceMeters:
                                type: number
                              scaleFactor:
                                type: number
                              locationMeasurement:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  longitude:
                                    type: number
                                  latitude:
                                    type: number
                                  accuracyMeters:
                                    type:
                                    - number
                                    - 'null'
                                  timeZoneId:
                                    type:
                                    - string
                                    - 'null'
                                  locationMeasurementSourceType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      code:
                                        type: string
                                    required:
                                    - id
                                  rawData:
                                    type: object
                                required:
                                - id
                        required:
                        - id
                      config:
                        type:
                        - object
                        - 'null'
                      thirdPartyDeviceId:
                        type:
                        - integer
                        - 'null'
                      thirdPartyDevice:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          assignedOrg:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          serialNumber:
                            type: string
                          isOpSourced:
                            type: boolean
                          orderName:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          thirdPartyDeviceType:
                            type: object
                            properties:
                              id:
                                type: number
                              manufacturerName:
                                type: string
                              hardwareModel:
                                type: string
                              description:
                                type: string
                              dbModelName:
                                type: string
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        required:
                        - id
                      wirelessLockCount:
                        type: integer
                        default: 0
                      wirelessLockProvider:
                        type: object
                        properties:
                          id:
                            type: number
                          siteIdExt:
                            type:
                            - string
                            - 'null'
                          siteAuthKey:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          orgId:
                            type: number
                          wirelessLockProviderType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        required:
                        - id
                      wirelessLockProviderId:
                        type: integer
                      allegionWirelessGateway:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          idExt:
                            type: string
                          authKey:
                            type:
                            - string
                            - 'null'
                          config:
                            type:
                            - object
                            - 'null'
                          wirelessGatewayId:
                            type: integer
                        required:
                        - id
                      assaAbloyWirelessGateway:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          config:
                            type:
                            - object
                            - 'null'
                          status:
                            type:
                            - string
                            - 'null'
                          activationStatus:
                            type: string
                          activatedAt:
                            type:
                            - string
                            - 'null'
                            format: date
                          macAddress:
                            type: string
                          wirelessGatewayId:
                            type: integer
                        required:
                        - id
                        - status
                        - activationStatus
                        - macAddress
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                manufacturer:
                  type: string
                  enum:
                  - ALLEGION
                  - ASSA ABLOY
                serialNumber:
                  type: string
                model:
                  type: string
                isLive:
                  type: boolean
                wirelessLockProviderId:
                  type: integer
                allegionWirelessGateway:
                  type:
                  - object
                  - 'null'
                  properties:
                    idExt:
                      type: string
                    authKey:
                      type:
                      - string
                      - 'null'
                    config:
                      type:
                      - object
                      - 'null'
                assaAbloyWirelessGateway:
                  type:
                  - object
                  - 'null'
                  properties:
                    acuId:
                      type: integer
                    config:
                      type:
                      - object
                      - 'null'
                    macAddress:
                      type: string
              required:
              - name
              - manufacturer
              - model
              - wirelessLockProviderId
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}:
    get:
      summary: Describe a wireless gateway
      operationId: describeWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o:r,s-o:r


        __Endpoint name__: describeWirelessGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      modelName:
                        type: string
                      modelId:
                        type: integer
                      lastConnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      lastDisconnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      isLive:
                        type:
                        - boolean
                        - 'null'
                      acuId:
                        type: integer
                      acu:
                        type: object
                        properties:
                          id:
                            type: integer
                          opal:
                            type: string
                          locationRestriction:
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                type: number
                              allowedDistanceMeters:
                                type: number
                              scaleFactor:
                                type: number
                              locationMeasurement:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  longitude:
                                    type: number
                                  latitude:
                                    type: number
                                  accuracyMeters:
                                    type:
                                    - number
                                    - 'null'
                                  timeZoneId:
                                    type:
                                    - string
                                    - 'null'
                                  locationMeasurementSourceType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      code:
                                        type: string
                                    required:
                                    - id
                                  rawData:
                                    type: object
                                required:
                                - id
                        required:
                        - id
                      config:
                        type:
                        - object
                        - 'null'
                      thirdPartyDeviceId:
                        type:
                        - integer
                        - 'null'
                      thirdPartyDevice:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          assignedOrg:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          serialNumber:
                            type: string
                          isOpSourced:
                            type: boolean
                          orderName:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          thirdPartyDeviceType:
                            type: object
                            properties:
                              id:
                                type: number
                              manufacturerName:
                                type: string
                              hardwareModel:
                                type: string
                              description:
                                type: string
                              dbModelName:
                                type: string
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        required:
                        - id
                      wirelessLockCount:
                        type: integer
                        default: 0
                      wirelessLockProvider:
                        type: object
                        properties:
                          id:
                            type: number
                          siteIdExt:
                            type:
                            - string
                            - 'null'
                          siteAuthKey:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          orgId:
                            type: number
                          wirelessLockProviderType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        required:
                        - id
                      wirelessLockProviderId:
                        type: integer
                      allegionWirelessGateway:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          idExt:
                            type: string
                          authKey:
                            type:
                            - string
                            - 'null'
                          config:
                            type:
                            - object
                            - 'null'
                          wirelessGatewayId:
                            type: integer
                        required:
                        - id
                      assaAbloyWirelessGateway:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          config:
                            type:
                            - object
                            - 'null'
                          status:
                            type:
                            - string
                            - 'null'
                          activationStatus:
                            type: string
                          activatedAt:
                            type:
                            - string
                            - 'null'
                            format: date
                          macAddress:
                            type: string
                          wirelessGatewayId:
                            type: integer
                        required:
                        - id
                        - status
                        - activationStatus
                        - macAddress
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o:r
      - s-o:r
    delete:
      summary: Remove a wireless gateway
      operationId: deleteWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: deleteWirelessGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    patch:
      summary: Update a wireless gateway
      operationId: updateWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateWirelessGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                lastConnectedAt:
                  type: string
                  format: date
                lastDisconnectedAt:
                  type: string
                  format: date
                isLive:
                  type: boolean
                allegionWirelessGateway:
                  type:
                  - object
                  - 'null'
                  properties:
                    idExt:
                      type: string
                    authKey:
                      type:
                      - string
                      - 'null'
                    config:
                      type:
                      - object
                      - 'null'
                assaAbloyWirelessGateway:
                  type:
                  - object
                  - 'null'
                  properties:
                    config:
                      type:
                      - object
                      - 'null'
                    status:
                      type: string
                      enum:
                      - discovered
                      - active
                      - error
  /orgs/{orgId}/wirelessGateways/updateFirmwareBatch:
    post:
      summary: Update the firmware for multiple wireless gateways to the latest version
      operationId: updateWirelessGatewayFirmwareBatch
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateWirelessGatewayFirmwareBatch'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessGatewayIds
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
          minItems: 1
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Firmware update started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}/activate:
    post:
      summary: Activate an Assa Abloy wireless gateway hub
      operationId: activateWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: activateWirelessGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}/syncDevices:
    post:
      summary: Sync devices for a wireless gateway
      operationId: syncWirelessGatewayDevices
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: syncWirelessGatewayDevices'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Gateway edge device sync started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}/updateFirmware:
    post:
      summary: Update the firmware for a wireless gateway to a specific version
      operationId: updateWirelessGatewayFirmware
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateWirelessGatewayFirmware'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Firmware update started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
