swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/badgeConfigs API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/badgeConfigs
paths:
  /orgs/{orgId}/badgeConfigs:
    get:
      summary: List all badge configs
      operationId: listBadgeConfigs
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-badgePrinting:r,o{params.orgId}-badgePrinting:w,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-mobileAppSettings:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listBadgeConfigs'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: id
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/badgeConfigs
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    nameConfig:
                      x-nullable: true
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          x-nullable: true
                        color:
                          type: string
                          x-nullable: true
                        fontFamily:
                          type: string
                          x-nullable: true
                        fontSize:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        lineHeight:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        fontWeight:
                          type: number
                          x-nullable: true
                        fontStyle:
                          x-nullable: true
                          type: string
                          enum:
                          - italic
                          - oblique
                          - none
                        textAlign:
                          x-nullable: true
                          type: string
                          enum:
                          - left
                          - center
                          - right
                        centerX:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        centerY:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        width:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        height:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        layout:
                          x-nullable: true
                          type: string
                          enum:
                          - threeLines
                          - twoLines
                          - oneLine
                        textTransform:
                          x-nullable: true
                          type: string
                          enum:
                          - none
                          - uppercase
                          - lowercase
                          - capitalize
                    customField1Config:
                      x-nullable: true
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          x-nullable: true
                        color:
                          type: string
                          x-nullable: true
                        fontFamily:
                          type: string
                          x-nullable: true
                        fontSize:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        lineHeight:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        fontWeight:
                          type: number
                          x-nullable: true
                        textAlign:
                          x-nullable: true
                          type: string
                          enum:
                          - left
                          - center
                          - right
                        centerX:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        centerY:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        width:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        height:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                    customField2Config:
                      x-nullable: true
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          x-nullable: true
                        color:
                          type: string
                          x-nullable: true
                        fontFamily:
                          type: string
                          x-nullable: true
                        fontSize:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        lineHeight:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        fontWeight:
                          type: number
                          x-nullable: true
                        textAlign:
                          x-nullable: true
                          type: string
                          enum:
                          - left
                          - center
                          - right
                        centerX:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        centerY:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        width:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        height:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                    backgroundConfig:
                      x-nullable: true
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          x-nullable: true
                        backgroundColor:
                          type: string
                          x-nullable: true
                        centerX:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        centerY:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        width:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        height:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                    photoConfig:
                      x-nullable: true
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          x-nullable: true
                        backgroundColor:
                          type: string
                          x-nullable: true
                        centerX:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        centerY:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        width:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        height:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        borderRadius:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        borderColor:
                          type: string
                          x-nullable: true
                    logoConfig:
                      x-nullable: true
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          x-nullable: true
                        backgroundColor:
                          type: string
                          x-nullable: true
                        backgroundPosition:
                          type: string
                          x-nullable: true
                        label:
                          type: string
                          x-nullable: true
                        color:
                          type: string
                          x-nullable: true
                        fontFamily:
                          type: string
                          x-nullable: true
                        fontSize:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        lineHeight:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        fontWeight:
                          type: number
                          x-nullable: true
                        textAlign:
                          x-nullable: true
                          type: string
                          enum:
                          - left
                          - center
                          - right
                        centerX:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        centerY:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        width:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        height:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                    externalIdConfig:
                      x-nullable: true
                      type: object
                      properties:
                        isEnabled:
                          type: boolean
                          x-nullable: true
                        color:
                          type: string
                          x-nullable: true
                        fontFamily:
                          type: string
                          x-nullable: true
                        fontSize:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        lineHeight:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        fontWeight:
                          type: number
                          x-nullable: true
                        textAlign:
                          x-nullable: true
                          type: string
                          enum:
                          - left
                          - center
                          - right
                        centerX:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        centerY:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        width:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                        height:
                          type: number
                          minimum: 0
                          maximum: 1
                          x-nullable: true
                    customField1:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                      - id
                    customField2:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                      - id
                    badgeDefaultConfig:
                      type: object
                      properties:
                        id:
                          type: integer
                        nameConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            fontStyle:
                              x-nullable: true
                              type: string
                              enum:
                              - italic
                              - oblique
                              - none
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            layout:
                              x-nullable: true
                              type: string
                              enum:
                              - threeLines
                              - twoLines
                              - oneLine
                            textTransform:
                              x-nullable: true
                              type: string
                              enum:
                              - none
                              - uppercase
                              - lowercase
                              - capitalize
                        customField1Config:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                        customField2Config:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                        backgroundConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            backgroundColor:
                              type: string
                              x-nullable: true
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                        photoConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            backgroundColor:
                              type: string
                              x-nullable: true
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            borderRadius:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            borderColor:
                              type: string
                              x-nullable: true
                        logoConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            backgroundColor:
                              type: string
                              x-nullable: true
                            backgroundPosition:
                              type: string
                              x-nullable: true
                            label:
                              type: string
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                        externalIdConfig:
                          type: object
                          properties:
                            isEnabled:
                              type: boolean
                              x-nullable: true
                            color:
                              type: string
                              x-nullable: true
                            fontFamily:
                              type: string
                              x-nullable: true
                            fontSize:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            lineHeight:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            fontWeight:
                              type: number
                              x-nullable: true
                            textAlign:
                              x-nullable: true
                              type: string
                              enum:
                              - left
                              - center
                              - right
                            centerX:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            centerY:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            width:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                            height:
                              type: number
                              minimum: 0
                              maximum: 1
                              x-nullable: true
                        backgroundPicture:
                          x-nullable: true
                          type: object
                          properties:
                            contentType:
                              type: string
                            fileName:
                              type: string
                            url:
                              type: string
                              x-nullable: true
                        logoPicture:
                          x-nullable: true
                          type: object
                          properties:
                            contentType:
                              type: string
                            fileName:
                              type: string
                            url:
                              type: string
                              x-nullable: true
                        badgeWidth:
                          type: number
                        badgeHeight:
                          type: number
                        badgeBorderRadius:
                          type: number
                        printWidth:
                          type: number
                          x-nullable: true
                        printHeight:
                          type: number
                          x-nullable: true
                        name:
                          type: string
                        isMobile:
                          type: boolean
                      required:
                      - id
                    backgroundPicture:
                      x-nullable: true
                      type: object
                      properties:
                        contentType:
                          type: string
                        fileName:
                          type: string
                        url:
                          type: string
                          x-nullable: true
                    logoPicture:
                      x-nullable: true
                      type: object
                      properties:
                        contentType:
                          type: string
                        fileName:
                          type: string
                        url:
                          type: string
                          x-nullable: true
                    name:
                      type: string
                      x-nullable: true
                    badgeBorderRadius:
                      type: integer
                      x-nullable: true
                    isOrgDefault:
                      type: boolean
                      x-nullable: true
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-badgePrinting:r
      - o{params.orgId}-badgePrinting:w
      - o{params.orgId}-mobileAppSettings:w
      - o{params.orgId}-mobileAppSettings:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a new badge config
      operationId: createBadgeConfig
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-badgePrinting:w,o{params.orgId}-mobileAppSettings:w,o:w,s-o:w<br/><br/>__Endpoint name__: createBadgeConfig'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            nameConfig:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  x-nullable: true
                color:
                  type: string
                  x-nullable: true
                fontFamily:
                  type: string
                  x-nullable: true
                fontSize:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                lineHeight:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                fontWeight:
                  type: number
                  x-nullable: true
                fontStyle:
                  x-nullable: true
                  type: string
                  enum:
                  - italic
                  - oblique
                  - none
                textAlign:
                  x-nullable: true
                  type: string
                  enum:
                  - left
                  - center
                  - right
                centerX:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                centerY:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                width:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                height:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                layout:
                  x-nullable: true
                  type: string
                  enum:
                  - threeLines
                  - twoLines
                  - oneLine
                textTransform:
                  x-nullable: true
                  type: string
                  enum:
                  - none
                  - uppercase
                  - lowercase
                  - capitalize
            customField1Config:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  x-nullable: true
                color:
                  type: string
                  x-nullable: true
                fontFamily:
                  type: string
                  x-nullable: true
                fontSize:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                lineHeight:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                fontWeight:
                  type: number
                  x-nullable: true
                textAlign:
                  x-nullable: true
                  type: string
                  enum:
                  - left
                  - center
                  - right
                centerX:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                centerY:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                width:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                height:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
            customField2Config:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  x-nullable: true
                color:
                  type: string
                  x-nullable: true
                fontFamily:
                  type: string
                  x-nullable: true
                fontSize:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                lineHeight:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                fontWeight:
                  type: number
                  x-nullable: true
                textAlign:
                  x-nullable: true
                  type: string
                  enum:
                  - left
                  - center
                  - right
                centerX:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                centerY:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                width:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                height:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
            backgroundConfig:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  x-nullable: true
                backgroundColor:
                  type: string
                  x-nullable: true
                centerX:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                centerY:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                width:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                height:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
            photoConfig:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  x-nullable: true
                backgroundColor:
                  type: string
                  x-nullable: true
                centerX:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                centerY:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                width:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                height:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                borderRadius:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                borderColor:
                  type: string
                  x-nullable: true
            logoConfig:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  x-nullable: true
                backgroundColor:
                  type: string
                  x-nullable: true
                backgroundPosition:
                  type: string
                  x-nullable: true
                label:
                  type: string
                  x-nullable: true
                color:
                  type: string
                  x-nullable: true
                fontFamily:
                  type: string
                  x-nullable: true
                fontSize:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                lineHeight:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                fontWeight:
                  type: number
                  x-nullable: true
                textAlign:
                  x-nullable: true
                  type: string
                  enum:
                  - left
                  - center
                  - right
                centerX:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                centerY:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                width:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                height:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
            externalIdConfig:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  x-nullable: true
                color:
                  type: string
                  x-nullable: true
                fontFamily:
                  type: string
                  x-nullable: true
                fontSize:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                lineHeight:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                fontWeight:
                  type: number
                  x-nullable: true
                textAlign:
                  x-nullable: true
                  type: string
                  enum:
                  - left
                  - center
                  - right
                centerX:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                centerY:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                width:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
                height:
                  type: number
                  minimum: 0
                  maximum: 1
                  x-nullable: true
            customField1Id:
              type: integer
              x-nullable: true
            customField2Id:
              type: integer
              x-nullable: true
            backgroundPicture:
              x-nullable: true
              type: object
              properties:
                base64:
                  type: string
            logoPicture:
              x-nullable: true
              type: object
              properties:
                base64:
                  type: string
            name:
              type: string
            badgeDefaultConfigId:
              type: integer
            badgeBorderRadius:
              type: integer
            isOrgDefault:
              type: boolean
          required:
          - name
          - badgeDefaultConfigId
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/badgeConfigs
      security:
      - jwt: []
      responses:
        '201':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  nameConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      fontStyle:
                        x-nullable: true
                        type: string
                        enum:
                        - italic
                        - oblique
                        - none
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      layout:
                        x-nullable: true
                        type: string
                        enum:
                        - threeLines
                        - twoLines
                        - oneLine
                      textTransform:
                        x-nullable: true
                        type: string
                        enum:
                        - none
                        - uppercase
                        - lowercase
                        - capitalize
                  customField1Config:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  customField2Config:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  backgroundConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      backgroundColor:
                        type: string
                        x-nullable: true
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  photoConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      backgroundColor:
                        type: string
                        x-nullable: true
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      borderRadius:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      borderColor:
                        type: string
                        x-nullable: true
                  logoConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      backgroundColor:
                        type: string
                        x-nullable: true
                      backgroundPosition:
                        type: string
                        x-nullable: true
                      label:
                        type: string
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  externalIdConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  customField1:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                    - id
                  customField2:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                    - id
                  badgeDefaultConfig:
                    type: object
                    properties:
                      id:
                        type: integer
                      nameConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          fontStyle:
                            x-nullable: true
                            type: string
                            enum:
                            - italic
                            - oblique
                            - none
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          layout:
                            x-nullable: true
                            type: string
                            enum:
                            - threeLines
                            - twoLines
                            - oneLine
                          textTransform:
                            x-nullable: true
                            type: string
                            enum:
                            - none
                            - uppercase
                            - lowercase
                            - capitalize
                      customField1Config:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                      customField2Config:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                      backgroundConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                      photoConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          borderRadius:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          borderColor:
                            type: string
                            x-nullable: true
                      logoConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          backgroundColor:
                            type: string
                            x-nullable: true
                          backgroundPosition:
                            type: string
                            x-nullable: true
                          label:
                            type: string
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                      externalIdConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                      backgroundPicture:
                        x-nullable: true
                        type: object
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type: string
                            x-nullable: true
                      logoPicture:
                        x-nullable: true
                        type: object
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type: string
                            x-nullable: true
                      badgeWidth:
                        type: number
                      badgeHeight:
                        type: number
                      badgeBorderRadius:
                        type: number
                      printWidth:
                        type: number
                        x-nullable: true
                      printHeight:
                        type: number
                        x-nullable: true
                      name:
                        type: string
                      isMobile:
                        type: boolean
                    required:
                    - id
                  backgroundPicture:
                    x-nullable: true
                    type: object
                    properties:
                      contentType:
                        type: string
                      fileName:
                        type: string
                      url:
                        type: string
                        x-nullable: true
                  logoPicture:
                    x-nullable: true
                    type: object
                    properties:
                      contentType:
                        type: string
                      fileName:
                        type: string
                      url:
                        type: string
                        x-nullable: true
                  name:
                    type: string
                    x-nullable: true
                  badgeBorderRadius:
                    type: integer
                    x-nullable: true
                  isOrgDefault:
                    type: boolean
                    x-nullable: true
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Created
      x-op-scopes:
      - o{params.orgId}-configurations:w
      - o{params.orgId}-badgePrinting:w
      - o{params.orgId}-mobileAppSettings:w
      - o:w
      - s-o:w
  /orgs/{orgId}/badgeConfigs/{badgeConfigId}:
    get:
      summary: Describe a badge config
      operationId: describeBadgeConfig
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-mobileAppSettings:r,o{params.orgId}-badgePrinting:r,o{params.orgId}-badgePrinting:w,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: describeBadgeConfig'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: badgeConfigId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/badgeConfigs
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  nameConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      fontStyle:
                        x-nullable: true
                        type: string
                        enum:
                        - italic
                        - oblique
                        - none
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      layout:
                        x-nullable: true
                        type: string
                        enum:
                        - threeLines
                        - twoLines
                        - oneLine
                      textTransform:
                        x-nullable: true
                        type: string
                        enum:
                        - none
                        - uppercase
                        - lowercase
                        - capitalize
                  customField1Config:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  customField2Config:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  backgroundConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      backgroundColor:
                        type: string
                        x-nullable: true
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  photoConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      backgroundColor:
                        type: string
                        x-nullable: true
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      borderRadius:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      borderColor:
                        type: string
                        x-nullable: true
                  logoConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      backgroundColor:
                        type: string
                        x-nullable: true
                      backgroundPosition:
                        type: string
                        x-nullable: true
                      label:
                        type: string
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  externalIdConfig:
                    x-nullable: true
                    type: object
                    properties:
                      isEnabled:
                        type: boolean
                        x-nullable: true
                      color:
                        type: string
                        x-nullable: true
                      fontFamily:
                        type: string
                        x-nullable: true
                      fontSize:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      lineHeight:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      fontWeight:
                        type: number
                        x-nullable: true
                      textAlign:
                        x-nullable: true
                        type: string
                        enum:
                        - left
                        - center
                        - right
                      centerX:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      centerY:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      width:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                      height:
                        type: number
                        minimum: 0
                        maximum: 1
                        x-nullable: true
                  customField1:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                    - id
                  customField2:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                    - id
                  badgeDefaultConfig:
                    type: object
                    properties:
                      id:
                        type: integer
                      nameConfig:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          fontStyle:
                            x-nullable: true
                            type: string
                            enum:
                            - italic
                            - oblique
                            - none
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          layout:
                            x-nullable: true
                            type: string
                            enum:
                            - threeLines
                            - twoLines
                            - oneLine
                          textTransform:
                            x-nullable: true
                            type: string
                            enum:
                            - none
                            - uppercase
                            - lowercase
                            - capitalize
                      customField1Config:
                        type: object
                        properties:
                          isEnabled:
                            type: boolean
                            x-nullable: true
                          color:
                            type: string
                            x-nullable: true
                          fontFamily:
                            type: string
                            x-nullable: true
                          fontSize:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          lineHeight:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          fontWeight:
                            type: number
                            x-nullable: true
                          textAlign:
                            x-nullable: true
                            type: string
                            enum:
                            - left
                            - center
                            - right
                          centerX:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          centerY:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          width:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                          height:
                            type: number
                            minimum: 0
                            maximum: 1
                            x-nullable: true
                      customField2Config:
[...]
