swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/scopeResources API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/scopeResources
  description: Scope Resources for User Roles
paths:
  /orgs/{orgId}/scopeResources:
    get:
      summary: List all scope resources
      operationId: listScopeResources
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listScopeResources'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: ordinal
        pattern: ^[a-zA-Z0-9.]+$
        name: sort
        in: query
      - type: string
        default: asc
        enum:
        - asc
        - desc
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/scopeResources
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    nativeAppId:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                      x-nullable: true
                    scopes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: number
                          permission:
                            type: string
                          code:
                            type: string
                          description:
                            type: string
                          label:
                            type: string
                          parentScopeId:
                            type: number
                            x-nullable: true
                        required:
                        - id
                  required:
                  - id
                  - nativeAppId
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/scopeResources/{scopeResourceId}:
    get:
      summary: Describe a scope resource
      operationId: describeScopeResource
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: describeScopeResource'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: scopeResourceId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/scopeResources
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  nativeAppId:
                    type: integer
                  name:
                    type: string
                  description:
                    type: string
                    x-nullable: true
                  scopes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        permission:
                          type: string
                        code:
                          type: string
                        description:
                          type: string
                        label:
                          type: string
                        parentScopeId:
                          type: number
                          x-nullable: true
                      required:
                      - id
                required:
                - id
                - nativeAppId
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
