openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/mailrooms API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/mailrooms
paths:
  /orgs/{orgId}/mailrooms:
    get:
      summary: List active mailrooms
      operationId: listMailrooms
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: listMailrooms'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        site:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        address:
                          type: string
                        address2:
                          type:
                          - string
                          - 'null'
                        city:
                          type: string
                        state:
                          type:
                          - string
                          - 'null'
                        zip:
                          type:
                          - string
                          - 'null'
                        country:
                          type: string
                        phone:
                          type:
                          - string
                          - 'null'
                        description:
                          type:
                          - string
                          - 'null'
                        timezone:
                          type: string
                        isSelfPickup:
                          type: boolean
                          default: false
                        isSignatureRequired:
                          type: boolean
                          default: false
                      required:
                      - id
                      - name
                      - address
                      - city
                      - country
                      - timezone
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    post:
      summary: Create a mailroom
      operationId: createMailroom
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: createMailroom'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      site:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      address:
                        type: string
                      address2:
                        type:
                        - string
                        - 'null'
                      city:
                        type: string
                      state:
                        type:
                        - string
                        - 'null'
                      zip:
                        type:
                        - string
                        - 'null'
                      country:
                        type: string
                      phone:
                        type:
                        - string
                        - 'null'
                      description:
                        type:
                        - string
                        - 'null'
                      timezone:
                        type: string
                      isSelfPickup:
                        type: boolean
                        default: false
                      isSignatureRequired:
                        type: boolean
                        default: false
                    required:
                    - id
                    - name
                    - address
                    - city
                    - country
                    - timezone
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                siteId:
                  type: number
                address:
                  type: string
                address2:
                  type:
                  - string
                  - 'null'
                city:
                  type: string
                zip:
                  type:
                  - string
                  - 'null'
                country:
                  type: string
                  x-convert:
                    trim: true
                state:
                  type:
                  - string
                  - 'null'
                  x-convert:
                    trim: true
                phone:
                  type:
                  - string
                  - 'null'
                description:
                  type:
                  - string
                  - 'null'
                isSelfPickup:
                  type: boolean
                isSignatureRequired:
                  type: boolean
              required:
              - name
              - siteId
              - address
              - city
              - country
  /orgs/{orgId}/mailrooms/{mailroomId}:
    get:
      summary: Describe a mailroom
      operationId: describeMailroom
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: describeMailroom'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: mailroomId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      site:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      address:
                        type: string
                      address2:
                        type:
                        - string
                        - 'null'
                      city:
                        type: string
                      state:
                        type:
                        - string
                        - 'null'
                      zip:
                        type:
                        - string
                        - 'null'
                      country:
                        type: string
                      phone:
                        type:
                        - string
                        - 'null'
                      description:
                        type:
                        - string
                        - 'null'
                      timezone:
                        type: string
                      isSelfPickup:
                        type: boolean
                        default: false
                      isSignatureRequired:
                        type: boolean
                        default: false
                    required:
                    - id
                    - name
                    - address
                    - city
                    - country
                    - timezone
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
    delete:
      summary: Delete a mailroom
      operationId: deleteMailroom
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: deleteMailroom'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: mailroomId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
    patch:
      summary: Update a mailroom
      operationId: updateMailroom
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:w,o:w,s-o:w


        __Endpoint name__: updateMailroom'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: mailroomId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      site:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      address:
                        type: string
                      address2:
                        type:
                        - string
                        - 'null'
                      city:
                        type: string
                      state:
                        type:
                        - string
                        - 'null'
                      zip:
                        type:
                        - string
                        - 'null'
                      country:
                        type: string
                      phone:
                        type:
                        - string
                        - 'null'
                      description:
                        type:
                        - string
                        - 'null'
                      timezone:
                        type: string
                      isSelfPickup:
                        type: boolean
                        default: false
                      isSignatureRequired:
                        type: boolean
                        default: false
                    required:
                    - id
                    - name
                    - address
                    - city
                    - country
                    - timezone
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                siteId:
                  type: number
                address:
                  type: string
                address2:
                  type:
                  - string
                  - 'null'
                city:
                  type: string
                zip:
                  type:
                  - string
                  - 'null'
                country:
                  type: string
                  x-convert:
                    trim: true
                state:
                  type:
                  - string
                  - 'null'
                  x-convert:
                    trim: true
                phone:
                  type:
                  - string
                  - 'null'
                description:
                  type:
                  - string
                  - 'null'
                isSelfPickup:
                  type: boolean
                isSignatureRequired:
                  type: boolean
  /orgs/{orgId}/mailrooms/statistics:
    get:
      summary: Get all mailroom statistics
      operationId: describeAllMailroomStatistics
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: describeAllMailroomStatistics'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scannedCount:
                        type: number
                      pickedUpCount:
                        type: number
                      awaitingPickupCount:
                        type: number
                      averagePickupTime:
                        type: number
                      timeSince:
                        type: string
                        format: date
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
  /orgs/{orgId}/mailrooms/{mailroomId}/statistics:
    get:
      summary: Get single mailroom statistics
      operationId: describeMailroomStatistics
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-parcelMgmtParcels:r,o{params.orgId}-parcelMgmtParcels:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: describeMailroomStatistics'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: mailroomId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      scannedCount:
                        type: number
                      pickedUpCount:
                        type: number
                      awaitingPickupCount:
                        type: number
                      averagePickupTime:
                        type: number
                      timeSince:
                        type: string
                        format: date
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-parcelMgmtParcels:r
      - o{params.orgId}-parcelMgmtParcels:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
  /orgs/{orgId}/mailrooms/cancel:
    delete:
      summary: Cancel mailroom
      operationId: cancelMailroom
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o:w,s-o:w


        __Endpoint name__: cancelMailroom'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mailrooms
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o:w
      - s-o:w
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
