openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/credentials API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/credentials
paths:
  /orgs/{orgId}/credentials:
    get:
      summary: List all credentials from all users within the org
      operationId: listOrgCredentials
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-credential:w,o{params.orgId}-credential:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-rptGeneral:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listOrgCredentials'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
      tags:
      - orgs/credentials
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        startDate:
                          type:
                          - string
                          - 'null'
                          format: date
                        endDate:
                          type:
                          - string
                          - 'null'
                          format: date
                        credentialType:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            modelName:
                              type: string
                          required:
                          - id
                        mobile:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type:
                              - string
                              - 'null'
                            provisionedAt:
                              type:
                              - string
                              - 'null'
                              format: date
                            httpUserAgent:
                              type:
                              - string
                              - 'null'
                            version:
                              type:
                              - string
                              - 'null'
                            build:
                              type:
                              - number
                              - 'null'
                            os:
                              type:
                              - string
                              - 'null'
                            hasSetupMobileToken:
                              type: boolean
                            userIotCert:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                awsIotCertArn:
                                  type: string
                                certOpal:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                        eventAction:
                          type:
                          - object
                          - 'null'
                          properties:
                            credentialId:
                              type: number
                            command:
                              type: string
                              enum:
                              - triggerLockdown
                              - revertLockdown
                              - unlockWithOverride
                            targetId:
                              type:
                              - number
                              - 'null'
                          required:
                          - command
                        pincode:
                          type: object
                          properties:
                            id:
                              type: number
                            number:
                              type: string
                          required:
                          - id
                        card:
                          type: object
                          properties:
                            id:
                              type: number
                            number:
                              type: string
                            numBits:
                              type: integer
                            isOutputEnabled:
                              type: boolean
                            cardFormat:
                              type: object
                              properties:
                                id:
                                  type: integer
                                code:
                                  type: string
                                numBits:
                                  type: integer
                              required:
                              - id
                            facilityCode:
                              type:
                              - string
                              - 'null'
                              pattern: ^[0-9]+$
                            cardId:
                              type:
                              - string
                              - 'null'
                              pattern: ^[0-9]+$
                            fields:
                              type:
                              - object
                              - 'null'
                              properties:
                                rcm:
                                  type: string
                                  pattern: ^[0-9]+$
                                facilityCode:
                                  type: string
                                  pattern: ^[0-9]+$
                                issueLevel:
                                  type: string
                                  pattern: ^[0-9]+$
                                cardId:
                                  type: string
                                  pattern: ^[0-9]+$
                                companyId:
                                  type: string
                                  pattern: ^[0-9]+$
                                companyCode:
                                  type: string
                                  pattern: ^[0-9]+$
                                siteCode:
                                  type: string
                                  pattern: ^[0-9]+$
                                oem:
                                  type: string
                                  pattern: ^[0-9]+$
                          required:
                          - id
                        cardMifareCsn:
                          type: object
                          properties:
                            id:
                              type: number
                            number:
                              type: string
                          required:
                          - id
                        cardOpenpathDesfireEv1:
                          type: object
                          properties:
                            id:
                              type: number
                            number:
                              type: string
                            noTourCredentialCommands:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  command:
                                    type: string
                                    enum:
                                    - ADD
                                    - DEL
                                  fobAllegionId:
                                    type:
                                    - integer
                                    - 'null'
                                  cardOpenpathDesfireEv1Id:
                                    type:
                                    - integer
                                    - 'null'
                                  allegionMobileId:
                                    type:
                                    - integer
                                    - 'null'
                                  wirelessLock:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      manufacturer:
                                        type: string
                                      model:
                                        type: string
                                      serialNumber:
                                        type:
                                        - string
                                        - 'null'
                                      idExt:
                                        type:
                                        - string
                                        - 'null'
                                      lastConnectedAt:
                                        type:
                                        - string
                                        - 'null'
                                        format: date
                                      doorFileLastSyncedAt:
                                        type:
                                        - string
                                        - 'null'
                                        format: date
                                      auditsLastSyncedAt:
                                        type:
                                        - string
                                        - 'null'
                                        format: date
                                      linkId:
                                        type:
                                        - string
                                        - 'null'
                                      config:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          battV:
                                            type: object
                                            properties:
                                              main:
                                                type: string
                                              li:
                                                type: string
                                          fwVer:
                                            type: object
                                            properties:
                                              lock:
                                                type: string
                                              main:
                                                type: string
                                              mainBl:
                                                type: string
                                              credRdr:
                                                type: string
                                              credRdrBl:
                                                type: string
                                              ble:
                                                type: string
                                              wifi:
                                                type: string
                                              macAdr:
                                                type: string
                                              recoveryFwVer:
                                                type: string
                                          lockPrmtrs:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                minLength: 1
                                                maxLength: 52
                                              type:
                                                type: string
                                                enum:
                                                - strm
                                                - office
                                                - apt
                                                - prvcy
                                              relock:
                                                type: integer
                                                minimum: 0
                                                maximum: 30
                                              lockId:
                                                type: integer
                                              doorProp:
                                                type: integer
                                                minimum: 1
                                                maximum: 255
                                              ada:
                                                type: integer
                                                minimum: 1
                                                maximum: 255
                                              firstManIn:
                                                type: integer
                                                enum:
                                                - 0
                                                - 1
                                              battFail:
                                                type: string
                                                enum:
                                                - asIs
                                                - safe
                                                - sec
                                              blinkIntLed:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rapidBlink:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              dstEnable:
                                                type: integer
                                                enum:
                                                - 0
                                                - 1
                                              dstStart:
                                                type: string
                                                x-constraint:
                                                  length: 4
                                                x-convert:
                                                  case: lower
                                              dstEnd:
                                                type: string
                                                x-constraint:
                                                  length: 4
                                                x-convert:
                                                  case: lower
                                              rtcTime:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                              wifiAlertEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              wifiAlertSel:
                                                type: array
                                                items:
                                                  type: string
                                                  x-constraint:
                                                    length: 6
                                              fwUrl:
                                                type: string
                                                maxLength: 64
                                              fwDwnldTm:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                              fwImplTm:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                              dpsEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              bleCredEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              bleCredRng:
                                                type: string
                                                enum:
                                                - short
                                                - long
                                              blePerf:
                                                type: string
                                                enum:
                                                - norm
                                                - max
                                              invCrdAudEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              wifiDwnldRtyTmIntv:
                                                type: integer
                                                minimum: 5
                                                maximum: 1440
                                              wifiDwnldRtyCnt:
                                                type: integer
                                                minimum: 1
                                                maximum: 250
                                              auditIDEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              blkCnstr:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              mdl:
                                                type: string
                                              lckMode:
                                                type: string
                                              lckSn:
                                                type: string
                                              mainSn:
                                                type: string
                                              hwVer:
                                                type: string
                                              daysInUse:
                                                type: integer
                                              mfgDt:
                                                type: string
                                              dbDwnldTm:
                                                type: string
                                              fwImpTm:
                                                type: string
                                              nxtDbVerTS:
                                                type: string
                                              hwCfg:
                                                type: string
                                              dbUpdateStatus:
                                                type: integer
                                              wtyAct:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                                x-alternatives:
                                                - type: string
                                                  x-constraint:
                                                    length: 14
                                                - type: string
                                                  enum:
                                                  - unknown
                                              numCycles:
                                                type: integer
                                          rdrPrmtrs:
                                            type: object
                                            properties:
                                              bprEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rdrSense:
                                                type: string
                                                enum:
                                                - norm
                                                - high
                                                - max
                                              proxConfHID:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfGECASI:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfGE4001:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfGE4002:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfAWID:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              uid14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              mi14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              mip14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              noc14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              uid15693:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              iClsUID40b:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              iClsFrmt:
                                                type: string
                                                enum:
                                                - disbld
                                                - 64bCSN
                                              daysInUse:
                                                type: integer
                                              sn:
                                                type: string
                                              hwVer:
                                                type: string
                                              mfgDt:
                                                type: string
                                              configCrdPrsntd:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              customKeyPrsntd:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                          dvcProfile:
                                            type: object
                                            properties:
                                              baseType:
                                                type: string
                                              ext:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    key:
                                                      type: string
                                                    value:
                                                      type: integer
                                                      enum:
                                                      - 1
                                                      - 0
                                      status:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          lockStatus:
                                            type: object
                                            properties:
                                              currentLockState:
                                                type: string
                                          sensorStatus:
                                            type: object
                                            properties:
                                              locked:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              auxPosition:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              alarmPosition:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              lockClutched:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              primaryBatteryStatus:
                                                type: string
                                              rtcBatteryStatus:
                                                type: string
                                              rtccStatus:
                                                type: string
                                              doorOpen:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ipbActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rexActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              renActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              relActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              deadBoltExtended:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              keyOverrideActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              fdrActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              tamperOpen:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              magTamperDetected:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rdrTamperDetected:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ttl1Active:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ttl2Active:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              bprActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ledActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                      noTourLockId:
                                        type:
                                        - integer
                                        - 'null'
                                        minimum: 0
                                        maximum: 65535
                                      commStatus:
                                        type:
                                        - string
                                        - 'null'
                                      batteryLevel:
                                        type:
                                        - number
                                        - 'null'
                                      isOffline:
                                        type: boolean
                                      thirdPartyDeviceId:
                                        type:
                                        - integer
                                        - 'null'
                                      thirdPartyDevice:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: integer
                                          assignedOrg:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              name:
                                                type: string
                                            required:
                                            - id
                                          serialNumber:
                                            type: string
                                          isOpSourced:
                                            type: boolean
                                          orderName:
                                            type:
                                            - string
                                            - 'null'
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          thirdPartyDeviceType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              manufacturerName:
                                                type: string
                                              hardwareModel:
                                                type: string
                                              description:
                                                type: string
                                              dbModelName:
                                                type: string
                                              createdAt:
                                                type: string
                                                format: date
                                              updatedAt:
                                                type: string
                                                format: date
                                            required:
                                            - id
                                        required:
                                        - id
                                      acuId:
                                        type:
                                        - integer
                                        - 'null'
                                      acu:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: integer
                                          opal:
                                            type: string
                                          locationRestriction:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              id:
                                                type: number
                                              allowedDistanceMeters:
                                                type: number
                                              scaleFactor:
                                                type: number
                                              locationMeasurement:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  longitude:
                                                    type: number
                                                  latitude:
                                                    type: number
                                                  accuracyMeters:
                                                    type:
                                                    - number
                                                    - 'null'
                                                  timeZoneId:
                                                    type:
                                                    - string
                                                    - 'null'
                                                  locationMeasurementSourceType:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: number
                                                      name:
                                                        type: string
                                                      code:
                                                        type: string
                                                    required:
                                                    - id
                                                  rawData:
                                                    type: object
                                                required:
                                                - id
                                        required:
                                        - id
                                      virtualAcuId:
                                        type:
                                        - integer
                                        - 'null'
                                      wirelessLockGatewayId:
                                        type:
                                        - integer
                                        - 'null'
                                      wirelessLockGateway:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          manufacturer:
                                            type: string
                                          serialNumber:
                                            type: string
                                          model:
                                            type: string
                                          lastConnectedAt:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          lastDisconnectedAt:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          isLive:
                                            type:
                                            - boolean
                                            - 'null'
                                          idExt:
                                            type: string
                                          authKey:
                                            type:
                                            - string
                                            - 'null'
                                          acuId:
                                            type: integer
                                          acu:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              opal:
                                                type: string
                                              locationRestriction:
                                                type:
                                                - object
                                                - 'null'
                                                properties:
                                                  id:
                                                    type: number
                                                  allowedDistanceMeters:
                                                    type: number
                                                  scaleFactor:
                                                    type: number
                                                  locationMeasurement:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: number
                                                      longitude:
                                                        type: number
                                                      latitude:
                                                        type: number
                                                      accuracyMeters:
                                                        type:
                                                        - number
                                                        - 'null'
                                                      timeZoneId:
                                                        type:
                                                        - string
                                                        - 'null'
                                                      locationMeasurementSourceType:
                                                        type: object
                                                        properties:
                                                          id:
                                                            type: number
                                                          name:
                                                            type: string
                                                          code:
                                                            type: string
                                                        required:
                                                        - id
                                                      rawData:
                                                        type: object
                                                    required:
                                                    - id
                                            required:
                                            - id
                                          config:
                                            type:
                                            - object
                                            - 'null'
                                          thirdPartyDeviceId:
                                            type: integer
                                          thirdPartyDevice:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              assignedOrg:
                                                type: object
                                                properties:
                                                  id:
                                                    type: integer
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                              serialNumber:
                                                type: string
                                              isOpSourced:
                                                type: boolean
                                              orderName:
                                                type:
                                                - string
                                                - 'null'
                                              createdAt:
                                                type: string
                                                format: date
                                              updatedAt:
                                                type: string
                                                format: date
                                              thirdPartyDeviceType:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  manufacturerName:
                                                    type: string
                                                  hardwareModel:
                                                    type: string
                                                  description:
                                                    type: string
                                                  dbModelName:
                                                    type: string
                                                  createdAt:
                                                    type: string
                                                    format: date
                                                  updatedAt:
                                                    type: string
                                                    format: date
                                                required:
                                                - id
                                            required:
                                            - id
                                          wirelessLockCount:
                                            type: integer
                                            default: 0
                                          wirelessLockProvider:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              siteIdExt:
                                                type:
                                                - string
                                                - 'null'
                                              siteAuthKey:
                                                type:
                                                - string
                                                - 'null'
                                              createdAt:
                                                type: string
                                                format: date
                                              updatedAt:
                                                type: string
                                                format: date
                                              orgId:
                                                type: number
                                              wirelessLockProviderType:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                            required:
                                            - id
                                          wirelessLockProviderId:
                                            type: integer
                                        required:
                                        - id
                                      wirelessLockProviderId:
                                        type: integer
                                      wirelessGatewayId:
                                        type:
                                        - integer
                                        - 'null'
                                      wirelessGateway:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          manufacturer:
                                            type: string
                                          serialNumber:
                                            type: string
                                          model:
                                            type: string
                                          lastConnectedAt:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          lastDisconnectedAt:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          isLive:
                                            type:
                                            - boolean
                                            - 'null'
                                          idExt:
                                            type: string
                                          authKey:
                                            type:
                                            - string
                                            - 'null'
                                          acuId:
                                            type: integer
                                          acu:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              opal:
                                                type: string
                                              locationRestriction:
                                                type:
                                                - object
                                                - 'null'
                                                properties:
                                                  id:
                                                    type: number
                                                  allowedDistanceMeters:
                                                    type: number
                                                  scaleFactor:
                                                    type: number
                                                  locationMeasurement:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: number
                                                      longitude:
                                                        type: number
                                                      latitude:
                                                        type: number
                                                      accuracyMeters:
                                                        type:
                                                        - number
                                                        - 'null'
                                                      timeZoneId:
                                                        type:
                                                        - string
                                                        - 'null'
                                                      locationMeasurementSourceType:
                                                        type: object
                                                        properties:
                                                          id:
                                                            type: number
                                                          name:
                                                            type: string
                                                          code:
                                                            type: string
                                                        required:
                                                        - id
                                                      rawData:
                                                        type: object
                                                    required:
                                                    - id
                                            required:
                                            - id
                                          config:
                                            type:
                                            - object
                                            - 'null'
                                          thirdPartyDeviceId:
                                            type: integer
                                          thirdPartyDevice:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              assignedOrg:
                                                type: object
                                                properties:
                                                  id:
                                                    type: integer
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                              serialNumber:
                                                type: string
                                              isOpSourced:
                                                type: boolean
                                              orderName:
                                                type:
                                                - string
                                                - 'null'
                                              createdAt:
                                                type: string
                                                format: date
                                              updatedAt:
                                                type: string
                                                format: date
                                              thirdPartyDeviceType:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  manufacturerName:
                                                    type: string
                                                  hardwareModel:
                                                    type: string
                                                  description:
                                                    type: string
                                                  dbModelName:
                                                    type: string
                                                  createdAt:
                                                    type: string
                                                    format: date
                                                  updatedAt:
                                                    type: string
                                                    format: date
                                                required:
                                                - id
                                            required:
                                            - id
                                          wirelessLockCount:
                                            type: integer
                                            default: 0
                                          wirelessLockProvider:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              siteIdExt:
                                                type:
                                                - string
                                                - 'null'
                                              siteAuthKey:
                                                type:
                                                - string
                                                - 'null'
                                              createdAt:
                                                type: string
                                                format: date
                                              updatedAt:
                                                type: string
                                                format: date
                                              orgId:
                                                type: number
                                              wirelessLockProviderType:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                            required:
                                            - id
                                          wirelessLockProviderId:
                                            type: integer
                                        required:
                                        - id
                                      wirelessLockProvider:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          siteIdExt:
                                            type:
                                            - string
                                            - 'null'
                                          siteAuthKey:
                                            type:
                                            - string
                                            - 'null'
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          orgId:
                                            type: number
                                          wirelessLockProviderType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                            required:
                                            - id
                                        required:
                                        - id
                                      entry:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          zone:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                              site:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  name:
                                                    type: string
                                                required:
                                                - id
                                            required:
                                            - id
                                        required:
                                        - id
                                      allegionWirelessLock:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          auditsLastSyncedAt:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          batteryLevel:
                                            type:
                                            - number
                                            - 'null'
                                          commStatus:
                                            type:
                                            - string
                                            - 'null'
                                          config:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              battV:
                                                type: object
                                                properties:
                                                  main:
                                                    type: string
                                                  li:
                                                    type: string
                                              fwVer:
                                                type: object
                                                properties:
                                                  lock:
                                                    type: string
                                                  main:
                                                    type: string
                                                  mainBl:
                                                    type: string
                                                  credRdr:
                                                    type: string
                                                  credRdrBl:
                                                    type: string
                                                  ble:
                                                    type: string
                                                  wifi:
                                                    type: string
                                                  macAdr:
                                                    type: string
                                                  recoveryFwVer:
                                                    type: string
                                              lockPrmtrs:
                                                type: object
                                                properties:
                                                  name:
                                                    type: string
                                                    minLength: 1
                                                    maxLength: 52
                                                  type:
                                                    type: string
                                                    enum:
                                                    - strm
                                                    - office
                                                    - apt
                                                    - prvcy
                                                  relock:
                                                    type: integer
                                                    minimum: 0
                                                    maximum: 30
                                                  lockId:
                                                    type: integer
                                                  doorProp:
                                                    type: integer
                                                    minimum: 1
                                                    maximum: 255
                                                  ada:
                                                    type: integer
                                                    minimum: 1
                                                    maximum: 255
                                                  firstManIn:
                                                    type: integer
                                                    enum:
                                                    - 0
                                                    - 1
                                                  battFail:
                                                    type: string
                                                    enum:
                                                    - asIs
                                                    - safe
                                                    - sec
                                                  blinkIntLed:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  rapidBlink:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  dstEnable:
                                                    type: integer
                                                    enum:
                                                    - 0
                                                    - 1
                                                  dstStart:
                                                    type: string
                                                    x-constraint:
                                                      length: 4
                                                    x-convert:
                                                      case: lower
                                                  dstEnd:
                                                    type: string
                                                    x-constraint:
                                                      length: 4
                                                    x-convert:
                                                      case: lower
                                                  rtcTime:
                                                    type: string
                                                    x-constraint:
                                                      length: 14
                                                  wifiAlertEn:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  wifiAlertSel:
                                                    type: array
                                                    items:
                                                      type: string
                                                      x-constraint:
                                                        length: 6
                                                  fwUrl:
                                                    type: string
                                                    maxLength: 64
                                                  fwDwnldTm:
                                                    type: string
                                                    x-constraint:
                                                      length: 14
                                                  fwImplTm:
                                                    type: string
                                                    x-constraint:
                                                      length: 14
                                                  dpsEn:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  bleCredEn:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  bleCredRng:
                                                    type: string
                                                    enum:
                                                    - short
                                                    - long
                                                  blePerf:
                                                    type: string
                                                    enum:
                                                    - norm
                                                    - max
                                                  invCrdAudEn:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  wifiDwnldRtyTmIntv:
                                                    type: integer
                                                    minimum: 5
                                                    maximum: 1440
                                                  wifiDwnldRtyCnt:
                                                    type: integer
                                                    minimum: 1
                                                    maximum: 250
                                                  auditIDEn:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  blkCnstr:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  mdl:
                                                    type: string
                                                  lckMode:
                                                    type: string
                                                  lckSn:
                                                    type: string
                                                  mainSn:
                                                    type: string
                                                  hwVer:
                                                    type: string
                                                  daysInUse:
                                                    type: integer
                                                  mfgDt:
                                                    type: string
                                                  dbDwnldTm:
                                                    type: string
                                                  fwImpTm:
                                                    type: string
                                                  nxtDbVerTS:
                                                    type: string
                                                  hwCfg:
                                                    type: string
                                                  dbUpdateStatus:
                                                    type: integer
                                                  wtyAct:
                                                    type: string
                                                    x-constraint:
                                                      length: 14
                                                    x-alternatives:
                                                    - type: string
                                                      x-constraint:
                                                        length: 14
                                                    - type: string
                                                      enum:
                                                      - unknown
                                                  numCycles:
                                                    type: integer
                                              rdrPrmtrs:
                                                type: object
                                                properties:
                                                  bprEn:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  rdrSense:
                                                    type: string
                                                    enum:
                                                    - norm
                                                    - high
                                                    - max
                                                  proxConfHID:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  proxConfGECASI:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  proxConfGE4001:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  proxConfGE4002:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  proxConfAWID:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  uid14443:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  mi14443:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  mip14443:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  noc14443:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  uid15693:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  iClsUID40b:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  iClsFrmt:
                                                    type: string
                                                    enum:
                                                    - disbld
                                                    - 64bCSN
                                                  daysInUse:
                                                    type: integer
                                                  sn:
                                                    type: string
                                                  hwVer:
                                                    type: string
                                                  mfgDt:
                                                    type: string
                                                  configCrdPrsntd:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  customKeyPrsntd:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                              dvcProfile:
                                                type: object
                                                properties:
                                                  baseType:
                                                    type: string
                                                  ext:
                                                    type: array
                                                    items:
                                                      type: object
                                                      properties:
                                                        key:
                                                          type: string
                                                        value:
                                                          type: integer
                                                          enum:
                                                          - 1
                                                          - 0
                                          doorFileLastSyncedAt:
                                            type:
                                            - string
                                            - 'null'
                                            format: date
                                          id:
                                            type: number
                                          idExt:
                                            type:
                                            - string
                                            - 'null'
                                          linkId:
                                            type:
                                            - string
                                            - 'null'
                                          noTourLockId:
                                            type:
                                            - number
                                            - 'null'
                                          status:
                                            type:
                                            - object
                                            - 'null'
                                            properties:
                                              lockStatus:
                                                type: object
                                                properties:
                                                  currentLockState:
                                                    type: string
                                              sensorStatus:
                                                type: object
                                                properties:
                                                  locked:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  auxPosition:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  alarmPosition:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  lockClutched:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  primaryBatteryStatus:
                                                    type: string
                                                  rtcBatteryStatus:
                                                    type: string
                                                  rtccStatus:
                                                    type: string
                                                  doorOpen:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  ipbActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  rexActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  renActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  relActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  deadBoltExtended:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  keyOverrideActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  fdrActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  tamperOpen:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  magTamperDetected:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  rdrTamperDetected:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  ttl1Active:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  ttl2Active:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  bprActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                                  ledActive:
                                                    type: string
                                                    enum:
                                                    - T
                                                    - F
                                        required:
                                        - id
                                      avigilonWirelessLock:
                                        type:
                                        - object
                                        - 'null'
                                        properties:
                                          id:
                                            type: number
                                          formFactor:
                                            type:
                                            - string
                                            - 'null'
                                          keypadTimeout:
                                            type:
                                            - integer
                                            - 'null'
                                          keypadBrightness:
                                            type:
                                            - integer
                                            - 'null'
                                          timeOffset:
                                            type:
                                            - integer
                                            - 'null'
                                          dstEnabled:
                                            type: boolean
                                            default: false
                                          networkConfig:
                                            type:
                                            - object
                                            - 'null'
                                          firmwareVersions:
                                            type:
                                            - object
                                            - 'null'
                                          serialNumber:
                                            type:
                                            - string
                                            - 'null'
                                        required:
                                        - id
                                        - dstEnabled
[...]
