swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/wirelessGateways API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/wirelessGateways
paths:
  /orgs/{orgId}/wirelessGateways:
    get:
      summary: List all wireless gateways
      operationId: listWirelessGateways
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o{params.orgId}-hw:r,o{params.orgId}-dash:r,o{params.orgId}-dashEntry:r,o{params.orgId}-dashActivity:r,o{params.orgId}-acu:orgWirelessGateway-list:r,o:r,s-o:r<br/><br/>__Endpoint name__: listWirelessGateways'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: name
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    modelName:
                      type: string
                    modelId:
                      type: integer
                    lastConnectedAt:
                      type: string
                      format: date
                      x-nullable: true
                    lastDisconnectedAt:
                      type: string
                      format: date
                      x-nullable: true
                    isLive:
                      type: boolean
                      x-nullable: true
                    acuId:
                      type: integer
                    acu:
                      type: object
                      properties:
                        id:
                          type: integer
                        opal:
                          type: string
                        locationRestriction:
                          x-nullable: true
                          type: object
                          properties:
                            id:
                              type: number
                            allowedDistanceMeters:
                              type: number
                            scaleFactor:
                              type: number
                            locationMeasurement:
                              type: object
                              properties:
                                id:
                                  type: number
                                longitude:
                                  type: number
                                latitude:
                                  type: number
                                accuracyMeters:
                                  type: number
                                  x-nullable: true
                                timeZoneId:
                                  type: string
                                  x-nullable: true
                                locationMeasurementSourceType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                    code:
                                      type: string
                                  required:
                                  - id
                                rawData:
                                  type: object
                              required:
                              - id
                      required:
                      - id
                    config:
                      x-nullable: true
                      type: object
                    thirdPartyDeviceId:
                      type: integer
                      x-nullable: true
                    thirdPartyDevice:
                      type: object
                      properties:
                        id:
                          type: integer
                        assignedOrg:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                        serialNumber:
                          type: string
                        isOpSourced:
                          type: boolean
                        orderName:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        thirdPartyDeviceType:
                          type: object
                          properties:
                            id:
                              type: number
                            manufacturerName:
                              type: string
                            hardwareModel:
                              type: string
                            description:
                              type: string
                            dbModelName:
                              type: string
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                          required:
                          - id
                      required:
                      - id
                      x-nullable: true
                    wirelessLockCount:
                      type: integer
                      default: 0
                    wirelessLockProvider:
                      type: object
                      properties:
                        id:
                          type: number
                        siteIdExt:
                          type: string
                          x-nullable: true
                        siteAuthKey:
                          type: string
                          x-nullable: true
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        orgId:
                          type: number
                        wirelessLockProviderType:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      required:
                      - id
                    wirelessLockProviderId:
                      type: integer
                    allegionWirelessGateway:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                        idExt:
                          type: string
                        authKey:
                          type: string
                          x-nullable: true
                        config:
                          x-nullable: true
                          type: object
                        wirelessGatewayId:
                          type: integer
                      required:
                      - id
                    assaAbloyWirelessGateway:
                      x-nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                        config:
                          x-nullable: true
                          type: object
                        status:
                          type: string
                          x-nullable: true
                        activationStatus:
                          type: string
                        activatedAt:
                          type: string
                          format: date
                          x-nullable: true
                        macAddress:
                          type: string
                        wirelessGatewayId:
                          type: integer
                      required:
                      - id
                      - status
                      - activationStatus
                      - macAddress
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:r
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashEntry:r
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-acu:orgWirelessGateway-list:r
      - o:r
      - s-o:r
    post:
      summary: Create a wireless gateway
      operationId: createWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: createWirelessGateway'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            name:
              type: string
            manufacturer:
              type: string
              enum:
              - ALLEGION
              - ASSA ABLOY
            serialNumber:
              type: string
            model:
              type: string
            isLive:
              type: boolean
            wirelessLockProviderId:
              type: integer
            allegionWirelessGateway:
              x-nullable: true
              type: object
              properties:
                idExt:
                  type: string
                authKey:
                  type: string
                  x-nullable: true
                config:
                  x-nullable: true
                  type: object
            assaAbloyWirelessGateway:
              x-nullable: true
              type: object
              properties:
                acuId:
                  type: integer
                config:
                  x-nullable: true
                  type: object
                macAddress:
                  type: string
          required:
          - name
          - manufacturer
          - model
          - wirelessLockProviderId
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  modelName:
                    type: string
                  modelId:
                    type: integer
                  lastConnectedAt:
                    type: string
                    format: date
                    x-nullable: true
                  lastDisconnectedAt:
                    type: string
                    format: date
                    x-nullable: true
                  isLive:
                    type: boolean
                    x-nullable: true
                  acuId:
                    type: integer
                  acu:
                    type: object
                    properties:
                      id:
                        type: integer
                      opal:
                        type: string
                      locationRestriction:
                        x-nullable: true
                        type: object
                        properties:
                          id:
                            type: number
                          allowedDistanceMeters:
                            type: number
                          scaleFactor:
                            type: number
                          locationMeasurement:
                            type: object
                            properties:
                              id:
                                type: number
                              longitude:
                                type: number
                              latitude:
                                type: number
                              accuracyMeters:
                                type: number
                                x-nullable: true
                              timeZoneId:
                                type: string
                                x-nullable: true
                              locationMeasurementSourceType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  code:
                                    type: string
                                required:
                                - id
                              rawData:
                                type: object
                            required:
                            - id
                    required:
                    - id
                  config:
                    x-nullable: true
                    type: object
                  thirdPartyDeviceId:
                    type: integer
                    x-nullable: true
                  thirdPartyDevice:
                    type: object
                    properties:
                      id:
                        type: integer
                      assignedOrg:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      serialNumber:
                        type: string
                      isOpSourced:
                        type: boolean
                      orderName:
                        type: string
                        x-nullable: true
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      thirdPartyDeviceType:
                        type: object
                        properties:
                          id:
                            type: number
                          manufacturerName:
                            type: string
                          hardwareModel:
                            type: string
                          description:
                            type: string
                          dbModelName:
                            type: string
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                    required:
                    - id
                    x-nullable: true
                  wirelessLockCount:
                    type: integer
                    default: 0
                  wirelessLockProvider:
                    type: object
                    properties:
                      id:
                        type: number
                      siteIdExt:
                        type: string
                        x-nullable: true
                      siteAuthKey:
                        type: string
                        x-nullable: true
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      orgId:
                        type: number
                      wirelessLockProviderType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  wirelessLockProviderId:
                    type: integer
                  allegionWirelessGateway:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                      idExt:
                        type: string
                      authKey:
                        type: string
                        x-nullable: true
                      config:
                        x-nullable: true
                        type: object
                      wirelessGatewayId:
                        type: integer
                    required:
                    - id
                  assaAbloyWirelessGateway:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                      config:
                        x-nullable: true
                        type: object
                      status:
                        type: string
                        x-nullable: true
                      activationStatus:
                        type: string
                      activatedAt:
                        type: string
                        format: date
                        x-nullable: true
                      macAddress:
                        type: string
                      wirelessGatewayId:
                        type: integer
                    required:
                    - id
                    - status
                    - activationStatus
                    - macAddress
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}:
    get:
      summary: Describe a wireless gateway
      operationId: describeWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o:r,s-o:r<br/><br/>__Endpoint name__: describeWirelessGateway'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: wirelessGatewayId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  modelName:
                    type: string
                  modelId:
                    type: integer
                  lastConnectedAt:
                    type: string
                    format: date
                    x-nullable: true
                  lastDisconnectedAt:
                    type: string
                    format: date
                    x-nullable: true
                  isLive:
                    type: boolean
                    x-nullable: true
                  acuId:
                    type: integer
                  acu:
                    type: object
                    properties:
                      id:
                        type: integer
                      opal:
                        type: string
                      locationRestriction:
                        x-nullable: true
                        type: object
                        properties:
                          id:
                            type: number
                          allowedDistanceMeters:
                            type: number
                          scaleFactor:
                            type: number
                          locationMeasurement:
                            type: object
                            properties:
                              id:
                                type: number
                              longitude:
                                type: number
                              latitude:
                                type: number
                              accuracyMeters:
                                type: number
                                x-nullable: true
                              timeZoneId:
                                type: string
                                x-nullable: true
                              locationMeasurementSourceType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  code:
                                    type: string
                                required:
                                - id
                              rawData:
                                type: object
                            required:
                            - id
                    required:
                    - id
                  config:
                    x-nullable: true
                    type: object
                  thirdPartyDeviceId:
                    type: integer
                    x-nullable: true
                  thirdPartyDevice:
                    type: object
                    properties:
                      id:
                        type: integer
                      assignedOrg:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      serialNumber:
                        type: string
                      isOpSourced:
                        type: boolean
                      orderName:
                        type: string
                        x-nullable: true
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      thirdPartyDeviceType:
                        type: object
                        properties:
                          id:
                            type: number
                          manufacturerName:
                            type: string
                          hardwareModel:
                            type: string
                          description:
                            type: string
                          dbModelName:
                            type: string
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                        required:
                        - id
                    required:
                    - id
                    x-nullable: true
                  wirelessLockCount:
                    type: integer
                    default: 0
                  wirelessLockProvider:
                    type: object
                    properties:
                      id:
                        type: number
                      siteIdExt:
                        type: string
                        x-nullable: true
                      siteAuthKey:
                        type: string
                        x-nullable: true
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      orgId:
                        type: number
                      wirelessLockProviderType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  wirelessLockProviderId:
                    type: integer
                  allegionWirelessGateway:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                      idExt:
                        type: string
                      authKey:
                        type: string
                        x-nullable: true
                      config:
                        x-nullable: true
                        type: object
                      wirelessGatewayId:
                        type: integer
                    required:
                    - id
                  assaAbloyWirelessGateway:
                    x-nullable: true
                    type: object
                    properties:
                      id:
                        type: integer
                      config:
                        x-nullable: true
                        type: object
                      status:
                        type: string
                        x-nullable: true
                      activationStatus:
                        type: string
                      activatedAt:
                        type: string
                        format: date
                        x-nullable: true
                      macAddress:
                        type: string
                      wirelessGatewayId:
                        type: integer
                    required:
                    - id
                    - status
                    - activationStatus
                    - macAddress
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o:r
      - s-o:r
    delete:
      summary: Remove a wireless gateway
      operationId: deleteWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: deleteWirelessGateway'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: wirelessGatewayId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    patch:
      summary: Update a wireless gateway
      operationId: updateWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: updateWirelessGateway'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: wirelessGatewayId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            name:
              type: string
            lastConnectedAt:
              type: string
              format: date
            lastDisconnectedAt:
              type: string
              format: date
            isLive:
              type: boolean
            allegionWirelessGateway:
              x-nullable: true
              type: object
              properties:
                idExt:
                  type: string
                authKey:
                  type: string
                  x-nullable: true
                config:
                  x-nullable: true
                  type: object
            assaAbloyWirelessGateway:
              x-nullable: true
              type: object
              properties:
                config:
                  x-nullable: true
                  type: object
                status:
                  type: string
                  enum:
                  - discovered
                  - active
                  - error
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/updateFirmwareBatch:
    post:
      summary: Update the firmware for multiple wireless gateways to the latest version
      operationId: updateWirelessGatewayFirmwareBatch
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: updateWirelessGatewayFirmwareBatch'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: array
        minItems: 1
        items:
          type: integer
        collectionFormat: multi
        name: wirelessGatewayIds
        in: query
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Firmware update started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}/activate:
    post:
      summary: Activate an Assa Abloy wireless gateway hub
      operationId: activateWirelessGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: activateWirelessGateway'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: wirelessGatewayId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}/syncDevices:
    post:
      summary: Sync devices for a wireless gateway
      operationId: syncWirelessGatewayDevices
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: syncWirelessGatewayDevices'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: wirelessGatewayId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Gateway edge device sync started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessGateways/{wirelessGatewayId}/updateFirmware:
    post:
      summary: Update the firmware for a wireless gateway to a specific version
      operationId: updateWirelessGatewayFirmware
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w<br/><br/>__Endpoint name__: updateWirelessGatewayFirmware'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: wirelessGatewayId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/wirelessGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Firmware update started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
