openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/wiegands API
  version: 1.0.0
  description: Wiegand controls
servers:
- url: https://api.openpath.com
tags:
- name: orgs/wiegands
  description: Wiegand controls
paths:
  /orgs/{orgId}/wiegands:
    get:
      summary: List all wiegands
      operationId: listWiegands
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-quickStart:w,o{params.orgId}-quickStart:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listWiegands'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/wiegands
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        isExit:
                          type: boolean
                        mode:
                          type: string
                          enum:
                          - input
                          - output
                        isPassThroughEnabled:
                          type: boolean
                        defaultCardNumber:
                          type:
                          - string
                          - 'null'
                        defaultCardNumBits:
                          type:
                          - integer
                          - 'null'
                        acuPort:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            acuPortTypePortNumber:
                              type: number
                            virtualPortNumber:
                              type:
                              - number
                              - 'null'
                            portNumber:
                              type:
                              - number
                              - 'null'
                            label:
                              type: string
                            acu:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            expansionBoard:
                              type: object
                              properties:
                                id:
                                  type: number
                                number:
                                  type: integer
                              required:
                              - id
                            eol:
                              type:
                              - object
                              - 'null'
                              properties:
                                eolSupervision:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                          required:
                          - id
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-quickStart:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/wiegands/{wiegandId}:
    get:
      summary: Describe a wiegand
      operationId: describeWiegand
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeWiegand'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wiegandId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wiegands
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      isExit:
                        type: boolean
                      mode:
                        type: string
                        enum:
                        - input
                        - output
                      isPassThroughEnabled:
                        type: boolean
                      defaultCardNumber:
                        type:
                        - string
                        - 'null'
                      defaultCardNumBits:
                        type:
                        - integer
                        - 'null'
                      acuPort:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          acuPortTypePortNumber:
                            type: number
                          virtualPortNumber:
                            type:
                            - number
                            - 'null'
                          portNumber:
                            type:
                            - number
                            - 'null'
                          label:
                            type: string
                          acu:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                          expansionBoard:
                            type: object
                            properties:
                              id:
                                type: number
                              number:
                                type: integer
                            required:
                            - id
                          eol:
                            type:
                            - object
                            - 'null'
                            properties:
                              eolSupervision:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                        required:
                        - id
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    patch:
      summary: Update a wiegand
      operationId: updateWiegand
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o:w,s-o:w


        __Endpoint name__: updateWiegand'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wiegandId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wiegands
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                isExit:
                  type: boolean
                mode:
                  type: string
                  enum:
                  - input
                  - output
                isPassThroughEnabled:
                  type: boolean
                defaultCardNumber:
                  type:
                  - string
                  - 'null'
                  pattern: ^[0-9]+$
                defaultCardFormatId:
                  type:
                  - integer
                  - 'null'
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
