openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/trigger Permissions Change…
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/triggerPermissionsChange
paths:
  /orgs/{orgId}/triggerPermissionsChange:
    post:
      summary: Trigger immediate entry permission recalculation & broadcast
      operationId: triggerPermissionsChange
      description: 'This API forces the immediate recalculation and broadcast of all entry permissions for the specified org. Do not repeatedly call this for regular permissions recalculations.


        This API request is often called once after a series of x-op-triggers:bypass header related permission change API calls.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o:w,s-o:w


        __Endpoint name__: triggerPermissionsChange'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/triggerPermissionsChange
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includeZoneShares:
                  type: boolean
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
