openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/entries API
  version: 1.0.0
  description: Entries and Entry Hardware
servers:
- url: https://api.openpath.com
tags:
- name: orgs/entries
  description: Entries and Entry Hardware
paths:
  /orgs/{orgId}/entries:
    get:
      summary: List all entries
      operationId: listEntries
      description: 'Possible comma separated values for the options parameter include: withEffectiveLocationRestriction. The withEffectiveLocationRestriction option causes current effective location restriction to be included in the response. Only entries with an effective location restriction include this object.


        __JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-rpt:w,o{params.orgId}-rpt:r,o{params.orgId}-rptGeneral:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-entryAccessAudit:w,o{params.orgId}-entryAccessAudit:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-configurations:w,o{params.orgId}-configurations:r,o{params.orgId}-account:w,o{params.orgId}-account:r,o{params.orgId}-outboundWebhooks:w,o{params.orgId}-outboundWebhooks:r,o{params.orgId}-musterReport:w,o{params.orgId}-musterReport:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listEntries'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          pattern: ^((withEffectiveLocationRestriction)(,|$))*$
      tags:
      - orgs/entries
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  cursors:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - integer
                        - 'null'
                        x-alternatives:
                        - type:
                          - integer
                          - 'null'
                        - type:
                          - string
                          - 'null'
                          pattern: ^[a-zA-Z0-9,@._~-]+$
                      hasNextPage:
                        type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        opal:
                          type: string
                        name:
                          type: string
                        isPincodeEnabled:
                          type: boolean
                        pincode:
                          type:
                          - string
                          - 'null'
                        acu:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            isGatewayMode:
                              type:
                              - boolean
                              - 'null'
                          required:
                          - id
                        wirelessLock:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            manufacturer:
                              type: string
                            model:
                              type: string
                            serialNumber:
                              type:
                              - string
                              - 'null'
                            idExt:
                              type:
                              - string
                              - 'null'
                            lastConnectedAt:
                              type:
                              - string
                              - 'null'
                              format: date
                            linkId:
                              type:
                              - string
                              - 'null'
                            config:
                              type:
                              - object
                              - 'null'
                              properties:
                                battV:
                                  type: object
                                  properties:
                                    main:
                                      type: string
                                    li:
                                      type: string
                                fwVer:
                                  type: object
                                  properties:
                                    lock:
                                      type: string
                                    main:
                                      type: string
                                    mainBl:
                                      type: string
                                    credRdr:
                                      type: string
                                    credRdrBl:
                                      type: string
                                    ble:
                                      type: string
                                    wifi:
                                      type: string
                                    macAdr:
                                      type: string
                                    recoveryFwVer:
                                      type: string
                                lockPrmtrs:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                      minLength: 1
                                      maxLength: 52
                                    type:
                                      type: string
                                      enum:
                                      - strm
                                      - office
                                      - apt
                                      - prvcy
                                    relock:
                                      type: integer
                                      minimum: 0
                                      maximum: 30
                                    lockId:
                                      type: integer
                                    doorProp:
                                      type: integer
                                      minimum: 1
                                      maximum: 255
                                    ada:
                                      type: integer
                                      minimum: 1
                                      maximum: 255
                                    firstManIn:
                                      type: integer
                                      enum:
                                      - 0
                                      - 1
                                    battFail:
                                      type: string
                                      enum:
                                      - asIs
                                      - safe
                                      - sec
                                    blinkIntLed:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rapidBlink:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    dstEnable:
                                      type: integer
                                      enum:
                                      - 0
                                      - 1
                                    dstStart:
                                      type: string
                                      x-constraint:
                                        length: 4
                                      x-convert:
                                        case: lower
                                    dstEnd:
                                      type: string
                                      x-constraint:
                                        length: 4
                                      x-convert:
                                        case: lower
                                    rtcTime:
                                      type: string
                                      x-constraint:
                                        length: 14
                                    wifiAlertEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    wifiAlertSel:
                                      type: array
                                      items:
                                        type: string
                                        x-constraint:
                                          length: 6
                                    fwUrl:
                                      type: string
                                      maxLength: 64
                                    fwDwnldTm:
                                      type: string
                                      x-constraint:
                                        length: 14
                                    fwImplTm:
                                      type: string
                                      x-constraint:
                                        length: 14
                                    dpsEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    bleCredEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    bleCredRng:
                                      type: string
                                      enum:
                                      - short
                                      - long
                                    blePerf:
                                      type: string
                                      enum:
                                      - norm
                                      - max
                                    invCrdAudEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    wifiDwnldRtyTmIntv:
                                      type: integer
                                      minimum: 5
                                      maximum: 1440
                                    wifiDwnldRtyCnt:
                                      type: integer
                                      minimum: 1
                                      maximum: 250
                                    auditIDEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    blkCnstr:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    mdl:
                                      type: string
                                    lckMode:
                                      type: string
                                    lckSn:
                                      type: string
                                    mainSn:
                                      type: string
                                    hwVer:
                                      type: string
                                    daysInUse:
                                      type: integer
                                    mfgDt:
                                      type: string
                                    dbDwnldTm:
                                      type: string
                                    fwImpTm:
                                      type: string
                                    nxtDbVerTS:
                                      type: string
                                    hwCfg:
                                      type: string
                                    dbUpdateStatus:
                                      type: integer
                                    wtyAct:
                                      type: string
                                      x-constraint:
                                        length: 14
                                      x-alternatives:
                                      - type: string
                                        x-constraint:
                                          length: 14
                                      - type: string
                                        enum:
                                        - unknown
                                    numCycles:
                                      type: integer
                                rdrPrmtrs:
                                  type: object
                                  properties:
                                    bprEn:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rdrSense:
                                      type: string
                                      enum:
                                      - norm
                                      - high
                                      - max
                                    proxConfHID:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfGECASI:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfGE4001:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfGE4002:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    proxConfAWID:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    uid14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    mi14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    mip14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    noc14443:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    uid15693:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    iClsUID40b:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    iClsFrmt:
                                      type: string
                                      enum:
                                      - disbld
                                      - 64bCSN
                                    daysInUse:
                                      type: integer
                                    sn:
                                      type: string
                                    hwVer:
                                      type: string
                                    mfgDt:
                                      type: string
                                    configCrdPrsntd:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    customKeyPrsntd:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                dvcProfile:
                                  type: object
                                  properties:
                                    baseType:
                                      type: string
                                    ext:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                          value:
                                            type: integer
                                            enum:
                                            - 1
                                            - 0
                            status:
                              type:
                              - object
                              - 'null'
                              properties:
                                lockStatus:
                                  type: object
                                  properties:
                                    currentLockState:
                                      type: string
                                sensorStatus:
                                  type: object
                                  properties:
                                    locked:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    auxPosition:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    alarmPosition:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    lockClutched:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    primaryBatteryStatus:
                                      type: string
                                    rtcBatteryStatus:
                                      type: string
                                    rtccStatus:
                                      type: string
                                    doorOpen:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ipbActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rexActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    renActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    relActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    deadBoltExtended:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    keyOverrideActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    fdrActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    tamperOpen:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    magTamperDetected:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    rdrTamperDetected:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ttl1Active:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ttl2Active:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    bprActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                                    ledActive:
                                      type: string
                                      enum:
                                      - T
                                      - F
                            commStatus:
                              type:
                              - string
                              - 'null'
                            batteryLevel:
                              type:
                              - number
                              - 'null'
                            updatedAt:
                              type: string
                              format: date
                            wirelessLockGatewayId:
                              type:
                              - integer
                              - 'null'
                            wirelessGatewayId:
                              type:
                              - integer
                              - 'null'
                            thirdPartyDevice:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                                assignedOrg:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                  required:
                                  - id
                                serialNumber:
                                  type: string
                                isOpSourced:
                                  type: boolean
                                orderName:
                                  type:
                                  - string
                                  - 'null'
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                                thirdPartyDeviceType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    manufacturerName:
                                      type: string
                                    hardwareModel:
                                      type: string
                                    description:
                                      type: string
                                    dbModelName:
                                      type: string
                                    createdAt:
                                      type: string
                                      format: date
                                    updatedAt:
                                      type: string
                                      format: date
                                  required:
                                  - id
                              required:
                              - id
                            allegionWirelessLock:
                              type:
                              - object
                              - 'null'
                              properties:
                                auditsLastSyncedAt:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                batteryLevel:
                                  type:
                                  - number
                                  - 'null'
                                commStatus:
                                  type:
                                  - string
                                  - 'null'
                                config:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    battV:
                                      type: object
                                      properties:
                                        main:
                                          type: string
                                        li:
                                          type: string
                                    fwVer:
                                      type: object
                                      properties:
                                        lock:
                                          type: string
                                        main:
                                          type: string
                                        mainBl:
                                          type: string
                                        credRdr:
                                          type: string
                                        credRdrBl:
                                          type: string
                                        ble:
                                          type: string
                                        wifi:
                                          type: string
                                        macAdr:
                                          type: string
                                        recoveryFwVer:
                                          type: string
                                    lockPrmtrs:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          minLength: 1
                                          maxLength: 52
                                        type:
                                          type: string
                                          enum:
                                          - strm
                                          - office
                                          - apt
                                          - prvcy
                                        relock:
                                          type: integer
                                          minimum: 0
                                          maximum: 30
                                        lockId:
                                          type: integer
                                        doorProp:
                                          type: integer
                                          minimum: 1
                                          maximum: 255
                                        ada:
                                          type: integer
                                          minimum: 1
                                          maximum: 255
                                        firstManIn:
                                          type: integer
                                          enum:
                                          - 0
                                          - 1
                                        battFail:
                                          type: string
                                          enum:
                                          - asIs
                                          - safe
                                          - sec
                                        blinkIntLed:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        rapidBlink:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        dstEnable:
                                          type: integer
                                          enum:
                                          - 0
                                          - 1
                                        dstStart:
                                          type: string
                                          x-constraint:
                                            length: 4
                                          x-convert:
                                            case: lower
                                        dstEnd:
                                          type: string
                                          x-constraint:
                                            length: 4
                                          x-convert:
                                            case: lower
                                        rtcTime:
                                          type: string
                                          x-constraint:
                                            length: 14
                                        wifiAlertEn:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        wifiAlertSel:
                                          type: array
                                          items:
                                            type: string
                                            x-constraint:
                                              length: 6
                                        fwUrl:
                                          type: string
                                          maxLength: 64
                                        fwDwnldTm:
                                          type: string
                                          x-constraint:
                                            length: 14
                                        fwImplTm:
                                          type: string
                                          x-constraint:
                                            length: 14
                                        dpsEn:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        bleCredEn:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        bleCredRng:
                                          type: string
                                          enum:
                                          - short
                                          - long
                                        blePerf:
                                          type: string
                                          enum:
                                          - norm
                                          - max
                                        invCrdAudEn:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        wifiDwnldRtyTmIntv:
                                          type: integer
                                          minimum: 5
                                          maximum: 1440
                                        wifiDwnldRtyCnt:
                                          type: integer
                                          minimum: 1
                                          maximum: 250
                                        auditIDEn:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        blkCnstr:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        mdl:
                                          type: string
                                        lckMode:
                                          type: string
                                        lckSn:
                                          type: string
                                        mainSn:
                                          type: string
                                        hwVer:
                                          type: string
                                        daysInUse:
                                          type: integer
                                        mfgDt:
                                          type: string
                                        dbDwnldTm:
                                          type: string
                                        fwImpTm:
                                          type: string
                                        nxtDbVerTS:
                                          type: string
                                        hwCfg:
                                          type: string
                                        dbUpdateStatus:
                                          type: integer
                                        wtyAct:
                                          type: string
                                          x-constraint:
                                            length: 14
                                          x-alternatives:
                                          - type: string
                                            x-constraint:
                                              length: 14
                                          - type: string
                                            enum:
                                            - unknown
                                        numCycles:
                                          type: integer
                                    rdrPrmtrs:
                                      type: object
                                      properties:
                                        bprEn:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        rdrSense:
                                          type: string
                                          enum:
                                          - norm
                                          - high
                                          - max
                                        proxConfHID:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        proxConfGECASI:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        proxConfGE4001:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        proxConfGE4002:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        proxConfAWID:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        uid14443:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        mi14443:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        mip14443:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        noc14443:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        uid15693:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        iClsUID40b:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        iClsFrmt:
                                          type: string
                                          enum:
                                          - disbld
                                          - 64bCSN
                                        daysInUse:
                                          type: integer
                                        sn:
                                          type: string
                                        hwVer:
                                          type: string
                                        mfgDt:
                                          type: string
                                        configCrdPrsntd:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        customKeyPrsntd:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                    dvcProfile:
                                      type: object
                                      properties:
                                        baseType:
                                          type: string
                                        ext:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              key:
                                                type: string
                                              value:
                                                type: integer
                                                enum:
                                                - 1
                                                - 0
                                doorFileLastSyncedAt:
                                  type:
                                  - string
                                  - 'null'
                                  format: date
                                id:
                                  type: number
                                idExt:
                                  type:
                                  - string
                                  - 'null'
                                linkId:
                                  type:
                                  - string
                                  - 'null'
                                noTourLockId:
                                  type:
                                  - number
                                  - 'null'
                                status:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    lockStatus:
                                      type: object
                                      properties:
                                        currentLockState:
                                          type: string
                                    sensorStatus:
                                      type: object
                                      properties:
                                        locked:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        auxPosition:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        alarmPosition:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        lockClutched:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        primaryBatteryStatus:
                                          type: string
                                        rtcBatteryStatus:
                                          type: string
                                        rtccStatus:
                                          type: string
                                        doorOpen:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        ipbActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        rexActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        renActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        relActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        deadBoltExtended:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        keyOverrideActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        fdrActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        tamperOpen:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        magTamperDetected:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        rdrTamperDetected:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        ttl1Active:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        ttl2Active:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        bprActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                                        ledActive:
                                          type: string
                                          enum:
                                          - T
                                          - F
                              required:
                              - id
                            avigilonWirelessLock:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                formFactor:
                                  type:
                                  - string
                                  - 'null'
                                keypadTimeout:
                                  type:
                                  - integer
                                  - 'null'
                                keypadBrightness:
                                  type:
                                  - integer
                                  - 'null'
                                timeOffset:
                                  type:
                                  - integer
                                  - 'null'
                                dstEnabled:
                                  type: boolean
                                  default: false
                                networkConfig:
                                  type:
                                  - object
                                  - 'null'
                                firmwareVersions:
                                  type:
                                  - object
                                  - 'null'
                                serialNumber:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - id
                              - dstEnabled
                            assaAbloyWirelessLock:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                deviceGroupId:
                                  type:
                                  - string
                                  - 'null'
                                wirelessLockId:
                                  type: integer
                                config:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    lockPrmtrs:
                                      type:
                                      - object
                                      - 'null'
                                    rdrPrmtrs:
                                      type:
                                      - object
                                      - 'null'
                                    isAjarEnabled:
                                      type:
                                      - boolean
                                      - 'null'
                                    isForcedOpenEnabled:
                                      type:
                                      - boolean
                                      - 'null'
                              required:
                              - id
                              - wirelessLockId
                          required:
                          - id
                        entryState:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        zone:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            site:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                        schedule:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        color:
                          type: string
                        effectiveLocationRestriction:
                          type: object
                          properties:
                            id:
                              type: integer
                            locationMeasurement:
                              type: object
                              properties:
                                longitude:
                                  type: number
                                latitude:
                                  type: number
                                timeZoneId:
                                  type:
                                  - string
                                  - 'null'
                            allowedDistanceMeters:
                              type: number
                            scaleFactor:
                              type: number
                          required:
                          - id
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        cameras:
                          type: array
                          items:
                            type:
                            - object
                            - 'null'
                            properties:
                              videoProviderId:
                                type: integer
                              videoProvider:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  videoProviderTypeId:
                                    type: integer
                                required:
                                - id
                              id:
                                type: integer
                              idExt:
                                type:
                                - string
                                - 'null'
                              name:
                                type:
                                - string
                                - 'null'
                              nameExt:
                                type:
                                - string
                                - 'null'
                              supportsSnapshot:
                                type:
                                - boolean
                                - 'null'
                              supportsDeeplink:
                                type:
                                - boolean
                                - 'null'
                              supportsMotionSnapshot:
                                type:
                                - boolean
                                - 'null'
                              supportsFaceCrop:
                                type:
                                - boolean
                                - 'null'
                              supportsFaceDetection:
                                type:
                                - boolean
                                - 'null'
                              supportsPeopleDetection:
                                type:
                                - boolean
                                - 'null'
                              supportsMotionRecap:
                                type:
                                - boolean
                                - 'null'
                              supportsLivestream:
                                type:
                                - boolean
                                - 'null'
                            required:
                            - id
                        org:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        notes:
                          type:
                          - string
                          - 'null'
                        isMusterPoint:
                          type:
                          - boolean
                          - 'null'
                        externalUuid:
                          type:
                          - string
                          - 'null'
                        isReaderless:
                          type: boolean
                        isIntercomEntry:
                          type: boolean
                        shadow:
                          type: object
                          properties:
                            error:
                              type: string
                            state:
                              type: object
                              properties:
                                reported:
                                  type: object
                                  properties:
                                    entries:
                                      type: object
                                      properties:
                                        string:
                                          type: object
                                          properties:
                                            schedule:
                                              type: object
                                              properties:
                                                current_state:
                                                  type: string
                                                waiting_first_unlock:
                                                  type: boolean
                                            publishedTimestamp:
                                              type: number
                                            currentEntryState:
                                              type: string
                                            relay:
                                              type: object
                                              properties:
                                                string:
                                                  type: object
                                                  properties:
                                                    relay_perm_state:
                                                      type: integer
                                                    relay_temp_state:
                                                      type: integer
                                                    relay_temp_time_ms:
                                                      type: integer
                                                    cached:
                                                      type: boolean
                                          required:
                                          - schedule
                            version:
                              type: integer
                            timestamp:
                              type: integer
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rptGeneral:w
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-entryAccessAudit:w
      - o{params.orgId}-entryAccessAudit:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-configurations:w
      - o{params.orgId}-configurations:r
      - o{params.orgId}-account:w
      - o{params.orgId}-account:r
      - o{params.orgId}-outboundWebhooks:w
      - o{params.orgId}-outboundWebhooks:r
      - o{params.orgId}-musterReport:w
      - o{params.orgId}-musterReport:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create an entry
      operationId: createEntry
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: createEntry'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/entries
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      opal:
                        type: string
                      name:
                        type: string
                      isPincodeEnabled:
                        type: boolean
                      pincode:
                        type:
                        - string
                        - 'null'
                      acu:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          isGatewayMode:
                            type:
                            - boolean
                            - 'null'
                        required:
                        - id
                      wirelessLock:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                          manufacturer:
                            type: string
                          model:
                            type: string
                          serialNumber:
                            type:
                            - string
                            - 'null'
                          idExt:
                            type:
                            - string
                            - 'null'
                          lastConnectedAt:
                            type:
                            - string
                            - 'null'
                            format: date
                          linkId:
                            type:
                            - string
                            - 'null'
                          config:
                            type:
                            - object
                            - 'null'
                            properties:
                              battV:
                                type: object
                                properties:
                                  main:
                                    type: string
                                  li:
                                    type: string
                              fwVer:
                                type: object
                                properties:
                                  lock:
                                    type: string
                                  main:
                                    type: string
                                  mainBl:
                                    type: string
                                  credRdr:
                                    type: string
                                  credRdrBl:
                                    type: string
                                  ble:
                                    type: string
                                  wifi:
                                    type: string
                                  macAdr:
                                    type: string
                                  recoveryFwVer:
                                    type: string
                              lockPrmtrs:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    minLength: 1
                                    maxLength: 52
                                  type:
                                    type: string
                                    enum:
                                    - strm
                                    - office
                                    - apt
                                    - prvcy
                                  relock:
                                    type: integer
                                    minimum: 0
                                    maximum: 30
                                  lockId:
                                    type: integer
                                  doorProp:
                                    type: integer
                                    minimum: 1
                                    maximum: 255
                                  ada:
                                    type: integer
                                    minimum: 1
                                    maximum: 255
                                  firstManIn:
                                    type: integer
                                    enum:
                                    - 0
                                    - 1
                                  battFail:
                                    type: string
                                    enum:
                                    - asIs
                                    - safe
                                    - sec
                                  blinkIntLed:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  rapidBlink:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  dstEnable:
                                    type: integer
                                    enum:
                                    - 0
                                    - 1
                                  dstStart:
                                    type: string
                                    x-constraint:
                                      length: 4
                                    x-convert:
                                      case: lower
                                  dstEnd:
                                    type: string
                                    x-constraint:
                                      length: 4
                                    x-convert:
                                      case: lower
                                  rtcTime:
                                    type: string
                                    x-constraint:
                                      length: 14
                                  wifiAlertEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  wifiAlertSel:
                                    type: array
                                    items:
                                      type: string
                                      x-constraint:
                                        length: 6
                                  fwUrl:
                                    type: string
                                    maxLength: 64
                                  fwDwnldTm:
                                    type: string
                                    x-constraint:
                                      length: 14
                                  fwImplTm:
                                    type: string
                                    x-constraint:
                                      length: 14
                                  dpsEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  bleCredEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  bleCredRng:
                                    type: string
                                    enum:
                                    - short
                                    - long
                                  blePerf:
                                    type: string
                                    enum:
                                    - norm
                                    - max
                                  invCrdAudEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  wifiDwnldRtyTmIntv:
                                    type: integer
                                    minimum: 5
                                    maximum: 1440
                                  wifiDwnldRtyCnt:
                                    type: integer
                                    minimum: 1
                                    maximum: 250
                                  auditIDEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  blkCnstr:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  mdl:
                                    type: string
                                  lckMode:
                                    type: string
                                  lckSn:
                                    type: string
                                  mainSn:
                                    type: string
                                  hwVer:
                                    type: string
                                  daysInUse:
                                    type: integer
                                  mfgDt:
                                    type: string
                                  dbDwnldTm:
                                    type: string
                                  fwImpTm:
                                    type: string
                                  nxtDbVerTS:
                                    type: string
                                  hwCfg:
                                    type: string
                                  dbUpdateStatus:
                                    type: integer
                                  wtyAct:
                                    type: string
                                    x-constraint:
                                      length: 14
                                    x-alternatives:
                                    - type: string
                                      x-constraint:
                                        length: 14
                                    - type: string
                                      enum:
                                      - unknown
                                  numCycles:
                                    type: integer
                              rdrPrmtrs:
                                type: object
                                properties:
                                  bprEn:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  rdrSense:
                                    type: string
                                    enum:
                                    - norm
                                    - high
                                    - max
                                  proxConfHID:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfGECASI:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfGE4001:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfGE4002:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  proxConfAWID:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  uid14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  mi14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  mip14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  noc14443:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  uid15693:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  iClsUID40b:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  iClsFrmt:
                                    type: string
                                    enum:
                                    - disbld
                                    - 64bCSN
                                  daysInUse:
                                    type: integer
                                  sn:
                                    type: string
                                  hwVer:
                                    type: string
                                  mfgDt:
                                    type: string
                                  configCrdPrsntd:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  customKeyPrsntd:
                                    type: string
                                    enum:
                                    - T
                                    - F
                              dvcProfile:
                                type: object
                                properties:
                                  baseType:
                                    type: string
                                  ext:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                        value:
                                          type: integer
                                          enum:
                                          - 1
                                          - 0
                          status:
                            type:
                            - object
                            - 'null'
                            properties:
                              lockStatus:
                                type: object
                                properties:
                                  currentLockState:
                                    type: string
                              sensorStatus:
                                type: object
                                properties:
                                  locked:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  auxPosition:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  alarmPosition:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  lockClutched:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  primaryBatteryStatus:
                                    type: string
                                  rtcBatteryStatus:
                                    type: string
                                  rtccStatus:
                                    type: string
                                  doorOpen:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  ipbActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  rexActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  renActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  relActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  deadBoltExtended:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  keyOverrideActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  fdrActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  tamperOpen:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  magTamperDetected:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  rdrTamperDetected:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  ttl1Active:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  ttl2Active:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  bprActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                                  ledActive:
                                    type: string
                                    enum:
                                    - T
                                    - F
                          commStatus:
                            type:
                            - string
                            - 'null'
                          batteryLevel:
                            type:
                            - number
                            - 'null'
                          updatedAt:
                            type: string
                            format: date
                          wirelessLockGatewayId:
                            type:
                            - integer
                            - 'null'
                          wirelessGatewayId:
                            type:
                            - integer
                            - 'null'
                          thirdPartyDevice:
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                type: integer
                              assignedOrg:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                              serialNumber:
                                type: string
                              isOpSourced:
                                type: boolean
                              orderName:
                                type:
                                - string
                                - 'null'
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                              thirdPartyDeviceType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  manufacturerName:
                                    type: string
                                  hardwareModel:
                                    type: string
                                  description:
                                    type: string
                                  dbModelName:
                                    type: string
                                  createdAt:
                                    type: string
                                    format: date
                                  updatedAt:
                                    type: string
                                    format: date
                                required:
                                - id
                            required:
                            - id
                          allegionWirelessLock:
                            type:
                            - object
                            - 'null'
                            properties:
                              auditsLastSyncedAt:
                                type:
                                - string
                                - 'null'
                                format: date
                              batteryLevel:
                                type:
                                - number
                                - 'null'
                              commStatus:
                                type:
                                - string
                                - 'null'
                              config:
                                type:
                                - object
                                - 'null'
                                properties:
                                  battV:
                                    type: object
                                    properties:
                                      main:
                                        type: string
                                      li:
                                        type: string
                                  fwVer:
                                    type: object
                                    properties:
                                      lock:
                                        type: string
                                      main:
                                        type: string
                                      mainBl:
                                        type: string
                                      credRdr:
                                        type: string
                                      credRdrBl:
                                        type: string
                                      ble:
                                        type: string
                                      wifi:
                                        type: string
                                      macAdr:
                                        type: string
                                      recoveryFwVer:
                                        type: string
                                  lockPrmtrs:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        minLength: 1
                                        maxLength: 52
                                      type:
                                        type: string
                                        enum:
                                        - strm
                                        - office
                                        - apt
                                        - prvcy
                                      relock:
                                        type: integer
                                        minimum: 0
                                        maximum: 30
                                      lockId:
                                        type: integer
                                      doorProp:
                                        type: integer
                                        minimum: 1
                                        maximum: 255
                                      ada:
                                        type: integer
                                        minimum: 1
                                        maximum: 255
                                      firstManIn:
                                        type: integer
                                        enum:
                                        - 0
                                        - 1
                                      battFail:
                                        type: string
                                        enum:
                                        - asIs
                                        - safe
                                        - sec
                                      blinkIntLed:
                                        type: string
                                        enum:
                                        - T
                                        - F
                                      rapidBlink:
                                        type: string
                                        enum:
                                        - T
                                        - F
                                      dstEnable:
                                        type: integer
                                        enum:
                                        - 0
                                        - 1
                                      dstStart:
                                        type: string
                                        x-constraint:
                                          length: 4
                                        x-convert:
                                          case: lower
                                      dstEnd:
                                        type: string
                                        x-constraint:
                                          length: 4
                                        x-convert:
                                          case: lower
                                      rtcTime:
                                        type: string
                                        x-constraint:
                                          length: 14
                                      wifiAlertEn:
                                        type: string
                                        enum:
                                        - T
                                        - F
                                      wifiAlertSel:
                                        type: array
                                        items:
                                          type: string
                                          x-constraint:
                                            length: 6
                                      fwUrl:
                                        type: string
                                        maxLength: 64
                                      fwDwnldTm:
                                        type: string
                                        x-constraint:
                                          length: 14
                                      fwImplTm:
                                        type: string
                                        x-constraint:
                                          length: 14
                                      dpsEn:
                                        type: string
                                        enum:
                                        - T
                                        - F
                                      bleCredEn:
                                        type: string
                                        enum:
                                        - T
                                        - F
                                      bleCredRng:
                                        type: string
                                        enum:
                                        - short
                                        - long
                                      blePerf:
                                        type: string
                                        enum:
[...]
