openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/org Pictures API
  version: 1.0.0
  description: Org Pictures
servers:
- url: https://api.openpath.com
tags:
- name: orgs/orgPictures
  description: Org Pictures
paths:
  /orgs/{orgId}/orgPictures:
    get:
      summary: List all org pictures
      operationId: listOrgPictures
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-mobileAppSettings:w,o{params.orgId}-mobileAppSettings:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listOrgPictures'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: id
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/orgPictures
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        isAvatar:
                          type: boolean
                        picture:
                          type: object
                          properties:
                            contentType:
                              type: string
                            fileName:
                              type: string
                            url:
                              type:
                              - string
                              - 'null'
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-mobileAppSettings:w
      - o{params.orgId}-mobileAppSettings:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create an org picture
      operationId: createOrgPicture
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-mobileAppSettings:w,o:w,s-o:w


        __Endpoint name__: createOrgPicture'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/orgPictures
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      isAvatar:
                        type: boolean
                      picture:
                        type: object
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type:
                            - string
                            - 'null'
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-mobileAppSettings:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isAvatar:
                  type: boolean
                  default: true
                picture:
                  type: object
                  properties:
                    base64:
                      type: string
                  required:
                  - base64
              required:
              - picture
  /orgs/{orgId}/orgPictures/{orgPictureId}:
    get:
      summary: Describe an org picture
      operationId: describeOrgPicture
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-mobileAppSettings:w,o:w,s-o:w


        __Endpoint name__: describeOrgPicture'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: orgPictureId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/orgPictures
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      isAvatar:
                        type: boolean
                      picture:
                        type: object
                        properties:
                          contentType:
                            type: string
                          fileName:
                            type: string
                          url:
                            type:
                            - string
                            - 'null'
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-mobileAppSettings:w
      - o:w
      - s-o:w
    delete:
      summary: Delete an org picture
      operationId: deleteOrgPicture
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-mobileAppSettings:w,o:w,s-o:w


        __Endpoint name__: deleteOrgPicture'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: orgPictureId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/orgPictures
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-mobileAppSettings:w
      - o:w
      - s-o:w
    patch:
      summary: Update an org picture
      operationId: updateOrgPicture
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-mobileAppSettings:w,o:w,s-o:w


        __Endpoint name__: updateOrgPicture'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: orgPictureId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/orgPictures
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-mobileAppSettings:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isAvatar:
                  type: boolean
                picture:
                  type: object
                  properties:
                    base64:
                      type: string
                  required:
                  - base64
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
