openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/card Formats API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/cardFormats
paths:
  /orgs/{orgId}/cardFormats:
    get:
      summary: List all entry card formats
      operationId: listCardFormats
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-credential:w,o{params.orgId}-credential:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listCardFormats'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/cardFormats
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        code:
                          type: string
                        name:
                          type: string
                        numBits:
                          type: integer
                        description:
                          type: object
                          properties:
                            numBits:
                              type: integer
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  displayName:
                                    type: string
                                  maxBits:
                                    type: integer
                                  rightmostBit:
                                    type: integer
                                required:
                                - name
                                - displayName
                                - maxBits
                                - rightmostBit
                            parityBits:
                              type: array
                              items:
                                type: object
                                properties:
                                  position:
                                    type: integer
                                  sourceBits:
                                    type: array
                                    items:
                                      type: integer
                                  setIfMatch:
                                    type: number
                                    enum:
                                    - 0
                                    - 1
                                required:
                                - position
                            fixedBits:
                              type: array
                              items:
                                type: object
                                properties:
                                  position:
                                    type: integer
                                  value:
                                    type: number
                                    enum:
                                    - 0
                                    - 1
                                required:
                                - position
                            reverseBitOrder:
                              type: boolean
                          required:
                          - numBits
                      required:
                      - id
                      - code
                      - name
                      - numBits
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-credential:w
      - o{params.orgId}-credential:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/cardFormats/{cardFormatId}:
    get:
      summary: Describe a card format
      operationId: describeCardFormat
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeCardFormat'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: cardFormatId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/cardFormats
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      code:
                        type: string
                      name:
                        type: string
                      numBits:
                        type: integer
                      description:
                        type: object
                        properties:
                          numBits:
                            type: integer
                          fields:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                displayName:
                                  type: string
                                maxBits:
                                  type: integer
                                rightmostBit:
                                  type: integer
                              required:
                              - name
                              - displayName
                              - maxBits
                              - rightmostBit
                          parityBits:
                            type: array
                            items:
                              type: object
                              properties:
                                position:
                                  type: integer
                                sourceBits:
                                  type: array
                                  items:
                                    type: integer
                                setIfMatch:
                                  type: number
                                  enum:
                                  - 0
                                  - 1
                              required:
                              - position
                          fixedBits:
                            type: array
                            items:
                              type: object
                              properties:
                                position:
                                  type: integer
                                value:
                                  type: number
                                  enum:
                                  - 0
                                  - 1
                              required:
                              - position
                          reverseBitOrder:
                            type: boolean
                        required:
                        - numBits
                    required:
                    - id
                    - code
                    - name
                    - numBits
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
