openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/wireless Lock Templates API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/wirelessLockTemplates
paths:
  /orgs/{orgId}/wirelessLockTemplates:
    get:
      summary: List all wireless lock templates
      operationId: listWirelessLockTemplates
      description: '__JWT is required for this endpoint with at least one of the following scopes__: undefined


        __Endpoint name__: listWirelessLockTemplates'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: includeBuiltIn
        in: query
        schema:
          type: boolean
          default: true
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/wirelessLockTemplates
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        isBuiltIn:
                          type: boolean
                          default: false
                        orgId:
                          type:
                          - integer
                          - 'null'
                        settings:
                          type: object
                      required:
                      - id
                      - name
                      - settings
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
    post:
      summary: Create a wireless lock template
      operationId: createWirelessLockTemplate
      description: '__JWT is required for this endpoint with at least one of the following scopes__: undefined


        __Endpoint name__: createWirelessLockTemplate'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockTemplates
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      isBuiltIn:
                        type: boolean
                        default: false
                      orgId:
                        type:
                        - integer
                        - 'null'
                      settings:
                        type: object
                    required:
                    - id
                    - name
                    - settings
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type:
                  - string
                  - 'null'
                isBuiltIn:
                  type: boolean
                  default: false
                orgId:
                  type:
                  - integer
                  - 'null'
                settings:
                  type: object
              required:
              - name
              - settings
  /orgs/{orgId}/wirelessLockTemplates/{wirelessLockTemplateId}:
    get:
      summary: Get a wireless lock template
      operationId: describeWirelessLockTemplate
      description: '__JWT is required for this endpoint with at least one of the following scopes__: undefined


        __Endpoint name__: describeWirelessLockTemplate'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockTemplateId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockTemplates
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      isBuiltIn:
                        type: boolean
                        default: false
                      orgId:
                        type:
                        - integer
                        - 'null'
                      settings:
                        type: object
                    required:
                    - id
                    - name
                    - settings
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
    delete:
      summary: Delete a wireless lock template
      operationId: deleteWirelessLockTemplate
      description: '__JWT is required for this endpoint with at least one of the following scopes__: undefined


        __Endpoint name__: deleteWirelessLockTemplate'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockTemplateId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockTemplates
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
    patch:
      summary: Update a wireless lock template
      operationId: updateWirelessLockTemplate
      description: '__JWT is required for this endpoint with at least one of the following scopes__: undefined


        __Endpoint name__: updateWirelessLockTemplate'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockTemplateId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockTemplates
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type:
                  - string
                  - 'null'
                settings:
                  type: object
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
