swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/triggerMethods API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/triggerMethods
  description: Entry Trigger Methods
paths:
  /orgs/{orgId}/triggerMethods:
    get:
      summary: List all trigger methods
      operationId: listTriggerMethods
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-entryState:w,o{params.orgId}-entryState:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listTriggerMethods'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 10000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: ordinal
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/triggerMethods
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    ordinal:
                      type: number
                    name:
                      type: string
                    code:
                      type: string
                    connectionTypeCode:
                      type: string
                    requestTypeCode:
                      type: string
                    credentialType:
                      type: object
                      properties:
                        id:
                          type: number
                        modelName:
                          type: string
                      required:
                      - id
                    triggerMethodGroup:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                      required:
                      - id
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-entryState:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/triggerMethods/{triggerMethodId}:
    get:
      summary: Describe a trigger method
      operationId: describeTriggerMethod
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-entryState:w,o{params.orgId}-entryState:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: describeTriggerMethod'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: triggerMethodId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/triggerMethods
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  ordinal:
                    type: number
                  name:
                    type: string
                  code:
                    type: string
                  connectionTypeCode:
                    type: string
                  requestTypeCode:
                    type: string
                  credentialType:
                    type: object
                    properties:
                      id:
                        type: number
                      modelName:
                        type: string
                    required:
                    - id
                  triggerMethodGroup:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                    required:
                    - id
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-entryState:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
