openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/mobile App Config API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/mobileAppConfig
paths:
  /orgs/{orgId}/mobileAppConfig:
    get:
      summary: Get mobile app config
      operationId: describeMobileAppConfig
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-configurations:r,o{params.orgId}-configurations:w,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeMobileAppConfig'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mobileAppConfig
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      isBadgeViewEnabled:
                        type: boolean
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-configurations:r
      - o{params.orgId}-configurations:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete mobile app config
      operationId: deleteMobileAppConfig
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o:w,s-o:w


        __Endpoint name__: deleteMobileAppConfig'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mobileAppConfig
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o:w
      - s-o:w
    patch:
      summary: Update mobile app config
      operationId: updateMobileAppConfig
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o:w,s-o:w


        __Endpoint name__: updateMobileAppConfig'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/mobileAppConfig
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isBadgeViewEnabled:
                  type: boolean
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
