openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/email Alert Types API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/emailAlertTypes
paths:
  /orgs/{orgId}/emailAlertTypes:
    get:
      summary: List all email alert types
      operationId: listEmailAlertTypes
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-admin:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listEmailAlertTypes'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/emailAlertTypes
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        ordinal:
                          type: integer
                        name:
                          type: string
                        code:
                          type: string
                        description:
                          type: string
                        requiredFeature:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            code:
                              type: string
                          required:
                          - id
                        canHaveSnapshots:
                          type: boolean
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/emailAlertTypes/{emailAlertTypeId}:
    get:
      summary: Describe an email alert type
      operationId: describeEmailAlertType
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-admin:w,o{params.orgId}-admin:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeEmailAlertType'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: emailAlertTypeId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/emailAlertTypes
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      ordinal:
                        type: integer
                      name:
                        type: string
                      code:
                        type: string
                      description:
                        type: string
                      requiredFeature:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          code:
                            type: string
                        required:
                        - id
                      canHaveSnapshots:
                        type: boolean
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
