openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/opvideo Devices API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/opvideo-devices
paths:
  /orgs/{orgId}/opvideo-devices/{opvideoDeviceId}/facade/background-image:
    post:
      summary: Set/update the background image for an opvideo device facade
      operationId: setOpVideoDeviceFacadeBackgroundImage
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:r,o-basic:r,s-o:r,o{params.orgId}-opvideoDevice:r


        __Endpoint name__: setOpVideoDeviceFacadeBackgroundImage'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: opvideoDeviceId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/opvideo-devices
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      contentType:
                        type:
                        - string
                        - 'null'
                      fileName:
                        type:
                        - string
                        - 'null'
                      opvideoDeviceFacadeId:
                        type: number
                      pictureUrl:
                        type:
                        - string
                        - 'null'
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                    required:
                    - id
                    - opvideoDeviceFacadeId
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o:r
      - o-basic:r
      - s-o:r
      - o{params.orgId}-opvideoDevice:r
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                picture:
                  type: object
                  properties:
                    base64:
                      type: string
                  required:
                  - base64
              required:
              - picture
  /orgs/{orgId}/opvideo-devices/{opvideoDeviceId}/facade/background-images/{bgImageId}:
    delete:
      summary: Delete a background image for an opvideo device facade
      operationId: deleteOpVideoDeviceFacadeBackgroundImage
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,o-basic:w,s-o:w,o{params.orgId}-opvideoDevice:w


        __Endpoint name__: deleteOpVideoDeviceFacadeBackgroundImage'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: opvideoDeviceId
        in: path
        required: true
        schema:
          type: integer
      - name: bgImageId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/opvideo-devices
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                      id:
                        type: integer
                    required:
                    - deleted
                    - id
                  meta:
                    type: object
                required:
                - data
                - meta
      x-op-scopes:
      - o:w
      - o-basic:w
      - s-o:w
      - o{params.orgId}-opvideoDevice:w
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
