openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/wireless Lock Providers API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/wirelessLockProviders
paths:
  /orgs/{orgId}/wirelessLockProviders:
    get:
      summary: List all wireless lock providers
      operationId: listWirelessLockProviders
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o:r,s-o:r


        __Endpoint name__: listWirelessLockProviders'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        siteIdExt:
                          type:
                          - string
                          - 'null'
                        siteAuthKey:
                          type:
                          - string
                          - 'null'
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        orgId:
                          type: number
                        wirelessLockProviderType:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o:r
      - s-o:r
    post:
      summary: Create a wireless lock provider
      operationId: createWirelessLockProvider
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o:w,s-o:w


        __Endpoint name__: createWirelessLockProvider'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      siteIdExt:
                        type:
                        - string
                        - 'null'
                      siteAuthKey:
                        type:
                        - string
                        - 'null'
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      orgId:
                        type: number
                      wirelessLockProviderType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                siteIdExt:
                  type:
                  - string
                  - 'null'
                siteAuthKey:
                  type:
                  - string
                  - 'null'
                wirelessLockProviderTypeId:
                  type: integer
              required:
              - wirelessLockProviderTypeId
  /orgs/{orgId}/wirelessLockProviders/{wirelessLockProviderId}:
    get:
      summary: Describe a wireless lock provider
      operationId: describeWirelessLockProvider
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o:r,s-o:r


        __Endpoint name__: describeWirelessLockProvider'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockProviderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      siteIdExt:
                        type:
                        - string
                        - 'null'
                      siteAuthKey:
                        type:
                        - string
                        - 'null'
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      orgId:
                        type: number
                      wirelessLockProviderType:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o:r
      - s-o:r
    delete:
      summary: Remove a wireless lock provider and all related devices
      operationId: deleteWirelessLockProvider
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o:w,s-o:w


        __Endpoint name__: deleteWirelessLockProvider'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockProviderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessLockProviders/{wirelessLockProviderId}/operators:
    get:
      summary: List all operators for a wireless lock provider
      operationId: listWirelessLockProviderOperators
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o:r,s-o:r


        __Endpoint name__: listWirelessLockProviderOperators'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockProviderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        userName:
                          type: string
                        role:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        operatorId:
                          type: integer
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o:r
      - s-o:r
  /orgs/{orgId}/wirelessLockProviders/{wirelessLockProviderId}/firmwares:
    get:
      summary: List all firmwares available for a wireless lock provider by device
      operationId: listWirelessLockProviderFirmwares
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r,o:r,s-o:r


        __Endpoint name__: listWirelessLockProviderFirmwares'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockProviderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        manufacturer:
                          type: string
                        model:
                          type: string
                        versions:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              description:
                                type: string
                              version:
                                type: string
                              extendedVersion:
                                type:
                                - string
                                - 'null'
                              isPublic:
                                type: boolean
                                default: false
                              releaseDate:
                                type: string
                                format: date
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o:r
      - s-o:r
  /orgs/{orgId}/wirelessLockProviders/{wirelessLockProviderId}/syncDevices:
    post:
      summary: Sync devices for a wireless lock provider
      operationId: syncWirelessLockProviderDevices
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-hw:w,o:w,s-o:w


        __Endpoint name__: syncWirelessLockProviderDevices'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockProviderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '201':
          description: Sync initiated
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-hw:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessLockProviders/{wirelessLockProviderId}/invite:
    post:
      summary: Invite self to be a site operator for a wireless lock provider
      operationId: inviteWirelessLockProviderOperator
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-hw:w,o:w,s-o:w


        __Endpoint name__: inviteWirelessLockProviderOperator'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockProviderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockProviders
      security:
      - jwt: []
      responses:
        '201':
          description: Created
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-hw:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  x-format:
                    email: true
                  x-convert:
                    trim: true
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
