openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/relays API
  version: 1.0.0
  description: Relays
servers:
- url: https://api.openpath.com
tags:
- name: orgs/relays
  description: Relays
paths:
  /orgs/{orgId}/relays:
    get:
      summary: List all relays
      operationId: listRelays
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-quickStart:w,o{params.orgId}-quickStart:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listRelays'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/relays
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        openDurationSeconds:
                          type:
                          - number
                          - 'null'
                        invertOutput:
                          type: boolean
                        relayHardwareType:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                        acuPort:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: number
                            acuPortTypePortNumber:
                              type: number
                            virtualPortNumber:
                              type:
                              - number
                              - 'null'
                            portNumber:
                              type:
                              - number
                              - 'null'
                            label:
                              type: string
                            acu:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                            expansionBoard:
                              type: object
                              properties:
                                id:
                                  type: number
                                number:
                                  type: integer
                              required:
                              - id
                            eol:
                              type:
                              - object
                              - 'null'
                              properties:
                                eolSupervision:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                          required:
                          - id
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-quickStart:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/relays/{relayId}:
    get:
      summary: Describe a relay
      operationId: describeRelay
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeRelay'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: relayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/relays
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      openDurationSeconds:
                        type:
                        - number
                        - 'null'
                      invertOutput:
                        type: boolean
                      relayHardwareType:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                        required:
                        - id
                      acuPort:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: number
                          acuPortTypePortNumber:
                            type: number
                          virtualPortNumber:
                            type:
                            - number
                            - 'null'
                          portNumber:
                            type:
                            - number
                            - 'null'
                          label:
                            type: string
                          acu:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                          expansionBoard:
                            type: object
                            properties:
                              id:
                                type: number
                              number:
                                type: integer
                            required:
                            - id
                          eol:
                            type:
                            - object
                            - 'null'
                            properties:
                              eolSupervision:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                required:
                                - id
                        required:
                        - id
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    patch:
      summary: Update a relay
      operationId: updateRelay
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateRelay'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: relayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/relays
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                openDurationSeconds:
                  type:
                  - integer
                  - 'null'
                  minimum: 1
                  maximum: 600
                relayHardwareTypeId:
                  type:
                  - integer
                  - 'null'
                invertOutput:
                  type: boolean
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
