swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/maintenanceWindow API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/maintenanceWindow
paths:
  /orgs/{orgId}/maintenanceWindow:
    get:
      summary: Describe an organization's maintenance window
      operationId: describeOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,o:r,s-o:w,s-o:r,o-basic:w,o-basic:r,o{params.orgId}-hw:w,o{params.orgId}-hw:r<br/><br/>__Endpoint name__: describeOrgMaintenanceWindow'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: id
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  useMaintenanceWindow:
                    type: boolean
                  modelId:
                    type: integer
                  maintenanceWindowTypeId:
                    type: integer
                  updateWindowDay:
                    type: string
                    enum:
                    - Sunday
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                  updateWindowStart:
                    type: string
                  updateWindowDuration:
                    type: integer
                  timeZone:
                    type: string
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o-basic:w
      - o-basic:r
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
    delete:
      summary: Delete an organization's maintenance window
      operationId: deleteOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o-basic:w,o{params.orgId}-hw:w<br/><br/>__Endpoint name__: deleteOrgMaintenanceWindow'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o:w
      - s-o:w
      - o-basic:w
      - o{params.orgId}-hw:w
    patch:
      summary: Update an organization's maintenance window
      operationId: updateOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o-basic:w,o{params.orgId}-hw:w<br/><br/>__Endpoint name__: updateOrgMaintenanceWindow'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            useMaintenanceWindow:
              type: boolean
            updateWindowDay:
              type: string
              enum:
              - Sunday
              - Monday
              - Tuesday
              - Wednesday
              - Thursday
              - Friday
              - Saturday
            updateWindowStart:
              type: string
            updateWindowDuration:
              type: integer
            timeZone:
              type: string
          required:
          - useMaintenanceWindow
          - updateWindowDay
          - updateWindowStart
          - updateWindowDuration
          - timeZone
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o:w
      - s-o:w
      - o-basic:w
      - o{params.orgId}-hw:w
    put:
      summary: Create or update an organization's maintenance window
      operationId: createOrgMaintenanceWindow
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,s-o:w,o-basic:w,o{params.orgId}-hw:w<br/><br/>__Endpoint name__: createOrgMaintenanceWindow'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - in: body
        name: body
        schema:
          type: object
          properties:
            useMaintenanceWindow:
              type: boolean
            updateWindowDay:
              type: string
              enum:
              - Sunday
              - Monday
              - Tuesday
              - Wednesday
              - Thursday
              - Friday
              - Saturday
            updateWindowStart:
              type: string
            updateWindowDuration:
              type: integer
            timeZone:
              type: string
          required:
          - useMaintenanceWindow
          - updateWindowDay
          - updateWindowStart
          - updateWindowDuration
          - timeZone
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/maintenanceWindow
      security:
      - jwt: []
      responses:
        '204':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  useMaintenanceWindow:
                    type: boolean
                  modelId:
                    type: integer
                  maintenanceWindowTypeId:
                    type: integer
                  updateWindowDay:
                    type: string
                    enum:
                    - Sunday
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                    - Saturday
                  updateWindowStart:
                    type: string
                  updateWindowDuration:
                    type: integer
                  timeZone:
                    type: string
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: No Content
      x-op-scopes:
      - o:w
      - s-o:w
      - o-basic:w
      - o{params.orgId}-hw:w
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
