openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/roles API
  version: 1.0.0
  description: User Roles
servers:
- url: https://api.openpath.com
tags:
- name: orgs/roles
  description: User Roles
paths:
  /orgs/{orgId}/roles:
    get:
      summary: List all roles
      operationId: listRoles
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-role:w,o{params.orgId}-role:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o:w,o:r,s-o:w,s-o:r,o-user:r,o-user:w,o-role:r,o-role:w


        __Endpoint name__: listRoles'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        description:
                          type:
                          - string
                          - 'null'
                        nativeAppId:
                          type:
                          - integer
                          - 'null'
                        nativeApp:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                        isEditable:
                          type: boolean
                        isSiteSpecific:
                          type: boolean
                        isMfaRequired:
                          type: boolean
                        createdAt:
                          type: string
                          format: date
                        updatedAt:
                          type: string
                          format: date
                        userCount:
                          type: integer
                        sites:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o-user:r
      - o-user:w
      - o-role:r
      - o-role:w
    post:
      summary: Create a role
      operationId: createRole
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: createRole'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      nativeAppId:
                        type:
                        - integer
                        - 'null'
                      nativeApp:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      isEditable:
                        type: boolean
                      isSiteSpecific:
                        type: boolean
                      isMfaRequired:
                        type: boolean
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      userCount:
                        type: integer
                      sites:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                description:
                  type:
                  - string
                  - 'null'
                nativeAppId:
                  type:
                  - integer
                  - 'null'
                isSiteSpecific:
                  type: boolean
                isMfaRequired:
                  type: boolean
              required:
              - name
  /orgs/{orgId}/roles/{roleId}:
    get:
      summary: Describe a role
      operationId: describeRole
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o:w,o:r,s-o:w,s-o:r,o-role:r,o-role:w


        __Endpoint name__: describeRole'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      description:
                        type:
                        - string
                        - 'null'
                      nativeAppId:
                        type:
                        - integer
                        - 'null'
                      nativeApp:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                      isEditable:
                        type: boolean
                      isSiteSpecific:
                        type: boolean
                      isMfaRequired:
                        type: boolean
                      createdAt:
                        type: string
                        format: date
                      updatedAt:
                        type: string
                        format: date
                      userCount:
                        type: integer
                      sites:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                          required:
                          - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o-role:r
      - o-role:w
    delete:
      summary: Delete a role
      operationId: deleteRole
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: deleteRole'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
    patch:
      summary: Update a role
      operationId: updateRole
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: updateRole'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                description:
                  type:
                  - string
                  - 'null'
                nativeAppId:
                  type:
                  - integer
                  - 'null'
                isSiteSpecific:
                  type: boolean
                isMfaRequired:
                  type: boolean
  /orgs/{orgId}/roles/{roleId}/users:
    get:
      summary: List all users of a role
      operationId: listRoleUsers
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o:w,o:r,s-o:w,s-o:r,o-role:r,o-role:w


        __Endpoint name__: listRoleUsers'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: identity.lastName
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      - name: options
        in: query
        schema:
          type: string
          default: ''
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        status:
                          type: string
                        identity:
                          type: object
                          properties:
                            id:
                              type: number
                            firstName:
                              type:
                              - string
                              - 'null'
                            middleName:
                              type:
                              - string
                              - 'null'
                            lastName:
                              type:
                              - string
                              - 'null'
                            fullName:
                              type:
                              - string
                              - 'null'
                            initials:
                              type:
                              - string
                              - 'null'
                            email:
                              type: string
                            mobilePhone:
                              type:
                              - string
                              - 'null'
                            isEmailVerified:
                              type: boolean
                            namespace:
                              type: object
                              properties:
                                id:
                                  type: integer
                                nickname:
                                  type:
                                  - string
                                  - 'null'
                                namespaceType:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                    modelName:
                                      type:
                                      - string
                                      - 'null'
                                  required:
                                  - id
                                org:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    name:
                                      type: string
                                  required:
                                  - id
                                identityProvider:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    isSsoEnabled:
                                      type: boolean
                                    isSyncMobilePhoneEnabled:
                                      type: boolean
                                    identityProviderType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                                    org:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                      required:
                                      - id
                                  required:
                                  - id
                              required:
                              - id
                          required:
                          - id
                        sites:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o-role:r
      - o-role:w
  /orgs/{orgId}/roles/{roleId}/scopeIds:
    get:
      summary: List all scope ids of a role
      operationId: listRoleScopeIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o{params.orgId}-role:r,o:w,o:r,s-o:w,s-o:r,o-role:r,o-role:w


        __Endpoint name__: listRoleScopeIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: integer
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-role:w
      - o{params.orgId}-role:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
      - o-role:r
      - o-role:w
    put:
      summary: Set a role's scopes by replacing the entire set with this one
      operationId: setRoleScopeIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w


        __Endpoint name__: setRoleScopeIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scopeIds:
                  type: array
                  items:
                    type: integer
              required:
              - scopeIds
  /orgs/{orgId}/roles/{roleId}/users/{userId}:
    delete:
      summary: Remove a user from a role
      operationId: removeUserFromRole
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: removeUserFromRole'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
    put:
      summary: Add a user to a role
      operationId: setUserToRole
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: setUserToRole'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      - name: userId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
  /orgs/{orgId}/roles/{roleId}/userIds:
    patch:
      summary: Bulk-update a role's users
      operationId: updateRoleUserIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: updateRoleUserIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                add:
                  type: array
                  x-constraint:
                    unique: true
                  items:
                    type: integer
                remove:
                  type: array
                  x-constraint:
                    unique: true
                  items:
                    type: integer
    put:
      summary: Set a role's users by replacing the entire set with this one
      operationId: setRoleUserIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: setRoleUserIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: integer
  /orgs/{orgId}/roles/{roleId}/siteIds:
    put:
      summary: Set a role's sites by replacing the entire set with this one
      operationId: setRoleSiteIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-role:w,o:w,s-o:w,o-role:w


        __Endpoint name__: setRoleSiteIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: roleId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/roles
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-role:w
      - o:w
      - s-o:w
      - o-role:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                siteIds:
                  type: array
                  items:
                    type: integer
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
