swagger: '2.0'
info:
  title: Openpath API Documentation auth billableFeatures API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: billableFeatures
paths:
  /billableFeatures:
    get:
      summary: List all billable features
      operationId: globalListBillableFeatures
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o:w,o:r,o-basic:w,o-basic:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: globalListBillableFeatures'
      parameters:
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - billableFeatures
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    isStale:
                      type: boolean
                    maxCount:
                      type: integer
                    currentCount:
                      type: integer
                    adjustOperation:
                      type: string
                      x-nullable: true
                    adjustValue:
                      type: number
                      x-nullable: true
                    adjustedCurrentCount:
                      type: integer
                      x-nullable: true
                    adjustedMaxCount:
                      type: integer
                      x-nullable: true
                    lastSyncCount:
                      type: integer
                      x-nullable: true
                    lastSyncAt:
                      type: string
                      format: date
                      x-nullable: true
                    softLimit:
                      type: integer
                      x-nullable: true
                    softLimitFirstExceededAt:
                      type: string
                      format: date
                      x-nullable: true
                    hardLimit:
                      type: integer
                      x-nullable: true
                    feature:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        code:
                          type: string
                        singular:
                          type: string
                          x-nullable: true
                        plural:
                          type: string
                          x-nullable: true
                        isBinary:
                          type: boolean
                      required:
                      - id
                    org:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                      - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o:w
      - o:r
      - o-basic:w
      - o-basic:r
      - s-o:w
      - s-o:r
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
x-proxy-enabled: false
