openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/wireless Lock Gateways API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/wirelessLockGateways
paths:
  /orgs/{orgId}/wirelessLockGateways:
    get:
      summary: List all wireless lock gateways
      operationId: listWirelessLockGateways
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o{params.orgId}-hw:r,o{params.orgId}-dash:r,o{params.orgId}-dashEntry:r,o{params.orgId}-dashActivity:r,o{params.orgId}-dashCust:r,o{params.orgId}-dashCust:w,o:r,s-o:r


        __Endpoint name__: listWirelessLockGateways'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        manufacturer:
                          type: string
                        serialNumber:
                          type: string
                        model:
                          type: string
                        lastConnectedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        lastDisconnectedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        isLive:
                          type:
                          - boolean
                          - 'null'
                        idExt:
                          type: string
                        authKey:
                          type:
                          - string
                          - 'null'
                        acuId:
                          type: integer
                        acu:
                          type: object
                          properties:
                            id:
                              type: integer
                            opal:
                              type: string
                            locationRestriction:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: number
                                allowedDistanceMeters:
                                  type: number
                                scaleFactor:
                                  type: number
                                locationMeasurement:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    longitude:
                                      type: number
                                    latitude:
                                      type: number
                                    accuracyMeters:
                                      type:
                                      - number
                                      - 'null'
                                    timeZoneId:
                                      type:
                                      - string
                                      - 'null'
                                    locationMeasurementSourceType:
                                      type: object
                                      properties:
                                        id:
                                          type: number
                                        name:
                                          type: string
                                        code:
                                          type: string
                                      required:
                                      - id
                                    rawData:
                                      type: object
                                  required:
                                  - id
                          required:
                          - id
                        config:
                          type:
                          - object
                          - 'null'
                        thirdPartyDeviceId:
                          type: integer
                        thirdPartyDevice:
                          type: object
                          properties:
                            id:
                              type: integer
                            assignedOrg:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                            serialNumber:
                              type: string
                            isOpSourced:
                              type: boolean
                            orderName:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            thirdPartyDeviceType:
                              type: object
                              properties:
                                id:
                                  type: number
                                manufacturerName:
                                  type: string
                                hardwareModel:
                                  type: string
                                description:
                                  type: string
                                dbModelName:
                                  type: string
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                              required:
                              - id
                          required:
                          - id
                        wirelessLockCount:
                          type: integer
                          default: 0
                        wirelessLockProvider:
                          type: object
                          properties:
                            id:
                              type: number
                            siteIdExt:
                              type:
                              - string
                              - 'null'
                            siteAuthKey:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            orgId:
                              type: number
                            wirelessLockProviderType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                        wirelessLockProviderId:
                          type: integer
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:r
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashEntry:r
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-dashCust:w
      - o:r
      - s-o:r
    post:
      summary: Create a wirelessLock gateway
      operationId: createWirelessLockGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: createWirelessLockGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      manufacturer:
                        type: string
                      serialNumber:
                        type: string
                      model:
                        type: string
                      lastConnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      lastDisconnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      isLive:
                        type:
                        - boolean
                        - 'null'
                      idExt:
                        type: string
                      authKey:
                        type:
                        - string
                        - 'null'
                      acuId:
                        type: integer
                      acu:
                        type: object
                        properties:
                          id:
                            type: integer
                          opal:
                            type: string
                          locationRestriction:
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                type: number
                              allowedDistanceMeters:
                                type: number
                              scaleFactor:
                                type: number
                              locationMeasurement:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  longitude:
                                    type: number
                                  latitude:
                                    type: number
                                  accuracyMeters:
                                    type:
                                    - number
                                    - 'null'
                                  timeZoneId:
                                    type:
                                    - string
                                    - 'null'
                                  locationMeasurementSourceType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      code:
                                        type: string
                                    required:
                                    - id
                                  rawData:
                                    type: object
                                required:
                                - id
                        required:
                        - id
                      config:
                        type:
                        - object
                        - 'null'
                      thirdPartyDeviceId:
                        type: integer
                      thirdPartyDevice:
                        type: object
                        properties:
                          id:
                            type: integer
                          assignedOrg:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          serialNumber:
                            type: string
                          isOpSourced:
                            type: boolean
                          orderName:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          thirdPartyDeviceType:
                            type: object
                            properties:
                              id:
                                type: number
                              manufacturerName:
                                type: string
                              hardwareModel:
                                type: string
                              description:
                                type: string
                              dbModelName:
                                type: string
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        required:
                        - id
                      wirelessLockCount:
                        type: integer
                        default: 0
                      wirelessLockProvider:
                        type: object
                        properties:
                          id:
                            type: number
                          siteIdExt:
                            type:
                            - string
                            - 'null'
                          siteAuthKey:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          orgId:
                            type: number
                          wirelessLockProviderType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        required:
                        - id
                      wirelessLockProviderId:
                        type: integer
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                manufacturer:
                  type: string
                serialNumber:
                  type: string
                model:
                  type: string
                idExt:
                  type: string
                authKey:
                  type:
                  - string
                  - 'null'
                config:
                  type:
                  - object
                  - 'null'
                isLive:
                  type: boolean
                wirelessLockProviderId:
                  type: integer
              required:
              - name
              - manufacturer
              - serialNumber
              - model
              - idExt
              - wirelessLockProviderId
  /orgs/{orgId}/wirelessLockGateways/{wirelessLockGatewayId}:
    get:
      summary: Describe a wireless lock gateway
      operationId: describeWirelessLockGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o:r,s-o:r


        __Endpoint name__: describeWirelessLockGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      manufacturer:
                        type: string
                      serialNumber:
                        type: string
                      model:
                        type: string
                      lastConnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      lastDisconnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      isLive:
                        type:
                        - boolean
                        - 'null'
                      idExt:
                        type: string
                      authKey:
                        type:
                        - string
                        - 'null'
                      acuId:
                        type: integer
                      acu:
                        type: object
                        properties:
                          id:
                            type: integer
                          opal:
                            type: string
                          locationRestriction:
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                type: number
                              allowedDistanceMeters:
                                type: number
                              scaleFactor:
                                type: number
                              locationMeasurement:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  longitude:
                                    type: number
                                  latitude:
                                    type: number
                                  accuracyMeters:
                                    type:
                                    - number
                                    - 'null'
                                  timeZoneId:
                                    type:
                                    - string
                                    - 'null'
                                  locationMeasurementSourceType:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      code:
                                        type: string
                                    required:
                                    - id
                                  rawData:
                                    type: object
                                required:
                                - id
                        required:
                        - id
                      config:
                        type:
                        - object
                        - 'null'
                      thirdPartyDeviceId:
                        type: integer
                      thirdPartyDevice:
                        type: object
                        properties:
                          id:
                            type: integer
                          assignedOrg:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          serialNumber:
                            type: string
                          isOpSourced:
                            type: boolean
                          orderName:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          thirdPartyDeviceType:
                            type: object
                            properties:
                              id:
                                type: number
                              manufacturerName:
                                type: string
                              hardwareModel:
                                type: string
                              description:
                                type: string
                              dbModelName:
                                type: string
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        required:
                        - id
                      wirelessLockCount:
                        type: integer
                        default: 0
                      wirelessLockProvider:
                        type: object
                        properties:
                          id:
                            type: number
                          siteIdExt:
                            type:
                            - string
                            - 'null'
                          siteAuthKey:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          orgId:
                            type: number
                          wirelessLockProviderType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        required:
                        - id
                      wirelessLockProviderId:
                        type: integer
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o:r
      - s-o:r
    delete:
      summary: Remove a wireless lock gateway
      operationId: deleteWirelessLockGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: deleteWirelessLockGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    patch:
      summary: Update a wirelessLock gateway
      operationId: updateWirelessLockGateway
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateWirelessLockGateway'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                authKey:
                  type: string
                lastConnectedAt:
                  type: string
                  format: date
                lastDisconnectedAt:
                  type: string
                  format: date
                isLive:
                  type: boolean
                config:
                  type:
                  - object
                  - 'null'
  /orgs/{orgId}/wirelessLockGateways/updateFirmwareBatch:
    post:
      summary: Update the firmware for multiple wireless lock gateways to the latest version
      operationId: updateWirelessLockGatewayFirmwareBatch
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateWirelessLockGatewayFirmwareBatch'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockGatewayIds
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
          minItems: 1
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Firmware update started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessLockGateways/{wirelessLockGatewayId}/updateFirmware:
    post:
      summary: Update the firmware for a wireless lock gateway to a specific version
      operationId: updateWirelessLockGatewayFirmware
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateWirelessLockGatewayFirmware'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Firmware update started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
  /orgs/{orgId}/wirelessLockGateways/{wirelessLockGatewayId}/syncDevices:
    post:
      summary: Sync devices for a wireless lock gateway
      operationId: syncWirelessLockGatewayDevices
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: syncWirelessLockGatewayDevices'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockGatewayId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockGateways
      security:
      - jwt: []
      responses:
        '201':
          description: Gateway edge device sync started
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
