swagger: '2.0'
info:
  title: Openpath API Documentation auth orgs/credentialTypes API
  version: 1.0.0
  description: Authentication and Login
host: api.openpath.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: orgs/credentialTypes
  description: Credential Types
paths:
  /orgs/{orgId}/credentialTypes:
    get:
      summary: List all credential types
      operationId: listCredentialTypes
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-dashActivity:w,o{params.orgId}-dashActivity:r,o{params.orgId}-dashCust:w,o{params.orgId}-dashCust:r,o{params.orgId}-credential:w,o{params.orgId}-credential:r,o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-rptGeneral:w,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listCredentialTypes'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        minimum: 1
        maximum: 1000
        name: limit
        in: query
      - type: integer
        default: 0
        minimum: 0
        name: offset
        in: query
      - type: string
        default: ordinal
        pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
        name: sort
        in: query
      - type: string
        default: asc
        pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
        name: order
        in: query
      - type: string
        name: q
        in: query
      - type: string
        name: filter
        in: query
      - type: string
        name: preFilter
        in: query
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/credentialTypes
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    name:
                      type: string
                    description:
                      type: string
                    modelName:
                      type: string
                  required:
                  - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashActivity:w
      - o{params.orgId}-dashActivity:r
      - o{params.orgId}-dashCust:w
      - o{params.orgId}-dashCust:r
      - o{params.orgId}-credential:w
      - o{params.orgId}-credential:r
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-rptGeneral:w
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/credentialTypes/{credentialTypeId}:
    get:
      summary: Describe a credential type
      operationId: describeCredentialType
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-user:w,o{params.orgId}-user:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: describeCredentialType'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: credentialTypeId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/credentialTypes
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: number
                  name:
                    type: string
                  description:
                    type: string
                  modelName:
                    type: string
                required:
                - id
              meta:
                type: object
                properties:
                  accessToken:
                    x-nullable: true
                    type: object
                    properties:
                      scopeUpdatedAt:
                        type: string
                        format: date
                  siteSpecificAccess:
                    x-nullable: true
                    type: object
                    properties:
                      isSiteSpecific:
                        type: boolean
                      siteIds:
                        x-nullable: true
                        type: array
                        items:
                          type: integer
                      siteIdsByScope:
                        type: object
                        properties:
                          string:
                            x-nullable: true
                            type: array
                            items:
                              type: integer
                        x-nullable: true
          description: Successful
      x-op-scopes:
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/credentialTypes/{credentialTypeId}/models/{modelId}/noTourCredentialCommands:
    get:
      summary: List all no tour credential commands for the given credential
      operationId: listOrgNoTourCredentialCommands
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-credential:w,o{params.orgId}-credential:r,o:w,o:r,s-o:w,s-o:r<br/><br/>__Endpoint name__: listOrgNoTourCredentialCommands'
      parameters:
      - type: integer
        name: orgId
        in: path
        required: true
      - type: integer
        name: credentialTypeId
        in: path
        required: true
      - type: integer
        name: modelId
        in: path
        required: true
      consumes:
      - application/json
      produces:
      - application/json
      tags:
      - orgs/credentialTypes
      security:
      - jwt: []
      responses:
        '200':
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              filteredCount:
                type: integer
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    command:
                      type: string
                      enum:
                      - ADD
                      - DEL
                    fobAllegion:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        number:
                          type: string
                          x-nullable: true
                        csn:
                          type: string
                          x-nullable: true
                        isNoTour:
                          type: boolean
                        isLost:
                          type: boolean
                        userId:
                          type: integer
                          x-nullable: true
                        noTourCredentialCommands:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              command:
                                type: string
                                enum:
                                - ADD
                                - DEL
                              fobAllegionId:
                                type: integer
                                x-nullable: true
                              cardOpenpathDesfireEv1Id:
                                type: integer
                                x-nullable: true
                              allegionMobileId:
                                type: integer
                                x-nullable: true
                              wirelessLock:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  manufacturer:
                                    type: string
                                  model:
                                    type: string
                                  serialNumber:
                                    type: string
                                    x-nullable: true
                                  idExt:
                                    type: string
                                    x-nullable: true
                                  lastConnectedAt:
                                    type: string
                                    format: date
                                    x-nullable: true
                                  doorFileLastSyncedAt:
                                    type: string
                                    format: date
                                    x-nullable: true
                                  auditsLastSyncedAt:
                                    type: string
                                    format: date
                                    x-nullable: true
                                  linkId:
                                    type: string
                                    x-nullable: true
                                  config:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      battV:
                                        type: object
                                        properties:
                                          main:
                                            type: string
                                          li:
                                            type: string
                                      fwVer:
                                        type: object
                                        properties:
                                          lock:
                                            type: string
                                          main:
                                            type: string
                                          mainBl:
                                            type: string
                                          credRdr:
                                            type: string
                                          credRdrBl:
                                            type: string
                                          ble:
                                            type: string
                                          wifi:
                                            type: string
                                          macAdr:
                                            type: string
                                          recoveryFwVer:
                                            type: string
                                      lockPrmtrs:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            minLength: 1
                                            maxLength: 52
                                          type:
                                            type: string
                                            enum:
                                            - strm
                                            - office
                                            - apt
                                            - prvcy
                                          relock:
                                            type: integer
                                            minimum: 0
                                            maximum: 30
                                          lockId:
                                            type: integer
                                          doorProp:
                                            type: integer
                                            minimum: 1
                                            maximum: 255
                                          ada:
                                            type: integer
                                            minimum: 1
                                            maximum: 255
                                          firstManIn:
                                            type: integer
                                            enum:
                                            - 0
                                            - 1
                                          battFail:
                                            type: string
                                            enum:
                                            - asIs
                                            - safe
                                            - sec
                                          blinkIntLed:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          rapidBlink:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          dstEnable:
                                            type: integer
                                            enum:
                                            - 0
                                            - 1
                                          dstStart:
                                            type: string
                                            x-constraint:
                                              length: 4
                                            x-convert:
                                              case: lower
                                          dstEnd:
                                            type: string
                                            x-constraint:
                                              length: 4
                                            x-convert:
                                              case: lower
                                          rtcTime:
                                            type: string
                                            x-constraint:
                                              length: 14
                                          wifiAlertEn:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          wifiAlertSel:
                                            type: array
                                            items:
                                              type: string
                                              x-constraint:
                                                length: 6
                                          fwUrl:
                                            type: string
                                            maxLength: 64
                                          fwDwnldTm:
                                            type: string
                                            x-constraint:
                                              length: 14
                                          fwImplTm:
                                            type: string
                                            x-constraint:
                                              length: 14
                                          dpsEn:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          bleCredEn:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          bleCredRng:
                                            type: string
                                            enum:
                                            - short
                                            - long
                                          blePerf:
                                            type: string
                                            enum:
                                            - norm
                                            - max
                                          invCrdAudEn:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          wifiDwnldRtyTmIntv:
                                            type: integer
                                            minimum: 5
                                            maximum: 1440
                                          wifiDwnldRtyCnt:
                                            type: integer
                                            minimum: 1
                                            maximum: 250
                                          auditIDEn:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          blkCnstr:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          mdl:
                                            type: string
                                          lckMode:
                                            type: string
                                          lckSn:
                                            type: string
                                          mainSn:
                                            type: string
                                          hwVer:
                                            type: string
                                          daysInUse:
                                            type: integer
                                          mfgDt:
                                            type: string
                                          dbDwnldTm:
                                            type: string
                                          fwImpTm:
                                            type: string
                                          nxtDbVerTS:
                                            type: string
                                          hwCfg:
                                            type: string
                                          dbUpdateStatus:
                                            type: integer
                                          wtyAct:
                                            type: string
                                            x-constraint:
                                              length: 14
                                            x-alternatives:
                                            - type: string
                                              x-constraint:
                                                length: 14
                                            - type: string
                                              enum:
                                              - unknown
                                          numCycles:
                                            type: integer
                                      rdrPrmtrs:
                                        type: object
                                        properties:
                                          bprEn:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          rdrSense:
                                            type: string
                                            enum:
                                            - norm
                                            - high
                                            - max
                                          proxConfHID:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          proxConfGECASI:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          proxConfGE4001:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          proxConfGE4002:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          proxConfAWID:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          uid14443:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          mi14443:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          mip14443:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          noc14443:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          uid15693:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          iClsUID40b:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          iClsFrmt:
                                            type: string
                                            enum:
                                            - disbld
                                            - 64bCSN
                                          daysInUse:
                                            type: integer
                                          sn:
                                            type: string
                                          hwVer:
                                            type: string
                                          mfgDt:
                                            type: string
                                          configCrdPrsntd:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          customKeyPrsntd:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                      dvcProfile:
                                        type: object
                                        properties:
                                          baseType:
                                            type: string
                                          ext:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                key:
                                                  type: string
                                                value:
                                                  type: integer
                                                  enum:
                                                  - 1
                                                  - 0
                                  status:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      lockStatus:
                                        type: object
                                        properties:
                                          currentLockState:
                                            type: string
                                      sensorStatus:
                                        type: object
                                        properties:
                                          locked:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          auxPosition:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          alarmPosition:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          lockClutched:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          primaryBatteryStatus:
                                            type: string
                                          rtcBatteryStatus:
                                            type: string
                                          rtccStatus:
                                            type: string
                                          doorOpen:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          ipbActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          rexActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          renActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          relActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          deadBoltExtended:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          keyOverrideActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          fdrActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          tamperOpen:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          magTamperDetected:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          rdrTamperDetected:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          ttl1Active:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          ttl2Active:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          bprActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          ledActive:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                  noTourLockId:
                                    type: integer
                                    minimum: 0
                                    maximum: 65535
                                    x-nullable: true
                                  commStatus:
                                    type: string
                                    x-nullable: true
                                  batteryLevel:
                                    type: number
                                    x-nullable: true
                                  isOffline:
                                    type: boolean
                                  thirdPartyDeviceId:
                                    type: integer
                                    x-nullable: true
                                  thirdPartyDevice:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      assignedOrg:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          name:
                                            type: string
                                        required:
                                        - id
                                      serialNumber:
                                        type: string
                                      isOpSourced:
                                        type: boolean
                                      orderName:
                                        type: string
                                        x-nullable: true
                                      createdAt:
                                        type: string
                                        format: date
                                      updatedAt:
                                        type: string
                                        format: date
                                      thirdPartyDeviceType:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          manufacturerName:
                                            type: string
                                          hardwareModel:
                                            type: string
                                          description:
                                            type: string
                                          dbModelName:
                                            type: string
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                        required:
                                        - id
                                    required:
                                    - id
                                  acuId:
                                    type: integer
                                    x-nullable: true
                                  acu:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      id:
                                        type: integer
                                      opal:
                                        type: string
                                      locationRestriction:
                                        x-nullable: true
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          allowedDistanceMeters:
                                            type: number
                                          scaleFactor:
                                            type: number
                                          locationMeasurement:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              longitude:
                                                type: number
                                              latitude:
                                                type: number
                                              accuracyMeters:
                                                type: number
                                                x-nullable: true
                                              timeZoneId:
                                                type: string
                                                x-nullable: true
                                              locationMeasurementSourceType:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  name:
                                                    type: string
                                                  code:
                                                    type: string
                                                required:
                                                - id
                                              rawData:
                                                type: object
                                            required:
                                            - id
                                    required:
                                    - id
                                  virtualAcuId:
                                    type: integer
                                    x-nullable: true
                                  wirelessLockGatewayId:
                                    type: integer
                                    x-nullable: true
                                  wirelessLockGateway:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      manufacturer:
                                        type: string
                                      serialNumber:
                                        type: string
                                      model:
                                        type: string
                                      lastConnectedAt:
                                        type: string
                                        format: date
                                        x-nullable: true
                                      lastDisconnectedAt:
                                        type: string
                                        format: date
                                        x-nullable: true
                                      isLive:
                                        type: boolean
                                        x-nullable: true
                                      idExt:
                                        type: string
                                      authKey:
                                        type: string
                                        x-nullable: true
                                      acuId:
                                        type: integer
                                      acu:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          opal:
                                            type: string
                                          locationRestriction:
                                            x-nullable: true
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              allowedDistanceMeters:
                                                type: number
                                              scaleFactor:
                                                type: number
                                              locationMeasurement:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  longitude:
                                                    type: number
                                                  latitude:
                                                    type: number
                                                  accuracyMeters:
                                                    type: number
                                                    x-nullable: true
                                                  timeZoneId:
                                                    type: string
                                                    x-nullable: true
                                                  locationMeasurementSourceType:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: number
                                                      name:
                                                        type: string
                                                      code:
                                                        type: string
                                                    required:
                                                    - id
                                                  rawData:
                                                    type: object
                                                required:
                                                - id
                                        required:
                                        - id
                                      config:
                                        x-nullable: true
                                        type: object
                                      thirdPartyDeviceId:
                                        type: integer
                                      thirdPartyDevice:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          assignedOrg:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              name:
                                                type: string
                                            required:
                                            - id
                                          serialNumber:
                                            type: string
                                          isOpSourced:
                                            type: boolean
                                          orderName:
                                            type: string
                                            x-nullable: true
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          thirdPartyDeviceType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              manufacturerName:
                                                type: string
                                              hardwareModel:
                                                type: string
                                              description:
                                                type: string
                                              dbModelName:
                                                type: string
                                              createdAt:
                                                type: string
                                                format: date
                                              updatedAt:
                                                type: string
                                                format: date
                                            required:
                                            - id
                                        required:
                                        - id
                                      wirelessLockCount:
                                        type: integer
                                        default: 0
                                      wirelessLockProvider:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          siteIdExt:
                                            type: string
                                            x-nullable: true
                                          siteAuthKey:
                                            type: string
                                            x-nullable: true
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          orgId:
                                            type: number
                                          wirelessLockProviderType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                            required:
                                            - id
                                        required:
                                        - id
                                      wirelessLockProviderId:
                                        type: integer
                                    required:
                                    - id
                                  wirelessLockProviderId:
                                    type: integer
                                  wirelessGatewayId:
                                    type: integer
                                    x-nullable: true
                                  wirelessGateway:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      manufacturer:
                                        type: string
                                      serialNumber:
                                        type: string
                                      model:
                                        type: string
                                      lastConnectedAt:
                                        type: string
                                        format: date
                                        x-nullable: true
                                      lastDisconnectedAt:
                                        type: string
                                        format: date
                                        x-nullable: true
                                      isLive:
                                        type: boolean
                                        x-nullable: true
                                      idExt:
                                        type: string
                                      authKey:
                                        type: string
                                        x-nullable: true
                                      acuId:
                                        type: integer
                                      acu:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          opal:
                                            type: string
                                          locationRestriction:
                                            x-nullable: true
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              allowedDistanceMeters:
                                                type: number
                                              scaleFactor:
                                                type: number
                                              locationMeasurement:
                                                type: object
                                                properties:
                                                  id:
                                                    type: number
                                                  longitude:
                                                    type: number
                                                  latitude:
                                                    type: number
                                                  accuracyMeters:
                                                    type: number
                                                    x-nullable: true
                                                  timeZoneId:
                                                    type: string
                                                    x-nullable: true
                                                  locationMeasurementSourceType:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: number
                                                      name:
                                                        type: string
                                                      code:
                                                        type: string
                                                    required:
                                                    - id
                                                  rawData:
                                                    type: object
                                                required:
                                                - id
                                        required:
                                        - id
                                      config:
                                        x-nullable: true
                                        type: object
                                      thirdPartyDeviceId:
                                        type: integer
                                      thirdPartyDevice:
                                        type: object
                                        properties:
                                          id:
                                            type: integer
                                          assignedOrg:
                                            type: object
                                            properties:
                                              id:
                                                type: integer
                                              name:
                                                type: string
                                            required:
                                            - id
                                          serialNumber:
                                            type: string
                                          isOpSourced:
                                            type: boolean
                                          orderName:
                                            type: string
                                            x-nullable: true
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          thirdPartyDeviceType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              manufacturerName:
                                                type: string
                                              hardwareModel:
                                                type: string
                                              description:
                                                type: string
                                              dbModelName:
                                                type: string
                                              createdAt:
                                                type: string
                                                format: date
                                              updatedAt:
                                                type: string
                                                format: date
                                            required:
                                            - id
                                        required:
                                        - id
                                      wirelessLockCount:
                                        type: integer
                                        default: 0
                                      wirelessLockProvider:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          siteIdExt:
                                            type: string
                                            x-nullable: true
                                          siteAuthKey:
                                            type: string
                                            x-nullable: true
                                          createdAt:
                                            type: string
                                            format: date
                                          updatedAt:
                                            type: string
                                            format: date
                                          orgId:
                                            type: number
                                          wirelessLockProviderType:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                            required:
                                            - id
                                        required:
                                        - id
                                      wirelessLockProviderId:
                                        type: integer
                                    required:
                                    - id
                                  wirelessLockProvider:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      siteIdExt:
                                        type: string
                                        x-nullable: true
                                      siteAuthKey:
                                        type: string
                                        x-nullable: true
                                      createdAt:
                                        type: string
                                        format: date
                                      updatedAt:
                                        type: string
                                        format: date
                                      orgId:
                                        type: number
                                      wirelessLockProviderType:
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                        required:
                                        - id
                                    required:
                                    - id
                                  entry:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      name:
                                        type: string
                                      zone:
                                        x-nullable: true
                                        type: object
                                        properties:
                                          id:
                                            type: number
                                          name:
                                            type: string
                                          site:
                                            type: object
                                            properties:
                                              id:
                                                type: number
                                              name:
                                                type: string
                                            required:
                                            - id
                                        required:
                                        - id
                                    required:
                                    - id
                                  allegionWirelessLock:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      auditsLastSyncedAt:
                                        type: string
                                        format: date
                                        x-nullable: true
                                      batteryLevel:
                                        type: number
                                        x-nullable: true
                                      commStatus:
                                        type: string
                                        x-nullable: true
                                      config:
                                        x-nullable: true
                                        type: object
                                        properties:
                                          battV:
                                            type: object
                                            properties:
                                              main:
                                                type: string
                                              li:
                                                type: string
                                          fwVer:
                                            type: object
                                            properties:
                                              lock:
                                                type: string
                                              main:
                                                type: string
                                              mainBl:
                                                type: string
                                              credRdr:
                                                type: string
                                              credRdrBl:
                                                type: string
                                              ble:
                                                type: string
                                              wifi:
                                                type: string
                                              macAdr:
                                                type: string
                                              recoveryFwVer:
                                                type: string
                                          lockPrmtrs:
                                            type: object
                                            properties:
                                              name:
                                                type: string
                                                minLength: 1
                                                maxLength: 52
                                              type:
                                                type: string
                                                enum:
                                                - strm
                                                - office
                                                - apt
                                                - prvcy
                                              relock:
                                                type: integer
                                                minimum: 0
                                                maximum: 30
                                              lockId:
                                                type: integer
                                              doorProp:
                                                type: integer
                                                minimum: 1
                                                maximum: 255
                                              ada:
                                                type: integer
                                                minimum: 1
                                                maximum: 255
                                              firstManIn:
                                                type: integer
                                                enum:
                                                - 0
                                                - 1
                                              battFail:
                                                type: string
                                                enum:
                                                - asIs
                                                - safe
                                                - sec
                                              blinkIntLed:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rapidBlink:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              dstEnable:
                                                type: integer
                                                enum:
                                                - 0
                                                - 1
                                              dstStart:
                                                type: string
                                                x-constraint:
                                                  length: 4
                                                x-convert:
                                                  case: lower
                                              dstEnd:
                                                type: string
                                                x-constraint:
                                                  length: 4
                                                x-convert:
                                                  case: lower
                                              rtcTime:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                              wifiAlertEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              wifiAlertSel:
                                                type: array
                                                items:
                                                  type: string
                                                  x-constraint:
                                                    length: 6
                                              fwUrl:
                                                type: string
                                                maxLength: 64
                                              fwDwnldTm:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                              fwImplTm:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                              dpsEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              bleCredEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              bleCredRng:
                                                type: string
                                                enum:
                                                - short
                                                - long
                                              blePerf:
                                                type: string
                                                enum:
                                                - norm
                                                - max
                                              invCrdAudEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              wifiDwnldRtyTmIntv:
                                                type: integer
                                                minimum: 5
                                                maximum: 1440
                                              wifiDwnldRtyCnt:
                                                type: integer
                                                minimum: 1
                                                maximum: 250
                                              auditIDEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              blkCnstr:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              mdl:
                                                type: string
                                              lckMode:
                                                type: string
                                              lckSn:
                                                type: string
                                              mainSn:
                                                type: string
                                              hwVer:
                                                type: string
                                              daysInUse:
                                                type: integer
                                              mfgDt:
                                                type: string
                                              dbDwnldTm:
                                                type: string
                                              fwImpTm:
                                                type: string
                                              nxtDbVerTS:
                                                type: string
                                              hwCfg:
                                                type: string
                                              dbUpdateStatus:
                                                type: integer
                                              wtyAct:
                                                type: string
                                                x-constraint:
                                                  length: 14
                                                x-alternatives:
                                                - type: string
                                                  x-constraint:
                                                    length: 14
                                                - type: string
                                                  enum:
                                                  - unknown
                                              numCycles:
                                                type: integer
                                          rdrPrmtrs:
                                            type: object
                                            properties:
                                              bprEn:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rdrSense:
                                                type: string
                                                enum:
                                                - norm
                                                - high
                                                - max
                                              proxConfHID:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfGECASI:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfGE4001:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfGE4002:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              proxConfAWID:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              uid14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              mi14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              mip14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              noc14443:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              uid15693:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              iClsUID40b:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              iClsFrmt:
                                                type: string
                                                enum:
                                                - disbld
                                                - 64bCSN
                                              daysInUse:
                                                type: integer
                                              sn:
                                                type: string
                                              hwVer:
                                                type: string
                                              mfgDt:
                                                type: string
                                              configCrdPrsntd:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              customKeyPrsntd:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                          dvcProfile:
                                            type: object
                                            properties:
                                              baseType:
                                                type: string
                                              ext:
                                                type: array
                                                items:
                                                  type: object
                                                  properties:
                                                    key:
                                                      type: string
                                                    value:
                                                      type: integer
                                                      enum:
                                                      - 1
                                                      - 0
                                      doorFileLastSyncedAt:
                                        type: string
                                        format: date
                                        x-nullable: true
                                      id:
                                        type: number
                                      idExt:
                                        type: string
                                        x-nullable: true
                                      linkId:
                                        type: string
                                        x-nullable: true
                                      noTourLockId:
                                        type: number
                                        x-nullable: true
                                      status:
                                        x-nullable: true
                                        type: object
                                        properties:
                                          lockStatus:
                                            type: object
                                            properties:
                                              currentLockState:
                                                type: string
                                          sensorStatus:
                                            type: object
                                            properties:
                                              locked:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              auxPosition:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              alarmPosition:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              lockClutched:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              primaryBatteryStatus:
                                                type: string
                                              rtcBatteryStatus:
                                                type: string
                                              rtccStatus:
                                                type: string
                                              doorOpen:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ipbActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rexActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              renActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              relActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              deadBoltExtended:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              keyOverrideActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              fdrActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              tamperOpen:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              magTamperDetected:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              rdrTamperDetected:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ttl1Active:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ttl2Active:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              bprActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                              ledActive:
                                                type: string
                                                enum:
                                                - T
                                                - F
                                    required:
                                    - id
                                  avigilonWirelessLock:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      formFactor:
                                        type: string
                                        x-nullable: true
                                      keypadTimeout:
                                        type: integer
                                        x-nullable: true
                                      keypadBrightness:
                                        type: integer
                                        x-nullable: true
                                      timeOffset:
                                        type: integer
                                        x-nullable: true
                                      dstEnabled:
                                        type: boolean
                                        default: false
                                      networkConfig:
                                        x-nullable: true
                                        type: object
                                      firmwareVersions:
                                        x-nullable: true
                                        type: object
                                      serialNumber:
                                        type: string
                                        x-nullable: true
                                    required:
                                    - id
                                    - dstEnabled
                                  assaAbloyWirelessLock:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      deviceGroupId:
                                        type: string
                                        x-nullable: true
                                      wirelessLockId:
                                        type: integer
                                      config:
                                        x-nullable: true
                                        type: object
                                        properties:
                                          lockPrmtrs:
                                            x-nullable: true
                                            type: object
                                          rdrPrmtrs:
                                            x-nullable: true
                                            type: object
                                          isAjarEnabled:
                                            type: boolean
                                            x-nullable: true
                                          isForcedOpenEnabled:
                                            type: boolean
                                            x-nullable: true
                                    required:
                                    - id
                                    - wirelessLockId
                                required:
                                - id
                              targetFobAllegionId:
                                type: integer
                                x-nullable: true
                              targetCardOpenpathDesfireEv1Id:
                                type: integer
                                x-nullable: true
                              targetAllegionMobileId:
                                type: integer
                                x-nullable: true
                            required:
                            - id
                        targetOfNoTourCredentialCommands:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              command:
                                type: string
                                enum:
                                - ADD
                                - DEL
                              fobAllegionId:
                                type: integer
                                x-nullable: true
                              cardOpenpathDesfireEv1Id:
                                type: integer
                                x-nullable: true
                              allegionMobileId:
                                type: integer
                                x-nullable: true
                              wirelessLock:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  name:
                                    type: string
                                  manufacturer:
                                    type: string
                                  model:
                                    type: string
                                  serialNumber:
                                    type: string
                                    x-nullable: true
                                  idExt:
                                    type: string
                                    x-nullable: true
                                  lastConnectedAt:
                                    type: string
                                    format: date
                                    x-nullable: true
                                  doorFileLastSyncedAt:
                                    type: string
                                    format: date
                                    x-nullable: true
                                  auditsLastSyncedAt:
                                    type: string
                                    format: date
                                    x-nullable: true
                                  linkId:
                                    type: string
                                    x-nullable: true
                                  config:
                                    x-nullable: true
                                    type: object
                                    properties:
                                      battV:
                                        type: object
                                        properties:
                                          main:
                                            type: string
                                          li:
                                            type: string
                                      fwVer:
                                        type: object
                                        properties:
                                          lock:
                                            type: string
                                          main:
                                            type: string
                                          mainBl:
                                            type: string
                                          credRdr:
                                            type: string
                                          credRdrBl:
                                            type: string
                                          ble:
                                            type: string
                                          wifi:
                                            type: string
                                          macAdr:
                                            type: string
                                          recoveryFwVer:
                                            type: string
                                      lockPrmtrs:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            minLength: 1
                                            maxLength: 52
                                          type:
                                            type: string
                                            enum:
                                            - strm
                                            - office
                                            - apt
                                            - prvcy
                                          relock:
                                            type: integer
                                            minimum: 0
                                            maximum: 30
                                          lockId:
                                            type: integer
                                          doorProp:
                                            type: integer
                                            minimum: 1
                                            maximum: 255
                                          ada:
                                            type: integer
                                            minimum: 1
                                            maximum: 255
                                          firstManIn:
                                            type: integer
                                            enum:
                                            - 0
                                            - 1
                                          battFail:
                                            type: string
                                            enum:
                                            - asIs
                                            - safe
                                            - sec
                                          blinkIntLed:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          rapidBlink:
                                            type: string
                                            enum:
                                            - T
                                            - F
                                          dstEnable:
                                            type: integer
                                            enum:
                                            - 0
                                            - 1
                                          dstStart:
[...]
