openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/entry States API
  version: 1.0.0
  description: Entry States
servers:
- url: https://api.openpath.com
tags:
- name: orgs/entryStates
  description: Entry States
paths:
  /orgs/{orgId}/entryStates:
    get:
      summary: List all entry states
      operationId: listEntryStates
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-dash:w,o{params.orgId}-dash:r,o{params.orgId}-user:w,o{params.orgId}-user:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-entryState:w,o{params.orgId}-entryState:r,o{params.orgId}-ldp:w,o{params.orgId}-ldp:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listEntryStates'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: ordinal
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/entryStates
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        ordinal:
                          type: number
                        name:
                          type: string
                        code:
                          type: string
                        description:
                          type: string
                        isLocked:
                          type: boolean
                        isToggle:
                          type: boolean
                        orgId:
                          type:
                          - number
                          - 'null'
                        isMultiFactor:
                          type: boolean
                        triggerMethods:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              code:
                                type: string
                              connectionTypeCode:
                                type: string
                              requestTypeCode:
                                type: string
                              credentialType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  modelName:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                        secondFactorTriggerMethods:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              code:
                                type: string
                              connectionTypeCode:
                                type: string
                              requestTypeCode:
                                type: string
                              credentialType:
                                type: object
                                properties:
                                  id:
                                    type: number
                                  modelName:
                                    type: string
                                required:
                                - id
                            required:
                            - id
                        triggerMethodCount:
                          type: integer
                        secondFactorTriggerMethodCount:
                          type: integer
                        secondFactorTimeoutSeconds:
                          type:
                          - integer
                          - 'null'
                        uniqueTriggerMethodCount:
                          type: integer
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-dash:w
      - o{params.orgId}-dash:r
      - o{params.orgId}-user:w
      - o{params.orgId}-user:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-entryState:r
      - o{params.orgId}-ldp:w
      - o{params.orgId}-ldp:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    post:
      summary: Create a custom entry state
      operationId: createEntryState
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-entryState:w,o:w,s-o:w


        __Endpoint name__: createEntryState'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/entryStates
      security:
      - jwt: []
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      ordinal:
                        type: number
                      name:
                        type: string
                      code:
                        type: string
                      description:
                        type: string
                      isLocked:
                        type: boolean
                      isToggle:
                        type: boolean
                      orgId:
                        type:
                        - number
                        - 'null'
                      isMultiFactor:
                        type: boolean
                      triggerMethods:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            connectionTypeCode:
                              type: string
                            requestTypeCode:
                              type: string
                            credentialType:
                              type: object
                              properties:
                                id:
                                  type: number
                                modelName:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      secondFactorTriggerMethods:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            connectionTypeCode:
                              type: string
                            requestTypeCode:
                              type: string
                            credentialType:
                              type: object
                              properties:
                                id:
                                  type: number
                                modelName:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      triggerMethodCount:
                        type: integer
                      secondFactorTriggerMethodCount:
                        type: integer
                      secondFactorTimeoutSeconds:
                        type:
                        - integer
                        - 'null'
                      uniqueTriggerMethodCount:
                        type: integer
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-entryState:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                description:
                  type: string
                  minLength: 1
                  maxLength: 255
                isLocked:
                  type: boolean
                secondFactorTimeoutSeconds:
                  type:
                  - integer
                  - 'null'
                  minimum: 5
                  maximum: 30
                isToggle:
                  type: boolean
                  default: false
              required:
              - name
              - description
              - isLocked
  /orgs/{orgId}/entryStates/{entryStateId}:
    get:
      summary: Describe an entry state
      operationId: describeEntryState
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-entryState:w,o{params.orgId}-entryState:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeEntryState'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: entryStateId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/entryStates
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      ordinal:
                        type: number
                      name:
                        type: string
                      code:
                        type: string
                      description:
                        type: string
                      isLocked:
                        type: boolean
                      isToggle:
                        type: boolean
                      orgId:
                        type:
                        - number
                        - 'null'
                      isMultiFactor:
                        type: boolean
                      triggerMethods:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            connectionTypeCode:
                              type: string
                            requestTypeCode:
                              type: string
                            credentialType:
                              type: object
                              properties:
                                id:
                                  type: number
                                modelName:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      secondFactorTriggerMethods:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            code:
                              type: string
                            connectionTypeCode:
                              type: string
                            requestTypeCode:
                              type: string
                            credentialType:
                              type: object
                              properties:
                                id:
                                  type: number
                                modelName:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      triggerMethodCount:
                        type: integer
                      secondFactorTriggerMethodCount:
                        type: integer
                      secondFactorTimeoutSeconds:
                        type:
                        - integer
                        - 'null'
                      uniqueTriggerMethodCount:
                        type: integer
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-entryState:w
      - o{params.orgId}-entryState:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    delete:
      summary: Delete a custom entry state
      operationId: deleteEntryState
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-entryState:w,o:w,s-o:w


        __Endpoint name__: deleteEntryState'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: entryStateId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/entryStates
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-entryState:w
      - o:w
      - s-o:w
    patch:
      summary: Update a custom entry state
      operationId: updateEntryState
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-entryState:w,o:w,s-o:w


        __Endpoint name__: updateEntryState'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: entryStateId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/entryStates
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-entryState:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                description:
                  type: string
                  minLength: 1
                  maxLength: 255
                isLocked:
                  type: boolean
                secondFactorTimeoutSeconds:
                  type:
                  - integer
                  - 'null'
                  minimum: 5
                  maximum: 30
                isToggle:
                  type: boolean
                  default: false
  /orgs/{orgId}/entryStates/{entryStateId}/triggerMethodIds:
    put:
      summary: Set a custom entry state's entire list of trigger methods
      operationId: setEntryStateTriggerMethodIds
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-site:w,o{params.orgId}-entryState:w,o:w,s-o:w


        __Endpoint name__: setEntryStateTriggerMethodIds'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: entryStateId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/entryStates
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-site:w
      - o{params.orgId}-entryState:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                triggerMethodIds:
                  type: array
                  items:
                    type: integer
                secondFactorTriggerMethodIds:
                  type: array
                  items:
                    type: integer
              required:
              - triggerMethodIds
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
