openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/wireless Lock Readers API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/wirelessLockReaders
paths:
  /orgs/{orgId}/wirelessLockReaders:
    get:
      summary: List all wireless lock readers
      operationId: listWirelessLockReaders
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o{params.orgId}-hw:r,o{params.orgId}-dash:r,o{params.orgId}-dashEntry:r,o{params.orgId}-dashActivity:r,o:r,s-o:r


        __Endpoint name__: listWirelessLockReaders'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/wirelessLockReaders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                        manufacturer:
                          type: string
                        serialNumber:
                          type: string
                        model:
                          type: string
                        lastConnectedAt:
                          type:
                          - string
                          - 'null'
                          format: date
                        idExt:
                          type: string
                        thirdPartyDeviceId:
                          type: integer
                        thirdPartyDevice:
                          type: object
                          properties:
                            id:
                              type: integer
                            assignedOrg:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                            serialNumber:
                              type: string
                            isOpSourced:
                              type: boolean
                            orderName:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            thirdPartyDeviceType:
                              type: object
                              properties:
                                id:
                                  type: number
                                manufacturerName:
                                  type: string
                                hardwareModel:
                                  type: string
                                description:
                                  type: string
                                dbModelName:
                                  type: string
                                createdAt:
                                  type: string
                                  format: date
                                updatedAt:
                                  type: string
                                  format: date
                              required:
                              - id
                          required:
                          - id
                        wirelessLockProvider:
                          type: object
                          properties:
                            id:
                              type: number
                            siteIdExt:
                              type:
                              - string
                              - 'null'
                            siteAuthKey:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date
                            updatedAt:
                              type: string
                              format: date
                            orgId:
                              type: number
                            wirelessLockProviderType:
                              type: object
                              properties:
                                id:
                                  type: number
                                name:
                                  type: string
                              required:
                              - id
                          required:
                          - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o{params.orgId}-hw:r
      - o{params.orgId}-dash:r
      - o{params.orgId}-dashEntry:r
      - o{params.orgId}-dashActivity:r
      - o:r
      - s-o:r
    post:
      summary: Create a wirelessLock reader
      operationId: createWirelessLockReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: createWirelessLockReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockReaders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      manufacturer:
                        type: string
                      serialNumber:
                        type: string
                      model:
                        type: string
                      lastConnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      idExt:
                        type: string
                      thirdPartyDeviceId:
                        type: integer
                      thirdPartyDevice:
                        type: object
                        properties:
                          id:
                            type: integer
                          assignedOrg:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          serialNumber:
                            type: string
                          isOpSourced:
                            type: boolean
                          orderName:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          thirdPartyDeviceType:
                            type: object
                            properties:
                              id:
                                type: number
                              manufacturerName:
                                type: string
                              hardwareModel:
                                type: string
                              description:
                                type: string
                              dbModelName:
                                type: string
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        required:
                        - id
                      wirelessLockProvider:
                        type: object
                        properties:
                          id:
                            type: number
                          siteIdExt:
                            type:
                            - string
                            - 'null'
                          siteAuthKey:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          orgId:
                            type: number
                          wirelessLockProviderType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                manufacturer:
                  type: string
                serialNumber:
                  type: string
                model:
                  type: string
                idExt:
                  type: string
                wirelessLockProviderId:
                  type: integer
              required:
              - name
              - manufacturer
              - serialNumber
              - model
              - idExt
              - wirelessLockProviderId
  /orgs/{orgId}/wirelessLockReaders/{wirelessLockReaderId}:
    get:
      summary: Describe a wireless lock reader
      operationId: describeWirelessLockReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:r,o{params.orgId}-site:r,o{params.orgId}-admin:r,o{params.orgId}-siteGeneral:r,o{params.orgId}-integrations:r,o:r,s-o:r


        __Endpoint name__: describeWirelessLockReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockReaderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockReaders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                      manufacturer:
                        type: string
                      serialNumber:
                        type: string
                      model:
                        type: string
                      lastConnectedAt:
                        type:
                        - string
                        - 'null'
                        format: date
                      idExt:
                        type: string
                      thirdPartyDeviceId:
                        type: integer
                      thirdPartyDevice:
                        type: object
                        properties:
                          id:
                            type: integer
                          assignedOrg:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          serialNumber:
                            type: string
                          isOpSourced:
                            type: boolean
                          orderName:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          thirdPartyDeviceType:
                            type: object
                            properties:
                              id:
                                type: number
                              manufacturerName:
                                type: string
                              hardwareModel:
                                type: string
                              description:
                                type: string
                              dbModelName:
                                type: string
                              createdAt:
                                type: string
                                format: date
                              updatedAt:
                                type: string
                                format: date
                            required:
                            - id
                        required:
                        - id
                      wirelessLockProvider:
                        type: object
                        properties:
                          id:
                            type: number
                          siteIdExt:
                            type:
                            - string
                            - 'null'
                          siteAuthKey:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date
                          updatedAt:
                            type: string
                            format: date
                          orgId:
                            type: number
                          wirelessLockProviderType:
                            type: object
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                            required:
                            - id
                        required:
                        - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-integrations:r
      - o{params.orgId}-site:r
      - o{params.orgId}-admin:r
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-integrations:r
      - o:r
      - s-o:r
    delete:
      summary: Remove a wireless lock reader
      operationId: deleteWirelessLockReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: deleteWirelessLockReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockReaderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockReaders
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
    patch:
      summary: Update a wirelessLock reader
      operationId: updateWirelessLockReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-integrations:w,o{params.orgId}-site:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o{params.orgId}-siteGeneral:w,o:w,s-o:w


        __Endpoint name__: updateWirelessLockReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: wirelessLockReaderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/wirelessLockReaders
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-integrations:w
      - o{params.orgId}-site:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-siteGeneral:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                lastConnectedAt:
                  type: string
                  format: date
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
