openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/third Party Readers API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/thirdPartyReaders
paths:
  /orgs/{orgId}/thirdPartyReaders:
    get:
      summary: List all third party OSDP readers
      operationId: listThirdPartyReaders
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o{params.orgId}-admin:w,o{params.orgId}-admin:r,o{params.orgId}-quickStart:w,o{params.orgId}-quickStart:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: listThirdPartyReaders'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: sort
        in: query
        schema:
          type: string
          default: name
          pattern: ^[a-zA-Z0-9.]+(,\s*[a-zA-Z0-9.]+)*$
      - name: order
        in: query
        schema:
          type: string
          default: asc
          pattern: ^(asc|desc)+(,\s*(asc|desc)+)*$
      - name: q
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      - name: preFilter
        in: query
        schema:
          type: string
      tags:
      - orgs/thirdPartyReaders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  filteredCount:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        osdpAddress:
                          type: number
                        osdpBaudRate:
                          type: number
                          enum:
                          - 9600
                          - 19200
                          - 38400
                          - 57600
                          - 115200
                          - 230400
                        acuPort:
                          type:
                          - object
                          - 'null'
                          properties:
                            id:
                              type: integer
                            acuPortTypePortNumber:
                              type: number
                            virtualPortNumber:
                              type:
                              - number
                              - 'null'
                            portNumber:
                              type:
                              - number
                              - 'null'
                            parentChainedAcuPort:
                              type:
                              - object
                              - 'null'
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                            childChainedAcuPorts:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                required:
                                - id
                            label:
                              type: string
                            acu:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - id
                            expansionBoard:
                              type: object
                              properties:
                                id:
                                  type: integer
                                number:
                                  type: integer
                              required:
                              - id
                            eol:
                              type:
                              - object
                              - 'null'
                              properties:
                                eolSupervision:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    name:
                                      type: string
                                  required:
                                  - id
                          required:
                          - id
                          - parentChainedAcuPort
                          - childChainedAcuPorts
                        entries:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                      required:
                      - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o{params.orgId}-admin:w
      - o{params.orgId}-admin:r
      - o{params.orgId}-quickStart:w
      - o{params.orgId}-quickStart:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
  /orgs/{orgId}/thirdPartyReaders/{thirdPartyReaderId}:
    get:
      summary: Describe a third party OSDP reader
      operationId: describeThirdPartyReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-hw:r,o{params.orgId}-site:w,o{params.orgId}-site:r,o{params.orgId}-siteGeneral:w,o{params.orgId}-siteGeneral:r,o:w,o:r,s-o:w,s-o:r


        __Endpoint name__: describeThirdPartyReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: thirdPartyReaderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/thirdPartyReaders
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      osdpAddress:
                        type: number
                      osdpBaudRate:
                        type: number
                        enum:
                        - 9600
                        - 19200
                        - 38400
                        - 57600
                        - 115200
                        - 230400
                      acuPort:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: integer
                          acuPortTypePortNumber:
                            type: number
                          virtualPortNumber:
                            type:
                            - number
                            - 'null'
                          portNumber:
                            type:
                            - number
                            - 'null'
                          parentChainedAcuPort:
                            type:
                            - object
                            - 'null'
                            properties:
                              id:
                                type: integer
                            required:
                            - id
                          childChainedAcuPorts:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                              required:
                              - id
                          label:
                            type: string
                          acu:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                            required:
                            - id
                          expansionBoard:
                            type: object
                            properties:
                              id:
                                type: integer
                              number:
                                type: integer
                            required:
                            - id
                          eol:
                            type:
                            - object
                            - 'null'
                            properties:
                              eolSupervision:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                - id
                        required:
                        - id
                        - parentChainedAcuPort
                        - childChainedAcuPorts
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                          required:
                          - id
                    required:
                    - id
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-hw:r
      - o{params.orgId}-site:w
      - o{params.orgId}-site:r
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-siteGeneral:r
      - o:w
      - o:r
      - s-o:w
      - s-o:r
    patch:
      summary: Update a third party OSDP reader
      operationId: updateThirdPartyReader
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-hw:w,o{params.orgId}-site:w,o{params.orgId}-siteGeneral:w,o{params.orgId}-admin:w,o{params.orgId}-quickStart:w,o:w,s-o:w


        __Endpoint name__: updateThirdPartyReader'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      - name: thirdPartyReaderId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/thirdPartyReaders
      security:
      - jwt: []
      responses:
        '204':
          description: No Content
      x-op-scopes:
      - o{params.orgId}-hw:w
      - o{params.orgId}-site:w
      - o{params.orgId}-siteGeneral:w
      - o{params.orgId}-admin:w
      - o{params.orgId}-quickStart:w
      - o:w
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  x-convert:
                    trim: true
                osdpAddress:
                  type: number
                  minimum: 0
                  maximum: 3
                osdpBaudRate:
                  type: number
                  enum:
                  - 9600
                  - 19200
                  - 38400
                  - 57600
                  - 115200
                  - 230400
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
