openapi: 3.2.0
info:
  title: Openpath API Documentation Tokens API
  version: 1.0.0
  description: Token use and validation
servers:
- url: https://api.openpath.com
tags:
- name: Tokens
  description: Token use and validation
paths:
  /tokens/cloudKeyLockdownPlanActionTokens/{token}/use:
    post:
      summary: Use a cloudKey token to remotely trigger or revert a lockdown plan
      operationId: useCloudKeyLockdownPlanActionToken
      description: '__Endpoint name__: useCloudKeyLockdownPlanActionToken'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Tokens
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lockdownPlanId:
                  type: integer
                action:
                  type: string
                  enum:
                  - trigger
                  - revert
  /tokens/cloudKeyUnlockTokens/{token}/use:
    post:
      summary: Use a cloudKey token to remotely unlock an entry
      operationId: useCloudKeyUnlockToken
      description: '__Endpoint name__: useCloudKeyUnlockToken'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      tags:
      - Tokens
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                entryId:
                  type: integer
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
