openapi: 3.2.0
info:
  title: Openpath API Documentation Orgs/cobalt API
  version: 1.0.0
servers:
- url: https://api.openpath.com
tags:
- name: orgs/cobalt
paths:
  /orgs/{orgId}/cobalt/v0/generateActivityLogsFilter:
    post:
      summary: Receives a generateActivityLogsFilter request and passes it to cobalt to execute
      operationId: generateActivityLogsFilter
      description: '__JWT is required for this endpoint with at least one of the following scopes__: o{params.orgId}-rpt:r,o{params.orgId}-rpt:w,o{params.orgId}-rptGeneral:r,o{params.orgId}-rptGeneral:w,o:w,o:r,s-o:r,s-o:w


        __Endpoint name__: generateActivityLogsFilter'
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: integer
      tags:
      - orgs/cobalt
      security:
      - jwt: []
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      startTime:
                        type: number
                      endTime:
                        type: number
                      accessGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            ids:
                              type: array
                              items:
                                type: number
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - ids
                          - matched
                      category:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            values:
                              type: array
                              items:
                                type: string
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - values
                          - matched
                      entries:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            ids:
                              type: array
                              items:
                                type: number
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - ids
                          - matched
                      event:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            values:
                              type: array
                              items:
                                type: string
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - values
                          - matched
                      result:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            values:
                              type: array
                              items:
                                type: string
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - values
                          - matched
                      sites:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            ids:
                              type: array
                              items:
                                type: number
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - ids
                          - matched
                      users:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            ids:
                              type: array
                              items:
                                type: number
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - ids
                          - matched
                      zones:
                        type: array
                        items:
                          type: object
                          properties:
                            plaintext:
                              type: string
                            ids:
                              type: array
                              items:
                                type: number
                            matched:
                              type: boolean
                          required:
                          - plaintext
                          - ids
                          - matched
                  meta:
                    type: object
                    properties:
                      accessToken:
                        type:
                        - object
                        - 'null'
                        properties:
                          scopeUpdatedAt:
                            type: string
                            format: date
                      siteSpecificAccess:
                        type:
                        - object
                        - 'null'
                        properties:
                          isSiteSpecific:
                            type: boolean
                          siteIds:
                            type:
                            - array
                            - 'null'
                            items:
                              type: integer
                          siteIdsByScope:
                            type:
                            - object
                            - 'null'
                            properties:
                              string:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: integer
      x-op-scopes:
      - o{params.orgId}-rpt:r
      - o{params.orgId}-rpt:w
      - o{params.orgId}-rptGeneral:r
      - o{params.orgId}-rptGeneral:w
      - o:w
      - o:r
      - s-o:r
      - s-o:w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                sessionId:
                  type: string
              required:
              - query
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
x-proxy-enabled: false
